[2016-06-07 07:23] sloriot commented on #1130
There is some on going work about making the class `Handle_for` threadsafe. See #648

[2016-06-07 08:05] sloriot commented on #1139
See #1140

[2016-06-07 09:27] Narusaki commented on #1130
Oh, thanks Sebastien. I'll check that pull request.

[2016-06-07 13:29] kintel commented on #1139
thx!

[2016-06-07 13:29] #1139 closed

[2016-06-07 20:01] freud14 commented on #1116
Thank you for your answer and sorry for the late answer. So, a general implementation with hash_combine would work for double and would later need to implement hashing functions for the other number types. I do not know what is CGAL_IA_FORCE_TO_DOUBLE and how intervals are used in CGAL but I suppose that it is not needed for a general hashing function.

The only other problem I see is if the hashi

[2016-06-07 20:40] mglisse commented on #1116
I don't think we can hash homogeneous points, since we don't canonicalize their representation. If the 2D points (1,2,3) and (2,4,6) are the same, they should have the same hash, which seems hard to guarantee. Asking for the corresponding Cartesian coordinates would in most cases use type Quotient, and we would need to make sure that Quotient(1,3) and Quotient(2,6) have the same hash, which means

[2016-06-08 06:11] afabri commented on #1116
For homogenous points you could hash `to_double(canonical(p.x())`
instead of `p.hx()`

For the exact lazy constructions it will be impossible
to guarantee the same hash for different  approximations.

What is the goal of hashing?

[2016-06-08 07:32] mglisse commented on #1116
Did you mean `FT x=p.x();simplify(x);double d=to_double(x)`? I can't find a function `canonical`... It should work for some types, I don't know if it is worth it. Note that this can be seen as hashing `p.x()`, while `simplify` and `to_double` could be part of the hashing function for `Quotient`.

[2016-06-08 07:48] afabri commented on #1116
Sorry for my sloppyness.  I also do not know if it is worth it. I only wanted to sketch how to overcome the problem you mention for Homogeneous. And point out another problem.

[2016-06-08 07:50] #1093 closed

[2016-06-08 08:59] tdelame opened #1144 "Parallel Delaunay construction crashes with CGAL 4.8"
By compiling the following test code with CGAL 4.8, it crashes because of a double free at CGAL/Handle.h:63. The same code compiled with CGAL 4.7 works just fine.

[code]

[2016-06-08 12:10] #953 closed

[2016-06-08 12:29] #511 closed

[2016-06-08 13:32] freud14 commented on #1116
I just checked the code and `simplify` should do it for `Quotient`. Also, why not just hash the numerator and the denominator separately?

To use hash tables.

[2016-06-08 13:43] mglisse commented on #1116
When hashing `Quotient<Gmpz>`, it makes sense to canonicalize (`simplify`), hash separately the numerator and denominator, and combine. If for some reason you end up hashing `Quotient<double>` or `Quotient<some_minimal_RT>` where `simplify` does nothing (or fails to compile), hashing separately numerator and denominator would give you a different hash for (x,y) and (2*x,2*y).

Note that storing po

[2016-06-09 07:53] lrineau opened #1145 "The specializations of boost::graph_traits for OpenMesh meshes are not documented"
http://doc.cgal.org/latest/BGL/group__PkgBGLTraits.html

Most of the specializations of `boost::graph_traits` are documented here. However, the ones for OpenMesh meshes, from `<CGAL/boost/graph/graph_traits_PolyMesh_ArrayKernelT.h>` and `<CGAL/boost/graph/graph_traits_TriMesh_ArrayKernelT.h>`, are not documented.

[2016-06-09 12:26] sloriot opened #1149 "Support Qt 5.7 in CGAL demos"
Qt 5.7 release candidate was published:
https://blog.qt.io/blog/2016/06/03/qt-5-7-0-release-candidate-available
Nothing was done is CGAL to support it. Our demos will break pretty on
rolling Linux distributions, like Debian testing, Fedora Rawhide...

There are two scenarios:
* Current setting (not header only): When configuring libCGAL_Qt5, we check for the version of Qt. If it is prior to 5.7 no

[2016-06-09 13:51] gdamiand commented on #1149
In header only, we can do this test directly in the use_component macro, when we search for qt5; no need for a specific macro.

(please, could we postpone this after the integration of header only mode in order to avoid me a long work to merge branch with conflicts?)

[2016-06-10 10:33] lrineau commented on #1149
Actually there is nothing special to do. As soon your version of CMake supports the target property `INTERFACE_COMPILE_FEATURES` (it seems to be CMake>=3.3), the C++11 support is setup automatically by the CMake scripts shipped with Qt-5.7. The trick is just one line in `Qt5CoreConfigExtras.cmake`:
[code]
I have impressed by the concision of the CMake command needed to trigger the support for C+11

[2016-06-10 10:33] #1149 closed

[2016-06-10 10:40] mglisse commented on #1149
https://cmake.org/cmake/help/v3.1/prop_tgt/INTERFACE_COMPILE_FEATURES.html seems to indicate that it existed in version 3.1...

[2016-06-10 10:58] lrineau commented on #1149
Right. I saw something with "if CMake<3.3" in Qt-5.7 CMake scripts. According to [releases notes of CMake-3.2][2] and [those of CMake-3.3][3], it might because the support of compile features in CMake-3.1 and CMake-3.2 was only for mainstream compilers and platforms. They have added support for compile features for more and more compilers and platforms from CMake-3.1 to CMake-3.6 (see [3.4][4], [3

[2016-06-10 12:22] lrineau commented on #1144
Thomas, can you tell us which operating system and compiler you use? Is that Microsoft Visual C++?

[2016-06-10 12:30] tdelame commented on #1144
Hi,
the compiler is gcc 6.1.1, on linux systems.

[2016-06-10 12:42] sloriot commented on #1144
I tried with CGAL 4.7 and also got a segfault. It is not a regression but a problem with Epeck not being threadsafe. See #648

[2016-06-10 12:42] #1144 closed

[2016-06-10 13:26] afabri opened #1152 "degenerate faces in a polygon soup"
I get a segfault with this [program](https://gist.github.com/afabri/f1fa1552e8421c95d35a52f471429d35).
It has a face with three identical vertex indices (as it may happen when reading STL data).

[2016-06-13 08:38] #855 closed

[2016-06-13 12:35] afabri opened #1156 "Polyhedron Demo Operations->Create Bbox"
should not be available when there is no scene item.  @maxGimeno

[2016-06-13 12:46] afabri opened #1157 "Mesh_3 plugin should be able to mesh surfaces with border inside a closed polyhedral domain"
Feature request: Load several meshes, potentially with borders) that are inside or that intersect a closed polyhedral domain, and create a tetrahedral mesh.

[2016-06-13 12:47] afabri opened #1158 "Polyhedron Demo bbox"
- In master I do not see a bbox.
- The extended bbox is wrong (for the elephant )
@maxGimeno

[2016-06-13 13:11] afabri opened #1159 "Polyhedron Demo untriangulate faces"
It is not clear to me what it is supposed to do.
![capture](https://cloud.githubusercontent.com/assets/3263539/16008606/04166958-3179-11e6-920f-901ab928343d.JPG)

And triangulate faces, does not give me a triangulated mesh.   @sloriot

[2016-06-13 13:25] afabri opened #1160 "AABB demo integration into the Polyhedron demo"
@maxGimeno : Some features of the AABB demo should become a plugin in the Polyhedron demo. At least the signed distance to the points on the cutplane.

[2016-06-13 13:26] afabri opened #1161 "Polyhedron demo parameterization plugin"
@maxGimeno The plugin should issue a warning when the surface has no border, as the parameterization then does not work.

[2016-06-13 13:46] afabri opened #1162 "remove_degenerate_faces()"
This is a feature request. Some work has been done, but the function is not documented as it does not yet work on all possible inputs.

@sloriot  todo

@maxGimeno   please remove the plugin in the Polyhedron demo.

[2016-06-13 14:02] afabri opened #1163 "Polyhedron Demo: Operations->Operations on Polyhedra -> Clip Polyhedra"
Feature Request:  When not closed it would be nice if the segments on the clip plane would be put into a selection for  further processing.  @maxGimeno

[2016-06-13 14:19] sloriot commented on #1163
@afabri what application do you have in mind?

[2016-06-13 14:22] lrineau commented on #1162
Why remove a plugin that can be useful on some inputs?!

[2016-06-13 14:32] lrineau opened #1166 "AABB tree usability: allow to pass the "shared data" to `AABB_tree::build()`"
For mechanism for "shared data" in the AABB_tree is horrible!

Let's say we cannot use the constructor, or the `insert` function, from a range of primitives, then there is the only documented way to pass the shared data is to construct the AABB traits and call its `set_shared_data()` function.

I suggest that, by similarity with the other usages (`insert(begin, begin, ...)`), the `build()` functio

[2016-06-13 14:44] lrineau opened #1167 "Document AABB_tree::traversal"
I think we should document the function `AABB_tree::traversal()`:
[code]
and a concept `AABBTraversalTraits`, with only three functions:
[code]

[2016-06-13 14:49] lrineau commented on #1167
Well, that would require to document `Node`. For all the existing traversal traits we have, `Node` is always used that way: `node.bbox()`. `Node` could be documented as a model of a concept `AABBNode` that has only one function `AABBTraits::Bounding_box bbox() const`.

I suggest that `AABB_tree::traversal()`, `AABBNode`, and `AABBTraversalTraits` are documented but flagged as "advanced", with a te

[2016-06-13 14:52] lrineau commented on #1167
@sloriot @janetournois I would also like to include `AABB_filtered_projection_traits` in the file `<CGAL/internal/AABB_tree/AABB_traversal_traits.h>`. That class is undocumented, but it is already used by PMP local remeshing, and by advanced usages of Mesh_3, not yet in CGAL.

Maybe we should also document a way to use it.

[2016-06-14 06:10] afabri commented on #1163
for example hole filling with something  nicer than just huge triangles. But it is not am important feature request.

[2016-06-14 06:11] afabri commented on #1162
@loriot suggested this when we skyped

[2016-06-14 09:17] afabri commented on #1159
There is no function such as `PMP::untriangulate_faces()`, that is the code is just in the plugin.

We should add code that avoids that a vertex is more than once on the border of a face to the untriangulate code.

As what we see is nevertheless a valid mesh, we have problably a bug in `PMP::triangulate_faces()` @janetournois

[2016-06-14 09:36] sloriot commented on #1163
Hole filling will itself select the boundary edges so I think this issue can be closed.

[2016-06-14 09:40] sloriot commented on #1159
Finding which edge to remove to get a quad mesh from a triangle mesh is what is done by the quad-blossom algorithm and it requires a perfect-matching (that does not existing for an arbitrary triangle mesh). In may opinion this plugin should be removed.

[2016-06-14 09:46] janetournois commented on #1159
the plugin generates faces with more that 4 vertices, actually

[2016-06-14 09:49] afabri commented on #1159
I guess all we have to do is to add the test that the join does not make a vertex appear twice on the border.  Asymptotically not a good algorithm, but not a practical problem.

I added you, Jane, as  `PMP::triangulate_faces()` seems not to be complete.

[2016-06-14 13:53] mglisse commented on #1144
As a workaround, you can define the macro `CGAL_DONT_USE_LAZY_KERNEL`. It would probably suffice for the limited use in building a Delaunay triangulation, although it would be safer with

[code]

[2016-06-14 13:57] afabri commented on #1144
As a workaround you could also use `Exact_predicates_inexact_constructions_kernel`. And construct your exact points on the fly, once you have a real need for exact constructions, as the triangulation does not require exact constructions (unless you use the function `dual()`).

[2016-06-14 17:46] tdelame commented on #1144
Thank you both for your input. I used EPECK kernel to compute Voronoi vertices (so yes, I used the dual function). In order to wait for the resolution of issue #648, I switched to EPICK.

[2016-06-15 12:21] maxGimeno opened #1179 "Bugs in Shortest_path"
There are several bugs in the Shortest_path computation :

- When a source point is put on an edge, depending on where the request has been made, the shortest path might be wrong (see picture below).
![screen_path](https://cloud.githubusercontent.com/assets/11310805/16079440/e714158a-3303-11e6-842b-e19bbcc2db88.png)

- When the request and the source point are on the same edge, there is an asserti

[2016-06-15 12:23] sloriot commented on #1179
@Hippocrates do you want to fix it or shall I do it?

[2016-06-15 15:02] #1113 closed

[2016-06-15 15:04] #1158 closed

[2016-06-15 15:05] #1161 closed

[2016-06-15 15:58] lrineau opened #1182 "Issues with the Mesh_3 plugin for images"
@maxGimeno
- In `Io_image_plugin.cpp`, `struct controls` (added by 7e422d4) does not follow the naming convention. All types in CGAL should start by a capital letter. Please read the [CGAL coding convention][c]. And I mean it: you *must* read them, as any CGAL developer. Note that in CGAL Qt5 demos, it is accepted to follow the ["camelCase"][cc] naming convention for method and classes names. But

[2016-06-16 10:04] lrineau opened #1185 "Polyhedron Mesh_3 plugin: in the dialog the volume group is hidden"
Load a segmented image, and try to mesh it with Mesh_3: in the meshing dialog, the part about the parameters for volume (`volumeGroup`) is now hidden.

@janetournois @maxGimeno : That bug is new. Probably a consequence of PR #1154.

[2016-06-16 10:53] janetournois commented on #1185
sorry, I will fix it

[2016-06-16 14:23] Hippocrates commented on #1179
I'll take a look at it this weekend. I'm suspecting that these two issues have a similar root cause.

[2016-06-17 12:37] maxGimeno commented on #1156
It has been fixed by #1173

[2016-06-17 14:29] agodde opened #1188 "Segmentation fault in Polyhedron_3::split_edge"
In the example Polyhedron/polyhedron_prog_cube.cpp: Using the halfedge data structure HalfedgeDS_vector instead of HalfedgeDS_default for the Polyhedron_3 type results in a segmentation fault in a call to the function split_edge(Halfedge_handle h).

The attached gist contains the example with a simple change of line 32 from

typedef CGAL::Polyhedron_3<Kernel> Polyhedron;

to

typedef CGAL::Polyhed

[2016-06-17 14:51] sloriot commented on #1188
From [here](http://doc.cgal.org/latest/HalfedgeDS/classCGAL_1_1HalfedgeDS__vector.html) : <i>The capacity is restricted to the reserved size. Allocations are not possible beyond the capacity without calling reserve again. All handles and iterators are invalidated upon a reserve call that increases the capacity</i>.

[2016-06-17 14:52] sloriot commented on #1188
Calling `P.reserve(22,22,22);` fixes the segfault.

[2016-06-17 15:06] #1185 closed

[2016-06-17 15:07] agodde commented on #1188
Shouldn't this be mentioned in the documentation of Polyhedron_3 since it changes how one can use the Euler split operations?

[2016-06-17 15:25] sloriot commented on #1188
Well, IMO it's more a property of `HalfedgeDS_vector` that is used as implementation for `Polyhedron_3` (which is just a wrapper around it). I tend to think that if one picks up a non default parameter, he should refer to the doc of that parameter. BTW I observe an issue in `is_valid()` so there must be another issue.

[2016-06-17 16:05] agodde commented on #1188
What issue in `is_valid()` are you talking about? The `CGAL_precondition(P.is_valid())` macro succeeds for me.

[2016-06-18 14:49] #1188 closed

[2016-06-20 07:40] #1182 closed

[2016-06-20 10:03] #1156 closed

[2016-06-20 13:34] sloriot opened #1190 "Remove Mesh_3 demo"
I think that all the functionality of the demo is now available in the polyhedron demo.
@janetournois and @lrineau do you agree?
(I also have the same question for Surface_mesher demo)

[2016-06-20 14:15] lrineau commented on #1190
For the Mesh_3 demo, I do not know. I have not really used it in the past.

For the Surface_mesher demo,
  1. Is the use of `Surface_mesher` instead of `Mesh_3` a "feature"? `Surface_mesher` is not officially deprecated, and the `Surface_mesher demo is the only demo that can fully demonstrate its possibilities.
  2. And one missing feature, for sure, is the possibility to mesh several iso-values a

[2016-06-20 14:22] janetournois commented on #1190
I will check about the `Mesh_3` demo asap

[2016-06-21 20:27] sloriot opened #1193 "Loading an off while deforming another..."
.. ends up creating another deformation object. This is inconsistent with some changes done by @maxGimeno to avoid deforming more than one item at once.

[2016-06-21 20:44] sloriot opened #1194 "Show ROI checkbox is broken"
in deformation plugin.

I had "show as sphere checked" when I tried to hide the ROI. When unchecking "show as spheres" ROI and control vertices are not shown and they won't show up even if I check "show ROI"

@maxGimeno

[2016-06-22 09:53] #1163 closed

[2016-06-22 10:00] #326 closed

[2016-06-22 10:03] sloriot commented on #858
duplicated with #635

[2016-06-22 10:03] #858 closed

[2016-06-23 07:15] sloriot commented on #1162
@lrineau The function must be fixed and integrated in PMP.

[2016-06-23 08:42] lrineau commented on #1162
Sorry. The description of the issue was not clear. I thought the request was to remove the action from the demo, and that had been fixed by #1176. Now I understand that the "@sloriot todo" of the description hides a private discussion between you. You should really avoid such imprecision. I suggest one of you modify the description of the issue.

[2016-06-23 08:44] sloriot commented on #1162
I guess the confusion came from the name of the function :)

[2016-06-23 11:31] sloriot commented on #1194
I tried again and it seems to have been partly fixed. Actually the whole ROI is hidden while only the control points should be displayed (IIRC). The text should be "Show only control vertices".

[2016-06-23 11:34] sloriot opened #1197 "Extending ROI/Control vertices partially working"
![screenshot from 2016-06-23 13-26-00](https://cloud.githubusercontent.com/assets/1224632/16301683/fa166036-3946-11e6-8661-119481a021e1.png)

I selected the ROI and then only one control point. I used the mouse wheel to extend the region.

In the package, note that the ROI is the region that is allowed to move, and they contains the control vertices.

cc @maxGimeno

[2016-06-23 12:11] maxGimeno commented on #1197
This is the expected behaviour. The wheel event adds vertices of the
selected type in the radio-buttons. In your example, if you want ROIs
instead of Controls,  you have to select ROI before movig the wheel.

2016-06-23 13:34 GMT+02:00 Sebastien Loriot <notifications@github.com>:

[2016-06-23 12:40] sloriot commented on #1197
No I wanted the set of control vertices to be expended, that is the one-ring neighborhood of the control vertex selected should have been selected

[2016-06-23 15:17] lrineau opened #1199 "Contribute Mesh_3/Facet_topological_criterion_with_adjacency.h to CGAL"
The follow features from commit CGAL/cgal-dev@a91c12628e0ec002e984207b1689b4807c3dff16 should be contributed to CGAL:
[code]

[2016-06-23 15:27] lrineau opened #1200 "Contribute Mesh_3/Sizing_field_with_aabb_tree.h to CGAL"
`Sizing_field_with_aabb_tree` was introduced in the experimental package "Mesh_3-protecting_balls-branch" in the old SVN repository. See CGAL/cgal-attic@d502917981b48624fec0091ff929ff061d43857e and previous commits.

**Note:** the current implementation uses `domain.signed_geodesic_distance(..)`, that is not part of the concept `MeshDomainWithFeatures_3`.

[2016-06-23 15:30] lrineau commented on #1200
Note to myself: The more recent version is `~/Git/*/src/nurbsMRepX/include/CGAL/Mesh_3/Sizing_field_with_aabb_tree.h`.

[2016-06-23 15:33] lrineau commented on #1199
Note to myself: the more recent version is in `~/M*/*/tools/include/Mesh_3/Facet_topological_criterion_with_adjacency.h`.

[2016-06-24 15:12] lrineau opened #1202 "Demo mesh_3_plugin: display the meshing parameters in the "info" of the created c3t3 item"
When one mesh something (3D image, polyhedron), the terminal displays, for example:
[code]

Can this be copied in the "tooltip info" of the c3t3 item that is created?

[2016-06-24 15:16] janetournois commented on #1202
it could also appear in the "statistics" right-click menu of the c3t3 item

[2016-06-27 10:18] janetournois opened #1203 "Polyhedron demo : edit_polyhedron_plugin discards patch ids"
When a `polyhedron_item` has patch ids (e.g. computed by "color connected components"), and the `edit_polyhedron_plugin` is started (with `Ctrl+E` e.g.), the patch ids are discarded - or maybe just not displayed anymore.

cc @maxGimeno

[2016-06-27 11:09] lrineau opened #1204 "Polyhedron demo: display issue with Scene_implicit_function_item"
@maxGimeno

I have added to the directory `demo/Polyhedron/implicit_functions/` a new file, named `Shifted_sphere_implicit_function.cpp`, that is a small modification to `Sphere_implicit_function.cpp`, with this content:
[code]
That is a sphere of radius 1, but centered at (1, 1,1) instead of (0, 0, 0).

With that implicit function, the display of the corresponding `Scene_implicit_function_item` i

[2016-06-27 12:45] janetournois opened #1208 "Polyhedron demo : save snapshot broken"
- open anything you like in polyhedron demo
- do File -> save snapshot
- open the image in your favorite viewer : it's all gray

@maxGimeno can you please have a look at this? we really need it to prepare slides

[2016-06-27 13:30] afabri opened #1210 "Generation of a selection item"
@maxGimeno : When a polyhedron item is selected, and when the widget of the selection tool is displayed, but no selection item created, the selection item should be created automatically when I make, for example, a sharp angle selection. That is there should be no need for me to first click on the button "Create Selection Item".

[2016-06-27 13:35] sloriot commented on #1210
@afabri  remember that for technical reason it is not possible to do it for operations involving the mouse (selecting a simplex). However, any operation that is inside the dock widget is indeed possible.

[2016-06-28 15:14] amineBach opened #1216 "Instancing a CGAL::Transformation of type Reflection does not work"
Hello,

The instanciation of an Reflection does not seem to work.

[code]

[2016-06-29 08:19] maxGimeno opened #1222 "Polyhedron_demo: WaitCursor during the construction of the items"
When a consequent item is being constructed and given to the OpenGL buffers, the demo freezes.

@sloriot @lrineau  @afabri @janetournois Should we add a WaitCursor during this freezing time ?

[2016-06-29 08:24] lrineau commented on #1222
That would be better indeed.

[2016-06-29 11:46] #1193 closed

[2016-06-29 11:46] #1194 closed

[2016-06-29 11:46] #1197 closed

[2016-06-29 11:48] #1202 closed

[2016-06-29 11:49] #1203 closed

[2016-06-29 11:52] #1210 closed

[2016-06-29 11:56] #1204 closed

[2016-06-30 10:57] janetournois commented on #1208
I just post a snapshot to illustrate the issue. A quick zoom shows that the screen resolution is not enough. ![cube_with_constraints](https://cloud.githubusercontent.com/assets/11311305/16485922/d8a53528-3ec1-11e6-959c-fa0304452cd4.png)

[2016-06-30 11:07] janetournois opened #1226 "Polyhedron demo : duplicated config file"
The file `Scene_edit_polyhedron_item_config.h` is duplicated. It can be found in
- Polyhedron/demo/Polyhedron,
and in
- Polyhedron/demo/Polyhedron/Plugins/Surface_mesh_deformation

[2016-06-30 11:08] janetournois commented on #1226
cc @maxGimeno

[2016-06-30 11:08] lrineau commented on #1208
I agree that a snapshot of the screen is not enough. There should be way a to snapshot different tiles of the screen in a higher resolution, and then combine them in a hi-res image. The mechanism used by QGLViewer is a good. Maxime (@maxGimeno) should find a way to adapt the QGLViewer code to our newer way of using projections matrices.

[2016-07-01 05:57] sloriot opened #1228 "Item not cut"
When loading an polyhedron item while the cutting plane exists, it is not cut by the plane, we need to move it first so that the cut edges are upated.

[2016-07-01 09:19] afabri opened #1230 "Apply point set algorithms on a selection"
This is a feature request.   @sgiraudot should have a look how that can be done with his new Point_set class under development.

[2016-07-01 09:31] afabri opened #1231 "Operations -> Point Set Processing"
@maxGimeno   The operations marked red should be in a sub menu entitled "Point Set Processing".
Point Set Simplification does NOT go there because it is a proper package in the manual.

In the submenu shall be no prefix "Point Set"
![point_set_processing](https://cloud.githubusercontent.com/assets/3263539/16517770/7d938810-3f7f-11e6-9ef0-2af1f2c417b0.png)

[2016-07-01 10:23] afabri opened #1232 "drawing the normals"
They should have length  min(average_spacing, the_now_fixed_length)   @maxGimeno

[2016-07-01 10:25] afabri opened #1233 "Select geometric object after Reload From File"
The title says it all.  @maxGimeno

[2016-07-01 10:54] afabri opened #1234 "VCM Features Estimation"
It is applicable to point sets, but it is not clear what it does. The popup  widget mentions "Normals" what it does not do at all. The parameters should be explained. Do the parameters have reasonable initial values.  @sgiraudot  Please fix that before Siggraph.

[2016-07-01 10:55] afabri commented on #1231
"VCM Features Estimation" should also go there.

[2016-07-01 11:48] sloriot commented on #1233
Do you mean in the object list?

[2016-07-01 11:50] sloriot commented on #1234
It creates polylines that are sharp features in the point set.

[2016-07-01 12:03] afabri commented on #1233
yes

[2016-07-01 14:40] afabri opened #1236 "Normal estimation dialog"
@maxGimeno
Add space between number and unit
Replace title "Dialog" with "Normal Estimation"
Check other dialog boxes

![capture](https://cloud.githubusercontent.com/assets/3263539/16524919/51c19210-3faa-11e6-92d7-135e76188b56.JPG)

[2016-07-03 05:38] pilloutche opened #1237 "assertion violation using cgal with openscad"
when i tried to make a difference between 2 objects into openscad (one complex stl object with one cube() structure), the cgal returned an error (into openscad console output) :

[...]
Compiling design (CSG Tree generation)...
Rendering Polygon Mesh using CGAL...
ERROR: CGAL error in CGALUtils::applyBinaryOperator difference: CGAL ERROR: assertion violation! Expr: itl != it->second.end() File: /op

[2016-07-03 12:54] efifogel opened #1238 "PMP::triangulate_hole() fails on holes that have zero-area spikes."
The function fails to triangulate holes that have zero area spikes.
In particular, it fails to triangulate holes that have zero areas.
It even fails to triangulate zero-area triangles.

I haven't checked the other variants, namely,  triangulate_and_refine_hole(), and triangulate_refine_and_fair_hole(); they should be checked as well.

While less desired, you may want to consider retaining this lim

[2016-07-04 08:57] janetournois commented on #1238
Hi Efi,
thanks for your report.

I will have a look at the issues you mention. Can you please try to send me your data by email directly?

[2016-07-04 09:16] #1236 closed

[2016-07-04 09:19] efifogel commented on #1238
Hi Jane,

Attached are 4 simple off files.
The first 3 have holes with zero area.
The 4th has a hole that is a polygon with spikes (1 dimensional features).

Attached also is a simple program that successfully handles such irregular
holes.
It iterates over border halfedges. When the halfedge borders a spike, it
only introduces a triangle, not necessarily triangulating the entire hole.
As new halfe

[2016-07-04 09:22] afabri commented on #1238
Hi Efi. It's great to get your real-world input, and we will work on it.

Unless I am wrong the current implementation assumes that the polyline describing the hole is not self-intersecting.  So even a sequence as (0,0), (1,0), (1,1), (0.5,0) (0,1) (0,0) probably fails.
So one might first detect the intersections, which splits the hole in several holes.

[2016-07-04 15:14] sloriot commented on #1237
Hard to tell what's wrong without seeing the calling code nor the input data.

[2016-07-05 10:51] PhucDL opened #1243 "line_2 and segment_2 intersection return wrong result"
I have a cgal line: line = (-0.0322768, -616704, -4.09592e+008),
and a segment: seg = (-224.382, -1311.43) (-224.382, -623.426).

then I perform intersection between those two:
CGAL::cpp11::result_of<Intersect_2(Line_2, Segment_2)>::type
				intersect_point = intersection(line, seg);

the result intersection_point is NULL (it should be point_2 (-224.382, -664.162) )

[2016-07-05 11:00] sloriot commented on #1243
What kernel are you using?

[2016-07-05 11:02] PhucDL commented on #1243
I'm new to CGAL, so by kernel you mean something like this : CGAL::Simple_cartesian<double> ?

[2016-07-05 11:02] sloriot commented on #1243
yes

[2016-07-05 11:08] PhucDL commented on #1243
Sorry, the tag in previous comments got ommited by github, here is my full code:
`typedef CGAL::Simple_cartesian<double>		K;`
`typedef K::Segment_2						Segment_2;`
`typedef K::Line_2							Line_2;`
`typedef K::Intersect_2						Intersect_2;`
and my intersection code:
`CGAL::cpp11::result_of<Intersect_2(Line_2, Segment_2)>::type
				intersect_point = intersection(line, seg);`

[2016-07-05 11:10] sloriot commented on #1243
If it works when using CGAL::Exact_predicates_exact_constructions_kernel instead of CGAL::Simple_cartesian<double>, then read http://www.cgal.org/FAQ.html#inexact_NT

[2016-07-05 12:19] PhucDL commented on #1243
I tested and it worked fine, thank you very much !

[2016-07-05 12:20] #1243 closed

[2016-07-05 13:55] #1233 closed

[2016-07-05 14:01] #1232 closed

[2016-07-05 14:13] #1231 closed

[2016-07-07 10:38] lrineau opened #1246 "One cannot search anything about the BGL in the search box of the doc"
The documentation of specializations of `boost::graph_traits`, for 4.8.1, are in [the documentation page of the group `PkgBGLTraits`](http://doc.cgal.org/4.8.1/BGL/group__PkgBGLTraits.html).

<s>
## 1st, a small documentation bug

<s>There is a bug, in a description of two iterator types, for `Polyhedron_3`:

| Member | Value |
| --- | --- |
| halfedge_iterator | Polyhedron_3::Halfedge_iterator |

[2016-07-07 10:52] lrineau commented on #1246
And see also the issue #1145, that is related.

[2016-07-07 11:07] lrineau opened #1247 "Missing features in Mesh_criteria_3"
In the documentation of [`Mesh_criteria_3` from CGAL 4.8.1][*], the parameter `facet_distance` has two different bugs:
- the sentence "facet_distance: a scalar field (resp. a constant) describing a space varying (resp. a uniform) upper bound for the same distance" cannot be understood. What is that "same distance"?! That is a *doc bug*. **update:** that documentation bug now has a dedicated issue

[2016-07-07 11:37] #1228 closed

[2016-07-07 11:44] sloriot commented on #271
@cjamin @gdamiand is the remaining issue mentioned by @lrineau solved?

[2016-07-07 11:46] #490 closed

[2016-07-07 11:53] lrineau opened #1248 "demo/Polyhedron/Viewer.h should use a d-pointer"
(See https://github.com/CGAL/cgal/pull/1244/files/416c23bd1e77d4376adfdf5207fa564e2023c57b#r69879889)

@maxGimeno The class `Viewer` from the Polyhedron demo should use d-pointers, like the other classes of the framework.

[2016-07-07 12:05] #403 closed

[2016-07-07 12:11] sloriot commented on #595
@sgiraudot ping

[2016-07-07 12:13] sloriot commented on #965
@cjamin ping :)

[2016-07-07 12:14] sloriot commented on #950
@maxGimeno  is this fixed?

[2016-07-07 12:16] sloriot commented on #939
This [testsuite](https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.9-Ic-92/Optimal_transportation_reconstruction_2_Examples/TestReport_lrineau_CentOS5.gz) has the error. I tried to reproduce the pb in the container but gdb was not able to tell me where the segfault occurs.

[2016-07-07 12:17] sloriot commented on #909
@gdamiand do you still have the issue?

[2016-07-07 12:17] cjamin commented on #271
I did not really look into it, but in header-only mode, [CGAL_DLL_EXPORT is "empty"](https://github.com/CGAL/cgal/blob/master/Installation/include/CGAL/export/helpers.h) so maybe that answer the question?

[2016-07-07 12:18] #1179 closed

[2016-07-07 12:19] sloriot commented on #1160
Fixed by #1198

[2016-07-07 12:19] #1160 closed

[2016-07-07 12:26] #1133 closed

[2016-07-07 12:27] sloriot commented on #1159
I suggest we remove this plugin. @afabri  do you agree?

[2016-07-07 12:28] #736 closed

[2016-07-07 12:28] sloriot commented on #756
@maxGimeno did you fix this issue already?

[2016-07-07 12:31] sloriot commented on #808
The problem has been fixed as it no longer shows up in the testsuite

[2016-07-07 12:31] #808 closed

[2016-07-07 12:32] sloriot commented on #259
Sorry for the very late reply. Do you still have the file?

[2016-07-07 12:35] lrineau commented on #939
"Floating point exception". That is not a segmentation fault, but an asynchronous exception raised by the FP unit. It indicates that there has been a division by zero, either `x/y` for floating point numbers, or `x%y` between integral values, with `y==0`.

[2016-07-07 12:40] lrineau opened #1250 "Documentation bug in Mesh_criteria_3"
In the documentation of [`Mesh_criteria_3` from CGAL 4.8.1][*], the parameter `facet_distance` is strangely documented:

[*]: http://doc.cgal.org/4.8.1/Mesh_3/classCGAL_1_1Mesh__criteria__3.html

What is that "same distance"?!

[2016-07-07 12:42] afabri commented on #1159
I agree.

[2016-07-07 12:43] lrineau opened #1251 "Documentation bug for boost::graph_traits<Polyhedron_3>"
The documentation of specializations of `boost::graph_traits`, for 4.8.1, are in [the documentation page of the group `PkgBGLTraits`][PkgBGLTraits].

[PkgBGLTraits]: http://doc.cgal.org/4.8.1/BGL/group__PkgBGLTraits.html

There is a bug, in a description of two iterator types, for `Polyhedron_3`:

  Member              |             Value
------------------------|----------------------------------

[2016-07-07 12:46] sloriot commented on #1251
Fixed by 4c4e5b384fe05d374b5ccf910aa7a8b28567357d

[2016-07-07 12:46] #1251 closed

[2016-07-07 12:47] sloriot commented on #1159
@maxGimeno  Could you take care of that?

[2016-07-07 12:52] afabri commented on #1251
damned. assigned to 2 people who immediately fix it.

[2016-07-07 12:57] sloriot commented on #1246
@afabri already tried to use Doxygen for that but it seems that partial specialization are not handled as we expect.

[2016-07-07 13:47] gdamiand commented on #909
Yes.

[2016-07-07 13:48] gdamiand commented on #271
If I correctly understand, the problem is only on Windows ? If yes I cannot test...

[2016-07-07 13:53] lrineau commented on #909
I have good news: the last laptop bought by GeometryFactory (klein.geometryfactory.com, a Dell XPS 13") runs Ubuntu 16.04, and I was impacted by that bug (hopefully, the Operations menu was also available in the context menu).

So, as we can reproduce the issue, there is a chance that we will eventually fix it. My guess is that it will be fixed during the summer. Our schedule in July is rather tig

[2016-07-07 14:00] gdamiand commented on #909
Good news indeed. Thanks @lrineau.

[2016-07-07 16:35] cjamin commented on #965
I'm still celebrating the header-only feature ! ;)
More seriously, I will look at those problems at the end of July. Hope that won't be too late.

[2016-07-08 10:01] maxGimeno commented on #756
No.

[2016-07-08 12:46] sloriot opened #1256 "Isotropric remeshing: Why must face_index be an internal property?"
I wonder why you request it to be an internal property and not an optional named parameter?

[2016-07-08 13:45] lrineau commented on #950
I have updated my first comment to add the link to the [2×2×2.inr][222] file.

[222]: https://cgal.geometryfactory.com/~lrineau/2%c3%972%c3%972.inr

[2016-07-08 13:49] maxGimeno commented on #950
It's not fixed yet

[2016-07-09 21:22] grzjab opened #1258 "2D alpha shapes with periodic Delaunay triangulation"
Can you add  OUTSIDE_CONVEX_HULL and  OUTSIDE_AFFINE_HULL in  enum Locate_type in Periodic_2_triangulation_2.h for compatibility with Alpha_shape_2?
Periodic_3_triangulation_3.h has it:

[code]

I found the bug while trying to compile the following code:

[code]

EDIT: Output from compiler:

[code]

[2016-07-11 17:20] myirci opened #1261 "3D Triangulation operator=="
Hi all, I want to report a minor bug and propose minor improvements for the overloaded equality operator function ( Source File: "Triangulation_3.h", Function: operator==).

**CGAL Version 4.8.1**

**************************************************************************************************

**1)** The following line given below ( Source File: "Triangulation_3.h", Function: operator==)

[code

[2016-07-12 09:16] #1222 closed

[2016-07-12 09:16] #1226 closed

[2016-07-12 09:33] maxGimeno opened #1262 "Polyhedron_demo : Problem with `reload_item()`"
Each time an item is reloaded, it takes more time to create it.

[2016-07-12 15:35] lrineau commented on #933
Fixed by #957.

[2016-07-12 15:35] #933 closed

[2016-07-13 14:12] #1262 closed

[2016-07-13 14:15] #1208 closed

[2016-07-17 18:59] vladaburian opened #1272 "Assertion/precondition violation using aggregated insert into CGAL::Arrangement_2"
Hi, I got a problem inserting a set of segments into an arrangement using aggregated insertion. When looking for the minimal example to post, I have found actually 3 subsets producing 3 different assertion/precondition violations.

I was using the latest release (4.8.1). Hopefuly you can reproduce the problem: [gist](https://gist.github.com/vladaburian/3964f947fa3bdf2c8ba7c68ca1f78640).

FYI I got

[2016-07-18 07:48] sloriot commented on #1272
I could reproduce the errors. @efifogel would you have time to have a look before the next release?

[2016-07-18 08:31] vladaburian commented on #1272
I guess it can be reproduced quite easily but just for completeness those are the errors I got:
[code]
Incremental insertion works well, so it can be used as a workaround as Efi suggested in stackoverflow.

[2016-07-18 11:43] efifogel commented on #1272
I'm looking at it.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On Mon, Jul 18, 2016 at 10:48 AM, Sebastien Loriot <notifications@github.com

[2016-07-18 14:23] afabri opened #1274 "Do not visualize input item"
When we do Point Set Processing WLOP, a new point set item is created. The visualization of the original item should be switched off.     @maxGimeno

[2016-07-18 14:41] afabri opened #1275 "variable length of normals"
It would be nice if we could in the GUI change the length of the normals of a point set.  @maxGimeno

[2016-07-18 15:07] afabri opened #1276 "skeletonization segfaults"
I charge an elephant.
Mean Curvature Skeletonization
I click the button segmentation and get a segfault.  @maxGimeno @sloriot

[2016-07-19 10:08] afabri opened #1278 "AABB tree plugin crashes"
probably because my model has zero length edges, that is zero area faces.  We should only put non-zero faces in the AABB tree.  @sloriot  Do you agree?

[2016-07-19 10:24] sloriot commented on #1278
in the demo we can indeed use a filter iterator.

[2016-07-19 10:41] afabri commented on #1278
@maxGimeno   Can you please fix that before Siggraph.

[2016-07-19 12:12] sgiraudot commented on #1230
This is developed in feature branch [Polyhedron_demo-Point_set_algorithms_on_selection-GF](https://github.com/CGAL/cgal-dev/tree/Polyhedron_demo-Point_set_algorithms_on_selection-GF).

[2016-07-19 12:20] lrineau commented on #1278
Something similar has already been done in PR #1102, so that the AABB_tree used in the Surface_mesh_segmentation does not crash with degenerated faces.

[2016-07-19 12:27] lrineau commented on #1230
If the branch is ready for a pull request, there is still a chance that it is integrated in CGAL-4.9-beta.

[2016-07-19 13:02] sgiraudot opened #1282 "Add light display on point sets with normals in Polyhedron demo"
When point sets have normals, a better and clearer display can be done using light (similarly to a polyhedron).

(@maxGimeno If you add this to your todo-list, this is [the commit](https://github.com/CGAL/cgal-dev/commit/455843e1bf01faf87eda7994b4c715d7ea173b6d) where we worked on it together last time, although you can't use it directly because it modifies other unrelated files – sorry about that

[2016-07-19 13:06] lrineau commented on #1282
Thanks Simon.

[2016-07-19 13:07] lrineau commented on #1282
@maxGimeno That is a low-priority issue.

[2016-07-19 13:46] afabri opened #1285 "Split selected polyhedra"
Not urgent, and only  to do if it is trivial.

Operations -> Color connected components
Operations -> Split selected polyhedra

It would be natural that the several polyhedra keep the color of the connected component.

Like for Ransac, the  several connected components could be put in a group

[2016-07-19 19:59] nschloe opened #1286 "add option for decreasing meshing verbosity"
When meshing tets (cf [Mesher_3](https://github.com/CGAL/cgal/blob/master/Mesh_3/include/CGAL/Mesh_3/Mesher_3.h)), lots of output is put to `std::cerr`, e.g., [here](https://github.com/CGAL/cgal/blob/master/Mesh_3/include/CGAL/Mesh_3/Mesher_3.h#L398). The verbosity can partly be controlled at compile time.

It's be awesome if there was a runtime parameter for setting the verbosity (in particular t

[2016-07-20 07:59] lrineau commented on #1286
If I understand well, `mshr` defines the macro `CGAL_MESH_3_VERBOSE` to 1, to turn on the verbose displays on `std::cerr`. And this issue is about the possibility to turn them off again at runtime, even with `CGAL_MESH_3_VERBOSE` defined to 1?

That makes sense. Would you suggest an API for that?

[2016-07-20 08:04] sloriot commented on #1286
if `CGAL_MESH_3_VERBOSE` is defined you could have a set of free functions with static variables inside to change the verbosity level and also change the stream the output is put in.

[2016-07-20 08:43] efifogel commented on #1272
I was able to find the problem.
I still don't know how to fix it.
I'm recording the info I got so far.

I's possible to reproduce the problem with only 5 segments:

  segments = {
    {{1,3},{4,0}},
    {{4,0},{5,0}},
    {{0,0},{9,0}},
    {{3,0},{6,0}},
    {{2,0},{8,0}},
  };

Using the case above, the problem occurs when processing the event at (3,0).
At the time when the problem occurs the ev

[2016-07-20 11:59] afabri opened #1288 "Signed distance"
When computing the signed distance for the points on a cutplane to a model there are some points with a suspicious color.
![capture](https://cloud.githubusercontent.com/assets/3263539/16985598/d6f71b0e-4e81-11e6-9b3c-336c0e1c9a1f.JPG)

When I move the cutplane slightly they disappear. I am wonderung if that is due to the usage of Simple_cartesian instead of Epic.  What do you think @sloriot

[2016-07-20 12:11] sloriot commented on #1288
With or without tbb? you can also try compiling with epic to be sure the cut_plugin

[2016-07-20 12:35] afabri opened #1289 "wait cursor in mean curvature skeleton plugin"
When I hit the button "Run to convergence"  or any other button that triggers a computation that might take longer, the wait cursor should be switched on.

@maxGimeno Please fix this here and in other plugins.   Just test plugins with a large enough data set so that it becomes apparent.

[2016-07-20 16:01] #1159 closed

[2016-07-20 16:03] lrineau commented on #950
#1270 does not really fixes the issue. The display of the box is now coherent with the display of the facets of the image, but that is still not coherent with the object that can be meshed from the image.

[2016-07-20 16:05] #1276 closed

[2016-07-20 16:09] #1275 closed

[2016-07-20 16:14] lrineau commented on #1288
Andreas, please give a way to reproduce the error. Can it be reproduced with the `elephant.off` data file?

[2016-07-21 10:09] #1278 closed

[2016-07-22 08:25] lrineau commented on #1289
Fixed by #1294.

[2016-07-22 08:25] #1289 closed

[2016-07-22 08:26] lrineau commented on #1234
@sgiraudot Are you working on this issue?

[2016-07-22 08:41] sgiraudot commented on #1234
It's done here: https://github.com/CGAL/cgal/pull/1297

The plugin creates a point set item of points estimated to be on the sharp feature which is explained in the manual along with the parameters.

[2016-07-22 08:45] lrineau commented on #1234
I have merged the trivial PR #1297 that fixes this issue.

[2016-07-22 08:45] #1234 closed

[2016-07-22 08:47] lrineau commented on #1288
The data set is probably not a closed surface, and the inside-outside of it is not well defined. That may explain why the sign of the distance is locally not right.
Maxime (@maxGimeno) will prepare a PR that warns the user when the function is applied to a polyhedron with holes.

[2016-07-22 14:51] lrineau opened #1302 "Spurious busy cursor"
If I run the following command line, from `demo/Polyhedron/`
[code]
then I get the meshing dialog, but with a busy cursor.

*(low priority issue)*

[2016-07-22 16:31] #1247 closed

[2016-07-22 16:38] lrineau commented on #1230
Fixed by #1283.

[2016-07-22 16:38] #1230 closed

[2016-07-25 08:37] #1288 closed

[2016-07-25 10:34] janetournois commented on #1256
Actually, it is used only internally by `PMP::connected_components()`, which is itself computed iff the `face_index_map` is not provided.
It could be added as an additional named parameter, indeed. Do you think it would be better?

[2016-07-25 11:56] sloriot commented on #1256
If we stay with the internal property, then the default Polyhedron cannot be used, right?

[2016-07-25 13:16] janetournois commented on #1256
Sounds right... The internal `face_index` map should be initialized, as said in the documentation, and done in the demo... There is no internal `face_index` map in the default Polyhedron, right?
The best version could be that is there is no internal map, nor a `face_index_map` provided as in `PMP::connected_components()`, then a basic default one is built internally.

[2016-07-25 13:27] sloriot commented on #1256
I agree

[2016-07-26 14:20] afabri opened #1306 "jet smoothing for points with normals does not work"
In the polyhedron demo
- load   *.xyz
- jet smoothing does something  OK
- estimate normals  OK
- jet smoothing does something  NO

@maxGimeno please fix

[2016-07-26 14:25] #1282 closed

[2016-07-26 14:26] lrineau commented on #950
I reopen again this bug, because the #1301 does not fix the color issue.

[2016-07-26 14:56] maxGimeno commented on #1306
@afabri can you please be more specific ? I reproduced your steps and nothing seems wrong to me. Is this the normals disappearance ?

[2016-07-27 13:53] lrineau opened #1307 "Discontinue the support for LEDA<6"
The following files check `CGAL_LEDA_VERSION` to have a different behavior when the version is <5, <6, or >=6. I think we should now always assume version 6 or later.

[code]

[2016-07-27 14:13] #1250 closed

[2016-07-27 14:56] afabri commented on #1307
I agree. What do you expect me to do?  The clean-up?

[2016-07-27 15:05] lrineau commented on #1307
@afabri Right. I am pretty sure I will not have time to start doing it before my leave.

If you can find time to do it during August, that would be mergable in CGAL-4.9.

[2016-07-27 15:18] afabri commented on #1306
There is  no reason for not applying smoothing to points with normals.

[2016-07-27 15:23] maxGimeno commented on #1306
It is applied.

2016-07-27 17:18 GMT+02:00 Andreas Fabri <notifications@github.com>:

[2016-07-27 15:25] lrineau commented on #1306
Yesterday, we have tried to apply the smoothing to points with normals, and it worked: we got a smoothed points set, without normals.

[2016-07-29 03:16] palliez opened #1310 "Normals after (planar) shape detection"
For better visual depiction it may be relevant to assign to each detected (planar) point set the normal of the corresponding plane, after shape detection.

[2016-07-29 03:20] palliez opened #1311 "Rendering mode for point sets with normals"
For point sets with normals the "points" mode depicts shaded points.
It may be relevant to add another "raw points" to depict the unshaded points.

[2016-07-29 03:30] palliez opened #1312 "gocad plugin by default"
When we drag & drop a xyz the gocad plugin is proposed by default, instead of xyz reader.

[2016-07-29 03:35] palliez opened #1313 "Snapshot with transparent background"
Very useful when preparing slides: default option should be "transparent" background, or current color, or user-selected color.

[2016-07-29 03:37] palliez opened #1314 "Snapshot to clipboard"
Very nice-to-have feature: copy current client to clipboard, with transparent background. So that we do not need to go through files and quickly prepare image layouts in ppt or keynote.

Note: the current shortcut ctrl+c overrides this function from qglviewer. this means one should verify whether qglviewer does this already with transparent background or not.

[2016-07-29 03:42] palliez opened #1315 "Affine transform applicable to point sets"
It would be good to be able to apply the affine transform to point sets.
Note also that I was not able to see how to specify the said transform.

[2016-07-29 03:43] palliez opened #1316 "Normalize"
In addition to affine transform: it would be good to be able to normalize a point set of mesh in a unit box while keeping aspect ratio (so that max coord. extend is 1).

[2016-07-29 04:07] palliez opened #1317 "Mesh smoothing"
It is possible to fair - but this requires constraining vertices.
does it make sense to add a menu for smoothing? Laplacian with or without volume preserving, with feature preserving (aniso smoothing) when detected.

[2016-07-29 04:08] palliez opened #1318 "Feature preserving Loop/CK subdivision"
Variants of Loop and Catmull Clark exist so that they are smoothing the sharp creases anisotropically -the stencil being modified locally.

[2016-07-29 07:45] maxGimeno commented on #1312
It is already fixed by #1296

[2016-07-29 07:53] maxGimeno commented on #1315
If everything wworks fine, this plugin adds a green wireframe item of the selected polyhedron_item, that you can manipulate with Ctrl and the mouse (just like a cutting plane). Once you set it to the desired position, you go to the Operations menu and validate it, which will replace the wireframe item by a new polyhedron_item.

 What was your problem exactly ?

[2016-07-29 07:58] lrineau commented on #1317
@janetournois Can you comment?

@palliez I must admit I have not fully understood. Can you be a bit more specific?

[2016-07-29 07:59] lrineau commented on #1310
That's a good idea, IMO. @sgiraudot, what do you think of that proposal?

[2016-07-29 08:01] lrineau commented on #1311
That "shaded points" (points with lightning, depending on their normal) is a very new feature of the demo. I agree there should be an extra drawing mode, that displays the point like they were previously.

@sgiraudot @maxGimeno

[2016-07-29 08:02] lrineau commented on #1312
#1296 was merged four days ago. Pierre probably did not merge from `cgal/master` since then.

[2016-07-29 08:02] #1312 closed

[2016-07-29 08:03] lrineau commented on #1313
@maxGimeno Do you know if one can draw the OpenGL scene in a transparent texture, with a clear-color that is fully transparent?

[2016-07-29 08:09] lrineau commented on #1314
@maxGimeno That is related to #1244.

*Note that this feature request is of lower priority than the dockerization of our wiki.*

[2016-07-29 08:10] lrineau commented on #1315
@maxGimeno You talk about polyhedron items but Pierre would like to apply an affine transformation to a *points set* item.

[2016-07-29 08:11] maxGimeno commented on #1313
@lrineau I think I did something similar when testing possibilities for the
ID printing,  so I'm quite sure this is possible.

Le 29 juil. 2016 10:03 AM, "Laurent Rineau" <notifications@github.com> a
écrit :

@maxGimeno <https://github.com/maxGimeno> Do you know if one can draw the
OpenGL scene in a transparent texture, with a clear-color that is fully
transparent?

—
You are receiving this becaus

[2016-07-29 08:12] lrineau commented on #1316
That could be a local action to the point set item: "Normalize coordinates in [0, 1]".

... Or that could be an global action of the affine transformation plugin: whatever is the selected item (surface mesh, polyhedron or point set), normalize its coordinates. That could be useful too.

[2016-07-29 08:13] lrineau commented on #1318
@janetournois Do you know the algorithm Pierre talks about?

[2016-07-29 08:14] maxGimeno commented on #1315
@lrineau I know but the second part of the message was a bug report, unless I misunderstood.

[2016-07-29 08:17] lrineau commented on #1313
For the ID printing, I think you did 2D paintings using the `QPainter` API, did not you? Here that is different: make 3D drawing using OpenGL calls, to a transparent texture.

[2016-07-29 08:19] maxGimeno commented on #1313
@lrineau Yes but before that I tried printing transparent textures directly on the facet. I dropped the idea because it was not very lisible, but the transparent background was working well.

[2016-07-29 08:30] janetournois commented on #1317
I absolutely makes sense, but it's a lot more work than adding a menu.
The `Polygon_mesh_processing::fair()` function requires those constrained points.

I would like to add all the state-of-the-art surface mesh smoothing methods to the PMP package and add them to the demo.

[2016-07-29 09:13] lrineau commented on #1306
Without further precision, I close this bug because it really worked for us.

Reopen the bug with details if you will have a bug.

[2016-07-30 14:41] afabri commented on #1311
Can you at the same time add the possibility to change the point size.

[2016-07-30 14:45] afabri commented on #1316
I see that in the affine transformation. It could at the same time have buttons for turning by 90 degree, mirroring, scaling, what I cannot do with the mouse.

[2016-07-30 15:21] afabri opened #1319 "Column width in the Geometric Objects window"
For color, view, A/B it should be always the minimal width of the potentially largest text.
For the color we  waste place by writing the 0x  code.

[2016-08-01 15:08] lrineau commented on #1316
The affine transformation plugin could have a widget that:
  - displays the transformation matrix, if the transformation is done using the mouse movements,
  - allow to enter or modify that matrix,
  - also have a set of buttons to enter predefined transformations:
   - rescale to [0,1],
   - predefined rotations and symetries.

[2016-08-01 15:10] lrineau opened #1320 "Demo: Allow to change the points size, in points sets items"

[2016-08-01 15:11] lrineau commented on #1311
I have created #1320. Let's not use the same issue entry for different feature requests, because that prevent the proper tracking of issues/requests.

[2016-08-02 08:43] cjamin commented on #965
Fixed in #1322

[2016-08-02 08:43] cjamin commented on #939
Fixed in #1322

[2016-08-03 12:53] cjamin opened #1326 "Intallation documentation: fix TTB-related instructions for non-Windows systems"
It seems the [TBB installation instructions](http://doc.cgal.org/latest/Manual/installation.html#title56) are not correct for non-Windows systems. For example, the compiled libs are not in `bin` but in `lib`. Here are [more information coming from TBB documentation](https://www.threadingbuildingblocks.org/docs/help/tbb_userguide/Linux_OS.html). Could any Linux guy check all this and fix the docume

[2016-08-03 13:34] lrineau opened #1327 "URL with fragments are not working in the cgal-dev wiki"
The conversion from Mediawiki to Github Wiki has not preserved the internal links of a page (links to fragments). For example, at https://github.com/CGAL/cgal-dev/wiki/Guidelines-Directory_Structure_for_Packages, the link "below" does not work. There are other links in the same page. The name of fragments seem all wrong.

[2016-08-03 15:43] MoniqueTeillaud opened #1329 "the directory structure introduced in the wiki is outdated"
our wiki page Guidelines-Directory_Structure_for_Packages
says: "The directory structure of a package named Package should be as follows:"
        and it shows demo/ as a directory
and below: "demo/ contains the demo programs for the package.”
(That page does not mention GraphicsView.)

But Triangulation_2/demo/Triangulation_2 does not contain the demo programs for Triangulation_2. So the info giv

[2016-08-04 08:09] MoniqueTeillaud opened #1330 "restore tables of contents in guidelines wiki pages"
We had a table of contents on each wiki page in our good old wiki at GF.
There are none on the github wiki, which makes it quite hard to find anything there.
The guidelines are crucial for developers...

Concretely, the only way to find information is to look at the old wiki guidelines, and find the info using links and tables of contents, which is quite easy.
But the info is possibly outdated. So

[2016-08-05 15:01] lrineau commented on #1330
I actually think that the GitHub wiki is actually a pretty bad piece of software. They have been ignoring the feature request https://github.com/isaacs/github/issues/215 for more than two years. I begin to doubt that the opting of GitHub wikis is a good choice. Sébastien, don't you think that we should stay in Mediawiki and open a choosen set of pages to the public?

[2016-08-06 14:51] afabri commented on #1318
[OpenSubdiv](http://graphics.pixar.com/opensubdiv/docs/intro.html)  would be my guess  @palliez

[2016-08-08 11:50] MoniqueTeillaud opened #1331 "missing link in the manual"
on page http://doc.cgal.org/latest/Kernel_23/classCGAL_1_1Exact__predicates__exact__constructions__kernel__with__sqrt.html

"Its FT nested type is model of the 'FieldWithSqrt` concept."

It would be useful to have a link to FieldWithSqrt

[2016-08-09 07:03] SLopezBRGM opened #1333 "Mesh_domain_with_polyline_features_3::add_features_and_incidences in the documention but not in the code"
In the class `Mesh_domain_with_polyline_features_3`, the documention mentions the method [`add_features_and_incidences`][doc] to add 1-dimensional features in the domain with their incidences with 2-dimensional features of the domain whereas there is no such method in the code.
It seems to be replaced by `add_features_with_context` and has a distinct interface.

[doc]: https://doc.cgal.org/4.10/Me

[2016-08-09 08:14] janetournois commented on #1333
Thanks Simon for your report! I will have a look to fix it asap

[2016-08-09 14:53] sgiraudot commented on #23
Is this still needed today? Who can take care of this?

I can see the [branch](https://github.com/CGAL/cgal-dev/tree/Installation-make_release-pmoeller) is still in `cgal-dev` but seems very old (but was already pretty old when this issue was opened).

[2016-08-09 14:56] sgiraudot commented on #29
Is this still an issue today? Who can take care of it?

[2016-08-09 15:03] sgiraudot commented on #42
If I understand correctly, this issue can be closed. Please let me know if it's still a valid issue and should be opened again.

[2016-08-09 15:03] #42 closed

[2016-08-09 15:05] sgiraudot commented on #44
Can this issue be closed or is it still something to do?

[2016-08-09 15:11] sgiraudot commented on #64
Is this still a valid issue?

[2016-08-09 15:17] sgiraudot commented on #79
@janetournois What is the status of this feature now? Still in development?

[2016-08-09 15:19] sgiraudot commented on #93
Is this bug still in CGAL or can we close the issue?

[2016-08-09 15:33] sgiraudot commented on #34
If I understand correctly, the conclusion is to "raise awareness and fix it as we go along". Does everyone agree on this?

If so, I suggest we add a paragraph about this somewhere in the developer manual (with the links that @lrineau provided about the rules of 5 and 0) and close the issue. It seems unrealistic to review _all_ classes of CGAL at once, so we should just expect new issues about this

[2016-08-09 15:42] sgiraudot commented on #94
@efifogel Is there any news about this issue? Is somebody else able to take care of it if you don't have the time?

[2016-08-09 15:48] sgiraudot commented on #135
Is this issue still valid?

If so, it seems to me the main problem to solve here is the inconsistency between the documentation and the code. As @sloriot pointed, changing the code might break user code, so a first easy step could be to change the documentation to make it clear that the numbers are printed in their `double` conversion.

Providing a way to write the number in an interval format see

[2016-08-09 15:50] sgiraudot commented on #222
Is this issue still in the TODO list?

[2016-08-09 15:52] sgiraudot commented on #231
Is this bug still present in CGAL? It seems to be that it could be solved by the header only feature that is currently developed.

[2016-08-09 15:57] sgiraudot commented on #233
This issue has been opened for a year, I'm really sorry that you had absolutely no response since then. I am currently trying to review all the issues of CGAL that are still opened.

As @mglisse pointed out on your _Stack Overflow_ topic, it seems difficult to help without a full compilable code that reproduces the bug. Can you provide this please?

[2016-08-09 16:05] sgiraudot commented on #257
Can we carry on this discussion? (Or close the issue if there is nothing to change.)

It seems to me that `internal` and the package namespaces do not have the same aims:
- `internal` should be reserved for non-documented function (this is what internal means, it is used internally by CGAL and is not part of the public API)
- The package namespaces should be used to avoid polluting the CGAL namesp

[2016-08-09 16:06] sgiraudot commented on #259
@keydawg As @sloriot asked, can you provide the file?

If not, I will close the issue.

[2016-08-09 16:09] sgiraudot commented on #260
Can this issue be fixed? @palliez, you are one of the maintainer (with Camille Wormser who I can't find on GitHub), can you have a look at this?

[2016-08-09 16:12] sgiraudot commented on #261
@palliez, you are one of the maintainers of the package, what do you think about this?

Can anybody take care of this?

[2016-08-09 16:19] sgiraudot commented on #268
This issue has been opened for a year. Do we want this feature in CGAL or not? Who can take care of it?

[2016-08-09 16:33] sgiraudot commented on #269
@afabri, you are the package maintainer, what do you think about this issue? Is there a reason why a point can't be used as a query?

[2016-08-09 20:01] afabri commented on #269
I think it should also work for a point

[2016-08-09 20:04] afabri commented on #257
Backward compatibility is no issue as in both cases it is internal code,
I prefer package/internal

[2016-08-09 21:21] bombax commented on #233
IIRC this was because I used the inexact kernel and did not fully understand the consequences.

[2016-08-10 06:14] janetournois commented on #257
I also prefer package/internal. I add the tag dev-meeting so that this issue can be discussed and closed at the next developer meeting.

[2016-08-10 07:30] efifogel commented on #222
Yes.
It's occurs only with g++5.1 (or higher).
It's about a compiler warning (related to deprecated code) that seemingly
should not be generated.
It looks like a compiler bug. If so, it should be reported.
If not, then the generic code that causes the warning is compiled in, while
it shouldn't. This might be caused by semantic changes in C++11. In this
case we need to fix the code so that it is no

[2016-08-10 07:59] janetournois commented on #1238
Hi Efi,

I have just added something to the documentation of `PMP::triangulate_hole()`.

However, it would be nice to implement what you asked, and I would like to have your input data to test it. I could not download them. Can you please re-send them, via github or private email?
Thank you!

Jane.

[2016-08-10 08:04] sgiraudot commented on #233
Okay, thanks very much for the update. I'm closing the bug.

[2016-08-10 08:04] #233 closed

[2016-08-10 08:30] sgiraudot commented on #271
Can someone using Windows test it so we know if it's solve by the header-only mode? @afabri ? @janetournois ?

[2016-08-10 08:35] sgiraudot commented on #272
@efifogel and @mhsaar, you are the 2 maintainers of the package `Minkowski_sum_2`: is there a reason why a fork of AABB_tree was used? Is it possible to merge it back into the AABB_tree package or is the fork really going in different directions?

[2016-08-10 08:38] sgiraudot commented on #275
@MoniqueTeillaud, as maintainer of `Triangulation_3`, what do you think about this issue?

My opinion is that we should first discuss which features we want to see in the examples and then see how to fit them nicely in the documentation.

[2016-08-10 08:41] sgiraudot commented on #280
This is still an opened issue. @lrineau do you think you will have the time to take care of it or do I assign it to someone else?

[2016-08-10 08:43] sgiraudot commented on #294
Is this issue still valid? I remember @lrineau that you've been working on this, but I can't find a branch (if there is one).

[2016-08-10 08:49] sgiraudot commented on #313
It seems to me this bug is half-solved. When searching `polygon_set_2` on Google, the first two results are:
- [Polygon_set_2 - CGAL 4.8.1 - Manual](https://www.google.fr/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwiMl-mIu7bOAhXFuhoKHVNYBGwQFggcMAA&url=http%3A%2F%2Fdoc.cgal.org%2Flatest%2FBoolean_set_operations_2%2FclassCGAL_1_1Polygon__set__2.html&usg=AFQjCNEzH7OGroWsE3b7Wd

[2016-08-10 08:55] sgiraudot commented on #341
This issue is similar to https://github.com/CGAL/cgal/issues/102.

There is a work in progress to implement a CGAL progress tracker, see https://github.com/CGAL/cgal/pull/1036.

[2016-08-10 08:56] sgiraudot commented on #371
@afabri Can you take care of this?

[2016-08-10 09:02] sgiraudot commented on #376
As @sloriot pointed out, the current code of Nef is not adapted to preserve colors with boolean operations. As it doesn't seem reasonable to assume this feature will be implemented anytime soon, I am closing the issue.

[2016-08-10 09:02] #376 closed

[2016-08-10 09:08] sgiraudot commented on #382
I am currently reviewing all CGAL issues and I'd like to know if we can fix this one.

@etrinh Can you confirm that your fix still works with Mingw? We'll still have to check if this doesn't modify the behavior on other platforms, and if it doesn't we should include it into CGAL.

[2016-08-10 09:09] sgiraudot commented on #391
Can anybody take care of this?

[2016-08-10 09:14] janetournois commented on #271
I have just tested `Residue.cpp` under visual studio 2015 (no boost lib required), in header-only mode, and everything went smoothly.
Is this enough? Otherwise, tell me which tests I should make

[2016-08-10 09:20] sgiraudot commented on #271
Thanks Jane. If I understand well, the problem comes from the `thread_local` qualifiers and I'm not sure this is tested in `Residue.cpp`.

@afabri can you be more specific about the bug? You said:

Is it a code of yours that generates an error or one of CGAL examples?

[2016-08-10 09:21] efifogel commented on #94
I haven't developed the Bezier traits and the authors are long gone.
I will not be able to handle it within the next couple of months.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On Tue, Aug 9, 2016 at 6:42 PM, Simon Giraudot <notifications@github.com>
wrote:

[2016-08-10 09:30] efifogel commented on #371
Look at the entire set of functions that this package provide.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On Mon, Sep 28, 2015 at 5:30 PM, Andreas Fabri <notifications@github.com>
wrote:

[2016-08-10 09:32] janetournois commented on #261
I'm doing it

[2016-08-10 10:11] sgiraudot commented on #94
Okay, thank you for the update!

[2016-08-10 10:12] lrineau commented on #382
The patch looks good. If a PR is tested and the CGAL testsuite does not show errors, I would integrate it.

In the longer term, we should have a MinGW column in our testsuite.

[2016-08-10 10:15] sgiraudot commented on #371
Good point, it seems that both packages have their own name standards and we can't change one single function without changing the entire sets of function of one or the other packages (which seems an overkill to me).

Unless we can figure out a way of disambiguating these two functions without breaking the consistency of packages, I will close this issue.

[2016-08-10 10:15] lrineau commented on #294
I have been working on similar subjects, for other mesh domain types. For implicit domains, nothing has been done so far. That issue is in the long TODO-list for Mesh_3.

[2016-08-10 10:18] lrineau commented on #313
The 4.2 manual is the only version that does not have [`rel="canonical"` links][*].

[*]: https://support.google.com/webmasters/answer/139066?hl=en#2

[2016-08-10 10:24] sgiraudot commented on #313
Okay, so I guess we can close this issue now.

[2016-08-10 10:24] #313 closed

[2016-08-10 10:25] sgiraudot commented on #382
Okay, I will take care of this.

[2016-08-10 11:23] efifogel commented on #272
The code in the Minkowski_sum_2 package supports 2D AABB trees, while (as
far as I know) CGAL has only one package that handles AABB trees and it's
in 3D. Besides, and Michael knows more about this than I, the 2D version in
the Minkowski_sum_2 package supports functionality the generalization of
which to 3D is not supported by the 3D AABB package. In summary, the
introduction of 2D AABB package an

[2016-08-10 13:15] lrineau commented on #313
I have blocked http://doc.cgal.org/4.2/ from being indexed by bots, in a `robots.txt` file. That will solve the issue completely as far as I know.

[2016-08-10 13:38] lrineau commented on #34
Let's say that I will raise the topic at next developers meeting. I can probably present the topic, problems, and solutions with a few slides.

[2016-08-10 13:52] janetournois commented on #260
this issue is fixed by PR #1340.

However, `Compute_closest_point_3` should still be moved to the Kernel. I create a new issue for that.

[2016-08-10 13:55] janetournois opened #1341 "Move Functors to the Kernel"
The `AABB_traits.h` file contains implementations of the functors
- ~~Compute_closest_point_3~~ `Construct_closest_point_3`
- `Compare_distance`

They should both be moved to the Kernel

This issue is related to #260

[2016-08-10 14:02] gdamiand opened #1342 "Doxygen Warning"
Using doxygen version 1.8.12, a lot of warnings are generated

`warning: ignoring unsupported tag SHOW_GROUPED_MEMBER_INCLUDES = at line 544, file doc_dxy/BaseDoxyfile`

`warning: Tag XML_SCHEMA at line 1587 of file doc_dxy/BaseDoxyfile has become obsolete.
         To avoid this warning please remove this line from your configuration file or upgrade it using "doxygen -u"`

`warning: Tag XML_DTD a

[2016-08-10 14:14] HoffmannMichael commented on #1341
Construct_closest_point_3 ?

[2016-08-10 14:18] janetournois commented on #1190
The `c3t3_rib_exporter_plugin` is still missing from the `Polyhedron` demo, and should be transferred from the `Mesh_3` demo.
I think it's the last thing to be done before we can delete the `Mesh_3` demo
@maxGimeno can you have a look please?

@lrineau the use of `Surface_mesher` concerns the `Surface_mesher` demo, right? not the `Mesh_3` demo?

[2016-08-10 14:18] #1238 closed

[2016-08-10 14:26] janetournois commented on #1341
That's right! I will change it in issue #1340 too. Thanks

[2016-08-10 14:28] lrineau commented on #23
I know the branch is very old. It was done by Philipp (@bo0ts). I filled the issue not to forget that the code of the branch should be reworked and integrated. That could also be a topic for next meeting.

@sloriot Do you have an opinion on the feature, or the code?

[2016-08-10 14:30] lrineau commented on #29
That is not really difficult. Once we have defined the set of information we would like to gather (like the OS name and version, compiler name and version, and so on), I think that feature request would only need one hour or two of work.

[2016-08-10 15:08] lrineau commented on #1333
`add_features_with_context` should not be documented as such. The API is ad-hoc and inelegant. It should be replaced by a review API. Maybe the API of `add_features_and_incidences` is the right one.

[2016-08-10 15:14] lrineau commented on #44
Unfortunately, we still do not have a solution for this feature request.

[2016-08-10 15:17] lrineau commented on #64
The answer is easy, nothing has been changed in CGAL since the creation of this issue. The `Maintenance` package is still in `master`, and a lot of its content has no reason to be versioned in the same branch as the rest of CGAL.

[2016-08-10 15:20] lrineau commented on #93
The bug is still there. It is related to #294, #923.

[2016-08-10 15:25] lrineau commented on #280
I can deal with it. Again, less than one hour of work. I just need to remember I have to do it.

[2016-08-10 15:39] lrineau commented on #1342
@gdamiand Please precise which version is *the last version* of Doxygen, This issue might be still open in a few months (years?).

[2016-08-10 15:41] lrineau commented on #1190
(I think we should not speak about the `Surface_mesher` in this issue. That is confusing. @janetournois: yes, Sébastien and I were talking about the Surface Mesher Demo.)

[2016-08-10 16:08] gdamiand commented on #1342
Done.

[2016-08-10 20:24] afabri commented on #382
Does mingw have boost gmp mpfr out of the box?
If not I think we have not enough users on mingw to justify such a testsuite

[2016-08-10 20:28] afabri commented on #1341
You can assign this to me if you want

[2016-08-11 12:44] sgiraudot commented on #382
I don't know about that, but anyway this fix doesn't cost us anything.

It has passed the testsuite and is merged in CGAL, I'm closing this issue.

[2016-08-11 12:44] #382 closed

[2016-08-11 12:46] #1315 closed

[2016-08-11 12:46] #1313 closed

[2016-08-11 12:47] #1320 closed

[2016-08-11 13:22] lrineau commented on #382
On Windows, MinGW uses the same C libraries as Visual Studio. Now that we no longer use Boost compiled libraries, the GMP and MPFR shipped with the Windows installer are sufficient. Those shipped libraries were actually compiled with the MinGW compiler.

Le 10 août 2016 22:24, à 22:24, Andreas Fabri <notifications@github.com> a écrit:

[2016-08-12 07:52] lrineau commented on #231
This bug is still there. And that is true it will be solved once header-only is the default.

[2016-08-14 20:44] afabri commented on #1341
The branch Kernel_23-Construct_closest_point_3-GF  now has two functions `closest_point()`.
@janetournois   Can you change AABB_traits so that it uses the new function please.

@sloriot  I am not sure what to do with Compare_distance.  I am also not sure where to put the functions in include/CGAL/internal/AABB_tree/nearest_...h    Should these be functors as well?

[2016-08-16 11:02] janetournois opened #1348 "PMP::area(face_range) does not compile with Epeck_with_sqrt"
because `exact(nb)` does not exist in this kernel

[2016-08-16 13:02] martinmisa opened #1349 "Can`t create convex hull from points"
CGAL can`t create convex hull from this points. Assertion in Graham Andrew scan algorithm.
I used latest version of CGAL 4.9 beta1 and compiled c++ code with C++11 compiler.

Example:
[https://gist.github.com/martinmisa/ce67c3ff0b2bb06d154d6ff0dedca578](https://gist.github.com/martinmisa/ce67c3ff0b2bb06d154d6ff0dedca578)

[2016-08-16 13:26] sgiraudot commented on #1349
Thank you for this self-contained bug report.

The problem here is that your points are aligned, which is exactly the kind of specific cases that won't work with a Simple Cartesian kernel. You can read more about that on [the CGAL website](http://www.cgal.org/FAQ.html#inexact_NT).

As you might have tested, it works with the Exact kernel (I c. However, as the Exact kernel can be pretty slow and li

[2016-08-16 14:01] martinmisa commented on #1349
thank you for response

[2016-08-16 14:54] janetournois commented on #1341
it's done.
I have made some comments on github inside the cgal-dev branch, but it concerns the question you asked to @sloriot

[2016-08-16 14:59] #1349 closed

[2016-08-17 06:06] #1314 closed

[2016-08-17 07:33] janetournois commented on #635
@wucm1994 we have made the `Polygon_mesh_processing` package compatible with the `Exact_predicates_exact_constructions_kernel`, and it's tested daily, so you should be able to use it with the `master` branch now.

[2016-08-17 07:33] #635 closed

[2016-08-17 08:07] janetournois commented on #1341
`Compare_distance` is already the functor of the Kernel

[2016-08-17 08:30] janetournois commented on #1341
actually `Compare_distance_3` already is a functor of the Kernel. Overloads that are in AABB_traits.h should be moved there

[2016-08-17 08:36] afabri commented on #1341
Is it just overloads?? In the code we see in a comment:

[2016-08-17 08:43] janetournois commented on #1341
You should check the implementation, but the clearest name could maybe be `do_overlap`

[2016-08-18 02:33] wucm1994 commented on #635
Thanks for you effort.

[2016-08-18 16:24] afabri commented on #269
@bombax    If I understand you correctly, the solution is to call [Segment_tree_d::enclosing_query](http://doc.cgal.org/latest/SearchStructures/classCGAL_1_1Segment__tree__d.html#a3e1409f32a09139b795c9346a6c4a7e0)

[2016-08-18 19:20] elfprince13 opened #1352 "UseCGAL.cmake causes build spam due to deprecated CMake features."
[code]

 results in `Directory not found` spam when compiling on platforms that support multiple build profiles (Debug, Release, etc). This is because of it's outdated use of link_directories.

[2016-08-19 05:51] lrineau commented on #1352
It is a know issue that our CMake script use deprecated feature. CGAL started using CMake since CMake version 2.4, and even since we require CMake>=2.8.11, parts of our scripts have not yet been upgraded to use recent features of CMake. That is a scheduled topic for next CGAL developers meeting, in early September.

Our the message `Directory not found`, can you please specify how to reproduce it?

[2016-08-19 15:09] elfprince13 commented on #1352
I'm using cmake 3.5.2 on OS X El Capitan 10.11.6, and the Xcode 7.3.1 toolchain. The actual error messages are:
[code]

Obviously the correct search paths don't have `/Debug` appended to the end, but because `link_directories` doesn't play well with multiple build profiles, not much can be done about it. Also, **every target** in my project that uses CGAL emits this messages, which quickly builds

[2016-08-19 16:41] lrineau commented on #1352
As for the CMake Generator, do you use the one for Xcode or Makefiles?

[2016-08-19 16:45] elfprince13 commented on #1352
When I build the CGAL libraries themselves I just use the Makefile generator, as once the libraries are compiled I don't need to look into it again, however the project which depends on CGAL is using the Xcode generator.

[2016-08-20 10:44] lrineau opened #1353 "Required examples/BGL_triangulation_2/emst.cin"
The example file `BGL/examples/BGL_triangulation_2/emst.cpp` reads from `std::cin`. It needs a `.cin` file, for the testsuite.

[2016-08-22 08:25] sloriot commented on #268
The code provided by the user is correct. We just need someone to wrap it in a function.

[2016-08-22 08:34] sloriot commented on #23
From what I remember the branch contains two things:
- building a release using CMake
- ignoring the library configuration tests when only building the documentation
The reason why the branch was not merged is that the testsuite showed some strange issue on windows that we could not reproduce.

[2016-08-22 08:44] sloriot commented on #1330
Indeed

[2016-08-22 08:51] sloriot commented on #1342
There is some on going work in `cgal-dev/Documentation-official_doxygen-GF`

[2016-08-22 08:53] sloriot commented on #1342
See also https://bugzilla.gnome.org/show_bug.cgi?id=763471 and https://github.com/doxygen/doxygen/pull/452

[2016-08-22 12:43] sloriot commented on #1331
Fixed by e2ed53e

[2016-08-22 12:43] #1331 closed

[2016-08-23 09:44] sloriot commented on #260
#1356 reverted the merge of the #1340 that was incomplete and not meant for 4.9

[2016-08-23 12:57] #1302 closed

[2016-08-23 14:43] maxGimeno commented on #756
I suspected that there were no actual memory leak, by observing the behavior of the contexts when trying to delete them. If I understand correctly [this patch report](https://codereview.qt-project.org/#/c/90090/), I was right and the QGLContext created by `fromQOpenGLContext()` will delete the QOpenGLContext it is created from when it is destroyed.

[2016-08-23 14:48] lrineau commented on #756
Let's close this issue. It seems fixed in Qt-5.3, according to https://github.com/CGAL/cgal/issues/756#issuecomment-241754433.

[2016-08-23 14:48] #756 closed

[2016-08-23 14:57] lrineau commented on #1307
@afabri Now that I am back from summer leave, should I handle this issue and remove the support for LEDA 4 and 5?

[2016-08-23 15:38] janetournois opened #1360 "BGL tests : compilation error with recent OpenMesh"
I am now using OpenMesh-6.2 and I get the following error when I compile the test `graph_concept_OpenMesh.cpp` inside the BGL package.

The error is the following :

We should take into account the version number to define this function or not

[2016-08-23 20:33] afabri commented on #1307
please go ahead

[2016-08-25 17:27] efifogel opened #1367 "Arrangement of Bezier curves cannot be saved (and restored)."
Points of intersections in an arrangement of Bezier curves cannot be represented in an exact manner.  Therefore, one cannot store such an arrangement using the default export (<<) operator and the standard format.

The easiest solution is to store the curves, but this means that one needs to calculate the arrangement each time he curves are read.

It might be the only solution, but even if it's no

[2016-08-26 14:20] lrineau commented on #1367
What is the number type?

[2016-08-27 13:43] efifogel commented on #1367
Naturally, some calculations require algebraic numbers.
I'm not familiar with the internals, but I don't think there a simple
answer.
A typical instantiation follows:

typedef CGAL::CORE_algebraic_number_traits              Nt_traits;
typedef Nt_traits::Rational                             Rational;
typedef Nt_traits::Algebraic                            Algebraic;
typedef CGAL::Cartesian<Rational

[2016-08-27 16:44] schinabr opened #1370 "Wrong check in QP_solver_impl.h"
Hello, gents.
Check this post: http://stackoverflow.com/questions/39174015/cgal-quadratic-solver-from-iterator-exception

A solution is thrown when the example in the post is ran replacing variable "relationships" by this one:
std::array<CGAL::Comparison_result, numAConstraints> relationships
              = { CGAL::LARGER,CGAL::LARGER,CGAL::LARGER,CGAL::LARGER, };

Notice how bizarre is the behav

[2016-08-28 18:56] chactin opened #1371 "solve system of linear equations"
Hi, is it possible that cgal can solve a system of linear equations? could you privide some infromation ?

[2016-08-28 19:27] chactin opened #1372 "what do i need to install and use cgal on a computer with windows xp?"
what do i need to install  and use cgal on a computer with windows xp?

[2016-08-29 07:29] sloriot commented on #1372
See http://www.cgal.org/download/windows.html

[2016-08-29 07:29] #1372 closed

[2016-08-29 07:30] sloriot commented on #1371
We do not have that in CGAL.

[2016-08-29 07:30] #1371 closed

[2016-08-29 07:34] sloriot commented on #1370
I'm not a QP_solver expert but reading the documentation of [`CGAL::Quadratic_program_solution`](http://doc.cgal.org/latest/QP_solver/group__PkgQPSolverFunctions.html#gac769fb5f56983e35bec295b26501df7f), it is written that `ET` must be an exact number type while in you case it is `double`.

[2016-08-29 07:50] lrineau commented on #1371
For linear solvers, CGAL internals use [Eigen3].

[Eigen3]: http://eigen.tuxfamily.org/index.php?title=Main_Page

[2016-08-29 08:28] #261 closed

[2016-08-29 10:29] #965 closed

[2016-08-29 10:40] lrineau commented on #1360
@sloriot @afabri
This issue is selected for the milestone `4.8.2`. Do we have the resources to work on it rather soon? Once the branch for CGAL-4.9 is created, it will be difficult to maintain the branch for CGAL-4.8.2.

[2016-08-29 10:42] lrineau commented on #1272
Is that a different bug from the bug that was recently fixed in `master` (#1361)?

[2016-08-29 10:43] lrineau commented on #1145
@sloriot @afabri If you have little time, I think this issue is easy to fix.

[2016-08-29 10:44] lrineau commented on #939
Fixed in `master`, for 4.9.

@sgiraudot Do we want to backport the fix for the branch that targets 4.8.2?

[2016-08-29 10:44] #939 closed

[2016-08-29 10:45] lrineau commented on #1307
Fix by #1366 in `master` for CGAL-4.9.

[2016-08-29 10:45] #1307 closed

[2016-08-29 10:56] sgiraudot commented on #939
It seems to me that the floating point bug (https://github.com/CGAL/cgal/issues/939) was introduced in 4.9 when switching to the `boost::optional` behavior. The code of 4.8 looks like this:

[code]
So the test `if(iq)` was already there and there shouldn't be a bug.

I don't know about the other bug about CImg linking (https://github.com/CGAL/cgal/issues/965), but it's probably not critical as it'

[2016-08-29 11:00] lrineau commented on #939
You are right.Thanks.

[2016-08-29 11:02] #1353 closed

[2016-08-29 11:15] efifogel commented on #1272
It is different.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On Mon, Aug 29, 2016 at 1:42 PM, Laurent Rineau <notifications@github.com>
wrote:

[2016-08-29 19:24] akobel commented on #1327
Fixed (for that particular site and https://github.com/CGAL/cgal-dev/wiki/Guidelines-Source_Code_Management_GIT). General observations:
- fragments should be checked for - vs _
- ../ links went astray
- some other completely off links where I did not notice (or pay attention for) a straightforward pattern

[2016-08-30 14:01] sloriot opened #1379 "Static variables in Polynomial package"
- [x] `Polynomial/include/CGAL/Polynomial/modular_gcd_utcf_pure_wang.h:69:    static CACHE cache;`

[2016-08-30 14:03] sloriot opened #1380 "Static variables in Periodic_2 package"
- [x] `Periodic_2_triangulation_2/include/CGAL/Periodic_2_Delaunay_triangulation_2.h:1123:  static int maxd = 30;`
- [x] `Periodic_2_triangulation_2/include/CGAL/Periodic_2_Delaunay_triangulation_2.h:1124:  static std::vector<Face_handle> f(maxd);`
- [x] `Periodic_2_triangulation_2/include/CGAL/Periodic_2_Delaunay_triangulation_2.h:1125:  static std::vector<int> i(maxd);`
- [x] `Periodic_2_triangu

[2016-08-30 14:12] sloriot opened #1381 "Static variables in Nef_2 package"
- [x] `Nef_2/include/CGAL/Nef_2/debug.h:36:  static int debugthread=1;`
- [x] `Nef_2/include/CGAL/Filtered_extended_homogeneous.h:47:  static int c##_total=0; static int c##_exception=0;`
- [x] `Nef_2/include/CGAL/Filtered_extended_homogeneous.h:100:  static RT R_;`
- [x] `Nef_2/include/CGAL/Nef_polynomial.h:73:      static NT R_ = 1;`
- [x] `Nef_2/include/CGAL/IO/Nef_polyhedron_2_PS_stream.h:30:s

[2016-08-30 14:13] sloriot opened #1382 "Static variables in Surface_mesh_parametrization package"
- [x] `Surface_mesh_parameterization/include/CGAL/Win32_exception.h:119:    static bool m_needs_stack_reset = false;`

[2016-08-30 14:14] sloriot opened #1383 "Static variables in Circular_kernel_2 package"
- [x] `Circular_kernel_2/include/CGAL/Circular_kernel_2/Circular_arc_2.h:337:    static Table table;`
- [x] `Circular_kernel_2/include/CGAL/Circular_kernel_2/Circular_arc_2.h:359:    static Table circle_table;`

[2016-08-30 14:15] sloriot opened #1384 "Static variables in Arrangement_on_surface_2 package"
- [x] `Arrangement_on_surface_2/include/CGAL/Arr_counting_traits_2.h:953:    static unsigned int counter = 0;`
- [x] `Arrangement_on_surface_2/include/CGAL/Arr_conic_traits_2.h:112:    static unsigned int index = 0;`
- [x] `Arrangement_on_surface_2/include/CGAL/Arr_point_location/Td_traits.h:1152:  static Vertex_const_handle m_empty_vtx_handle;`
- [x] `Arrangement_on_surface_2/include/CGAL/Arr_poi

[2016-08-30 14:16] sloriot opened #1385 "Static variables in Segment_Delaunay_graph_Linf_2 package"
- [x] `Segment_Delaunay_graph_Linf_2/include/CGAL/Segment_Delaunay_graph_Linf_2/Segment_Delaunay_graph_Linf_hierarchy_2_impl.h:362:    static Segments_in_hierarchy_tag stag;`
- [x] `Segment_Delaunay_graph_Linf_2/include/CGAL/Segment_Delaunay_graph_Linf_2/Segment_Delaunay_graph_Linf_hierarchy_2_impl.h:392:  static Intersections_tag          itag;`
- [x] `Segment_Delaunay_graph_Linf_2/include/CGAL/S

[2016-08-30 14:17] sloriot opened #1386 "Static variables in CGAL_ImageIO package"
- [ ] `CGAL_ImageIO/include/CGAL/ImageIO/gif_impl.h:39:      static TYPE NAME = VALUE;`
- [ ] `CGAL_ImageIO/include/CGAL/ImageIO/gif_impl.h:79:static int EGApalette[16][3] = {`
- [ ] `CGAL_ImageIO/include/CGAL/ImageIO/gif_impl.h:639:  static byte *ptr = NULL;`
- [ ] `CGAL_ImageIO/include/CGAL/ImageIO/gif_impl.h:640:  static int   oldYC = -1;`
- [ ] `CGAL_ImageIO/include/CGAL/ImageIO/bmp_impl.h:47:

[2016-08-30 14:18] sloriot opened #1387 "Static variables in Number_type package"
- [x] `Number_types/include/CGAL/Sqrt_extension/convert_to_bfi.h:58:  static Cache_type cache;`
- [x] `Number_types/include/CGAL/Lazy_exact_nt.h:488:  static double relative_precision_of_to_double;`
- [x] `Number_types/include/CGAL/Mpzf.h:139:  static std::vector<T> data;`
- [x] `Number_types/include/CGAL/Mpzf.h:159:    static CGAL_MPZF_TLS T data_ = 0;`
- [x] `Number_types/include/CGAL/Mpzf.h:183

[2016-08-30 14:19] sloriot opened #1388 "Static variables in Box_intersection_d package"
- [x] `Box_intersection_d/include/CGAL/Box_intersection_d/segment_tree.h:278: static int level = -1;`
- [x] `Box_intersection_d/include/CGAL/Box_intersection_d/Box_d.h:42:    static std::size_t n;`

[2016-08-30 14:20] sloriot opened #1389 "Static variables Kinetic_data_structures in package"
- [x] `Kinetic_data_structures/include/CGAL/Polynomial/internal/numeric_solvers_support_impl.h:41:static double max_error_value=.00005;`
- [x] `Kinetic_data_structures/include/CGAL/Polynomial/internal/Rational/Sturm_sequence_base.h:146:            static Polynomial zero(NT(0));`
- [x] `Kinetic_data_structures/include/CGAL/Polynomial/internal/Polynomial_impl.h:458:    static NT z(0);`
- [x] `Kineti

[2016-08-30 14:20] sloriot opened #1390 "Static variables in Snap_rounding_2 package"
- [x] `Snap_rounding_2/include/CGAL/Snap_rounding_2.h:90:  static SEG_Direction seg_dir;`

[2016-08-30 14:21] sloriot opened #1391 "Static variables in Mesh_3 package"
- [x] `Mesh_3/include/CGAL/Mesh_3/sliver_criteria.h:119:  static double default_value;`
- [x] `Mesh_3/include/CGAL/Mesh_3/sliver_criteria.h:120:  static double max_value;`
- [x] `Mesh_3/include/CGAL/Mesh_3/sliver_criteria.h:121:  static double min_value;`
- [x] `Mesh_3/include/CGAL/Mesh_3/sliver_criteria.h:184:  static double default_value;`
- [x] `Mesh_3/include/CGAL/Mesh_3/sliver_criteria.h:185:

[2016-08-30 14:22] sloriot opened #1392 "Static variables in HalfedgeDS package"
- [x] `HalfedgeDS/include/CGAL/HalfedgeDS_iterator_adaptor.h:77:        static I it = I(); // zero-initialized and a default constructor`

[2016-08-30 14:22] sloriot opened #1393 "Static variables in Random_numbers package"
- [ ] `Random_numbers/include/CGAL/Random.h:235:  static Random default_random;`

[2016-08-30 14:24] sloriot opened #1394 "Static variables in Apollonius_graph_2 package"
- [x] `Apollonius_graph_2/include/CGAL/Parabola_2.h:62:    static FT step_(2);`
- [x] `Apollonius_graph_2/include/CGAL/Apollonius_graph_2/predicate_profiler.h:38:  static unsigned long side_of_bisector_counter;`
- [x] `Apollonius_graph_2/include/CGAL/Apollonius_graph_2/predicate_profiler.h:39:  static unsigned long is_trivial_counter;`
- [x] `Apollonius_graph_2/include/CGAL/Apollonius_graph_2/pred

[2016-08-30 14:25] sloriot opened #1395 "Static variables in Profiling_tools package"
- [ ] `Profiling_tools/include/CGAL/Timer_impl.h:123:    static double prec = compute_precision();`
- [ ] `Profiling_tools/include/CGAL/Profile_counter.h:212:          { static CGAL::Profile_counter tmp(Y); ++tmp; }`
- [ ] `Profiling_tools/include/CGAL/Profile_counter.h:214:          { static CGAL::Profile_histogram_counter tmp(Y); tmp(Z); }`
- [ ] `Profiling_tools/include/CGAL/Profile_counter.h:2

[2016-08-30 14:26] sloriot opened #1396 "Static variables in STL_Extension package"
- [x] `STL_Extension/include/CGAL/assertions_impl.h:47:  static Failure_behaviour _error_behaviour = THROW_EXCEPTION;`
- [x] `STL_Extension/include/CGAL/assertions_impl.h:52:  static Failure_behaviour _warning_behaviour = CONTINUE;`
- [x] `STL_Extension/include/CGAL/assertions_impl.h:125:  static Failure_function _error_handler = _standard_error_handler;`
- [x] `STL_Extension/include/CGAL/assertio

[2016-08-30 14:27] sloriot opened #1397 "Static variables in CGAL_Core package"
- [x] `CGAL_Core/include/CGAL/CORE/geom3d/point3d.h:171:static Point3d ORIGIN_3D(0.0, 0.0, 0.0);`
- [x] `CGAL_Core/include/CGAL/CORE/geom3d/point3d.h:172:static Point3d X_UNIT_3D(1.0, 0.0, 0.0);`
- [x] `CGAL_Core/include/CGAL/CORE/geom3d/point3d.h:173:static Point3d Y_UNIT_3D(0.0, 1.0, 0.0);`
- [x] `CGAL_Core/include/CGAL/CORE/geom3d/point3d.h:174:static Point3d Z_UNIT_3D(0.0, 0.0, 1.0);`
- [x] `C

[2016-08-30 14:30] sloriot opened #1398 "Static variables in Voronoi_diagram_2 package"
- [x] `Voronoi_diagram_2/include/CGAL/Voronoi_diagram_2/Dummy_iterator.h:72:    static value_type dummy_reference_static;`
- [x] `Voronoi_diagram_2/include/CGAL/Voronoi_diagram_2/Dummy_iterator.h:77:    static value_type dummy_pointer_static;`
- [x] `Voronoi_diagram_2/include/CGAL/Voronoi_diagram_2.h:256:      static Site_2 s;`
- [x] `Voronoi_diagram_2/include/CGAL/Voronoi_diagram_2.h:628:    stat

[2016-08-30 14:31] sloriot opened #1399 "Static variables in Bounding_volumes package"
- [ ] `Bounding_volumes/include/CGAL/Approximate_min_ellipsoid_d/Khachiyan_approximation_impl.h:608:    static int id = 0;`
- [ ] `Bounding_volumes/include/CGAL/Approximate_min_ellipsoid_d/Approximate_min_ellipsoid_d_debug.h:108:        static Logger instance;`
- [ ] `Bounding_volumes/include/CGAL/Approximate_min_ellipsoid_d/Approximate_min_ellipsoid_d_debug.h:211:        static Timer instance;`

[2016-08-30 14:32] sloriot opened #1400 "Static variables in OpenNL package"
- [ ] `OpenNL/include/CGAL/OpenNL/preconditioner.h:202:    static FullVector<T> work(0) ;`

[2016-08-30 14:33] sloriot opened #1401 "Static variables in SearchStructures package"
- [x] `SearchStructures/include/CGAL/Segment_tree_d.h:106:  static std::allocator<Segment_tree_node_t> alloc;`

[2016-08-30 14:34] sloriot opened #1402 "Static variables in BGL package"
- [x] `BGL/include/CGAL/boost/graph/graph_traits_CombinatorialMap.h:112:    static CMap* m = new CMap();`

[2016-08-30 14:35] sloriot opened #1403 "Static variables in Segment_Delaunay_graph_2 package"
- [x] `Segment_Delaunay_graph_2/include/CGAL/Segment_Delaunay_graph_hierarchy_2.h:373:    static int i;`
- [x] `Segment_Delaunay_graph_2/include/CGAL/Segment_Delaunay_graph_hierarchy_2.h:375:    static int i = 0;`
- [x] `Segment_Delaunay_graph_2/include/CGAL/Segment_Delaunay_graph_2.h:103:      static Site s;`
- [x] `Segment_Delaunay_graph_2/include/CGAL/Segment_Delaunay_graph_2.h:116:      static

[2016-08-30 14:36] sloriot opened #1404 "Static variables in Surface_mesher package"
- [ ] `Surface_mesher/include/CGAL/Surface_mesher/Profile_counter.h:35:          static CGAL::Profile_branch_counter NAME(Y); ++NAME;`
- [ ] `Surface_mesher/include/CGAL/Surface_mesher/Profile_counter.h:39:          static CGAL::Profile_branch_counter_3 NAME(Y); ++NAME;`
- [ ] `Surface_mesher/include/CGAL/Surface_mesher/Profile_timer.h:30:          static CGAL::Profile_timer CGAL_profile_timer_tmp

[2016-08-30 14:37] sloriot opened #1405 "Static variables in Linear_cell_complex package"
- [x] `Linear_cell_complex/include/CGAL/Linear_cell_complex_storages.h:68:    static Null_handle_type null_handle;`

[2016-08-30 14:37] sloriot opened #1406 "Static variables in Stream_support package"
- [x] `Stream_support/include/CGAL/IO/io.h:46:  CGAL_EXPORT static int mode;`
- [x] `Stream_support/include/CGAL/IO/io.h:52:    static int mode = std::ios::xalloc();`

[2016-08-30 14:38] sloriot opened #1407 "Static variables in Algebraic_kernel_d package"
- [x] `Algebraic_kernel_d/include/CGAL/Algebraic_kernel_d/Bitstream_descartes_E08_tree.h:61:    static Triangle my_pascal;`
- [x] `Algebraic_kernel_d/include/CGAL/Algebraic_kernel_d/Bitstream_descartes_E08_tree.h:172:    static Mn_cache mn_cache_;`
- [x] `Algebraic_kernel_d/include/CGAL/Algebraic_kernel_d/Bitstream_descartes_rndl_tree_traits.h:137:      static Self x = Self(kernel);`
- [x] `Algebr

[2016-08-30 14:38] lrineau commented on #1404
Those variables have to be `static`. In my opinion, our profiling tools are meaningless in a multi-threading run. But, if we want them to have a meaning, then the bug is in the profiling tools, that must use atomic variables so that they are thread-safe even when used from different threads at the same time.

[2016-08-30 14:38] #1404 closed

[2016-08-30 14:39] sloriot opened #1408 "Static variables in Optimal_transportaion_reconstruction_2 package"
- [x] `Optimal_transportation_reconstruction_2/include/CGAL/OTR_2/Reconstruction_triangulation_2.h:164:    static CGAL::Random rng;`

[2016-08-30 14:40] sloriot opened #1409 "Static variables in Convex_hull_d package"
- [x] `Convex_hull_d/include/CGAL/Regular_complex_d.h:625:static Point_d nil_point;`

[2016-08-30 14:40] sloriot opened #1410 "Static variables in Envelope_3 package"
- [x] `Envelope_3/include/CGAL/Env_sphere_traits_3.h:695:        static Alg_kernel k;`

[2016-08-30 14:41] sloriot opened #1411 "Static variables in Interval_skip_list package"
- [x] `Interval_skip_list/include/CGAL/Interval_skip_list.h:355:    static Compact_container<IntervalListElt<Interval> > compact_container;`

[2016-08-30 14:42] sloriot opened #1412 "Static variables in Point_set_processing_3 package"
- [x] `Point_set_processing_3/include/CGAL/internal/Rich_grid.h:256:  static int corner[8*3] = { 0, 0, 0,  1, 0, 0,  0, 1, 0,  0, 0, 1,`
- [x] `Point_set_processing_3/include/CGAL/internal/Rich_grid.h:259:  static int diagonals[14*2] = { 0, 0, //remove this to avoid self intesextion`
- [x] `Point_set_processing_3/include/CGAL/internal/Rich_grid.h:296:  static int corner[8*3] = { 0, 0, 0,  1, 0, 0,

[2016-08-30 14:42] sloriot opened #1413 "Static variables in Kernel_d package"
- [x] `Kernel_d/include/CGAL/Kernel_d/Vector__.h:95:  static allocator_type MM;`
- [ ] `Kernel_d/include/CGAL/Kernel_d/debug.h:42:static int debugthread=3141592;`
- [x] `Kernel_d/include/CGAL/Kernel_d/Matrix__.h:168:static allocator_type MM;`

[2016-08-30 14:43] sloriot opened #1414 "Static variables in Nef_3 package"
- [x] `Nef_3/include/CGAL/Nef_3/Visualizor.h:496:  static std::vector<Polyhedron>  polyhedra_;`
- [x] `Nef_3/include/CGAL/Nef_3/Visualizor.h:497:  static std::vector<std::string> titles_;`
- [x] `Nef_3/include/CGAL/Nef_3/SNC_indexed_items.h:42:    static int unique = 0;`

[2016-08-30 14:44] sloriot opened #1415 "Static variables in Combinatorial_map package"
- [x] `Combinatorial_map/include/CGAL/internal/Combinatorial_map_internal_functors.h:364:  static typename CMap::size_type res;`
- [x] `Combinatorial_map/include/CGAL/internal/Combinatorial_map_internal_functors.h:671:  static bool value;`

[2016-08-30 14:44] sloriot opened #1416 "Static variables in Cone_spanners_2 package"
- [x] `Cone_spanners_2/include/CGAL/Cone_spanners_2/Plane_scan_tree.h:185:        static iterator res;`
- [x] `Cone_spanners_2/include/CGAL/Cone_spanners_2/Plane_scan_tree.h:209:        static reverse_iterator res;`

[2016-08-31 10:48] afabri commented on #1414
I will not fix it for the Visualizer class.

[2016-08-31 14:53] afabri commented on #1403
@sloriot I would like to discuss with you the static in class  Project_site__2 in the file Segment_Delaunay_graph_2.h.

[2016-08-31 15:01] afabri commented on #1393
@lrineau   Should there be one default_random per thread?

[2016-08-31 15:31] afabri commented on #1379
@mhsaar   Is it ok to have one CACHE per thread?

[2016-09-01 10:57] afabri commented on #1387
I don't see where Counted_number.h is used.

[2016-09-01 14:55] afabri commented on #1414
@sloriot Why did you reopen it?

[2016-09-01 15:05] sloriot commented on #1414
Because #1421 is not yet merged

[2016-09-01 17:57] lrineau opened #1429 "Epick_d no longer compile on recent Debian testing"
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.9-Ic-141/NewKernel_d/TestReport_lrineau_Debian-Testing.gz

[2016-09-01 18:30] mglisse commented on #1429
The issue is in package Number_types. Beta versions of Eigen (which Debian decided to package, surprisingly) seem to require a new typedef in NumTraits. We can add `typedef Real Literal;` to all our specializations of NumTraits. Eigen developers seems to recommend deriving from `GenericNumTraits<Type>` instead. This is less likely to break on future upgrades, but on the other hand we won't notice

[2016-09-02 16:21] myirci opened #1431 "Problem with has_on predicate"
Hello,

When I run the program given below, I get the output as " 0 0 0 1 1 1", that is the predicate "has_on" does not work although I used Exact_predicates_inexact_constructions_kernel. When I changed the kernel to Exact_predicates_exact_constructions_kernel, then the output becomes "1 1 1 1 1 1" as expected.

Is this a bug or am I doing something wrong?

Thank you.

`#include \<iostream\>

#inc

[2016-09-02 16:30] lrineau commented on #1431
If the **construction of planes** are **inexact** then they do not pass exactly through the input points.

[2016-09-02 16:30] #1431 closed

[2016-09-02 16:49] myirci commented on #1431
Ok, Thank you.  Since the plane is not exactly constructed, the plane might not pass through its constructing points.

[2016-09-05 13:32] lrineau opened #1432 "to_double(NT, precision)"
Topic [Documenting and checking exactness of geometric primitives] at the CGAL developers meeting Zurich'16.

[Documenting and checking exactness of geometric primitives]: https://cgal.geometryfactory.com/CGAL/Members/wiki/Meetings/Zurich16#Documenting_and_checking_exactness_of_geometric_primitives

We want to implement an overload function of `CGAL::to_double()` where the second argument is the w

[2016-09-05 13:57] lrineau commented on #1432
For `CGAL::Quotient`, we have no way to guarantee a given precision.

[2016-09-05 14:23] lrineau commented on #1432
Question: do we always want to specify a relative precision? Maybe sometimes we would like an absolute precision.

[2016-09-05 15:11] lrineau opened #1433 "Documenting and checking exactness of geometric primitives"
_Section [Documenting and checking exactness of geometric primitives](https://cgal.geometryfactory.com/CGAL/Members/wiki/Meetings/Zurich16#Documenting_and_checking_exactness_of_geometric_primitives) of CGAL developers meeting a Zurich'16._
- Shall we document for `CGAL::Epick` the list of constructions that are known to be exact?
- Or document the representation of CGAL geometrical objects, in CGA

[2016-09-06 10:28] afabri commented on #1403
@sloriot   PR is ready, please double check

[2016-09-06 11:03] afabri commented on #1416
@sloriot   this seems ready to me; please check

[2016-09-06 12:25] lrineau commented on #1433
Michael (@HoffmannMichael) volunteered to make a proposal for the changes to be made in the CGAL manual.

[2016-09-06 15:53] afabri commented on #1388
@sloriot can you please check

[2016-09-07 11:46] #1327 closed

[2016-09-08 12:17] nschloe opened #1440 "create_new_release needs bash"
The file `Scripts/developer_scripts/create_new_release` says
[code]
but uses Bash functionality (like pushd). It should be
[code]

[2016-09-08 12:23] lrineau commented on #1440
Thanks.

How did you found out? Which shell can be used to check such things? Has bash a pedantic mode to warn about that?

[2016-09-08 12:25] nschloe commented on #1440
I simply ran it and it failed. `sh` points to `sh` on my machine, perhaps to `bash` on yours such that you never saw the error.

[2016-09-08 12:27] lrineau commented on #1440
Do you know which shell is `/bin/sh` on your system? What is displayed by `sh - -version` ?

[2016-09-08 13:34] nschloe commented on #1440
[code]
https://en.wikipedia.org/wiki/Almquist_shell (default Ubuntu/Debian).

[2016-09-08 13:41] lrineau commented on #1440
Thanks.

[2016-09-08 13:43] #1440 closed

[2016-09-08 19:03] lrineau commented on #1393
Honestly I do not know.

Probably per-thread. But in that case the most important thing is to document that fact.

[2016-09-09 22:40] sloriot commented on #23
See #1444 that removes the library configuration step if we're interested only by building the doc

[2016-09-12 06:53] sloriot opened #1445 "Random polygon generation issue"
The following examples shows an infinite loop while trying to generate a random polygon

[code]

[2016-09-12 07:54] HoffmannMichael commented on #1445
Is it because -73 appears twice?
(Or at least what is the point of having it twice?)

[2016-09-12 08:40] sloriot commented on #1445
I do not see any duplicated point.
This is an old bug report by a user.

[2016-09-12 09:16] HoffmannMichael commented on #1445
you're right, this copy_n_unique had me confused.
Should it be removed from the example program? I don't see the point of having this undocumented function exposed. In particular as that is the first thing (yet again) called in  random_polygon_2.

[2016-09-12 09:20] sloriot commented on #1445
Actually it is required to reproduce a particular sequence of _random_ points

[2016-09-12 12:46] lrineau opened #1447 "Support Intel Compiler 17 Beta"
For the moment, our test results with Intel Compiler 17 Beta are so bad that we have even stopped trying to support it.

I have filled a bug at Intel, with [this test case]:

[this test case]: https://gist.githubusercontent.com/anonymous/f373ddaadabbd33f6c95a451e0937fe7/raw

[2016-09-12 13:18] lrineau commented on #1429
So, what is the soiution?

Clément, Marc, have you decided anything since the last message? Both 4.9 and 4.8.2 should be published pretty soon (by the end of the week). We are on a tight schedule.

[2016-09-12 13:19] lrineau commented on #1145
This bug, filled several months ago, was originally scheduled for CGAL-4.8.2. I have the impression that nobody even consider it as a bug, but me. Should we close it or let it be in the pool of unscheduled issues?

[2016-09-12 13:20] lrineau commented on #1272
Efi, is there any chance that you will find a patch for this bug in the following two weeks?

[2016-09-12 13:38] afabri commented on #1145
I can add a table, where all types that need a CGAL wrapper around an openmesh type are an `unspecified_type`, as in the long run the specialization of `boost:graph_traits`  should be in the OpenMesh library.  It is still reasonable to have it in the manual for the categories.

[2016-09-12 13:41] lrineau commented on #1360
Actually, I found out that `<CGAL/hash_openmesh.h>` is a file that was added to CGAL-4.9, and was not in CGAL-4.8.x. I have re-assigned the bug to 4.9 instead of 4.8.2.

[2016-09-12 13:45] efifogel commented on #1272
Chances are slim.
It may require a significant change, and if so, significant testing would
also be needed.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On Mon, Sep 12, 2016 at 4:20 PM, Laurent Rineau <notifications@github.com>
wrote:

[2016-09-12 13:45] lrineau commented on #1447
The bug seems fixed with Intel Compiler 17 (non-beta, released recently). I will reactivate the compiler in our testsuite platforms...

[2016-09-12 14:08] lrineau commented on #1272
Ah! I did not know. In that case the changes of regression are significant. Let's schedule the fix for CGAL-4.10, then. Thanks Efi.

[2016-09-13 11:01] lrineau opened #1450 "CGAL header-only errors"
96 errors in the following testsuite, all of the form "undefined reference to <something in Boost>":

[code]

See for example https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.9-I-150/AABB_tree_Demo/TestReport_lrineau_Fedora-strict-ansi.gz

It is probably related to the feature of CGAL that allows not to use Boost.Thread with C++11.

This bug blocks CGAL-4.9.

[2016-09-13 16:02] lrineau opened #1453 "Compilation error of test/BGL/test_Has_member_clear.cpp on one platform (clang)"
@janetournois Compilation error of `test/BGL/test_Has_member_clear.cpp` on one platform:

https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.9-Ic-151/BGL/TestReport_lrineau_ArchLinux-clang-Release.gz
[code]

The bug seems to be only in the test files, and not in CGAL. Let's target 4.10.

[2016-09-13 16:04] lrineau commented on #1447
The bug seems fixed by the latest non-beta version of Intel Compiler 17. The results in https://cgal.geometryfactory.com/CGAL/testsuite/results-4.9-Ic-151.shtml are good.

[2016-09-13 16:04] #1447 closed

[2016-09-13 16:18] #909 closed

[2016-09-13 16:22] lrineau commented on #1145
Fixed by #1448.

[2016-09-13 16:22] #1145 closed

[2016-09-13 16:23] lrineau commented on #1360
Fixed by #1377.

[2016-09-13 16:23] #1360 closed

[2016-09-13 16:28] lrineau commented on #1429
This bug was initially targeting the milestone 4.8.2.

As the patch in #1452 is not so trivial, I wonder if it could be backported to CGAL-4.8.2.

@mglisse Do you think the modifications from #1452 applies smoothly on `releases/CGAL-4.8-branch`?

[2016-09-13 17:37] mglisse commented on #1429
The PR says: "mglisse wants to merge 2 commits into CGAL:releases/CGAL-4.8-branch from mglisse:Number_types-Eigen_Literal-glisse". Does that answer your question?

[2016-09-14 07:27] lrineau commented on #1429
Oops. My bad.. Thanks!

[2016-09-14 15:18] lrineau opened #1456 "CGAL::AABB_C3T3_triangle_primitive<Gt, C3T3> need work"
@afabri @maxGimeno:
 The PR #549 introduced a new documented class  [`CGAL::AABB_C3T3_triangle_primitive`][doc] as a side-effect of the PR. As far as I have seen, the class was not introduced in any feature, and its documentation was not reviewed.

[doc]: http://doc.cgal.org/latest/AABB_tree/classCGAL_1_1AABB__C3T3__triangle__primitive.html

I have actually comments on it, that will require the na

[2016-09-15 09:16] mglisse opened #1458 "Epick_d.cpp disabled on clang"
Clang, which identifies itself as gcc-4.2, skips the test Epick_d.cpp. Please improve the version check or revert the corresponding set of commits. Testing with clang is way more important than avoiding a red mark on a completely obsolete platform, on which people can still install redhat developer toolset 2.1 to get gcc-4.8 (rhel/centos) or clang (mac).

[2016-09-15 15:21] #1450 closed

[2016-09-15 15:29] lrineau commented on #1429
Fixed by #1452.

[2016-09-15 15:29] #1429 closed

[2016-09-16 08:39] #1458 closed

[2016-09-16 08:40] lrineau commented on #1458
Fix by #1464: by a use of `BOOST_GCC` from `<boost/config.hpp>` instead of reading `__GNUC__`.

[2016-09-16 08:57] mglisse commented on #1458
Thanks :-)

[2016-09-16 15:28] lrineau opened #1471 "Polyhedron demo: improve loading of raw images"
Suggested improvements in the loading of 3D RAW images.

  - [ ] check if the computed image size is the right one, compared to the actual size of the RAW file
  - [ ] the size of the image should taken into account the offset.
  - [ ] the fields of the dialog should have tooltips, in particular for the spacing, dimension, offset
  - [ ] if the workKind of the image is WK_FLOAT, then we know that

[2016-09-20 13:03] afabri commented on #1380
The function `remove_single_vertex()` has several static variables. My suggestion is to make these variables member variables of the class.  @MoniqueTeillaud, @sloriot  do you agree with that?

[2016-09-20 13:08] sloriot commented on #1330
I wrote a [script](https://github.com/CGAL/cgal/wiki/Scripts#add_toc_to_github_wiki_pagepy) to generate them. See

[2016-09-20 13:08] #1330 closed

[2016-09-20 13:36] afabri commented on #1445
I can reduce the point set to:

 -5 -7 -86 -73 7 -85 -9 5 -64 -96 39 56  -64 -38 -2 -16

[2016-09-20 13:58] cjamin opened #1475 "Documentation: links to demos (and dlls) are broken"
See http://doc.cgal.org/latest/Manual/packages.html

[2016-09-20 16:09] lrineau commented on #1475
I am working on it. I have uploaded all precompiled demo but the Polyhedron_3 demo (because the script collecting the demos was not updated on picasso.geometryfactory.com).

[2016-09-20 16:11] lrineau commented on #1380
In `<CGAL/Delaunay_triangulation_2.h>`, all those variables are thread-local.

[2016-09-21 08:28] afabri commented on #1380
ok, let's do it as for the non periodic Delaunay triangulation.
But I am wondering if there is not a conceptual mistake in both of them. These vectors only grow over time, even across several triangulation objects.

[2016-09-21 16:20] lrineau opened #1478 "Remove the pseudo package "Conic_2" from CGAL"
@afabri There exists a "package" Conic_2, that contains almost nothing and is never used. Please remove it.

**update:** my greps were wrongs. The `CGAL::Conic_2<K>` is indeed used by CGAL kernels, and even used by two algorithm packages, for `Min_ellipse_2` and a traits class of Arr_2.

[2016-09-21 16:27] afabri commented on #1478
$ grep  "Conic_2.h" -r */include
Bounding_volumes/include/CGAL/Min_ellipse_2/Optimisation_ellipse_2.h:#include <CGAL/Conic_2.h>
Kernel_23/include/CGAL/user_classes.h:#include <CGAL/Conic_2.h>

I guess the plan was to move it into the kernel.    Any idea @HoffmannMichael  ?

[2016-09-21 17:29] lrineau commented on #1478
The files are indeed included twice, and that is why my dependency checker found that package, but the class `Conic_2` is never used.

[2016-09-21 18:38] afabri commented on #1478
Cartesian_base.h  has an
#include <CGAL/ConicCPA2.h>

[2016-09-22 07:21] HoffmannMichael commented on #1478
Yes, this was supposed to go into the kernel at some point.
I guess that's not gonna happen

[2016-09-22 07:28] afabri commented on #1478
I suggest to dispatch the files to Kernel_23 Homogeneous_kernel, Cartesian_kernel.

[2016-09-22 08:14] lrineau commented on #1478
When yesterday I had check the content of the package, I had the impression that it was not used (headers included by kernels headers but not used), but I was wrong. I close this issue.

Andreas proposes to dispatch the headers to the normal kernel packages, and I agree. That is the subject of PR #1479 (that just popped up while I was writing this comment).

[2016-09-22 08:14] #1478 closed

[2016-09-22 14:36] afabri commented on #1399
I suggest to close this issue, as it is debugging code, which  one would do in a single thread anyways.

[2016-09-22 14:41] afabri commented on #1381
I suggest to drop this issue as it is about profiling/debugging/visualization.

[2016-09-23 06:17] #1399 closed

[2016-09-23 06:23] sloriot commented on #1381
I think some of them are not debug. I ticked those that are for debugging. `frame_default` is simply a constant that can be replaced at the only place where it is used.

[2016-09-23 10:35] lrineau opened #1483 "Triangulation_2 includes a file from Triangulation_3"
The three following files:
[code]
include `Triangulation_3/include/CGAL/internal/info_check.h`.

[2016-09-23 10:36] lrineau opened #1484 "A file from Generator (LGPL) includes a file from PCA (GPL)"
`Generator/include/CGAL/random_convex_set_2.h` includes `<CGAL/centroid.h>` from PCA!

[2016-09-23 10:38] lrineau opened #1485 "A file from BGL includes a file from T_2"
`BGL/include/CGAL/Triangulation_vertex_base_with_id_2.h` should be move to the `Triangulation_2` package.

[2016-09-23 10:53] afabri commented on #1483
I suggest to duplicate the file as it contains  10 lines, and as it is related to   `..with_info()`  which we only have in the triangulation classes.

[2016-09-23 11:08] lrineau commented on #1483
Let's move the file to `STL_Extension`, like `STL_Extension/include/CGAL/Has_timestamp.h`. It's almost the same usage.

[2016-09-23 11:09] lrineau commented on #1483
Or let's move it to Triangulation_2, as Triangulation_3 already depends on T2.

[2016-09-23 11:09] afabri commented on #1483
And let's rename it to Has_info.h

[2016-09-23 11:27] lrineau commented on #1483
Get_info.h actually.

[2016-09-23 13:04] afabri commented on #1483
As fist step moved it from T3 to T2, without any renaming, in the branch lrineau/Installation-compute_dependencies-GF

[2016-09-23 14:43] #1310 closed

[2016-09-23 14:47] lrineau commented on #1387
@sloriot @afabri Can you please check what has been "fixed" by PR #1375, check the corresponding checkbox at https://github.com/CGAL/cgal/issues/1387#issue-174031770 and maybe close this issue?

[2016-09-23 14:50] #1392 closed

[2016-09-23 15:10] afabri commented on #1387
PR #1375  only addresses that the relative precision of a `Lazy_exact_nt`  is now thread local and that this gets documented.

[2016-09-23 15:15] lrineau commented on #1387
OK, so this issue remains. Thanks.

[2016-09-26 07:54] afabri commented on #1485
Fixed by aff1a00c291035a577b57e3d31aea4e0c663449d, where I do the same for files that should be in the packages Polyhedron and HalfedgeDS

[2016-09-26 09:42] afabri commented on #1484
Should be solved by  510d550c8804ad7d934a4fee978771e7fafc41f3

[2016-09-26 12:22] janetournois commented on #1453
I think PR #1467 has fixed this error

[2016-09-26 14:31] lrineau opened #1492 "LCC (LGPLv3+) includes headers from Triangulation_3 (GPLv3+)"
The file `<CGAL/Linear_cell_complex_constructors.h>` from LCC (under LGPLv3+) includes:
[code]
from GPLv3+ packages. That breaks the license, making the file GPLv3. That also breaks a license checking feature we are trying to integrate into CGAL.

That header is documented in [Constructions for Linear Cell Complex](http://doc.cgal.org/latest/Linear_cell_complex/group__PkgLinearCellComplexConstruct

[2016-09-26 14:54] afabri commented on #1398
The Dummy_iterator only serves for concept checking

[2016-09-26 14:56] gdamiand commented on #1492
Thanks @lrineau for pointing that error, sorry for this mistake.
Note that it is also the same problem with Polyhedron_3.h.

First this concerns only Linear_cell_complex_constructors.h and not Linear_cell_complex.h itself which is nice.

I think the simplest solution is to move the file Linear_cell_complex_constructors.h from CGAL/include to CGAL/example.

Of course this could break backward compa

[2016-09-26 15:07] afabri commented on #1492
We had the same problem with `boost::graph_traits<CGAL:Polyhedron_3>` which was in the BGL package. The solution was to move the file from the BGL package to the Polyhedron package.  It then stays in `CGAL/include/CGAL/` that is there is not even a backward compatibility issue.

[2016-09-26 15:09] gdamiand commented on #1492
In my case, the file must be split in two parts : one part will go into T3 package while the second one will go into Polyhedron package.

[2016-09-26 15:13] afabri commented on #1492
If it is just file editing and moving, we can do that for you.

[2016-09-26 15:19] gdamiand commented on #1492
Ok nice, perfect. Thanks.

[2016-09-26 15:42] afabri commented on #1492
In fact, as soon as we split the file we have to document that users have to `#include` other files, that is we break backward compatibility a little bit.

[2016-09-26 15:55] lrineau opened #1494 "PMP includes one headers from Mesh_3"
`Mesh_3/include/CGAL/Mesh_3/dihedral_angle_3.h` is included by `<CGAL/Polygon_mesh_processing/internal/Hole_filling/Triangulate_hole_polyline.h>`.

The computation of the dihedral angle should be moved to a LGPL package, to avoid that dependency.

[2016-09-26 16:09] lrineau opened #1495 "A header from Ak_d (LGPLv3) includes a header from Arr_2 (GPLv3)"
`<CGAL/Algebraic_kernel_d/Curve_analysis_2.h>` from Algebraic_kernel_d (LGPLv3+) includes `Arrangement_on_surface_2/include/CGAL/Arr_enums.h` (under GPLv3+).

That breaks the license.

[2016-09-26 16:51] mglisse commented on #1492
That's an oversimplification. It is legal to have an LGPL file include a GPL file. The result is GPL, that's fine as long as the doc avoids misleading users. If a user explicitly builds a T3 and passes it to LCC, they are also directly using the T3 package, so they know they are using GPL code.
(you can still split/move the file, though putting it in the T3 package would likely require that LIRIS

[2016-09-26 17:01] mglisse commented on #1484
Why is that so bad? centroid.h is apparently LGPL, same license. Is there some new policy that packages are not allowed to use each other?

[2016-09-26 19:49] lrineau commented on #1484
The reason is https://github.com/CGAL/cgal/projects/1.

We want to find out and fix dependencies between packages.

[2016-09-26 19:50] lrineau commented on #1492
Of course you are right about me simplifying. It was on purpose.

And you are also right about the split/move of the file, that would require paperwork. We'll have to come up with a solution, if possible.

[2016-09-26 20:04] gdamiand commented on #1492
What about my solution ? (move this file in example). I am not sure many users use these functions...

[2016-09-26 20:40] mglisse commented on #1492
@gdamiand It is a bit sad to remove an interface for this kind of reason. If you think they are really useless, sure, move them to examples. But otherwise, I'd rather we find a general solution to this problem. If we have a policy that a package can only have 1 license and that an LPGL package cannot use a GPL package (even in an optional way?), we could always have 2 packages, LCC and LCC_GPL, wh

[2016-09-26 21:02] mglisse commented on #1484
My issue might be with the definition of "fix".
PCA is supposed to be a GPL package. However, it contains 3 LGPL files (including the one that defines centroids). You might want to split those 3 files to a "foundation" package if that helps. I am not convinced this commit is an improvement; sure, centroid.h is overkill, but 1 line is more readable than inlining a copy of the code for every use, an

[2016-09-27 06:55] afabri commented on #1484
I had not read the license header of centroid.h as for my little head it was a GPL package.
An extra package makes not really sense.
I am wondering if it would not make sense to add `centroid(), barycenter()`,  and `bounding_box()` to the Kernel, even if it deals with a range of input objects.

I never understood how `bounding_box()` made it into a package called _Principal Component Analysis_

[2016-09-27 07:16] mglisse commented on #1484
If the licenses / copyright make sense, the authors don't mind, and it doesn't interact badly with Barycentric_coordinates_2 or some other packages that might do something similar, that sounds good to me. Note that the kernel_23 package already has a mix of copyrights, some files belong to the Utrecht-ETH-Inria-MPI-Tel-Aviv group, others to just Inria or GeometryFactory. I don't know how far you w

[2016-09-27 07:18] HoffmannMichael commented on #1484
I don't like the idea of repeating code, however trivial, for the sake of license separation.
Moving the mentioned functions to the kernel makes sense and should not take away too much from PCA.

[2016-09-27 07:43] lrineau commented on #1492
I agree with Marc that it would be a lose to remove a useful header from the distribution of CGAL headers.

From the discussion, we can see that, even if the header is a member of LCC, it is more a way for triangulation users to use LCC, and does not mean at all that T_3 is a dependency of LCC. Let me remove that header from the scope of the dependency checking, and let's keep it where it is. Even

[2016-09-27 07:45] afabri commented on #1492
The split in several files  import_from_XX.h makes a lot of sense as it makes it much more modular, and as then the file name corresponds to the function name.

@gdamiand  If you want GeometryFactory rewrites these functions from scratch (and as a bonus we make them faster switching to hash maps) , so that there is no liris copyright header in the file.  There is no money to earn from these files,

[2016-09-27 08:08] afabri commented on #1495
More specifically this is about the `enum CGAL::Arr_parameter_space`   which has no explanatory text in the [reference manual page](http://doc.cgal.org/latest/Arrangement_on_surface_2/group__PkgArrangement2Enums.html#ga105a37ce7c8b8008c1b76ef5524c1998).

Questions to @efifogel and @ericberberich
- Can this be generalized to an enum that makes sense in more than the arrangement package? With anothe

[2016-09-27 08:11] mglisse commented on #1492
If splitting the file then marking the 2 that depend on Triangulation_3 or Polyhedron as exceptions in your scripts works for you, that seems good to me: the licensing situation is a bit clearer, without any awkward consequences. :+1:

[2016-09-27 09:09] afabri commented on #1391
@cjamin, @lrineau  :  What shall I do with `static Concurrent_mesher_config singleton;` ?

[2016-09-27 09:12] lrineau commented on #1484
I agree the functions and headers could be moved to the kernel package (if the legal matters do not object), but what about the documentation pages?

[2016-09-27 09:16] afabri commented on #1484
The documentation should also move.
In fact these functions exist there already, but just for a fixed number of arguments and not for a range.

Note also that we have functions `bbox_2()`and `bbox_3()` for ranges in the kernel.

[2016-09-27 09:20] cjamin commented on #1391
Depends on the purpose:
* If you just want to avoid thread-safety issues, I think it's okay as it is: there is no reason to change the configuration while running parallel meshing processes.
* If you want the user to be able to run several meshing processes in parallel with different configuration parameters, then you need to have one `Concurrent_mesher_config` instance per instance.

And consider

[2016-09-27 09:24] lrineau commented on #1475
I just uploaded the Polyhedron_3. I have also uploaded the Otr2 demo, it does not seem to be linked.

http://doc.cgal.org/latest/Manual/packages.html#PkgOptimalTransportationReconstruction2Summary

@palliez @cjamin, do you want to add the link to the demo in the package overview?

[2016-09-27 09:24] #1475 closed

[2016-09-27 09:26] cjamin commented on #1475
Sure, I think it would be nice.

[2016-09-27 09:40] lrineau commented on #1475
Then add a line similar to
[code]
in the package description. For the zip file, I have named it `otr2.zip`. For the title of the link, I let you choose.

[2016-09-27 09:43] afabri commented on #1383
@MoniqueTeillaud @pedro-machado-manhaes-de-castro
What is the status of the macros `CGAL_INTERSECTION_MAP_FOR_XMONOTONIC_ARC_WITH_SAME_SUPPORTING_CIRCLE` and `CGAL_INTERSECTION_MAP_FOR_SUPPORTING_CIRCLES`    ?
I am not sure that they are `#define`d in a testsuite.
I ask as I put the tables in thread local storage.

[2016-09-27 09:54] afabri commented on #1391
@sloriot Can you please check if it is _ready for testing_

[2016-09-27 10:24] #1453 closed

[2016-09-27 10:52] afabri opened #1498 "Documentation of Arr_curve_end"
The [manual](http://doc.cgal.org/latest/Arrangement_on_surface_2/group__PkgArrangement2Enums.html#ga29246893be4be2ad9a8fbc249f49f0b5)  says
  that `Arr_curve_end`   is used by models of the `ArrangementOpenBoundaryTraits_2` concept.

I can't find that in any model.

But I find another enum that has similar looking names in [Arr_algebraic_segment_traits_2](http://doc.cgal.org/latest/Arrangement_on_

[2016-09-27 11:57] lrineau commented on #1498
CC @efifogel

(Note for @afabri: "@efif" does not refer to anybody.)

[2016-09-27 12:11] efifogel commented on #1498
It appears in the geometry traits that are models of the
ArrangementOpenBoundaryTraits_2 concept, namely:

Arr_geodesic_arc_on_sphere_traits_2.h
Arr_linear_traits_2.h
Arr_polycurve_basic_traits_2.h
Arr_polycurve_traits_2.h
Arr_rational_arc_traits_2.h
Arr_rational_function_traits_2.h
Arr_tracing_traits_2.h

So, what is exactly the problem?

PS, indeed efifogel is my user name in github, bitbucket,

[2016-09-27 12:39] afabri commented on #1498
I do not see `Arr_curve_end` in any of the documentation of the models.

[2016-09-27 12:45] efifogel commented on #1498
Right. It's documented only in the concept.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On Tue, Sep 27, 2016 at 3:39 PM, Andreas Fabri <notifications@github.com>
wrote:

[2016-09-27 13:01] cjamin commented on #1475
Done in PR #1499

[2016-09-27 15:49] lrineau commented on #1388
Fixed by #1420.

[2016-09-27 15:49] #1388 closed

[2016-09-27 17:14] jpanetta opened #1501 "make_mesh_3 returns empty mesh for my domain with planar 1D features"
I'm using make_mesh_3 on a domain defined by a smooth signed distance function clipped to a cube. When I add add planar feature curves at the surface-cube intersection, make_mesh_3 often returns a complex with no cells.

I attached the simplest example I could get to fail (I couldn't reproduce the problem with a single clipped sphere or an assembly of axis-aligned cylinders). The example consists

[2016-09-28 10:30] afabri opened #1504 "Add functionality for Polyline item"
This is a feature request @maxGimeno
For a polyline item I would like to have statistics (shortest, longest, average segment edge length, # vertices)
And I would like to split it into the different polylines, put together in a group.

[2016-09-28 10:35] lrineau commented on #1501
Thanks for the detailed report. I am working on it now.

[2016-09-28 13:10] lrineau commented on #1501
I found out what happens. That was pretty surprising!

For the initialization of the triangulation, the code is in the file `CGAL-4.9/include/CGAL/make_mesh_3.h`, and the code is:
[code]

The function `init_c3t3_with_features` only create initial points on the feature curves, and the function `init_c3t3`, for an implicit domain, shots randoms rays from the center of the sphere, to find out input p

[2016-09-28 13:32] lrineau opened #1507 "test_meshing_polyhedron sometimes fails"
@cjamin

In [CGAL-4.10-Ic-8, with the Intel Compiler 17][*], the test `test_meshing_polyhedron` fails to run in the parallel mode: the number of elements is too different. That error pops up from time to time, in different columns. The compiler is not important: that probably depends on the seed only.

I have had already reported that issue several time. You told me that you do not want to modify

[2016-09-28 15:47] cjamin commented on #1507
Was it a discussion by e-mail? I can't find it and I don't remember it.
I only found [this discussion](https://github.com/CGAL/cgal/pull/559#issuecomment-166253704) but it seems I missed it (most likely because you did not use "@cjamin").

Actually, as you can see in the code, most of the bounds are already different in sequential and in parallel. This is not a bug: the parallel algorithm treats t

[2016-09-28 15:51] lrineau commented on #1507
OK, thanks.

[2016-09-28 16:01] #1256 closed

[2016-09-28 16:35] jpanetta commented on #1501
Great, thanks for fixing this so quickly and explaining what's happening--it may be a weird corner case, but it's happening all the time in my application!

[2016-09-28 22:03] gdamiand opened #1510 "Doxygen output documentation has duplicated entries"
See [CombinatorialMap](http://doc.cgal.org/latest/Combinatorial_map/classCombinatorialMap.html) concept.

All functions seems duplicated, note that only some of them are duplicated in their short version.

[2016-09-29 06:57] sloriot commented on #1510
fixed by a9840bf87c716fd0ec9159db70efc2392e8f6434

[2016-09-29 06:57] #1510 closed

[2016-09-29 07:34] MoniqueTeillaud commented on #275
Sorry for my late answer. I am not well organized for these emails through github, there are too many CGAL mailing lists to follow. I don't understand why we don't discuss such topics on cgal-develop and/or during CGAL developers meetings.
Andreas' comment is very general. How could I disagree with the general idea of improving examples...
However, we should be aware that not evey single function

[2016-09-29 07:39] MoniqueTeillaud commented on #34
Did we discuss it in Zurich?

[2016-09-29 07:44] MoniqueTeillaud commented on #1380
Just a naive comment: if we don't need something in 3d periodic triangulations, then it is not needed in 2d either.

[2016-09-29 07:59] afabri commented on #1380
If the same pattern shows up in PT3 it will be changed there as well, but in another PR.

[2016-09-29 08:10] lrineau commented on #34
No. Nobody added it in the list of topics. It will be in the next one.

[2016-09-29 09:30] afabri opened #1515 "Unify text of links to the Polyhedron demo in the package overview"
The **Windows Demo** entry of package descriptions for packages with plugins in the Poyhedron demo varies a lot.
We have to come up with either a unique text, or a pattern to apply consistently.
- See Polyhedral Surface
- Operations on Polyhedra
- Edit plugin of the Polyhedron demo

[2016-09-29 10:18] pedro-machado-manhaes-de-castro commented on #1383
These flags are actually not documented and should not yet be offered to the user.

Rationale: We tried an idea in order to spend memory to improve the computation time in cases where the exact computation would need to be done a lot of time, but it did not work out very well to improve speed. However, in the time where it was done, we dind't discard it, because we hoped that an other kind of tabl

[2016-09-29 11:33] gdamiand commented on #1510
Thanks @sloriot !

[2016-09-29 12:29] gdamiand commented on #1492
I agree that we can close this issue.

[2016-09-29 13:33] lrineau commented on #1501
I have modified your files, and pushed them to the [Gist lrineau/0b27e5024d368564ef834b5abfcc7add] (https://gist.github.com/lrineau/0b27e5024d368564ef834b5abfcc7add).

Cc @janetournois

[2016-09-29 13:47] afabri opened #1520 "Polyhedron demo plugins expecting points with normals"
... should check that the normals are not zero

I loaded a file of points with normals, run WLOP, run Poisson.  As WLOP sets the normals to NULL_VECTOR, Poisson hangs forever.

[2016-09-29 13:54] sloriot commented on #1520
Note that the class `Scene_points_with_normal_items` has a member function `has_normals()`.
I guess the pb was reintroduced when @sgiraudot merged the 3 reconstruction methods into a single plugin. IIRC, before poisson plugin was using this function in the `applicable()` function.

[2016-09-29 14:18] afabri opened #1522 "Polyhedron demo: selection widget must not stretch"
When there are 3 widgets and I remove one of them, the Selection widget stretches vertically. It should stay compact, and at worst add whitespace in its lower part.   @maxGimeno
![capture](https://cloud.githubusercontent.com/assets/3263539/18957715/674a000c-8660-11e6-87c8-44b23f0f2cfa.PNG)

[2016-09-29 14:55] MoniqueTeillaud commented on #1380
The question underlying my comment was: does the same problem appear in the 3d case as well?

[2016-09-30 05:18] sgiraudot commented on #1520
If the points don't have normals, they are computed before Poisson is called, so there's no regression introduced.

Andreas was talking about the case when the point set has normals (so `has_normals()` return `true`) but they are 0. It seems to me that the bug here is in WLOP: if it sets all normals to 0, it would make more sense to turn `has_normals()` to false.

[2016-09-30 07:09] sgiraudot commented on #1520
Okay, it turns out there are 2 bugs:
* WLOP should put `has_normals()` to false
* Poisson plugin should not only estimate normals but also orient them

I'm working on a fix right now.

[2016-09-30 07:54] MoniqueTeillaud commented on #1380
I just checked, I did not find any static variable in Periodic_3_Delaunay_triangulation_3.h
So, as already said above, I don't see a reason why static variables would be needed in the 2d case...

A basic question: You mention remove_single_vertex(), which does not seem to be documented. Is it used?

[2016-09-30 08:03] afabri commented on #1380
Divide and conquer. This pull request adresses the issue that static variables pose a problem when  two threads create each a 2D periodic triangulation.  I just make the code muti threading safe without thinking about if the code could be written differently.   Let's do that in a second step.

[2016-09-30 08:53] afabri opened #1526 "Polyhedron demo: Fix Erase All"
@maxGimeno

load a mesh
Select no object in the list of Geometric Objects

File -> Erase All does nothing

[2016-09-30 14:42] janetournois opened #1531 "Polyhedron demo : change radius of spheres in polylines graph"
The scenario
- Open a `file.polylines.txt`
- Right click on the item --> `Display corners with radius`
The radius I have choosen is too large (resp. too small), I want to change it
- Right click again --> `Display corners with radius`

Another set of spheres is drawn (a second one), with the new radius, but the initial ones remain.

Also, the `Corner spheres` sub-item cannot be removed from the Ge

[2016-09-30 14:49] lrineau commented on #1484
https://github.com/CGAL/cgal/commit/510d550c8804ad7d934a4fee978771e7fafc41f3 is a good fix for this issue, because it uses the abstraction of the geometry used in the Generator package:
  -  `typedef typename Traits::Sum             Sum;`
  -  `typedef typename Traits::Scale           Scale;`

[2016-09-30 14:49] lrineau commented on #1484
Will be fixed by PR #1530.

[2016-09-30 14:53] lrineau commented on #1483
Fixed by 91c6426 from PR #1530.

[2016-09-30 14:55] lrineau commented on #1485
Fixed by 7ff83d1, from PR #1530.

[2016-09-30 14:56] lrineau commented on #1494
Fixed by c58582b from PR #1530.

[2016-09-30 14:57] lrineau commented on #1492
Fixed by cf8c1a6 from PR #1530.

[2016-09-30 14:59] lrineau commented on #1495
Ping?

[2016-09-30 15:41] afabri opened #1532 "Kernel doc: Replace \sa with \HasModels and \isModel"
The kernel object man pages, e.g. for [`Point_3`](http://doc.cgal.org/latest/Kernel_23/classCGAL_1_1Point__3.html)  must use `\isModel` instead of `\sa`.   Similar for the concepts.

[2016-09-30 16:59] lrineau opened #1535 "Allow C++11/14 in given examples or demos"
https://cgal.geometryfactory.com/CGAL/Members/wiki/Meetings/Zurich16#.E2.9C.94_Allow_to_activate_C.2B.2B11_for_some_CGAL_demos

[2016-09-30 16:59] lrineau commented on #1535
Progress in:
* PR #1534 (allow examples to use C++11)
* PR #1533 (created CMakeLists will use C++14)

[2016-10-03 12:15] tarasboulba opened #1538 "Triangulation from 2D points that belongs to a regular meshgrid"
Hello,

Is there a way to accelerate the triangulation computation when the input points (2D points actually) belong to a regular meshgrid ? For example, I have a depth map where pixels are regularly spaced. I have an algorithm that identify significant pixels in this depth map (non coplanar points) and I use the CGAL delaunay triangulation (under Matlab 2010a) after removing the non-significant p

[2016-10-04 13:19] maxGimeno commented on #1531
Actually you can remove a Corner sphere by setting it's radius to 0 or less. I will add a tooltip to make it clearer.

[2016-10-04 14:00] lrineau commented on #1531
There is a bug: the old set of spheres is not removed. If you set the radius to 1, then 2, then 0, the display will show spheres with radii 1 and 2. One can see them all in wire mode.

[2016-10-04 14:21] maxGimeno commented on #1531
yes I know, this is the first bug Jane reported in this issue. Fixes following.

[2016-10-04 14:24] mglisse commented on #1258
Some links for reference:
https://github.com/CGAL/cgal-public-dev/tree/Periodic_2_triangulation_2-alpha-shapes-nkruithof
https://cgal.geometryfactory.com/CGAL/Members/wiki/Features/Small_Features/Periodic_alpha_2

[2016-10-04 14:26] maxGimeno commented on #1531
@lrineau It was actually the same bug than @janetournois  already reported: the list of spheres were not cleared as it should be, so nothing was erased. This is fixed with #1541

[2016-10-05 12:44] #1456 closed

[2016-10-05 12:44] #1190 closed

[2016-10-05 12:44] #1483 closed

[2016-10-05 12:44] #1484 closed

[2016-10-05 12:44] #1485 closed

[2016-10-05 12:44] #1492 closed

[2016-10-05 12:44] #1494 closed

[2016-10-05 12:44] #1532 closed

[2016-10-05 12:44] #1501 closed

[2016-10-05 12:53] lrineau commented on #1412
Fixed by #1418.

[2016-10-05 12:53] #1412 closed

[2016-10-05 12:53] lrineau commented on #1409
Fixed by #1423.

[2016-10-05 12:53] #1409 closed

[2016-10-05 12:54] lrineau commented on #1390
Fixed by #1424.

[2016-10-05 12:54] #1390 closed

[2016-10-05 12:55] lrineau commented on #1379
Fixed by #1426.

[2016-10-05 12:55] #1379 closed

[2016-10-05 12:59] lrineau commented on #1381
Fixed by #1488.

[2016-10-05 12:59] #1381 closed

[2016-10-05 13:00] lrineau commented on #1413
Fixed by #1490.

[2016-10-05 13:00] #1413 closed

[2016-10-05 13:01] lrineau commented on #1391
Fixed by #1491.

[2016-10-05 13:01] #1391 closed

[2016-10-05 13:02] lrineau commented on #1471
Note that PR https://github.com/CGAL/cgal/pull/1469 has just been merged into `master`. It improves the function `_readImage_raw()`.

[2016-10-05 13:03] lrineau commented on #1398
Fixed by #1493.

[2016-10-05 13:03] #1398 closed

[2016-10-05 13:05] lrineau commented on #1190
The Mesh_3 demo is now removed from `master`! :-)

[2016-10-05 13:06] lrineau commented on #1520
Fixed by #1525.

[2016-10-05 13:06] #1520 closed

[2016-10-05 13:10] lrineau commented on #1272
Fixed by #1487.

[2016-10-05 13:10] #1272 closed

[2016-10-05 13:12] lrineau commented on #1501
The fix from #1506 is now merged into `master` and in the release branch for CGAL-4.9.1.

[2016-10-05 14:08] afabri commented on #1405
Guillaume wrote me that this issue is solved by #1511

[2016-10-05 16:04] afabri opened #1546 "Polyhedron demo: Erase all - another problem"
In master:
- Load an off
- tet mesh it
- show tetrahedra
- Select "Intersection"
- File -> Erase All   ==> The program hangs

@maxGimeno please fix this

[2016-10-06 06:15] afabri opened #1547 "Periodic_triangulation: supress warning"
In a `switch` statement with a locate type, there is no `case` for `OUTSIDE_CONVEX_HULL`, as this makes no sense for periodic triangulations,  and as the enum comes from the non-periodic case.

clang issues a warning:

Shall we
- have another enum
- add a case and put as comment that it cannot happen, so that nobody cleans the code
- suppress the warning [like this ](http://stackoverflow.com/quest

[2016-10-06 07:31] sloriot commented on #1547
I close the issue this is related to #1540

[2016-10-06 07:31] #1547 closed

[2016-10-06 07:39] sloriot commented on #1538
General questions should be asked on the cgal-discuss mailing list. Issues are mainly meant for reporting bugs. You'll have a broader audience on cgal-discuss. If you post on cgal-discuss, you should give the order of magnitude of points kept vs points removed from the grid.

 See http://www.cgal.org/mailing_list.html

I close this issue.

[2016-10-06 07:39] #1538 closed

[2016-10-06 08:05] lrineau commented on #1546
If the bug is in CGAL-4.9, please fix it in a branch created from `cgal/releases/CGAL-4.9-branch` instead of `cgal/master`.

[2016-10-06 12:14] sloriot opened #1552 "Bug in Polytope_distance_d package"
The following example is not working:
[test.zip](https://github.com/CGAL/cgal/files/513660/test.zip)

It used to be in CGAL test files.
Bernd started the branch https://github.com/CGAL/cgal-public-dev/tree/Polytope_distance_d-Bernd but has no time for now to finish it as the fix is not trivial.

Original message:
[code]

[2016-10-06 16:01] lrineau opened #1554 "Mesh_3 bug: The surface of c3t3 has holes"
With the .cpp and the data shipped in https://gist.github.com/5e71e899c85b949487b0316e1f6e064b, one can see that the surfacic part of the c3t3 has holes.

The issue is that the circumcenters are not computed exactly, and results of queries to the domain oracle are not coherent.

I think (to be confirmed) that bug was not a bug before the commit fbf824c7113f6c9f3f9faf95cd8d458a596cc162 that merged

[2016-10-07 08:11] lrineau opened #1555 "Doxygen errors in LCC"
The merged PR #1530 has introduced Doxygen errors. I was not careful enough before the merge:
https://cgal.geometryfactory.com/CGAL/Manual_doxygen_test/CGAL-4.10-Ic-16/Linear_cell_complex.log

/home/cgal-testsuite/cgal_doc_build/CGAL-4.10-Ic-16/doc/Linear_cell_complex/CGAL/import_from_triangulation_3.h:7: Warning: unable to resolve reference to `Linear_cell_complex::ambient_dimension` for \ref com

[2016-10-07 08:50] cjamin commented on #1554
It is a bit far for me to remember. What changed in the code regarding these cached circumcenters?

[2016-10-07 09:18] lrineau commented on #1554
Before that merge, the computation of the dual was done by a call to `tr.dual(..)`, and that function was forwarding to `c->circumcenter()`, allowing the cell type to have a cache.

[2016-10-07 12:28] lrineau opened #1557 "New warning -Wimplicit-fallthrough of GCC 7"
There are new warnings in the testsuite:
https://cgal.geometryfactory.com/CGAL/testsuite/results-4.10-Ic-16.shtml, the two platforms named `Ubuntu-latest-GCC6`:
[code]

[2016-10-07 15:24] lrineau commented on #1554
I have tried this patch with hope but it was not sufficient:
[code]

[2016-10-07 15:34] cjamin commented on #1554
In my e-mails, I could find several discussion from 2012 between you, Mariette and Monique about the cached circumcenters. Seems that for regular triangulations, they were computed but not used...
You mention a branch you had at this time: Triangulation_3-regular_cell_base_with_circumcenter-GF
Not sure what happened to it...

[2016-10-07 15:44] lrineau commented on #1554
It has been merged into CGAL-4.5 (see [release notes]),  by e97506adb7ae27fa4aa10726813629db76262957. In the same release CGAL-4.5 the parallel version for Dt_3, Rt_3 and Mesh_3 was published.

[release notes]: http://www.cgal.org/2014/10/10/cgal-45/

[2016-10-10 09:18] VincentRouvreau opened #1559 "CMake variable CGAL_VERSION on CGAL-4.8, 4.8.1 and 4.8.2 is 4.8.1000"
We are using CGAL on an external project and we wanted to detect that CGAL version were strictly greater or equl to CGAL 4.8.1 (because of a bug fix).

We are also using CMake to compile, and we figured out that CMake variable CGAL_VERSION on CGAL-4.8, 4.8.1 and 4.8.2 is always 4.8.1000.
And the same for last version CGAL-4.9, where CGAL_VERSION is 4.9.1000.

This information comes from CGALConfig

[2016-10-10 10:17] lrineau commented on #1559
Indeed, there is a bug. The third component of the `CGAL_VERSION` is supposed to be `CGAL_BUGFIX_VERSION`. Can you try if the following patch would suit you?

[code]

Our CGAL-4.8.x branch is already fixed, after the publication of CGAL-4.9 and CGAL-4.8.2. I can fix it in CGAL-4.9.1 but not in CGAL-4.8.x.

What is the use-case? Your users install whatever version of CGAL and you want to be compati

[2016-10-10 10:44] lrineau opened #1561 "Fill the documentation of CGAL::dihedral_angle"
I have merged #1530 but I forgot that it included the addition of `CGAL::dihedral_angle` into the CGAL kernel.

Its [current documentation](https://cgal.geometryfactory.com/CGAL/doc/master/Kernel_23/namespaceCGAL.html#ab88c71fd1918c6b97134c39026da8f15) is:

That must be fixed ASAP!
@afabri @janetournois

Only `Kernel_23/doc/Kernel_23/CGAL/Kernel/global_functions.h` has been modified, so far, but t

[2016-10-10 11:43] VincentRouvreau commented on #1559
I can understand that you cannot fix it for 4.8.X and 4.9.
It is ok if it is fixed in 4.9.1.
I have tested your fix, and it works fine for me. Thank you for your reactivity.

That's it. The users install whatever version of CGAL, but all of my module will not compile in function of the version installed.

The bug I want to track is https://github.com/CGAL/cgal/issues/953
One of my module requires

[2016-10-10 11:44] sloriot commented on #1561
See also this small feature that we decided to closed as Mesh_3 was not using it anymore:
https://cgal.geometryfactory.com/CGAL/Members/wiki/Features/Small_Features/kernel_23_CADA_3

[2016-10-10 11:50] lrineau commented on #1559
For the bug #953, if "${CGAL_MAJOR_VERSION}.${CGAL_MINOR_VERSION}" equals "4.8" then you could search if a line of `include/CGAL/Kd_tree_node.h` matches `lower_low_val`.

[2016-10-10 11:51] lrineau commented on #1561
Compared to the small feature quoted above, the current code returns angles in degrees, instead of radians.

[2016-10-10 11:54] afabri commented on #1561
Let me add the documentation of the functor. It will also have ...
And I had planned to subcontract the ... to Jane -- without telling her.

[2016-10-10 11:56] janetournois commented on #1561
ok, just let me know when the PR is ready. I will check the "..."

[2016-10-10 11:58] lrineau commented on #1561
The documentation from the small feature is right (if you substitute "degrees" to radian":

 Precondition: a,b,c and a,c,d are not collinear

Maybe also change the name of parameters `(a, b, c, d)`.`

[2016-10-11 08:21] lrineau commented on #1555
@sloriot Do you understand the issue?  `Linear_cell_complex::ambient_dimension` is defined in `complex/doc/Linear_cell_complex/CGAL/Linear_cell_complex.h`. I wonder why the reference is not found.

[2016-10-11 09:22] lrineau commented on #1507
Fixed by #1508.

[2016-10-11 09:22] #1507 closed

[2016-10-11 09:25] lrineau commented on #44
Note that `<CGAL/Filtered_construction.h>` is now in `Filtered_kernel/include/` since #1530 was merged.

[2016-10-11 10:32] afabri commented on #1561
@lrineau  Note that I did myself what I had planned to be done by Jane, so it is ready for testing (at least for me)

[2016-10-11 13:32] #1555 closed

[2016-10-12 07:47] lrineau commented on #1557
I assign this issue to @afabri, who is chasing warnings today.

[2016-10-14 15:36] lrineau opened #1580 "CMake error when WITH_CGAL_Qt5 is set to ON then OFF"
Steps to reproduce, in a empty build directory:
- configure CGAL by default
- _do not compile_ yet,
- add `-DWITH_CGAL_Qt5=OFF`
- then compile CGAL libraries
- verify that the CGAL_Qt5 lib was not created,
- and then compile any CGAL program using the produced`CGALConfig.cmake`.
  That gives a CMake error about the imported target `CGAL::CGALQt5` being missing.

@CGAL/geometryfactory Can you pleas

[2016-10-14 15:43] afabri opened #1581 "Circular_kernel_2: Intel compiler"
We reduced the ICE of the Intel compiler to a [gist](https://gist.github.com/afabri/1985e8714ec55edc833e236bddcae0fc)

[2016-10-14 15:48] janetournois commented on #1580
Is building any of the examples of CGAL, with `CGAL_DIR=`the newly created build directory a correct test?

[2016-10-14 16:09] lrineau commented on #1580
Yes, that was supposed to allow to reproduce the bug.

... There was a typo in by first message: that must be  `-DWITH_CGAL_Qt5=OFF` and not ` `-DWITH_CGALQt5=OFF`.

[2016-10-17 07:58] janetournois commented on #1580
I had locally fixed the typo before testing

[2016-10-17 08:21] lrineau commented on #1554
Fixed by #1554.

[2016-10-17 08:21] #1554 closed

[2016-10-17 08:23] lrineau commented on #1559
Hi Vincent. The bug has been fixed in what will be CGA-4.9.1. By the PR #1560.

[2016-10-17 08:23] #1559 closed

[2016-10-17 08:26] lrineau commented on #1531
Fixed by #1541.

[2016-10-17 08:26] #1531 closed

[2016-10-17 09:04] #1127 closed

[2016-10-17 09:04] #1311 closed

[2016-10-17 09:04] #1248 closed

[2016-10-17 09:04] #260 closed

[2016-10-17 09:04] #1341 closed

[2016-10-17 09:04] #1471 closed

[2016-10-17 09:10] lrineau commented on #1402
Fixed by #1543.

[2016-10-17 09:10] #1402 closed

[2016-10-17 09:13] lrineau commented on #1405
Fixed by #1511.

[2016-10-17 09:14] lrineau commented on #1383
Fixed by #1497.

[2016-10-17 09:14] #1383 closed

[2016-10-17 09:33] lrineau commented on #1403
Fixed by #1427.

[2016-10-17 09:33] #1403 closed

[2016-10-17 09:36] lrineau commented on #1385
Fixed by #1425.

[2016-10-17 09:36] #1385 closed

[2016-10-17 09:37] lrineau commented on #1416
Fixed by #1422.

@sloriot, can you confirm?

[2016-10-17 09:37] #1416 closed

[2016-10-17 09:38] lrineau commented on #1414
#1421 is now merged.

[2016-10-17 09:38] #1414 closed

[2016-10-17 09:40] lrineau commented on #1311
This issue has been fixed by the merge of #1323. Thanks, Maxime.

[2016-10-17 09:41] lrineau commented on #1522
Fixed by #1549 in CGAL-4.9.1.

[2016-10-17 09:41] #1522 closed

[2016-10-17 09:42] lrineau commented on #1526
Fixed by #1549 in CGAL-4.9.1.

[2016-10-17 09:42] #1526 closed

[2016-10-17 09:42] lrineau commented on #1546
Fixed by #1549 in CGAL-4.9.1.

[2016-10-17 09:42] #1546 closed

[2016-10-17 13:23] afabri commented on #1397
@sloriot: Can we remove the subdirectory geom3d ?

[2016-10-17 13:44] sloriot commented on #1397
If you want but you'll need to also remove `CORE/geometry3d.h`. Or shall you simply want me to check the geom3d cases?

[2016-10-17 13:53] VincentRouvreau commented on #1559
Thank you !

[2016-10-17 14:34] lrineau commented on #1535
The cited pull-requests are now merged.

[2016-10-17 14:34] #1535 closed

[2016-10-17 19:40] TungTNguyen commented on #138
@lrineau : I got stuck in the same issue, and changed the float type to qreal as suggested by an user on Stack Over Flow.
You are the second who suggest that. But the issue persists. Another user on Git Hub told me that it's because of the version mismatch between C++ and lib qgl viewer.
What's your opinion?
Thanks in advance.

[2016-10-18 07:52] #1498 closed

[2016-10-18 08:49] afabri commented on #1396
Nothing to do for
- STL_Extension/include/CGAL/is_streamable.h
- STL_Extension/include/CGAL/Spatial_lock_grid_3.h
- STL_Extension/include/CGAL/Concurrent_compact_container.h
so you might shorten the above list.

[2016-10-18 09:18] lrineau commented on #138
@TungTNguyen I think you should open a new issue, with a precise description of your compilation issues:
  - which version of QGLViewer.
  - which version of CGAL,
  - which operating system,
  - which version of the compiler,
  - the details of the compilation error messages, and so on.

Nobody can debug any compilation errors without all that information.

If the code you compile is related to C

[2016-10-18 10:25] MaelRL opened #1590 "GraphicsView's Input / Ouput"
The `save` / `load` functions of the GraphicsView demos are (at least for the Triangulation-related items) often misleading.

For example, the constrained Delaunay triangulation demo only offers to save in .edg or .poly, but regardless of the choice, outputs through `<< cdt` which is a different output (the TDS'). Another example is that if you want to load a CDT, you have to save it as a `.cgal`

[2016-10-18 10:44] lrineau commented on #1590
I assign the bug to Andreas. I think he wrote those I/O.

[2016-10-18 12:09] afabri opened #1593 "Arrangement_2: Maybe a bug."
This [testsuite ](https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.10-Ic-25/Arrangement_on_surface_2/TestReport_lrineau_Ubuntu-latest-GCC6-Release.gz)

reports:

Arrangement_on_surface_2/test_rational_function_traits_2.cpp:250:5:   required from here
[include/CGAL/Arr_rat_arc/Rational_arc_d_1.h:1833:25](https://github.com/CGAL/cgal/blob/master/Arrangement_on_surface_2/include/CGAL/Arr_rat_ar

[2016-10-18 15:00] ericberberich commented on #1593
as the compiler writes replace && with &.... this->_info is used as a bitarray

[2016-10-19 06:53] afabri opened #1594 "Algebraic_real_d_1::refine_to() Is this a bug?"
We get the warning below in [this testsuite](https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.10-Ic-26/Algebraic_kernel_d/TestReport_lrineau_CentOS7-Release.gz):

but looking at the [code](https://github.com/CGAL/cgal/blob/master/Algebraic_kernel_d/include/CGAL/Algebraic_kernel_d/Algebraic_real_d_1.h#L312)  I am wondering if the function does what the documentation says, as it is const, I do

[2016-10-19 07:09] ericberberich commented on #1594
it eventually calls (in line 250):` this->ptr()->compare(*(y.ptr()), distinct); `, which sets the representation of the ref-counted object - which also explains that the const is fine.

[2016-10-19 07:14] ericberberich commented on #1594
You can probably rewrite it as:

`CGAL_assertion_code(CGAL::Comparison_result sl = ) compare_distinct(lo); (CGAL::LARGER  == sl);`
`CGAL_assertion_code(CGAL::Comparison_result sh = ) compare_distinct(hi); (CGAL::SMALLER == sh);`

(have not compiled it!)

[2016-10-19 10:22] akobel commented on #1594
[code]
Otherwise, I agree with Eric. Perhaps you should fake-use the output of `compare_distinct` when assertions are unused to prevent a warning. (I haven't compiled it, either.)

Explanation: The function will change the internal representation of the algebraic number (refine the boundaries of the interval that represents the number), but does not change the value and/or semantics of the number.

[2016-10-20 08:02] #1561 closed

[2016-10-20 08:02] #1504 closed

[2016-10-20 08:02] #1557 closed

[2016-10-20 08:04] lrineau commented on #1495
Fixed by #1584.

[2016-10-20 08:04] #1495 closed

[2016-10-20 08:08] lrineau commented on #1316
Fixed by #1565.

[2016-10-20 08:08] #1316 closed

[2016-10-20 09:44] lrineau opened #1598 "Our Jekyll web site does not work with Jekyll>=3"
Since April 2015, our web site is generated using Jekyll and Boostrap. It seems that it only works with Jekyll 2.x, and not with the recent Jekyll 3.x...

The task is try to reproduce the issue, and fix it.

The Git repository of our web site is the private repository https://github.com/CGAL/cgal-web. it is supposed to be restricted to CGAL editors, but I have added read access to all of GeometryF

[2016-10-20 10:43] afabri commented on #1594
Thank you for your explanations. I added the assertions.

[2016-10-20 11:10] lrineau commented on #1594
I reopen the issue. It will be closed as usual once the PR #1596 will be *merge* into `master`.

[2016-10-20 12:16] lrineau opened #1599 "BGL/include/CGAL/boost/graph/convert_nef_polyhedron_to_polygon_mesh.h does not compile"
@sloriot
[code]
The previous line is
[code]
Probably a missing `#include` for `CGAL_For_all`.

[2016-10-21 08:19] #1599 closed

[2016-10-21 16:04] MaelRL opened #1607 "Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/measure.h does not compile"
Missing an include to the global functions:
[code]

[2016-10-23 01:11] econoraptor opened #1610 "halfspace_intersection_3 doesn't construct polyhedron that satisfies level 1 is_valid()"
I noticed this in my own code, but it seems to also be true for the example: http://doc.cgal.org/latest/Convex_hull_3/Convex_hull_3_2halfspace_intersection_3_8cpp-example.html

Adding `P.is_valid(true, 1);` just before the return statement demonstrates that the polyhedron doesn't pass the is_valid check.

[2016-10-24 11:56] #1401 closed

[2016-10-24 11:56] #1594 closed

[2016-10-24 11:56] #1607 closed

[2016-10-24 11:59] lrineau commented on #1380
Fixed by #1600.

[2016-10-24 11:59] #1380 closed

[2016-10-24 12:01] lrineau commented on #1593
Fixed by #1595.

[2016-10-24 12:01] #1593 closed

[2016-10-24 17:18] lrineau opened #1615 "Use Gmpzf when Mpzf is not usable"
@mglisse @afabri

When `Mpzf` is not usable (32 bits), Marc says that we can now use `Gmpzf` instead of `MP_Float`. See
https://github.com/CGAL/cgal/pull/1548#issuecomment-255365331. Perf improvements are expected.

[2016-10-25 12:35] maxGimeno commented on #1580
I can't reproduce either. Maybe it is cache related.

[2016-10-26 11:59] mglisse commented on #1615
I don't think the perf improvement is very large, but it must have existed at the time or I wouldn't have bothered using it in Exact_ring_selector. The patch would just remove `defined(CGAL_HAS_THREADS) || ` there.

[2016-10-26 12:22] #1598 closed

[2016-10-27 08:25] lrineau opened #1622 "Add -DCGAL_PROFILE to check_headers"

[2016-10-27 09:20] sloriot opened #1624 "Add L-infinity distance for 2D and 3D points in the Kernel"
Add `Compute_L_infinity_distance_2` and `Compute_L_infinity_distance_3` into the Kernel.

See [here](http://doc.cgal.org/latest/Segment_Delaunay_graph_Linf_2/index.html#title0) for a definition.

[2016-10-27 09:41] sloriot opened #1625 "Add range support to access the ArrangementDcel"
Add range support for all [_Access Functions_](http://doc.cgal.org/latest/Arrangement_on_surface_2/classArrangementDcel.html). I guess const and non-const versions should be provided.

Here is an implementation example:

[code]

Here is a documentation example:

[code]

Note that the return type can be documented if `Prevent_deref` is.

[2016-10-27 17:02] gdamiand commented on #1415
Solved in the branch Generalized_map-gdamiand, but not yet integrated.

[2016-10-27 17:05] gdamiand commented on #1405
@lrineau Why you reopened this issue ? It is indeed fixed by #1511 and now integrated in master.

[2016-10-27 17:29] lrineau commented on #1405
By error! ☺️

[2016-10-27 17:29] #1405 closed

[2016-10-28 05:50] sgiraudot commented on #79
@janetournois ping :)

[2016-10-28 05:51] sgiraudot commented on #135
Was this issue solve by https://github.com/CGAL/cgal/pull/1551?

[2016-10-28 05:53] sgiraudot commented on #259
Without the file, we cannot reproduce the issue. I am closing it, please open another one if you find this bug again and can provide an example file.

[2016-10-28 05:53] #259 closed

[2016-10-28 05:54] sgiraudot commented on #271
@afabri Can we close this issue?

[2016-10-28 05:55] sgiraudot commented on #275
@afabri what is your opinion on that?

[2016-10-28 05:58] sgiraudot commented on #371
As no one suggested a better solution, I am closing this issue. Please open a small feature if you want to change the API.

[2016-10-28 06:05] sgiraudot commented on #257
Was this issue discusses at the last developer meeting? If so, what was the decision?

[2016-10-28 06:10] sgiraudot commented on #414
Is anybody able/available to take care of this issue?

[2016-10-28 06:12] sgiraudot commented on #415
Is this still a feature that we need? Do we know how faster this would make Mesh_3?

[2016-10-28 06:15] sgiraudot commented on #422
I see that https://github.com/CGAL/cgal/pull/451 was merged into `CGAL/master`. Does it solve this issue? Can we close it then?

[2016-10-28 06:17] HoffmannMichael commented on #371
It is still an issue and it is unresolved. So I don’t see what is gained by closing it.

On 28 Oct 2016, at 07:58, Simon Giraudot <notifications@github.com<mailto:notifications@github.com>> wrote:

As no one suggested a better solution, I am closing this issue. Please open a small feature if you want to change the API.

—
You are receiving this because you are subscribed to this thread.
Reply to t

[2016-10-28 06:19] sgiraudot commented on #488
What can we do to close this issue? Is deprecating the constructor with string the right solution? Who can take care of it?

[2016-10-28 06:23] sgiraudot commented on #502
According to this explanation, this memory usage is expected and not a bug (although I understand this might be a limitation of the algorithm). I am closing the issue, please open a pull request if a better solution that requires less memory can be proposed.

[2016-10-28 06:23] #502 closed

[2016-10-28 06:25] sgiraudot commented on #569
@lrineau what do you think of this issue?

[2016-10-28 06:33] sgiraudot commented on #595
Sorry for the delay. I re-ran my script and as far as I can see, there is only one remaining problematic file:

[code]

Everything else is gone.

[2016-10-28 06:41] sgiraudot commented on #611
Is this bug still in CGAL? @afabri, did you try anything with the files provided?

[2016-10-28 06:43] sgiraudot commented on #653
I'll take care of this.

[2016-10-28 06:45] sgiraudot commented on #731
@philaris Have you made any progress with these errors?

[2016-10-28 06:51] sgiraudot commented on #825
As far as I can see on the latest testsuite, the issue is still not solved.

On the #846 PR, @lrineau said:

(Next week was the developer meeting of last spring.)

What is the conclusion? Do we still need to compile the example plugin for the testsuite? Do we keep this issue opened?

[2016-10-28 06:52] sgiraudot commented on #861
@MoniqueTeillaud What is your opinion about this issue?

[2016-10-28 06:58] sgiraudot commented on #868
This issue has been also raised by other users.

After discussion with @afabri, it seems like a good solution would be to use a single function that has both parameters (the current `percentage_threshold` _and_ the new proposed `distance_threshold`). The function would remove as many outliers as needed so that both threshold are satisfied. This way:
- Putting `percentage_threshold=0` would allow t

[2016-10-28 07:09] mglisse commented on #135
Nope, #1551 did not change anything about this.

[2016-10-28 07:11] mglisse commented on #415
This seems strongly related to the "small" feature moving weighted points to the kernel. Once that is done, this will be a 3 character patch :smile: .

[2016-10-28 07:16] sgiraudot commented on #371
Alright, I'm reopening the issue but I don't see what is gained either by leaving an issue opened and not doing anything to solve it: this issue has been opened for a year with barely anyone participating. So far, the only proposition was from @afabri:

Which is, as @efifogel pointed, not a valid solution as it breaks the consistency within the [Straight Skeleton package](http://doc.cgal.org/lates

[2016-10-28 07:41] sgiraudot commented on #653
@afabri I can see 3 FT parameters in this function:
- `sharpness_angle`
- `edge_sensitivity`
- `neighbor_radius`

As far as I understand, your issue mainly refers to the first one which is anyway converted to a double in the code:

[code]

What about the other two? It seems to me that `edge_sensitivity` should be a double too. It's used there:
[code]
And it seems to me that this `dot_produce` shou

[2016-10-28 08:02] sgiraudot commented on #415
That's good news :)

[2016-10-28 08:03] lrineau commented on #271
I think we should open a specific issue about the issue in `Residue.cpp`. The problem is that `Residue.h` offer a variable in the exported API of the DLL, instead of using a function that would return a reference. The API has to be changed, because it was buggy even before we changed the implementation of our thread-local variables.

[2016-10-28 08:05] lrineau commented on #257
No, it has not been discussed during last developers meeting. Let's hope it will be during the next one.

[2016-10-28 08:09] lrineau commented on #1415
Let us know once your have a pull-request number. In the pull-request message, you can insert `fix #<issue number>`, like "fix #1415", and that will create cross-links between this issue and the corresponding PR.

[2016-10-28 08:18] lrineau commented on #415
I give the PR number, to create cross-links: #585.

[2016-10-28 08:32] lrineau commented on #868
A small feature is required, to communicate the proposal to other CGAL developers, and maybe improve the proposal during a discussion.

[2016-10-28 08:34] lrineau commented on #825
That topic was not raise during the last developers meeting (Zurich'16). I should be discussed between us (@maxGimeno).

[2016-10-28 08:42] lrineau commented on #569
I do agree with Philipp (@bo0ts). But we do not have the manpower to improve or rewrite those tools. There was some hope, in a branch started by Philipp (see #23) but the branch was including two different features, he left before both features were ready to be integrated. (@sloriot is also somehow involved in #23.)

[2016-10-28 08:44] sloriot commented on #569
Things are improving with the removal of dont_submit files. We are one step closer to generate the release with cmake directly.

[2016-10-28 08:45] lrineau commented on #488
#827 has removed the usage. We still have to deprecate the constructor, in the code and in the documentation.

[2016-10-28 08:47] lrineau commented on #569
For the records: the removal of dont_submit files was #1446.

[2016-10-28 10:39] MaelRL opened #1629 "Box_intersection_d duplicates"
In the package `Box_intersection_d`, the documentation says that the algorithm will return boxes intersections only once per pair of boxes, and that a box trivially intersects itself and thus is not reported either. The boxes carry an id such that this uniqueness is preserved.

In practice, this is not always the case: if one uses a `Box_d`, or a `Box_with_info_d` without specifying the `IDpolicy`

[2016-10-28 21:20] qnzhou opened #1632 "CMake bug on symbolically linked lib directory"
CGAL version: 4.9, download from http://www.cgal.org/2016/09/19/cgal-49/

CMake script break down when the $CGAL_DIR points to a symbolic linked dir on linux.

E.g. Assuming libCGAL.so is in `/usr/local/lib64`, and `/usr/local/lib` is a symbolic link to it.

The automatically generated file `/usr/local/lib/CGAL/CGALConfig.cmake` contains the following lines:

[code]

Which produced the wrong `CGAL

[2016-10-29 07:07] efifogel commented on #611
I believe it is. At least I'm aware of problems with the Bezier traits,
some of which are reported here.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On Fri, Oct 28, 2016 at 9:41 AM, Simon Giraudot <notifications@github.com>
wrote:

[2016-10-29 07:17] efifogel commented on #371
There is a problem.
BW, it's not only with offset_polygon_2(): A function called
intersection_2() exists in the Kernel and in the 2D Boolean Op. package.
There are 2 possible solutions I can think of: renaming and adding
namespaces (or both).
Introducing namespaces can be done globally to all package in a new major
version.

   ____  _        ____             _
  /_____/_) o    /__________  __  //

[2016-10-29 07:42] HoffmannMichael commented on #371
This is less problematic because the intersection operation is conceptually the same in both cases. Otoh, the two offset_polygons are quite different...

When we discussed the issue first, we thought that renaming the straight skeleton incarnation makes sense because this *is* a straight skeleton offset (i.e. very specific to the straight skeleton) rather than a polygon (which, of course, it also

[2016-10-29 07:56] efifogel commented on #371
On Sat, Oct 29, 2016 at 10:42 AM, Michael Hoffmann <notifications@github.com

Actually, they are not; the version in the "2D Regularized Boolean
Operations" is regularized (closure(interior(<the real intersection>)).

[2016-10-29 08:35] HoffmannMichael commented on #371
then maybe it should be renamed to regularized_intersection ?...

[2016-10-29 09:33] efifogel commented on #371
On Sat, Oct 29, 2016 at 11:35 AM, Michael Hoffmann <notifications@github.com

Yes, perhaps.
All functions there, and there are many, perform regularized operations.
Non have the "regularized_" prefix.
I think it would be better introducing a namespace. (Then, naturally, we
need to keep versions without athe namespace for some time for backward
compatibility.)

[2016-10-31 09:17] lrineau commented on #1632
@sloriot That is related to #1183, merged into CGAL-4.9. I think that should be fixed for CGAL-4.9.1.

[2016-10-31 09:42] lrineau opened #1634 "Compilation error of CGAL::polyhedron_3_to_nef_3 with CGAL_NO_DEPRECATED_CODE"
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.10-Ic-35/Nef_3_Examples/TestReport_lrineau_Ubuntu-Latest-NO_DEPRECATED_CODE.gz
[code]

This is related to the merge of #1466, and only show up with `-DCGAL_NO_DEPRECATED_CODE`.

[2016-10-31 14:18] lrineau opened #1636 "Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/self_intersections.h does not compile"
Related to #1628. After the merge of that PR, the file no longer compile in isolation:
[code]

[2016-10-31 14:46] MaelRL commented on #1636
Added a commit to the PR itself.

[2016-10-31 14:48] lrineau commented on #1636
Oops! I thought that PR was already merged! I close this issue. Thanks.

[2016-10-31 14:48] #1636 closed

[2016-10-31 15:11] lrineau commented on #1632
@qnzhou Can you please try the PR #1637? It should solve your issue.

[2016-11-01 06:55] afabri commented on #275
I will at last add an example where  one sees the API of Vertex and Face.

[2016-11-01 09:47] afabri commented on #488
In fact, just deprecating is not really a solution. We then need a constructor with  a `std::istream&` as parameter. And in this case as well, the constructor might fail, even if we can check before that the stream is valid. Here are some options:
- A valid stream is good enough.
- The class may get a function that it is valid, which may be tested after the construction.
- The constructor might th

[2016-11-01 10:49] afabri commented on #271
The exported symbol is not part of the documented API.  As the variable is a const double there is no need to make it atomic or thread local, and the header only code solves the problem.

[2016-11-01 12:51] afabri commented on #1306
I cannot reproduce it in master. Probably I did something wrong. Sorry.

[2016-11-01 12:51] #1306 closed

[2016-11-01 13:58] afabri commented on #1384
@efifogel, do you have an idea if the index in  Arr_circle_segment_traits_2.h should be per thread?
A related question is probably where the cache is, in case of caching switched on.

[2016-11-01 14:12] afabri commented on #1400
Is fixed in master, but I do not know via which PR.

[2016-11-01 15:25] afabri commented on #1406
The mode should be  `static CGAL::cpp11::atomic` but I have no idea how to initialize it. @lrineau can you please help me.

[2016-11-01 15:35] afabri commented on #1624
I consider it as really non-trivial to add a function to the kernel. Not that Maxime was not capable to  do it, but it needs a lot of reverse-engineering, as it is not documented at all.

It might make sense, that I add it, and that I at the same time keep track of what I did.

[2016-11-01 15:51] afabri opened #1645 "Polyhedron demo wait cursor"
@maxGimeno : I do not see a wait cursor when I do jet smoothing on a point set, although the function `QApplication::setOverrideCursor(Qt::WaitCursor)` is called right before the call to the smoothing function.

[Googling](http://www.informit.com/articles/article.aspx?p=1405544&seqNum=3) I found that the function `QApplication::processEvents()` might help, and it does.

This raises the following q

[2016-11-02 07:36] efifogel commented on #1384
I'm not familiar with code, but this is what I was able to gather:
The catch is stored in the traits object, so if a user wants to exploits
it, she must use the same exact traits object. For example, one can use the
same exact traits object to construct several arrangement objects.

I see no reason not to allow the construction of, say, 2 arrangement
objects in 2 different threads with one traits

[2016-11-02 07:46] efifogel commented on #1384
but I don't think the index must be static (just as the cache is not).

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On Wed, Nov 2, 2016 at 9:36 AM, Efi Fogel <efifogel@gmail.com> wrote:

[2016-11-02 07:46] sloriot commented on #1400
Fixed in #1587

[2016-11-02 07:46] #1400 closed

[2016-11-02 14:15] MoniqueTeillaud commented on #275
I am not convinced. The API of vertex and cell is not the hardest part of the API of T3, IMHO.
And even the basic example of T3 shows some/most of the API of vertex and cell:
  Vertex_handle v = c->vertex( (li+1)&3 );
  Cell_handle nc = c->neighbor(li);
  assert( nc->has_vertex( v, nli ) );
What else...?

[2016-11-02 14:19] lrineau commented on #1406
It certainly should not be atomic! That variable is supposed to be a constant, dynamically allocated using `std::ios::xalloc`. Make it `static const`, so that it is initialized before `main()` is called. See again:
http://en.cppreference.com/w/cpp/language/initialization#Non-local_variables

Well, there is an *implementation-defined* possibility that static variables are initialized at first use.

[2016-11-02 14:23] MoniqueTeillaud commented on #861
Well, I am afraid that I don't have much more to say than what I answered already:

Le Tuesday 31 March 2015 19:23:55 Monique Teillaud a écrit :

Then Laurent explained in more detail why there was a problem (see above), which I can understand. But I don't see how to update the IOs to work when the rebind mechanism is used to add info...

[2016-11-02 14:38] afabri commented on #1406
It is a non-const reference as it serves as getter and setter at the same time, because inside is the static variable.

[2016-11-02 14:39] MoniqueTeillaud commented on #135
I don't mind receiving emails for this issue, but I don't see how I could contribute...

[2016-11-02 14:48] lrineau commented on #1406
The only uses of `get_static_mode` are:
[code]
That is a getter. The only place were that variable is set is its initialization.
[code]

[2016-11-02 14:51] lrineau commented on #135
Monique, I think you can contribute, as a user:
-  if you save exact points from `CGAL::Epeck` in a file, would you expect that the file contains the exact values, or the best approximating floating-points numbers?
- if you reload the file, would you assume that the points are exactly the same. In particular, I you saved three collinear points, would you accept that after the saving/reloading they

[2016-11-02 15:11] MoniqueTeillaud commented on #135
I am a developer, but I am not using CGAL! ;) In any case, I am biased...
* I would expect to get a construction DAG (or something like that, adapted to the precise NT used by Epeck).
* I would want to get the same points after output and input. If not with the standard IO functions, then at least I would certainly want to be given a way not to lose my exact points.

[2016-11-02 15:20] afabri commented on #135
To store the DAG is unrealistic. The best you can get is the object with exact coordinates. And this is equivalent as  you would have got this too, if there had been a filter failure that would have evaluated the DAG exactly.

[2016-11-02 15:25] MoniqueTeillaud commented on #135
I guess that I would not really mind, as long as what I get is exact (and as long as I can understand what it is when reading the manual).
BTW, how do you output exact coordinates for Lazy_exact?

[2016-11-02 16:24] lrineau commented on #1624
Note that it was asked (without any priority) by a customer of ours.

[2016-11-02 16:43] afabri commented on #1396
On 02/11/2016 17:35, Marc Glisse wrote:

[2016-11-02 16:49] afabri commented on #1396
@sloriot  can you please check that all items are addressed, so that it could be added to a testsuite.

[2016-11-02 17:32] afabri commented on #1387
Nothing to do for Interval_nt, as it is a test whether GCC's -frounding-math option has been forgotten.

[2016-11-03 06:29] sgiraudot opened #1652 "Polyhedron demo: bad display when coordinates are large"
This is a known problem but I'm filling this issue so that we can keep track of it.

When loading an item that has "large" coordinates (what is the "large" limit is a gray area to me), the display looks bad: for example, with a point set, points flicker when moving the objects and look falsy "aligned" on a grid.

The solution I use for now is to recenter the object, but that's obviously not ideal:

[2016-11-03 06:34] sgiraudot opened #1653 "Polyhedron demo: point set selection display looks bad"
This is probably tightly linked with https://github.com/CGAL/cgal/issues/1652 but I'm filling a different issue as it might be solved differently.

When loading a point set with "large" coordinates (see https://github.com/CGAL/cgal/issues/1652), the polyline used to display the selection rectangle looks bad: most of the time, it's not even a rectangle and if feels like its hitting walls and stoppi

[2016-11-03 08:12] maxGimeno commented on #1652
I thougt of that but what I can't figure out for now is how to display several items in that case.  The space between them would be wrong.  Maybe a simple scale factor?

[2016-11-03 08:15] maxGimeno commented on #1653
I will do a fix for this issue using the second way in a short time.

[2016-11-03 08:45] sloriot commented on #1396
What should I check?

[2016-11-03 08:51] afabri commented on #1396
That you can tick the boxes

[2016-11-03 09:24] lrineau commented on #1652
I think we should consider sometime to translate the whole scene. We need:\

1. a way for the scene to decide that everything needs to be translated,
2. a way for the scene to communicate the wanted translation to all objects, so that they can recompute their OpenGL buffers with new coordinates,
3. to modify all the picking methods so that they take the translation into account.

Let's say the sce

[2016-11-03 09:47] janetournois commented on #1645
what do you want me to test? If I can see the wait cursor? or if `QApplication::processEvents()` has an impact? If so, where should it be added?

[2016-11-03 09:51] lrineau commented on #1645
My crystal ball told me that if `processEvent()` has any effect after an override of the cursor, that might be because you try to override the cursor from a non-graphical thread. I have not had a look at the code to confirm. Just my 2 cents.

[2016-11-03 09:53] afabri commented on #1396
Based on the mail discussion with Marc we do nothing for `Handle_for`.
Based on a private discussion with Laurent we do nothing for `Handle_with_policy` as it is used in code that is rarely used.

[2016-11-03 10:14] afabri commented on #1652
We should first find out if that is really important for us, and also ask users with such data how they do it in their current application.

[2016-11-03 10:17] #1634 closed

[2016-11-03 10:18] lrineau commented on #1632
Fixed by #1637.

@qnzhou Let us know if you still have similar  issues.

[2016-11-03 10:18] #1632 closed

[2016-11-03 10:29] lrineau commented on #1652
I have already reported similar issues in the paste, with OFF that have coordinates around 600000 (log2 is around 19, so only 5 bits of precision are left for the display): when we zoom, the display flickers a lot. That issue is on real data, that I have been using daily for several weeks.

[2016-11-03 10:32] janetournois commented on #1645
same pb on my machine (vs2015, Qt 5.7)

[2016-11-03 10:34] sgiraudot commented on #1652
I agree, it's definitely important to us, especially because we share our demo with customers who have such data sets that flicker.

[2016-11-03 10:55] maxGimeno commented on #1652
I thought we could find a way to "break" the double sent to the buffers into several ones and re-compute it in the shader, it would be far easier to implement but I fear for the performance. Plus it would have to be tested as I am not sure if the imprecision comes from the buffers or the shader itself, in such case this solution would be useless.

[2016-11-03 11:04] lrineau commented on #1652
Let's implement, if we do not have it, a plugin that recenter a bunch of `Scene_polyhedron_item`, and let's see if that solves the display issue when one zooms.

[2016-11-03 11:07] sgiraudot commented on #1652
For information, I already had made a plugin that recenters one `Scene_points_with_normal_item`: https://github.com/CGAL/cgal-public-dev/tree/Polyhedron_demo-Recenter-GF

(It's only for one item at a time and only a point set.)

[2016-11-03 14:06] afabri commented on #1624
@maxGimeno :  Can you please do the same for the 3D function, taking my PR as recipe.

[2016-11-03 14:08] sloriot commented on #1624
I suggest to do it in the same branch as documentation wise, the free function will be in the same group.

[2016-11-03 14:24] maxGimeno commented on #1624
I would need access to @afabri  's repository to do so.

[2016-11-03 17:27] philaris commented on #731
@sgiraudot Sorry for the late reply. Unfortunately, I have been busy and not able to make any progress since the last commit in the above branch, which is now at: https://github.com/CGAL/cgal-public-dev/tree/sdg-ptr-fix-philaris .

[2016-11-04 06:39] sloriot opened #1657 "Add nef to polygon soup"
Add a function to convert a Nef_3 to a polygon soup (compatible with pmp's functions). That way even if the nef is not a manifold surface, we can still export it. I guess we should also have a function to write a polygon soup to OFF (even if it is trivial).

I think it is rather trivial. Index vertices, then iterate over halffacets:
 -  if the facet is dangling (the volume mark on both side is ide

[2016-11-04 09:46] sgiraudot opened #1658 "Add a tag Parallel_if_available?"
When using parallelism with CGAL and TBB, if often find myself using the following piece of code to handle it:

[code]

Is it something that could be useful in CGAL? I understand that in some cases, one might want to execute some code in sequential mode even if TBB is present, but I'm pretty sure that in many cases, a user (like me) would simply want to activate parallelism as soon as TBB is avail

[2016-11-04 10:04] sloriot commented on #1658
See https://cgal.geometryfactory.com/CGAL/Members/wiki/Features/Small_Features/Patch_to_concurrency_in_CGAL

[2016-11-04 10:10] sgiraudot opened #1659 "Add simple functions to Poisson Reconstruction"
The Poisson reconstruction package is currently overly complicated to use. The [example](http://doc.cgal.org/latest/Poisson_surface_reconstruction_3/index.html#title4) is 400 lines long because there are lots of things the user needs to do to perform reconstruction (even defining by hand a bounding sphere).

Although I understand such a complicated API can be useful if the user wants to do somethi

[2016-11-04 10:17] lrineau commented on #1658
Simon, can you have a look at the discussion about the latest proposal of the small feature? Tell us if you approve the choices we made in the last proposal.

And next step will be to actually implement the proposal.

I Cc. @cjamin who is involved in the discussion as well.

[2016-11-04 10:36] sgiraudot commented on #1658
The proposal looks good to me and is indeed what I had in mind. It's also clearly an improvement to generate an error if `CGAL::Parallel_tag` is given without TBB available (that's already the case in `Point_set_processing`, I took care of that a while ago using static assertions).

I'm not a fan of the chosen names though:
- `CGAL_TBB_IS_AVAILABLE` is definitely better than `CGAL_LINK_WITH_TBB`,

[2016-11-04 10:50] sloriot commented on #1658
Note that we could rename `CGAL_EIGEN3_ENABLED` to `CGAL_EIGEN3_IS_AVAILABLE` with a backward compatibility `#define` somewhere. I also prefer the `_IS_AVAILABLE` suffix

[2016-11-04 10:50] sloriot commented on #1658
Note that we could rename `CGAL_EIGEN3_ENABLED` to `CGAL_EIGEN3_IS_AVAILABLE` with a backward compatibility `#define` somewhere. I also prefer the `_IS_AVAILABLE` suffix

[2016-11-04 10:50] sloriot commented on #1658
Note that we could rename `CGAL_EIGEN3_ENABLED` to `CGAL_EIGEN3_IS_AVAILABLE` with a backward compatibility `#define` somewhere. I also prefer the `_IS_AVAILABLE` suffix

[2016-11-04 14:28] cjamin commented on #1658
I prefer the `_IS_AVAILABLE` suffix too. The other suffixes currently used in CGAL have always confused me.

[2016-11-04 14:30] mglisse commented on #1658
Or `CGAL_USE_TBB` and `CGAL_USE_EIGEN3`? (like zlib, ntl, gmp, etc)

[2016-11-04 14:37] cjamin commented on #1658
That's exactly the kind of names I find confusing. But maybe it's just me...

[2016-11-07 10:31] lrineau opened #1662 "Reading of simple SEP file in the 3D demo"
@maxGimeno

In the [gist 5edcb227f3d2e24333359867c5253959] you can find a header file, and a very simple .cpp file, showing how to read simple [SEP] files. Can you please integrate that in the list of gray-level image file types that can be read by the demo? I will send you a SEP privately, because I do not know where to find public example files.

[gist 5edcb227f3d2e24333359867c5253959]: https://

[2016-11-07 10:53] lrineau commented on #1662
A remark: the header file is completely mine. GeometryFactory owns the file, and we can choose its license.

[2016-11-07 16:57] lrineau commented on #1658
I agree with Clément: `CGAL_USE_TBB` is particularly confusing, because the code will actually use TBB features only if the `Parallel_tag` is used. That is why we come up with `CGAL_TBB_IS_AVAILLABLE`. All the `CGAL_USE_*` should probably be renamed, unless they are actually commanding the CGAL code to use the `*`.

[2016-11-07 20:04] mglisse commented on #1658
I don't understand your point. If I compile a program that does 1+1 with -DCGAL_USE_ZLIB, I don't expect the program will suddenly start compressing my addition. Besides, it is not true that the code will only use TBB if Parallel_tag is used, that's the whole point of this discussion, it will also use TBB with the Default_parallelism_tag. If you all want to use ugly long _IS_AVAILABLE names, go ah

[2016-11-08 08:51] sloriot opened #1666 "implement code coverage checking and try integrating it with github"
We can for example use https://codecov.io/

[2016-11-08 10:41] lrineau opened #1667 "Polyhedron demo: bugs in Scene_spheres_item"
I am using `Scene_spheres_item`, independently from a `Scene_c3t3_item `, and I have seen bugs:

  1. in the constructor of `CGAL::Sphere_3`, the second argument is the **squared** radius! In the code of `Scene_c3t3_item` and `Scene_spheres_item`, the second argument is treated as a radius (a distance).

  2. For memory efficiency, `Scene_spheres_item` should store an array of spheres+colors, inst

[2016-11-08 12:06] maxGimeno commented on #1667
How is it quadratic ? I thought the worst case was 2*N.

[2016-11-08 12:08] lrineau commented on #1667
You are right.

[2016-11-08 15:17] afabri commented on #271
@lrineau @sloriot   I think this  could get the status ready for testing.

[2016-11-08 16:49] lrineau commented on #271
Le Tuesday, November 8, 2016 7:17:43 AM CET
Andreas Fabri a écrit :

ready for testing.

I do not understand. This is an issue, not a pull-request.

[2016-11-08 16:52] afabri commented on #271
I had written, it, and 20sec later I removed it, but the mail was out. Sorry.

[2016-11-08 17:16] lrineau commented on #1652
With Google "openscenegraph large coordinates", I found:

http://forum.openscenegraph.org/viewtopic.php?p=52482#52482

OpenGL and systems with large coordinate values that would be an issue
with floats by using doubles in the Camera and internal Transform
nodes, and during the cull traversal accumulates the projection and
modelview matrices all in doubles maintaining the precisions as long
as poss

[2016-11-09 13:02] sutongkui opened #1676 "where can I find the .cpp file in CGAL"
I download the source code of CGAL in Github, but I just find the .h file,no .cpp, where can I get it? cause there is only declaration of function in the class of .h, but i want to see the source code of the function. Thanks. such as AABB_tree.h, but where is the AABB_tree.cpp?

[2016-11-09 13:05] lrineau commented on #1676
CGAL is a library of C++ templates, and that is why most of the code is in C++ headers. The .cpp files you can find in CGAL are examples and applications, in the `examples/` and `demo/` sub-directories.

Have a look at `<CGAL/AABB_tree.h>` and you will see that the code is there.

[2016-11-09 13:05] #1676 closed

[2016-11-09 13:15] sutongkui commented on #1676
yes,it is, but that's just examples and demos, what i want to find is the .cpp file corresponding to the .h file, such as there is a declaration of function  **get_nearest_point** in AABB_tree.h, but i want to know how it achieved, i mean its definition?

[2016-11-09 13:20] sutongkui commented on #1676
yes,it is, but that's just examples and demos, what i want to find is the .cpp file corresponding to the .h file, such as there is a declaration of function get_nearest_point in AABB_tree.h, but i want to know how it achieved, i mean its definition?

Thanks

Best!
Tongkui Su@smail.nju.edu.cn

From: Laurent Rineau
Date: 2016-11-09 21:05
To: CGAL/cgal
CC: Su Tongkui; State change
Subject: Re: [CGAL/

[2016-11-09 13:29] sutongkui opened #1677 "where can I find the .cpp file corresponding to .h file?"
I'm sorry to ask it again, The .cpp files I can find in CGAL are examples and applications, not the  .cpp file corresponding to .h file,  such as there is a declaration of function **get_nearest_point** in AABB_tree.h, but i want to know how it achieved, i mean its definition?

[2016-11-09 13:32] sloriot commented on #1677
duplicated issue #1676

[2016-11-09 13:32] #1677 closed

[2016-11-09 13:35] sloriot commented on #1676
As pointed out by @lrineau, the code is in the header file, mostly outside of the class `AABB_tree` in `CGAL/AABB_tree.h`. For example

[2016-11-10 08:55] #595 closed

[2016-11-10 09:38] afabri commented on #1653
It works on Windows/VC++

[2016-11-10 09:57] lrineau opened #1679 "Polyhedron demo: self intersections plugin should be applicable on a collection of surface"
For the moment, the self-intersection plugin only acts on the main selected item. It should be able to loop on all the surfaces of the selection, check them one by one, and then display the item of intersections, or a popup saying that none of the selected surfaces self-intersect.

... And that is pretty urgent: if you can do it this morning, that might help me a lot today.

[2016-11-10 15:53] maxGimeno opened #1680 "Polyhedron_demo : Create Point Set From Vertices"
When trying to create a point set from a polyhedron using the Point_set_from_vertices_plugin, there is an assertion that fails and the demo crashes.
To reproduce, simply load an off and click on Operations->Create Point Set from Vertices.

[2016-11-11 16:09] hstruebe opened #1683 "Compiler error using items with id and Polyhedron_3"
When using the [Polyhedron_items_with_id_3](https://github.com/CGAL/cgal/blob/f4a29597e4dd30f569eadab7cea6c395331b8b67/Polyhedron/include/CGAL/Polyhedron_items_with_id_3.h) model as Items in [Polyhedron_3]( https://github.com/CGAL/cgal/blob/f4a29597e4dd30f569eadab7cea6c395331b8b67/Polyhedron/include/CGAL/Polyhedron_3.h ) and then using the _set_halfedgeds_items_id_ function from Polyhedron_items_w

[2016-11-12 08:25] sloriot commented on #1683
You should use `CGAL::set_halfedgeds_items_id(P);`. I've submitted a PR fixing the doc.

[2016-11-13 02:12] kintel commented on #1657
I'd love to see a robust implementation of this.

As Nef_3 faces can have holes, you'd need to tessellate before creating a polygon soup. I've referenced some issues related to tessellation here: http://cgal-discuss.949826.n4.nabble.com/Nef3-Wrong-normal-vector-reported-causes-triangulator-crash-tt4660282.html

I have an STL implementation of this which is pretty robust, but the code is not pretty

[2016-11-14 07:45] afabri opened #1685 "Use -std=gnu++11 or -fext-numeric-literals to enable more built-in suffixes"
The red testsuite of the [2D Tiangulation demo](https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.10-Ic-47/Triangulation_2_Demo/TestReport_lrineau_ArchLinux-CXX14.gz) already says what is to do, but I don't know if and how that has to be fiddled into the CMakeLists.txt
See also [boost trac](https://svn.boost.org/trac/boost/ticket/9240) .  Maybe we simply have to upgrade boost?

[2016-11-14 10:30] afabri opened #1686 "Cone_spanners: pure virtual function called"
@ws4u @lrineau  In [this testsuite](https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.10-Ic-47/Cone_spanners_2/TestReport_lrineau_CentOS7-ICC-2016-Release.gz)    the Intel compiler complains abouut a pure virtual function called.

Is this a compiler bug, or a real one?   Should the virtual destructor of class `_Node` not be ` = 0;` ?  If I do that I get an unresolved external symbol with VC++

[2016-11-14 14:55] afabri commented on #1685
@lrineau can you please have  a look

[2016-11-14 17:17] lrineau commented on #1686
If might be a compiler bug, because the problem disappear with `-O2`, or with `-O3 -fno-inline`.

But there is something strange in the code. The backtrace, with `-O3 -g` is:
[code]

So the bug seems not related to `_Node` at all. That is in `Aff_transformationC2::operator()`.  do not understand how `Handle_for_virtual` works.

[2016-11-14 23:10] sloriot opened #1690 "Polyhedron demo: Cannot duplicate a point set"
The duplicate has 0 point

[2016-11-15 16:42] afabri commented on #1680
@sgiraudot do you have a PR for this issue?

[2016-11-15 17:13] fcacciola commented on #371
I almost missed this,

On Sat, Oct 29, 2016 at 6:33 AM, Efi Fogel <notifications@github.com> wrote:

would be the a reasonable solution.

But I'm not sure how to effectively go about this, in terms of backward
compatibity.

Best

--
Fernando Cacciola
SciSoft Consulting, Founder
http://www.scisoft-consulting.com

[2016-11-15 20:32] sloriot opened #1695 "Polyhedron demo crash in point inside polyhedron plugin"
Load the elephant, default point sampling. Select the points and the polyhedron, check _Outside_ and click _Select_.

I guess this is related to the set in `Point_set`...

[2016-11-16 07:25] sgiraudot commented on #1680
Fixed by https://github.com/CGAL/cgal/pull/1691.

[2016-11-16 07:25] sgiraudot commented on #1695
Fixed by https://github.com/CGAL/cgal/pull/1691.

[2016-11-16 08:39] lrineau commented on #371
If a namespace is introduced and we keep the names of functions and classes, using-declarations can be used to keep the backward-compatibility.

[2016-11-17 17:09] afabri commented on #1653
the fix

[2016-11-18 00:58] gdamiand commented on #1415
fix by #1697

[2016-11-18 09:54] lrineau commented on #488
Fixed by #1640.

[2016-11-18 09:54] #488 closed

[2016-11-18 09:55] lrineau commented on #271
#1641 fixed the last remaining issue.

[2016-11-18 09:55] #271 closed

[2016-11-18 09:56] #1394 closed

[2016-11-18 09:57] #1393 closed

[2016-11-18 09:59] lrineau commented on #1396
I think we can now close this bug. Maybe we should open another one for `Handle_with_policy`.

[2016-11-18 09:59] #1396 closed

[2016-11-18 10:00] lrineau commented on #1406
Fixed by #1651.

[2016-11-18 10:00] #1406 closed

[2016-11-18 10:01] #1389 closed

[2016-11-18 10:02] #1645 closed

[2016-11-18 10:03] lrineau commented on #1408
Fixed by #1664.

[2016-11-18 10:03] #1408 closed

[2016-11-18 10:04] #1653 closed

[2016-11-18 14:32] #1685 closed

[2016-11-18 14:34] mglisse opened #1700 "Assertion !is_zero(den) building an alpha shape"
#include <CGAL/Exact_predicates_inexact_constructions_kernel.h>
    #include <CGAL/Delaunay_triangulation_3.h>
    #include <CGAL/Alpha_shape_3.h>

    #include <fstream>
    #include <vector>

    typedef CGAL::Exact_predicates_inexact_constructions_kernel Kernel;
    typedef CGAL::Alpha_shape_vertex_base_3<Kernel> Vb;
    typedef CGAL::Alpha_shape_cell_base_3<Kernel> Fb;
    typedef CGAL::Triang

[2016-11-18 14:34] lrineau commented on #1685
That bug is due to a bug in gcc: [#77948].

 [#77948]: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=77948

The bug is triggered by the addition of `-std=c++14` (a strict C++14 mode) and `-std=gnu++11` (C++11 with the GNU extensions). The workaround from CGAL/cgal-testsuite-dockerfiles@1e929fe is to use `-std=gnu++14` to enable C++14 with GNU extensions.

[2016-11-20 11:01] More-Wrong opened #1703 "Openscad produces is_ccw_strongly_convex_2 assertion"
Fails when running Openscad 2015.03-1 under ubuntu 15.10
Cpu: Intel® Core™ i5-2500 CPU @ 3.30GHz × 4

When opening Openscad on a file containing the code below, Openscad will crash instantly, or if the code is pasted in, will crash on the first preview or render (f5 or f6).

Sample failing code:

      w = 10;
      t = 2;
      $fn = 20;
      hull(){
         translate([0,3*w/4]){
            ro