[2016-11-20 12:31] mglisse opened #1704 "to_double(Lazy_alpha_nt_3)"
Hello,

Lazy_alpha_nt_3 is a simplified version of Lazy_exact_nt just for alpha shapes. According to the documentation (http://doc.cgal.org/latest/Alpha_shapes_3/classCGAL_1_1Alpha__shape__3.html#a4f4f472d5f13900af9eb12d688d497e5) we can only access it through `approx()` and `exact()`. It also supports `operator<<` (undocumented). However, it does not support `to_double`, which is the usual way in

[2016-11-21 09:15] sloriot commented on #1703
I think you should first report this error to Openscad team as we have no clue how the CGAL code is used in there.

[2016-11-21 15:37] MoniqueTeillaud opened #1705 "improve CGAL feedback form"
[cgal-discuss] CGAL Feedback form
16 Nov 2016, at 12:57,
Patricio German Barletta Roldan <pbarletta@gmail.com> wrote:

Hi,
the question "6. Which Parts of CGAL Do You Use or Plan to Use?" only allows 1 answer. I think this kind of question may have many aswers.

Regards

[2016-11-21 15:49] afabri commented on #1705
fixed

[2016-11-21 16:09] #1705 closed

[2016-11-21 16:21] lrineau opened #1706 "IDs (displayed with CTRL+I) are not refreshed after an Euler operations"
I have tried to display the IDs, using <kbd>Ctrl+I</kbd>, and at the same time use Euler operations on the polyhedron, to add a face to the border. After the Euler operation succeeded, the IDs were not refreshed.

[2016-11-21 16:22] lrineau opened #1707 "hole filling should allow to select a border by a selection of edges"
Request for enhancement: make the hole filling plugin accept a selection of edges as hole.

[2016-11-21 16:24] sloriot commented on #1707
What's the point? If you have a hole and the whole cycle is detected and you can simply selected it.

[2016-11-21 16:27] lrineau commented on #1707
Try the hole filling on the data `e.off` I just send you. You will see that the detect of holes is problematic because the hole we want to fill is joined with the boundary of the surface. If the hole was a selection, the hole filling would work.

[2016-11-21 17:02] janetournois opened #1708 "Improvements for PMP::isotropic_remeshing"
We should

- [ ] deal with the fact that `Patch_id_pmap` may not have been initialized in the Polyhedron demo
- [ ] add vertices attached to constraints forming a sharp angle as constrained vertices
- [ ] generalize the smoothing iteration of isotropic remeshing: integrate the current smoothing used by istropic remeshing into PMP::smooth_mesh and conversely, use PMP::smooth_mesh to improve the qua

[2016-11-22 13:02] sloriot commented on #1707
I think it is a _bug_ in the hole filling plugin. Using the deformation plugin I edited your model and we cab see 4 different cycles of border halfedges, thus 4 differents holes. I put bug in italic because with this data set, I'm pretty sure `is_valid()` will return false for this polyhedron.
[e-mod.off.zip](https://github.com/CGAL/cgal/files/606389/e-mod.off.zip)

[2016-11-22 14:51] lrineau opened #1711 "Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/triangulate_faces.h does not compile with check_hdr"

[2016-11-22 14:52] lrineau commented on #1711
See details at https://github.com/CGAL/cgal/pull/1682#issuecomment-261559454.

[2016-11-23 10:05] sloriot opened #1714 "Remove CGAL/boost/graph/Graph_geometry.h"
@afabri  It seems to me this file is no longer needed now that we have the PMP functions, right?
It is included in `BGL/test/BGL/test_graph_geometry.cpp` and `BGL/doc/BGL/Doxyfile.in`.

[2016-11-23 11:04] maxGimeno opened #1716 "Isotropic_remeshing : problem with vertex_is_constrained_map"
In the doc for isotropic_remeshing, it is written for vertex_is_constrained_map that its type is a class model of ReadablePropertyMap.
 The problem is that a "put()" function is still required, or else the code won't compile.
 @janetournois is the doc wrong or is this a bug in Isotropic_remeshing ?

[2016-11-23 12:50] maxGimeno commented on #1716
There is also a problem with "protect_constraints" : in the doc, it only says that it will protect the constrained edges, but in reality it also protects the constrained vertices.

[2016-11-23 13:12] maxGimeno commented on #1716
There is also a problem with "protect_constraints" : in the doc, it only says that it will protect the constrained edges, but in reality it also protects the constrained vertices.

[2016-11-23 13:14] lrineau commented on #1716
Jane, if the bug is in CGAL-4.9, create a PR against it, otherwise, target `master`.

[2016-11-24 01:52] kintel commented on #1703
This looks like a CGAL bug. I'll try to toss together a minimal example later, but here's the gist of it:
[code]

..where points are these 2D vertices:
[code]

...which this stack trace:
[code]

[2016-11-24 04:54] kintel commented on #1703
Here's a reproducible minimal test case:
I've made minimal changes to `examples/Convex_hull_2/iostream_convex_hull_2.cpp`.

Run like this: `./iostream_convex_hull_2 < input.txt`

NB! To reproduce you need to compile the example _without_ the `-DNDEBUG` flag.

Source:
[code]

input.txt:
[code]

PS! We need to build without `-NDEBUG` in production to be able to catch certain CGAL errors, in order to

[2016-11-24 08:18] sloriot commented on #1703
You should read this FAQ [entry](http://www.cgal.org/FAQ.html#inexact_NT).

Replacing the kernel type with `CGAL::Exact_predicates_inexact_constructions_kernel` fixed the error.

[2016-11-24 08:18] #1703 closed

[2016-11-24 08:31] sloriot commented on #1700
If you use the default Alpha-shape with inexact constructions, alpha values are constructions and the class cannot be safely used. If you use a Kernel with exact constructions or set the `ExactAlphaComparisonTag` to `Tag_true` like in this [`example`](http://doc.cgal.org/latest/Alpha_shapes_3/Alpha_shapes_3_2ex_alpha_shapes_exact_alpha_8cpp-example.html) the error goes away. It is somehow document

[2016-11-24 08:31] #1700 closed

[2016-11-24 10:17] efifogel opened #1717 "Some combinations of intersections of circular kernel objest fail to compile"
The following combinations fail: Line_2, Line_2, Line_arc_2, Circular_arc_2, and Circular_arc_2, Line_arc_2.
The attached source can be used to reproduce the problems.

[intersecting_arcs.cpp.zip](https://github.com/CGAL/cgal/files/611012/intersecting_arcs.cpp.zip)

[2016-11-24 12:52] lrineau opened #1719 "Documentation error in PMP"
Doc bug introduced by #1638:
https://cgal.geometryfactory.com/CGAL/Manual_doxygen_test/CGAL-4.10-Ic-57/Polygon_mesh_processing.log

[2016-11-24 13:01] afabri commented on #1719
fixed

[2016-11-24 14:46] kintel commented on #1703
Thanks for the clarification. I hadn't expected convex_hull_2 to require an exact kernel, but good to know.

It actually looks like convex_hull_2 itself is stable with a cartesian kernel, but the postcondition check is not.

[2016-11-24 16:16] janetournois commented on #1716
This is a doc bug, and it's in CGAL-4.9, indeed.
I will create a PR for it asap.
Thanks @maxGimeno

[2016-11-25 10:02] afabri opened #1721 "VolumePlaneControl feature request for Polyhedron demo"
The planes and the intersection lines, as well as the sliders should be colored as shown.
I would like to have handles on the sides of the frames, so that I can slide them directly.

![volumeplanecontrol](https://cloud.githubusercontent.com/assets/3263539/20621358/7037d944-b2fe-11e6-98e1-5b3224cb71d4.png)

[2016-11-25 14:11] #1680 closed

[2016-11-25 14:11] #1690 closed

[2016-11-25 14:11] #1695 closed

[2016-11-25 14:11] #1719 closed

[2016-11-25 18:51] mglisse opened #1723 "Fuzzy_sphere::outer_range_contains always true for radius 0"
I noticed accidentally that, for a Fuzzy_sphere where radius=epsilon=0, outer_range_contains does not even look at the coordinates: distance and squared_radius are 0, the main loop is

    for (int i = 0; cit != end && (distance < squared_radius)...

so it exits immediately, and we end up with

    return (distance <= squared_radius);

meaning that this point contains all rectangles... This yields

[2016-11-28 10:09] afabri commented on #1610
The documentation of [`Polyhedron_3:is_valid(bool verbose, int level)`](http://doc.cgal.org/latest/Polyhedron/classCGAL_1_1Polyhedron__3.html#a8b0eb680b5e4bd3f172cad8f73da35c8) states that for  `level == 1`  the normalization of the border edges is checked too.  As `normalize_border()` has not been called you should not call the function with level 1, although I agree that one might assume that th

[2016-11-28 10:11] #1610 closed

[2016-11-29 13:23] maxGimeno commented on #1706
Actually it works, just keep in mind that CTRL+I only displays the ids of the selected item, if it is of type "Scene_print_interface_item". So you need to select the polyhedron_item, then get the focus back on the viewer, and only then you can use CTRL+I and it should work. At least it works for me.

[2016-11-29 13:29] sloriot commented on #1706
DId you explicitly call set id? Because if you create a need face or vertex, its id will not be set.

[2016-11-29 13:35] maxGimeno commented on #1706
The ids are reset every time you ask for their display.

Le 29 nov. 2016 2:30 PM, "Sebastien Loriot" <notifications@github.com> a
écrit :

[2016-12-01 07:49] #1683 closed

[2016-12-01 07:54] sloriot opened #1728 "Handling the last dont_submit files"
Follow up of #1446

Some `dont_submit` files are remaining:
- [x] `Installation` : 4 files related to the `changes.html` file
- [ ] `wininst` : some files are ignored. Can the whole directory be ignored?
- [ ] `Three` : Only the documentation,  while waiting for a review.
- [x] `Operations_on_polyhedra` :  will disappear soon with a merge of a small feature

[2016-12-01 15:27] #1411 closed

[2016-12-01 16:36] #1667 closed

[2016-12-01 16:41] #1662 closed

[2016-12-01 21:33] johndpope opened #1735 "CGAL_Qt5_FOUND returns false"
I ran

 brew install cgal
Warning: cgal-4.9 already installed

# using macports
#sudo port install cgal
#sudo port install cgal +qt5 +universal +demos # with the demos

presumably brew doesn't have cgal qt5 support?

[code]

I'm seeing CGAL_Qt5_FOUND returning false - and throwing error.

[2016-12-02 09:50] #1319 closed

[2016-12-02 11:11] afabri opened #1738 "Mesh_3: Rewrite placement of protecting spheres"
When creating a tetrahedral mesh for thepart-repaired.off [thepart-repaired.zip](https://github.com/CGAL/cgal/files/626993/thepart-repaired.zip) it looks as follows.

![thepart-repaired](https://cloud.githubusercontent.com/assets/3263539/20832007/17119654-b888-11e6-8a2d-c362f36fba80.png)

When zooming in one sees that the protecting spheres could be a lot larger than what we get now.
This is trigg

[2016-12-02 11:25] lrineau opened #1739 "We need a thread-aware CGAL::Timer"
Reminder: [`CGAL::Timer`] is supposed to measure the CPU time.

When the application spawns CPU-consuming threads, a call to `CGAL::Timer::time()` in any thread will report the CPU time of the whole process! Let's say a parallel algorithm spawns 10 threads that all consume about 1s of CPU time, and then call `CGAL::Timer::time()` to display the measurement of their consumption of CPU. Then, instea

[2016-12-02 13:05] afabri commented on #1386
@lrineau Do you think it makes sense to work on this issue?

[2016-12-02 13:11] lrineau commented on #1386
No: in a well-behaved application, the I/O should be done in a single dedicated thread. Let's postpone that until a user/customer complains.

Anyway the fix is rather simple: all those `static` variables could be made `static` and atomic. For all the `*format` variables, there would be extra code to use compare-and-swap atomic operations, and deal with the deallocation of unneeded data if two thre

[2016-12-02 13:47] afabri commented on #1395
There is nothing to do for the Profile counters. They use  `tbb::atomic` and a `tbb::concurrent_hash_map`.  To require TBB in order to profile across several threads is acceptable.

[2016-12-02 13:47] afabri commented on #1395
@sloriot Can you please check and tick.

[2016-12-02 13:57] afabri commented on #1387
@lrineau I  think it is ready for testing

[2016-12-02 13:58] afabri commented on #1382
@sloriot please check/tick and potentially declare ready for testing

[2016-12-02 13:59] afabri commented on #1397
@sloriot please check/tick and potentially declare ready for testing

[2016-12-02 13:59] afabri commented on #1407
@sloriot please check/tick and potentially declare ready for testing

[2016-12-02 14:48] afabri commented on #1723
You mean, you want at least find the point which has the coordinate of the center of the sphere?

[2016-12-02 15:04] mglisse commented on #1723
1) Indeed I would like to find the point which coincides with the center of the sphere. I can understand if you don't want to support it (maybe Fuzzy_sphere represents an open ball or something).
2) Most importantly, I do not want to find points which are far away, which is what CGAL currently returns...

[2016-12-02 15:25] #1704 closed

[2016-12-02 15:25] #1711 closed

[2016-12-02 15:42] lrineau commented on #1683
The documentation bug has been fixed by #1684, merged in the `master` Git branch. It will be in CGAL-4.10.

[2016-12-02 15:45] lrineau commented on #1410
Fixed by #1643 by Andreas.

[2016-12-02 15:45] #1410 closed

[2016-12-02 15:47] lrineau commented on #1384
The PR #1642 fixed some of the items. Is the list at the top of the discussion updated?

[2016-12-02 15:50] lrineau commented on #1716
Fixed by #1722.

[2016-12-02 15:50] #1716 closed

[2016-12-03 07:58] efifogel commented on #1739
Does boost::timer provide this functionality?
If so, I suggest to depricate CGAL::Timer.
I know that boost::timer is better in some other aspects.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On Fri, Dec 2, 2016 at 1:25 PM, Laurent Rineau <notifications@github.com>
wrote:

[2016-12-04 10:35] afabri commented on #1723
Thank  you for the bug report and fix.  Concerning point 1) above, it is the function `Fuzzy_sphere::contains(Point)` which at the end decides if a point is inside it or not.

[2016-12-05 07:38] sloriot commented on #1397
Which PR?

[2016-12-05 07:55] sloriot commented on #1395
It is not clear to me. For example I would have expected that for the macros CGAL_PROFILER, the static variables should be atomic. Then I'm not sure we need to make this pat of the library thread safe.

[2016-12-05 07:56] sloriot commented on #1386
Shall we close the issue then?

[2016-12-05 08:00] afabri commented on #1395
@lrineau suggested to make  the counter inside the static variable atomic, so that we profile across all threads, assuming that we want the total number of, say filter failures of orientation tests, and not the number of failures per thread.

[2016-12-05 09:15] lrineau commented on #1386
Let's close the issue until a real use case pops up.

[2016-12-05 09:15] #1386 closed

[2016-12-05 09:31] lrineau commented on #1395
It would be rather easy to have most of CGAL profilers thread-safe (profiling across all threads), but for the histogram counter. For the later one, we would need to use mutex/locks, or use a thread-safe map/dictionary, like the one provided by TBB.

[2016-12-05 10:11] lrineau commented on #1397
@sloriot: PR #1744

[2016-12-05 10:46] lrineau commented on #1714
Fixed by #1724.

[2016-12-05 10:46] #1714 closed

[2016-12-05 10:47] #1407 closed

[2016-12-05 10:48] lrineau commented on #1382
Fixed by #1732.

[2016-12-05 10:48] #1382 closed

[2016-12-05 10:53] lrineau commented on #1387
It seems this issue has been eventually fixed by #1734.

[2016-12-05 10:53] #1387 closed

[2016-12-05 15:25] ahu-carry opened #1746 "install CGAL and issue about libQGLViewer"
in the installation,when I do: qmake.exe nmake,,,I can't find the generated DLL files.
also the Command Prompt show these:

(too many so I choose a few words...)

C:\Program Files (x86)\Microsoft SDKs\Windows\v7.0A\include\GL/gl.h(1157) : erro
r C2144: 语法错误:“void”的前面应有“;”
C:\Program Files (x86)\Microsoft SDKs\Windows\v7.0A\include\GL/gl.h(1157) : erro
r C4430: 缺少类型说明符 - 假定为 int。注意: C++ 不支持默认 int
C

[2016-12-07 15:36] lrineau commented on #1739
I do not see where Boost provides per-thread CPU timers? Can you point out which Boost library offers such functionality?

[2016-12-07 15:40] lrineau commented on #1739
**update:** [Boost Chrono] has per-thread cpu clocks, and can be make header-only with the use of the macro `BOOST_CHRONO_HEADER_ONLY`.

[2016-12-07 15:41] gdamiand commented on #1739
@lrineau Could you give me an example where using a per-thread CPU timer is useful ?

Generally when we want to compare a parallel algorithm and a sequential one, we need to compare the real cpu time of both methods.

Having the thread cpu time does not give any information on the speed up of the parallel version.

[2016-12-07 15:46] lrineau commented on #1739
In an application, I have a collection of surfaces, and I compute pairwise intersections, using a parallel algorithm. Once an of intersection of a pair is computed, I would like to display the time spend to compute the intersection for those two surfaces. That is were I would need per-thread CPU time.

Even if we had per-thread CPU timers, we would still need the per-process CPU timers that we alr

[2016-12-07 15:54] gdamiand commented on #1739
In your example (compute pairwise intersections in parallel) I think what you want is the real timer i.e. the real time spend by this computation because this is the time which is interesting to compare regarding the sequential version.

If you compute the per-thread CPU time, since you have several threads what you will do with the different times: sum ? average ?

However for some debugging purp

[2016-12-07 16:03] lrineau commented on #1739
@gdamiand, in https://github.com/CGAL/cgal/issues/1739#issuecomment-265485367 wrote:

I actually do not want to compare sequential vs. parallel. I want to know which pairs of surfaces causes the algorithm to spend a lot of time, to try to understand why: I want to analyze the data, not the algorithm.

To compare sequential vs. parallel, I would use a real (wall-clock) timer, as you said. Actually

[2016-12-08 13:14] palliez opened #1754 "3D demo (Polyhedron_3) crashes while trying to open a large .ply file."
Versions: Using CGAL 4.9 64 bits, Polyhedron_3
OS: Fedora 24 x86_64
Processor: Intel Core i7-6820HQ CPU @ 2.70GHz x4
Memory: 32 GB
Graphics Card: Nvidia GM107GLM Quadro M2000M with 4GB of memory

Bug Description: When Polyhedron_3 is loading a very large point set with color attributes, from a .ply file (3.4Gb; 61,020,661 vertices) it crashes after 6 minutes,  and closes - nothing is rendered on t

[2016-12-08 14:57] afabri commented on #1754
With 4.9  you mean the latest public release. Did you try master?

[2016-12-08 15:20] afabri commented on #1754
@CedricPortaneri told me that he has the problem with master.

[2016-12-08 15:48] CedricPortaneri commented on #1754
PS: We suspect the way VBOs are handled  (the cutting in VBOs).

Note: For a big **mesh** (13M triangles) Polyhedron is way faster than Mashlab while Meshlab is even fast with this very large point set (The graphic card is quite impressive).

[2016-12-09 16:36] #1707 closed

[2016-12-12 08:06] afabri commented on #1717
What do you expect as coordinates for a default constructed point. And if their coordinates were 0, what do you expect a `CGAL::Line_2` to be when it is constructed from two points at the origin?
Should we add a precondition to the line constructor that the two points must be different?

[2016-12-12 09:17] #1285 closed

[2016-12-12 09:21] lrineau commented on #1723
Fixed by #1743.

[2016-12-12 09:21] #1723 closed

[2016-12-13 13:22] maxGimeno commented on #1754
Displaying triangles is faster than displaying points in our demo because there is no culling for points. This means that only visible triangles are actually displayed when all of the points are.

[2016-12-13 16:15] maxGimeno commented on #1754
The problem is caused by a Qt function. When we try to draw the normals, we need twice the number of points, times 3 times sizeof(double) and this number exceeds MAX_INT, and is given to a Qt function that requires an int. What we are about to do as a temporary workaround is use floats instead of doubles for displaying the point sets, as we are currently doing for the Polyhedrons. And one day I wi

[2016-12-14 01:34] alecjacobson commented on #42
I'm confused about whether the straight skeleton or polygon offsets can be computed using `CGAL::Exact_predicates_exact_constructions_kernel` (regardless of whether it's slow or currently working to switch the kernel).

First, am I correct that `CGAL::Exact_predicates_exact_constructions_kernel::FT` can represent rational numbers, but cannot represent irrational numbers like `sqrt(2)`?

If so, the

[2016-12-15 13:13] maxGimeno commented on #1735
Hello. You can check the path cmake is using for Qt5, maybe it is wrong ?

[2016-12-15 15:57] lrineau opened #1766 "BGL: improvement of `split_graph_into_polylines`"
If I have a graph that has attributes attached to edges, and not only to vertices, I would like to be able to get those attributes in the visitor used by `split_graph_into_polylines`.

Suggestion of implementation:
- in the copy of the graph, attach to each edge the `edge_descriptor` of the original edge,
- in `duplicate_terminal_vertices`, for each couple of `remove_edge`/`add_edge`, the attribut

[2016-12-16 13:10] beew opened #1767 "cmake does not find libQGLViewer on Linux"
Hi, cgal-4.9 and libQGLviewer-2.6.4, OS is Ubuntu 16.04

I tried to compile cgal with the command

[code]
or

[code]

and I added

[code]

But make demos always fail with

[code]
manipulatedFrame.h is in QGLVIEWER_INCLUDE_DIR=/home/bee/opt/libQGLViewer/include/QGLViewer

Both libQGLViewer and cgal are compiled against qt-5.5.1. cgal compiles without issue other than make demos.

The ccmake gui men

[2016-12-16 14:52] beew commented on #1767
Ok, solved it. changing

[code]

to just

[code]

works.

P.S

I also added

[code]
Not sure if that has an effect, also it is not necessary to

[code]

[2016-12-16 14:52] #1767 closed

[2016-12-17 13:26] xantares commented on #439
a dirty hack is available here to use mpir:
https://github.com/conda-forge/cgal-feedstock/blob/master/recipe/cgal-mpir.patch

[2016-12-18 10:22] mglisse commented on #439
@xantares Don't the VS builds of MPIR create a file gmp.h, in addition to mpir.h (for other builds, that requires `--enable-gmpcompat`)? Renaming all the includes seems wrong.

[2016-12-18 12:29] palliez commented on #1754
Thanks Maxime! I am glad you found the isssue.

[2016-12-18 17:10] palliez opened #1770 "Need extra properties in statistics..."
It is possible to compute statistics and list properties on polyhedral surfaces.
I think it would be important to also list:
- genus (trivial from Euler formula once we have components, boundaries, etc)
- stats per face
- size of bbox

[2016-12-18 21:04] xantares commented on #439
you're right, there's even a gmp library

[2016-12-19 03:17] edisongustavo commented on #439
I wouldn't recommend this flag `--enable-gmpcompat`.

I had problems with it on the past, where you can't have both installed at the same time due to the `gmp.h` file.

[2016-12-19 04:57] mglisse commented on #439
@edisongustavo Well, don't use it if you want to install GMP as well (in the same place), obviously. The name is pretty explicit that it is there for GMP compatibility, which is not as useful if you have the real GMP... My point was that for a client program that can use either GMP or MPIR, it makes sense to just include gmp.h and expect that to be available, either from the original GMP or throug

[2016-12-19 10:27] edisongustavo commented on #439
@mglisse I understand that reasoning, however, as this issue here shows, the compatibility is not that great.
For example, I've worked together with @xantares to [patch the CGAL source](https://github.com/conda-forge/cgal-feedstock/blob/master/recipe/cgal-mpir.patch) so that MPIR compiles and works with CGAL.

My point is that MPIR is not 100% compatible, so I think the flag does more harm than go

[2016-12-19 13:33] sloriot commented on #1746
The issue seems to be about compiling libQGLViewer. You should post directly there. I close the issue, feel free to reopen it if I missed something.

[2016-12-19 13:33] #1746 closed

[2016-12-19 14:22] mglisse opened #1771 "class vs struct in the doc"
In the doc, we get a random mix of struct and class. See for instance http://doc.cgal.org/latest/STL_Extension/group__PkgStlExtensionUtilities.html with 3 structs in the middle of many classes. I don't mind, but Monique complained about it in a review. Would it be easy to have the tools that build the doc show structs with the word "class"?

[2016-12-20 13:23] palliez opened #1774 "Feature needed: Hide cutting plane"
(For @maxGimeno ?)

I was unable to create a snapshot of a tet mesh where the cutting plane (grid) is hidden.
It would be very good to be able to hide it.

pierre

[2016-12-20 13:29] maxGimeno commented on #1774
If your master is up to date, you should be able to uncheck "show grid" in the context menu of your c3t3 item (right click in the list or shift right click on the item in the viewer).

[2016-12-20 13:33] palliez opened #1775 "Feature needed: selection from edges to facets"
A feature that would be very much needed: I have made a selection of edges: I would like to convert it into a selection of facets adjacent to these edges.. Or simply to create another facet selection from the current selected edges.

Motivation: to cleanup the surface mesh around holes when the geometry is very messy.

We can also imagine more general conversion operations, ie from edges to facets

[2016-12-20 13:45] maxGimeno commented on #1774
See #1477

[2016-12-20 13:45] #1774 closed

[2016-12-20 13:47] sloriot commented on #1771
I could do a post-processing but I don't really see the point either. @MoniqueTeillaud is it something really important for you?

[2016-12-20 17:40] afabri commented on #1771
We could unify it in the code, but it seems a bad idea to write `struct` in the code and `class` in the doc: When a user then forward declares it as `class`, some compilers warn about that it is a `struct`.

[2016-12-21 16:00] mglisse commented on #1771
Are there good reasons for a user to write a forward declaration of a CGAL class? I would be more worried about partial specializations (I don't know if those are also affected by the visual studio bug), which are required when providing a custom number type for instance.

[2016-12-21 19:05] palliez opened #1778 "Poisson reconstruction when points have no normals"
Poisson crashes when executed with point sets that have no normal attributes.
It would be nice to check and prevent execution.

[2016-12-21 21:06] lrineau opened #1779 "Fix our .travis.yml file"
Our `.travis.yml` triggers jobs that are too long to finish before the timeout.

The solution is to decompose our current jobs (g++ and clang++) into multiple shorter jobs.

[2016-12-22 10:15] lrineau commented on #1779
Actually, a full support a Travis would also add the building of demos and tests. But, before that, we will need a solution for the polyhedron demo, that by itself might require more than 50mn to build.

[2016-12-22 10:50] lrineau commented on #1770
What do you mean? I am pretty sure you do not want to add a piece of information for each face of the surface (non-practicle once the surface as more than hundreds of faces) , but I do not see how to interpret that differently.

[2016-12-22 10:58] lrineau commented on #439
@mglisse Do you think the CGAL project should try to support MPIR ? At least it seems easy to test it on Linux.

[2016-12-22 11:29] lrineau commented on #1771
@mglisse Do you consider that mix of `struct` and `class` as a bug, or it is only Monique who complained?

I agree with Andreas that we should not lie: if it is a `struct`, then it is not a `class`. You might want to forward-declare a struct,  a class, or a template from CGAL:
  - to specialize something on it without the need to include its full definition,
  - to break a dependency loop between

[2016-12-22 11:32] lrineau commented on #1735
Unfortunately, the CGAL project does not maintain the CGAL macport. You should fill a bug in the macports bug tracker.

[2016-12-22 11:32] #1735 closed

[2016-12-22 11:51] maxGimeno commented on #1778
In Master, if the point_set has no normals, we estimate them. With sphere_1K.xyz, I have no problem. Maybe you have a really old branch, or maybe the crash is in the normal estimation of your point_set ?

[2016-12-22 12:02] mglisse commented on #1771
I don't care about the mix of struct and class, Monique does.

Nope. struct and class can be mixed in any way you like, in standard C++. The issue was always a bug in Visual Studio, which illegally includes struct/class in name mangling. Clang's warning is to help you notice this before porting your code to windows.

In my case, those are inner classes (hard for forward declarations), documented a

[2016-12-22 12:17] mglisse commented on #439
Maybe... MPIR does seem popular with windows users, and I don't think it would be that much work. Using MPIR's GMP compatibility, the Gmpzf issue might be the only one that needs any source changes, and not even that if you get a snapshot from MPIR's github repository. On the other hand, I was scared when I saw some of the changes they made to gmpxx.h/mpirxx.h, and wouldn't want to sound like I am

[2016-12-22 15:56] lrineau opened #1780 "Segment_Delaunay_graph_Linf_2 testsuite does not compile without GMP"
Compilation error without GMP:

https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.9.1-I-168/Segment_Delaunay_graph_Linf_2/TestReport_cgaltester_x86-64_Darwin-13.0_Apple-clang-5.1_Release-LEDA-without-GMP.gz

[2016-12-23 12:46] neuronphysics opened #1781 "Installation problem: -- libCGAL_Qt5 is missing the dependencies: Qt5Svg Qt5 cannot be configured."
I am trying to install the latest version of cgal in a pc that I don't have root permission. When I run
`cmake .`
I am getting the following error

[code]
and inside CMakeCache.txt these things are missing

[code]
I will appreciate if I would get some suggestions about how to fix the bugs during installation!

[2016-12-23 15:44] sloriot commented on #1781
You can try the header only version (look for HEADER_ONLY in `CMakeCache.txt`) but this will simply delay the pb of missing dependencies you have to when you'll try to compile a demo.

[2016-12-23 15:45] sloriot commented on #1781
Or you can also do not compile `CGAL_Qt5`, which is what should be done by the `CMakeLists.txt` if some dependencies are missing

[2016-12-23 15:50] lrineau commented on #1781
Anyway, Qt5 missing is not an error: the message just says that CGAL_Qt5 will not be available. Without a full installation of Qt5, anyway you cannot use it.

[2016-12-23 15:51] neuronphysics commented on #1781
My `CMakeLists.txt` looks like this:
[code]
How can I compile it without `CGAL_Qt5`?

[2016-12-23 15:52] lrineau commented on #1781
Just do nothing and go on with the compilation. CGAL libraries but CGAL_Qt5 will be compiled.

[2016-12-23 15:53] neuronphysics commented on #1781
If I would like to install it without administrative privileges, what command line do I need to run?

[2016-12-23 16:00] sloriot commented on #1781
No need to install it. Simply set CGAL_DIR to the path where `make` was called.

[2016-12-23 16:01] sloriot commented on #1781
Roughly this is what it is explained here:
http://doc.cgal.org/latest/Manual/installation.html#title0

[2016-12-23 16:11] neuronphysics commented on #1781
so is it right to use the following command lines??
[code]

[2016-12-23 16:58] neuronphysics commented on #1781
In addition, I actually would like to use python wrapper for cgal library and when I try to build it I get the following error messages:
[code]
I reckon the problem occurs because of the dependencies that I have ignored in the first step.

[2016-12-23 18:27] sloriot commented on #1781
Please read the section I mentioned, there is no need to install CGAL. Once you have extracted the source and successfully called `cmake` and `make`, the current directory is a valid installation of CGAL.
I don't know which bindings you are talking about. The one I know, https://github.com/cgal/cgal-swig-bindings, requires a `CGAL_DIR` environment variable to be set to the path where CGAL was comp

[2016-12-23 18:27] #1781 closed

[2016-12-24 07:37] afabri commented on #1780
I think this is what I reported in Issue #731

[2016-12-27 12:33] lrineau commented on #1780
Indeed.

[2016-12-27 12:33] #1780 closed

[2016-12-30 09:27] lrineau opened #1788 "test_LEDA_IO fails when LEDA is available"
https://cgal.geometryfactory.com/CGAL/testsuite/results-4.10-I-84.shtml#Installation

The red cells correspond to ArchLinux platforms with LEDA installed.

https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.10-I-84/Installation/TestReport_lrineau_ArchLinux.gz
[code]
The program is killed by our testing scripts, because its run lasts too long.

[2016-12-30 10:25] afabri commented on #1788
@akobel Can you have a look in a debugger what happens with the testprogram. Note that the non-free edition of Leda works. The platform is called x86-64_Darwin-13.0_Apple-clang-5.1_Release-LEDA-without-GMP.

[2016-12-30 11:03] afabri commented on #1717
@efifogel PING

[2016-12-30 12:32] #1754 closed

[2017-01-03 14:11] #1624 closed

[2017-01-03 14:11] #1415 closed

[2017-01-03 14:18] sloriot commented on #415
@mglisse any chance you can provide the 3 character patch for 4.10 or shall we postpone it to 4.11?

[2017-01-03 14:19] sloriot commented on #79
@janetournois I change the milestone to 4.11

[2017-01-03 14:24] sloriot commented on #1615
@mglisse @lrineau @afabri  shall we postpone to 4.11?

[2017-01-03 14:25] sloriot commented on #1686
@ws4u will you have time to look at it for 4.10 or shall we postpone it to 4.11?

[2017-01-03 14:26] #1679 closed

[2017-01-03 14:26] mglisse commented on #415
I don't think Power_test_3 exists anymore. Whatever its new name is, just check in interface_macros.h if it is using CGAL_Kernel_pred_RT (then it is already done) or CGAL_Kernel_pred.

[2017-01-03 14:28] lrineau commented on #1615
The change seems small. But on which platforms will we test it? Only 32 bits platforms?

[2017-01-03 14:29] mglisse commented on #1615
I think there is no hurry about it and it can be postponed forever, relevant platforms can use Mpzf (or cannot use Gmpzf either because no GMP).

[2017-01-03 14:30] sloriot commented on #1766
@lrineau you have a PR fixing that, right?

[2017-01-03 14:31] afabri commented on #415
Power_side_of_oriented_power_sphere

[2017-01-03 14:34] lrineau commented on #1615
I confirm that the only test platforms where the Number_types testsuite says "Mpzf is not supported on this platform" are only the `-32` Linux platforms. Even on 64 bits Windows platform, GMP probably uses the int64 type.

[2017-01-03 14:35] lrineau commented on #1766
I am working on a branch. The PR is still not ready. I think it will make into CGAL-4.10.

[2017-01-03 14:36] sloriot commented on #1096
Fixed by d0bcc9113c84a8c896af7fcddde1bd7c6866398f

[2017-01-03 14:36] #1096 closed

[2017-01-03 14:37] mglisse commented on #415
It uses the _RT variant, so I guess this issue is already fixed and can be closed?

[2017-01-03 14:41] #415 closed

[2017-01-03 15:50] akobel commented on #1788
Not tested within the Docker build (since I still have no clue how to do that).
Locally, I see that `leda::operator>>(std::istream&, leda::rational&)` enters an infinite loop on the first input, probably desperately waiting for some whitespace. Not sure about the exact requirements of valid inputs; from non-exhaustive tests, and lacking any reasonable source of documentation, I have to assume that

[2017-01-03 15:57] akobel commented on #1788
That being said, the stream input works as expected on certain, reasonable inputs. Hence I'm inclined to trust that the LEDA-CGAL-interface is working fine here, but that the leda-free-6.3 is potentially buggy w.r.t. parsing rationals. To confirm, I'm afraid you'd have to ask at Algorithmic Solutions.

@lrineau Maybe you can also check the situation with 6.3 on Fedora? The Arch Linux LEDA package

[2017-01-03 22:50] ws4u commented on #1686
I agree with @lrineau that this bug is not related to `_Node`. Probably we can postpone this to 4.11.

[2017-01-03 23:14] mglisse opened #1790 "Detect -I .../include/CGAL"
Hello,
it happens quite regularly that some users add .../include/CGAL (sometimes in addition to .../include) to their include path and get "mysterious" errors as a result. I think it might help to add a file CGAL/stddef.h (or some other standard header that usually gets included early) that just contains a `#error` line explaining what the problem is. An alternative would be to test in CGAL/gmp.h

[2017-01-04 07:07] afabri commented on #1790
I also noticed it in some CMakeList.txt of examples directories. That had the effect that when I set CGAL_DIR to something else than the root of my branch build, say to a particular release, the code
got compiled with a blend of the package and the release. whereas I had thought to compile with
the headers of the particular release.

[2017-01-05 10:05] afabri opened #1792 "Subdivision methods: Add Interpolating Sqrt3"
See [paper](https://people.eecs.berkeley.edu/~sequin/CS284/PAPERS/root3subdiv.pdf)

[2017-01-06 09:29] sloriot opened #1798 "Improve CGAL named parameters with macros"
- Adding new named parameter in `Polygon_mesh_processing/internal/named_function_params.h` could be improved if a system with macros was used. Since there are two functions to add per named parameter, I think a mechanism like `Kernel_23/include/CGAL/Kernel/interface_macros.h`.
- The namespace CGAL is polluted, all classes should be in a nested namespace (`parameters`?)

[2017-01-06 09:48] sloriot opened #1799 "Doxygen: Find a workaround for packages with EXTRACT_ALL=ON"
in the official doxygen if `EXTRACT_ALL=ON` everything has a long description. We cannot make the patch do upstream. A solution is to set this flag OFF in all packages relying on it and add some documentation to members not documented that won't go into the doc with the flag change. This should be done with https://github.com/CGAL/doxygen/tree/release_1_8_13_patched as previous version were buggy.

[2017-01-06 09:54] sloriot opened #1800 "Test new doxygen versions"
We need to compile the doc with https://github.com/CGAL/doxygen/tree/release_1_8_13_patched in the testsuite as well as with the master version of doxygen (not patched).

[2017-01-06 09:57] sloriot opened #1801 "Testsuite to compare the output of 2 doxygen runs"
In order to keep track of the modification of doxygen, we should be able to compare the output of two runs. WIth `HTML_TIMESTAMP=NO`, it is possible to compare the html page directly but a layout change will result in important diff. Maybe looking at the xml output to see what's get exported is a solution. What is important to check is what classes, functions, members, ... end up in the documentio

[2017-01-06 09:58] sloriot commented on #1706
what is the status of this issue?

[2017-01-06 10:07] sloriot opened #1802 "Add a function to copy a patch"
We have  the function `copy_face_graph()`, it would be interesting to have a function `copy_face_graph_patch()`. The API of the function should match the various overloads of `connected_components()` (using cc_id, using a face seed,...).

@afabri mentioned that more generally we may have an adapter that make a connected component a read-only model of `face_graph`. We first need to see if this is u

[2017-01-06 10:13] sloriot opened #1803 "Experiment git-submodule for data-set"
- [ ] Add all data set in a dedicated package, this should not break the release creation or testing
- [ ] Update cmake scripts so that in branch-build testing a package is still working
- [ ] Make the data set package a git-submodule
- [ ] Update release creation script to accomodate git-submodule
- [ ] Document how to use git-submodule for the data-set
- [ ] See how easy it would be to add anoth

[2017-01-06 10:16] sloriot commented on #907
@lrineau we can close this issue, right?

[2017-01-06 10:17] sloriot commented on #908
@sgiraudot @palliez IIRC spectra will be merged into Eigen. If I'm right, shall we close this issue?

[2017-01-06 10:22] sloriot commented on #1342
Fixes by #1787

[2017-01-06 10:23] #1342 closed

[2017-01-06 10:36] sgiraudot commented on #1803
Do we want to stop separating data sets from one package to another? (I'm not sure if this is how you see things, would it be something like `Data_sets/data/one_data_set.off` or `Data_sets/data/Polygon_mesh_processing/one_data_set.off`?)

I think it would be good to dump the package separation, because some packages actually duplicate data (like point set processing and point set shape detection).

[2017-01-06 10:37] sgiraudot commented on #908
I think there is stll the question of adding wrappers in CGAL to access the Spectra functions (similarly to what is done with Eigen in `Solver_interface`). @palliez, what do you think?

[2017-01-06 10:39] maxGimeno commented on #1770
And the bbox's size is already in the Info dockwindow of every item

[2017-01-06 10:44] sloriot commented on #1803
For example `PMP/test/PMP/data/abc.off` would be moved to `Test_data/test/PMP/data/abc.off`, and `PMP/example/PMP/data/abc.off` would be moved to `Release_data/test/PMP/data/abc.off`.

[2017-01-06 11:28] lrineau commented on #907
Yes! :-)

[2017-01-06 11:28] #907 closed

[2017-01-06 12:14] lrineau commented on #1799
In my opinion we should first design tools allowing to compare two produced documentations.

[2017-01-06 13:04] lrineau commented on #1801
I think that, among all the issues assigned to Maxime about Doxygen, this one has the highest priority: the comparison tool will then be used to "check" the results of any modification to our Doxygen documentation processing.

[2017-01-06 13:50] lrineau opened #1805 "Bug in the color of tetrahedra in Scene_c3t3_item"
The PR #549 has changed the way the tetrahedra of a Scene_c3t3_item (intersected by the cut-plane) are displayed. That PR introduced a bug in the color selection of a tetrahedron. Actually, it introduced two bugs:

1. In `void Scene_c3t3_item_priv::computeIntersection(const Primitive& facet)`, called when a facet is intersected by the plane, the cell of the facet is display in a correct color, and

[2017-01-06 14:18] lrineau commented on #1766
See #1793.

[2017-01-07 09:39] efifogel commented on #1803
First, I think that one repository called cgal_data should suffice. (This
may not conflict with previous posts.)
Secondly, I think we should allow sharing data (i) between examples, tests,
and demos, and (ii) between different packages.

How about the following: Each set is associated to a pair of a specific
package and a specific type of app. (either examples, tests, or demos), so
for example:

c

[2017-01-09 07:05] sloriot commented on #1799
Not necessarily, as I said the comparison for a fixed version of doxygen can be done if `HTML_TIMESTAMP=OFF` with diff.

[2017-01-09 09:36] lrineau commented on #1799
If I understand well:

Maxime can worked with our fork of Doxygen, configure with `HTML_TIMESTAMP=OFF`, and then compare two builds: one with `EXTRACT_ALL=ON` and one without it.

Am I right?

[2017-01-09 09:37] sloriot commented on #1799
Exactly.

[2017-01-09 09:38] sloriot commented on #1799
However, 1.8.13 fork should be used as I notice some bugs in the other version when putting `EXTRACT_ALL=OFF` for some enum types.

[2017-01-09 10:32] lrineau opened #1806 "warnings in Point set processing 3 on Windows 32 bits"
https://cgal.geometryfactory.com/CGAL/testsuite/results-4.10-Ic-95.shtml#Point_set_processing_3

Simon, Andreas, those warnings are probably related to #1633 ("Point Set Structuring", merged in `master`). Can you have a look and find out if pragmas can quiet them?

[2017-01-09 10:41] sgiraudot commented on #1806
We've already tried pragmas and it's hard to make them work properly (especially because these warning come from the counting iterators of boost and if the user already included the file before including CGAL, then there's no way to prevent it from happening).

This warning is very hard to understand, especially because we managed to suppress it from Andreas' machine with the same configuration as

[2017-01-09 10:42] lrineau commented on #1806
I also see similar warnings in Advancing_front_surface_reconstruction:

https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.10-Ic-95/Advancing_front_surface_reconstruction_Examples/TestReport_afabri_x64_Cygwin-Windows8_MSVC2012-Release-32bits.gz

Could we suppress those warnings only for MSVC **and** 32 bits ?

[2017-01-09 15:18] lrineau commented on #889
Andreas, do you remember what you meant? Expect for the title, this issue is empty.

[2017-01-09 15:43] lrineau commented on #1790
@afabri You mix things up.

* You are talking about  `-I../../include`.
* Marc is talking about `-I../include/CGAL`, that is a non-sense because CGAL headers names are like`<CGAL/Point_2.h>`, and not `<Point_2.h>`.

[2017-01-09 15:52] lrineau commented on #1790
@mglisse Is the PR #1807 what you had in mind?

[2017-01-09 16:04] mglisse commented on #1790
Yes, thanks :smile:.

[2017-01-09 16:21] lrineau commented on #1788
I can reproduce the issue with Fedora 24 and LEDA 6.3.

Actually, now I remember that we have already reported that issue to Algorithmic Solution, long ago, and they have fixed it in LEDA 6.4 and LEDA-numbers 6.4.

I have deactivated the test in 4f012205a923871acca1985336899aec64a36857, to "fix" the test suite.

[2017-01-09 16:21] #1788 closed

[2017-01-10 08:23] afabri commented on #1806
A little be less general is

` #pragma warning(push)`
`#pragma warning(disable: 4244)`
`#include <xutility>`
`#pragma warning(pop)`

**BEFORE**

`#include <CGAL/Exact_predicates_inexact_constructions_kernel.h>`

in the testfile.

But to suppress the warning in CMakeLists.txt is ok.  Is it possible in a CMakeLists.txt to differentiate between 32 and 65 bit?

[2017-01-10 08:54] sgiraudot opened #1809 "Nth_of_tuple_property_map hard-coded for Boost"
We have `<CGAL/tuple.h>` that binds `CGAL::cpp11::tuple` either to `std::tuple` or `boost::tuple`, depending on what's available. But the property map `CGAL::Nth_of_tuple_property_map` is hard-coded for _Boost_ only, which makes it incompatible with `CGAL::cpp11::tuple` if the STD version is available.

This seems rather counter-intuitive and forces users to use `boost::tuple` if they want to use

[2017-01-10 13:14] maxGimeno commented on #1779
Should we make a job per package P that compiles CGAL and the examples for P ?

[2017-01-10 14:59] #1515 closed

[2017-01-10 15:50] mglisse opened #1815 "Rewrite to_double(Quotient)"
I didn't notive when filing issue #1053, but today this function looks like complete nonsense to me. It checks if x.num or x.den is infinite (was that supposed to be nd and dd?), and in that case (at least one is infinite) proceeds to do divisions and various other operations... It was supposed to have some code to handle overflow (why not underflow as well?) and perform a division of the bigger o

[2017-01-10 16:41] lrineau commented on #1778
I close this issue, for now. Pierre, reopen it if you can reproduce it with a recent version of the demo.

[2017-01-10 16:41] #1778 closed

[2017-01-11 08:55] lrineau commented on #1728
@sloriot: Why have you assign this task to Maxime? For all items in the list, you need to know a lot about the internals of the CGAL project to be able to conclude.

[2017-01-11 09:27] lrineau opened #1817 "One error in examples/reconstruction_structured.cpp on Windows10_MSVC2017-Debug-64bits"
[code]
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.10-Ic-98/Advancing_front_surface_reconstruction_Examples/TestReport_afabri_x64_Cygwin-Windows10_MSVC2017-Debug-64bits.gz

it might worth to retry with the same seed, and try to debug the issue.

(I have assigned the issue to several of you, because I am not sure who is in charge of Advancing_front_surface_reconstruction.)

[2017-01-11 09:36] sloriot commented on #1728
I'm sure he can investigate how things work for creating the windows installer from the script that is in the docker container (my guess was that the whole directory can be ignored by the release creation script) and propose something for Installation.

[2017-01-11 09:43] lrineau opened #1818 "One error in test/Point_set_shape_detection_3/test_cone_parameters.cpp"
[code]
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.10-Ic-98/Point_set_shape_detection_3/TestReport_lrineau_ArchLinux-clang-CXX1z.gz

Maybe it does not depend on the specific platform, but on the seed.

[2017-01-11 09:58] lrineau commented on #1728
@maxGimeno I have reassigned the issue to you. Discuss with Sébastien for the details.

[2017-01-11 10:01] sgiraudot commented on #1817
The structured reconstruction depends on point set structuring, so I'm pretty sure this is related to https://github.com/CGAL/cgal/issues/1818. I'll investigate.

[2017-01-11 10:40] sgiraudot commented on #1817
(Turns out it's not related.)

[2017-01-11 11:52] afabri commented on #1817
This reveals a bug in Advancing_front_surface_reconstruction.
At some point the algorithm computes the squared radius of a circumsphere of an almost degenerate cell ( = tetrahedron).   The cell is almost degenerate as the structuring means to generate points on planes. As the squared_radius function is not exact we hit a division by 0.

[2017-01-11 17:18] sloriot commented on #1799
IMO, the priority of this issue is low as this regular version of doxygen can be used, it just generate an extra useless long description. Moreover Dimitri mentioned that he is working on a way to select what to export, so there might be another solution coming soon.

[2017-01-11 17:43] lrineau commented on #1800
@maxGimeno The two versions of the documentations produced by two versions of Doxygen could be compared manually, or you could use the result of the task #1801.

[2017-01-12 03:18] adrian-bodenmann opened #1821 "first_intersection() returns centroid in 3 out of 4 cases instead of skipping it in AABB_ray_shooting_example.cpp"
In http://doc.cgal.org/latest/AABB_tree/ 3.3 Ray Shooting the explanation says:

However, in 3 out of 4 cases first_intersection() returns the centroid ([https://gist.github.com/adrian-bodenmann/dfa880e3ef9a3ad20c5838d5cc7c7ec4#file-aabb_ray_shooting_example_bugreport-cpp](https://gist.github.com/adrian-bodenmann/dfa880e3ef9a3ad20c5838d5cc7c7ec4#file-aabb_ray_shooting_example_bugreport-cpp).) The

[2017-01-12 03:43] adrian-bodenmann opened #1822 "first_intersection() doesn't always return the intersection closest to the point of the ray query"
The code at [https://gist.github.com/adrian-bodenmann/1727c845bfa38cb29851a757dab44d61](https://gist.github.com/adrian-bodenmann/1727c845bfa38cb29851a757dab44d61) returns
`First intersection: 0.4 0.5 -0`
instead of
`First intersection: 0.4 0.5 0.1`

Tested on Windows 7, Visual Studio 2013, CGAL 4.9

[2017-01-12 09:55] lrineau commented on #1821
*Note: I have assigned this issue to Andreas, Sébastien, and Philipp. Philipp did most of the implementation of `first_intersection` (mentored by Andreas and Sébastien), in October-November 2015. Then the code was slightly modified by Andreas and Sébastien recently, in April-May 2016.*

[2017-01-12 10:11] #1652 closed

[2017-01-12 10:13] #1721 closed

[2017-01-12 10:13] #1806 closed

[2017-01-12 10:13] #1805 closed

[2017-01-12 10:13] #1809 closed

[2017-01-12 10:13] #1817 closed

[2017-01-12 10:18] lrineau commented on #1818
Fixed by #1819.

[2017-01-12 10:18] #1818 closed

[2017-01-12 10:21] lrineau commented on #1397
Fixed by #1744.

[2017-01-12 10:21] #1397 closed

[2017-01-12 10:56] efifogel commented on #1717
They fail to compile...
The test case in the attached archive has all the failing combinations commented out.

[2017-01-12 11:01] afabri commented on #1717
Efi, please fill in your three points.  This does not compile on the  compiler XXX, in the branch YYY,.  in release/debug,...

[2017-01-12 11:48] efifogel commented on #1717
This does not compile on g++ 4.8.4, using branch master, in release.

[2017-01-13 07:01] sgiraudot opened #1828 "Pre-fill issues in Github"
Github offers a way to [pre-fill issues](https://github.com/blog/2111-issue-and-pull-request-templates) (as you can see [for example here](https://github.com/wallabag/wallabag/issues/new)). I think we should do this for the CGAL repository to help the users fill a comprehensive issue (there are lots of issues where we need to ask questions about the configuration or even for a code sample). This c

[2017-01-13 07:56] sloriot commented on #23
@maxGimeno  @lrineau  Since the remaining files in `dont_submit` are neither headers, nor examples/demos files this is no longer a blocking point for this issue.

[2017-01-13 10:44] cjamin opened #1831 "Doc: links to `SearchTraits` not generated"
The links to `SearchTraits` from outside of the Spatial_searching package are not generated. Examples:
* http://doc.cgal.org/latest/Point_set_shape_detection_3/classEfficientRANSACTraits.html#a633c37821ace1e5fb43d515f7e6a51e2
* http://doc.cgal.org/latest/Snap_rounding_2/classSnapRoundingTraits__2.html#a5a2eb027ae79905194171906edb3c608

And I'm having the same issue when trying to add a link to `Se

[2017-01-13 12:28] sloriot commented on #1831
Add Spatial_searching in `dependencies` of those packages.

[2017-01-13 12:54] lrineau commented on #1831
What prevents us from having all packages depend on all the other packages?⁣

Envoyé par BlueMail ​

Le 13 janv. 2017 13:28, à 13:28, Sebastien Loriot <notifications@github.com> a écrit:

[2017-01-13 13:20] sloriot commented on #1831
Increase of the compilation time, more likely to be exposed to a doxygen bug

[2017-01-13 14:36] sgiraudot commented on #1717
I tried to modify a bit the code to plainly satisfy to the [reference manual](file:///home/simon/CGAL/master/build/release/doc_output/Kernel_23/group__intersection__circular__grp.html) and to be as explicit as possible (no automatic template deduction):

[code]

It still doesn't compile but the error is different. It seems that the right version of `CGAL::intersection()` is never found, I have thi

[2017-01-13 15:20] sloriot commented on #1822
Thanks for the report, see #1833

[2017-01-13 15:35] sloriot commented on #1821
Thanks for the report, the example was indeed not using the functor. Fixed by #1833

[2017-01-13 15:36] sloriot commented on #1821
About the 3 out of 4, it is due to the inexact construction of the centroid. The point is not exactly on the face and thus the face is not reported.

[2017-01-13 17:00] lrineau commented on #1828
There is also a way to have a link at the top of the "new issue" form:

![](https://help.github.com/assets/images/help/pull_requests/Contributing-guidelines.jpg)

See https://help.github.com/articles/setting-guidelines-for-repository-contributors/

[2017-01-14 06:17] adrian-bodenmann commented on #1821
I think the face *is* reported.
3 out of 4 cases it just reports the centroid, which is correct (as it is the intersection with the closest face), but not the one what we are interested in. That's why the functor Skip should be used.
In the 4th case when it is on the face (1 0 0) (0 1 0) (0 0 1) (with centroid (0.333 0.333 0.333) it returns (0 0 0), so I think that is correct, i.e. the face / inte

[2017-01-14 06:29] adrian-bodenmann commented on #1821
Ah, now I understood what you meant: The intersection at (0.333 0.333 0.333) is not reported [but others still may be reported].

It seems to be the case that the 3 other intersections with the 3 faces with a corner at (0 0 0) are indeed reported:
If I add
`std::cout << "Number of intersected primitives: " << tree.number_of_intersected_primitives(ray) << std::endl;`
before
`const Point* p = boost:

[2017-01-16 06:26] sgiraudot commented on #1828
Nice, that will be better than the "Frequently encountered issues" that I talk about (we can give a link to a section of the documentation for example).

[2017-01-16 09:53] cjamin commented on #1831
Thank you Sébastien, it works!

[2017-01-16 11:28] lrineau commented on #1831
Fixed by #1835 and #1836.

[2017-01-16 11:28] #1831 closed

[2017-01-16 16:51] sloriot opened #1837 "Document graph_has_property"
.. and move it outside boost namespace?

[2017-01-17 09:26] sloriot commented on #1717
@efifogel  That was indeed a bug.

[2017-01-18 18:07] lrineau opened #1844 "CGAL_Core fails on Fedora-32bits"
https://cgal.geometryfactory.com/CGAL/testsuite/results-4.10-Ic-104.shtml

The column Fedora-32 has errors that are probably related to CGAL_Core new thread-safety patch.

[2017-01-18 18:26] lrineau commented on #1821
Fixed by #1833 in the CGAL-4.9.1 branch.

[2017-01-18 18:26] #1821 closed

[2017-01-18 18:26] lrineau commented on #1822
Fixed by #1833 in the CGAL-4.9.1 branch.

[2017-01-18 18:26] #1822 closed

[2017-01-18 18:31] #1775 closed

[2017-01-18 18:34] #1706 closed

[2017-01-19 14:52] afabri opened #1846 "Create CMake list support for LAStools"
[LAStools](https://github.com/LAStools/LAStools) currently has a Makefile and a project file for Microsoft Developer Studio.  It would be nice to come up with a decent support for CMake for building the library LASlib and the tools. We are mainly interested in the library, so that the examples and demos of CGAL can read _las_ files, but to increase the chance that CMake makes it into LAStools we a

[2017-01-19 15:45] lrineau commented on #1846
@afabri Can you please push your prototype of support for CMake in afabri/LAStools?

[2017-01-19 16:26] #1779 closed

[2017-01-20 10:27] maxGimeno commented on #1801
I have a python script that outputs text files containing all the namespaces, Enums, classes and members, ... for each package. I also have a bash script that use the first one to compare the differences between two runs. Using this, I tried to compare two versions of the documentation : one from 1_8_13_patched and one from 1_8_4_patched. But all I discovered is that 1_8_13 segfaults if asked to g

[2017-01-20 12:53] sloriot opened #1847 "Add test_merge_of_branch in Travis"
Calling the script `test_merge_of_branch` in the Travis job would be interesting.
To avoid issue when the branch has conflict with master, I guess the call should be make in the first common parent commit.

[2017-01-23 10:27] funchal opened #1850 "AABB first_intersection prints to standard out"
https://github.com/CGAL/cgal/blob/40a54cf/AABB_tree/include/CGAL/internal/AABB_tree/AABB_ray_intersection.h#L183

[2017-01-23 11:13] lrineau commented on #1850
@sloriot: Sébastien, should this line be replaced by a `CGAL_error_msg`, or should the display be removed completely?

[2017-01-23 12:01] janetournois opened #1851 "Polyhedron demo : add a tetrahedron soup reader"
Similarly to the polygon soup reader, it would be nice to have a tetrahedron soup reader.
The idea is to be able to
- [x] read a `.mesh` file (there are other formats, to be added later probably),
- [x] display the tet soup (similarly to a `C3t3`)
- [x] get statistics on it (edge lengths, dihedral angles, nb of subdomains...)

It would be useful for our experiments on meshing, and would sometimes

[2017-01-23 15:58] janetournois commented on #1317
There is a chance we can work on this in 2017. Do you have more suggestions of published/state-of-the-art/prototype code that we would like to have published in CGAL?
Thanks for your input!

[2017-01-24 09:47] sgiraudot commented on #1828
Solved by https://github.com/CGAL/cgal/pull/1839.

[2017-01-24 09:47] #1828 closed

[2017-01-24 13:15] lrineau commented on #1846
ping @afabri!

[2017-01-24 13:23] sloriot commented on #1850
That's a bug fixed by #1853

[2017-01-24 13:42] afabri commented on #1846
It is already pushed See this [commit](https://github.com/afabri/LAStools/commits/Add_CMakeLists-GF)  in its own branch.

[2017-01-25 16:53] lrineau opened #1858 "Mesh_3: protecting balls do not intersect sufficiently"
In Mesh_3, when the protecting balls are placed using a sizing field, it can happen that the sizes of two consecutive balls are very different. And in that case we only verify that two consecutive balls do intersect, whereas we should verify that they intersect *sufficiently*. See the image.

![screenshot-balls-with-gap](https://cloud.githubusercontent.com/assets/5746675/22300139/d3f5a864-e326-11e

[2017-01-25 17:31] #1850 closed

[2017-01-26 17:36] #1717 closed

[2017-01-27 14:33] janetournois commented on #1851
It would also be nice to be able to
- [ ] shrink the tetrahedra continuously to have a split view of the tet soup
- [ ] be able to provide a file with predefined colors for subdomains

@MaelRL please add additional requirements if you have some :-)

[2017-01-30 04:15] sloriot commented on #1844
See [this result](https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.10-Ic-104/Number_types/TestReport_lrineau_Fedora-32-Release.gz) for example.

[2017-01-30 06:01] sloriot opened #1865 "Loading a large OFF takes ages"
## Issue Details

I tried loading a big mesh (350k vertices) and it takes more than 20s while it tooks a few second with 4.9

[2017-01-30 07:16] afabri commented on #1865
In the Polyhedron demo or in a standalone.cpp ?
For a Polyhedron_3 or for a Surface_mesh, or both?

[2017-01-30 07:29] afabri opened #1867 "Polyhedron demo: bug in point selection tool"
## Issue Details

When doing a rectangle selection of N points the N point are drawn in red.
But when I create a point set item from this selection it contains N-1 points.

## Environment

master

[2017-01-30 07:50] sloriot commented on #1865
See the label: 3D demo.
With polyhedron. It is fast with Surface_mesh but the result is not what I'd expect...
![screenshot from 2017-01-30 08-49-07](https://cloud.githubusercontent.com/assets/1224632/22415612/1091e4cc-e6c9-11e6-853b-aaf148feb546.png)

[2017-01-30 08:53] lrineau opened #1869 "Track down CGAL predicates that should not use divisions"
The discussion in #1789, between me, @mglisse, and @afabri, showed that maybe several predicates use a `FT` whereas their code could be changed to use only a `RT` (with division). That could speed-up the predicate.

[2017-01-30 10:36] lrineau commented on #1846
@sgiraudot

[2017-01-30 13:05] #1865 closed

[2017-01-30 14:16] sgiraudot commented on #1846
All the changes @afabri and I made (including the `CMakeLists` for LASlib) are in the following branch: https://github.com/afabri/LAStools/tree/integration

I think one more thing we could do is add a `LASlibConfig.cmake`, but I'm not sure how to do that. I created a [`FindLIBlas.cmake`](https://github.com/CGAL/cgal-public-dev/blob/Point_set_processing-Las_IO-GF/Installation/cmake/modules/FindLASL

[2017-01-30 16:31] lrineau opened #1872 "Give access to `Primitive_helper::get_datum` in AABB_tree"
In the AABB_tree package, when one uses a query to get something-and-primitive-id, there is no easy way to get the datum, from the ID. I propose that we add:
[code]
where the return type would actually be given by a traits class.

Everything is currently implemented in the internal file `<CGAL/internal/AABB_tree/Primitive_helper.h>`.

[2017-01-30 16:31] lrineau commented on #1872
cc @janetournois, who requested that function just 10 minutes ago, while I had already discuss that with Sébastien a few days ago... We need that method.

[2017-01-31 00:45] alecjacobson opened #1873 "Cast from Exact_predicates_exact_constructions_kernel to Exact_predicates_exact_constructions_kernel_with_sqrt"
Is it possible to convert a number/geometry object from the `CGAL::Exact_predicates_exact_constructions_kernel` to the `CGAL:: Exact_predicates_exact_constructions_kernel_with_sqrt ` ?

For a miniature example, consider the following _non-working_ code:

[code]

This produces a compilation error:

    error: no viable conversion from 'CGAL::Epeck::FT' (aka 'Lazy_exact_nt<CGAL::Gmpq>') to 'CGAL::Ex

[2017-01-31 01:04] alecjacobson commented on #1873
Meanwhile, I figured out an _insane_ way to do it:

[code]

This indeed prints:

    success

Converting via `stringstream` can't possibly be the most efficient way to do this, though. Right?

[2017-01-31 08:43] sloriot commented on #1873
Here is a working example using the [`Cartesian_converter`](http://doc.cgal.org/latest/Kernel_23/classCGAL_1_1Cartesian__converter.html):
[code]

Note that I have hardcoded the number types of the Kernel (they might change if you do not use GMP).
Also notice that calling `exact()` on a lazy (nt or geometric object) will trigger the exact computation.

[2017-01-31 09:34] sloriot opened #1874 "Detect documentation bugs"
## Issue Details

SInce the documentation is not inline for all packages, we should guarantee that documented header and real headers are the same. For example, we document `#include <CGAL/IO/output_surface_facets_to_off.h>` for `CGAL::output_surface_facets_to_off ()` while this header does not exist  (the real header is `CGAL/IO/Complex_2_in_triangulation_3_file_writer.h`)

- [ ] The simple thing

[2017-01-31 09:37] lrineau commented on #1874
Maxime, Sébastien and I assigned that issue to you. The priority will be decided later, at https://github.com/orgs/CGAL/projects/1. That issue will be a good exercise to improve again your scripting skills. You can choose your prefered scripting language (between shell/bash and Python).

[2017-01-31 09:40] lrineau commented on #1874
The priority is actually rather high, because we would like to fix those kind of bugs before CGAL-4.10-beta1, due next week.

[2017-01-31 09:41] lrineau commented on #1874
...in two weeks, actually.

[2017-01-31 16:03] alecjacobson commented on #1873
Thanks, this seems to solve my issue.

Should I interpret "trigger the exact computation" as "trigger slow performance" ?

I have an algorithm where the bulk of the computation can be done using CGAL::Epeck  and I only need sqrts at the end. _In general_, am I better off using`Epeck` for the first part and converting via your solution, or should I just use `Exact_predicates_exact_constructions_ker

[2017-01-31 16:07] sloriot commented on #1873
I don't think using `Exact_predicates_exact_constructions_kernel_with_sqrt` from the beginning would be faster than converting at the end. Except maybe if you have no filter failures. It really depends on what you are doing. About the _trigger the exact computation_, if you do not have a lot of cascaded constructions that should not be problem.

[2017-02-01 09:34] lrineau opened #1876 "Add support for TBB in "Mesh_3 manifold""
The PR #590 has added an undocumented manifold criterion, to Mesh_3, with an implementation similar to the one from Surface_mesher: the `Refine_facets` mesher level is tweaked, with a new base class coded in [`<CGAL/Mesh_3/Refine_facets_manifold_base.h>`](https://github.com/lrineau/cgal/blob/f5cbf206b8788a918051066790649b7804afd71a/Mesh_3/include/CGAL/Mesh_3/Refine_facets_manifold_base.h).

Proble

[2017-02-01 11:28] MaelRL opened #1878 "Implicit conversion of Weighted_Point_3 to Point_3"
The small feature for `Weighted_point_3` has the following:

Looking at the branch that was integrated, this change was not included in the end.

I was working on updating regular periodic triangulations and this resulted in a bug when simply calling `construct_weighted_circumcenters(wp1, wp2, wp3, wp4)` due to a generic class (on the way) not finding a match for the functor using weighted points

[2017-02-01 18:03] #1873 closed

[2017-02-02 13:04] MaelRL commented on #1878
An example of problem that shows up when preventing the conversion:

Function calls like `construct_plane(p,q,r)` (`p`, `q`, `r` being of type `Weighted_Point_3`) in `Regular_triangulation_3.h` will break.

More subtle, now that `Regular_triangulation_3` derives from a `Triangulation_3` templated by `Weighted_point_mapper_3<Gt>`, it also means that calling a base function in `Triangulation_3` from

[2017-02-02 13:28] lrineau commented on #1878
That's exactly why that is not so simple. How is that handled in dD? @cjamin, @mglisse?

[2017-02-02 16:17] #1874 closed

[2017-02-02 16:18] #1867 closed

[2017-02-02 17:39] lrineau opened #1881 "OSX testing with Travis CI"
The task: enable jobs for OS X, in Travis CI:
- https://docs.travis-ci.com/user/multi-os/
- https://docs.travis-ci.com/user/osx-ci-environment/

The tricky part will be the use of homebrew to install our dependencies. Search in the list at http://brewformulas.org/.

[2017-02-03 08:38] afabri opened #1882 "Polyhedron demo: Store color in a comment in an off file"
## Issue Details

When I  have several mesh patches and I have given them colors by hand, I would like to get the color information be stored in the mesh when I save it to a file.  This could go in a comment line in the off file.
Also it should be read and applied.

[2017-02-03 17:00] lrineau commented on #1766
Fixed by #1793.

[2017-02-03 17:00] #1766 closed

[2017-02-03 17:03] lrineau commented on #980
@afabri: It seems that the fix will not make into CGAL-4.10 either. Should we relabel this issue to yet another later release? Or should we close it because we will never implement a valid `operator>>` for CDT_plus_2?

[2017-02-03 21:18] petersadro commented on #980
I'm ok, either way.  I have a workaround.

[2017-02-06 09:50] lrineau opened #1886 "warnings in the Arr_2 testsuite about `throw(..)`"
There are new warnings with a very recent g++ compiler in the Arr_2 testsuite:

[code]
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.10-Ic-119/Arrangement_on_surface_2/TestReport_lrineau_Fedora-rawhide-Release.gz

My suggestion is to simply remove those dynamic exception specifications
(the expressions `throw(/*something*/)`): it is well known that it is
inefficient, and that is why it ha

[2017-02-06 09:54] lrineau commented on #1886
The culprit code is actually from AK_2.

[2017-02-06 14:40] lrineau commented on #1844
This issue is selected for 4.10, but it seems nobody is working on it. It  has been assigned to Andreas, for two weeks, as the author of the patch that started the issue.

Should we stop testing CGAL on 32 bits Linux ?

[2017-02-06 14:43] sloriot commented on #1844
IIRC, there is nothing specific in 32 bits, according to the error it is again an issue introduced by the thread safety (block cleanup before a NT using it). What I mean is that it's just one platform that is showing a problematic behavior that any platform should have.

[2017-02-06 15:07] afabri commented on #1844
I can have a look with somebody, but Fedora-32 bits is not really my platform.

[2017-02-06 17:07] lrineau commented on #1844
I can reproduce the error on, for example, `test/Number_types/CORE_BigInt`. I found out by accident that the error happens only with `-DCGAL_HEADER_ONLY=FALSE`.

The error is a double free during the execution of static variables destructors. The bactrace is:
[code]

It also happens only with `-O3` or `-O2`, but not with the lesser levels `-O1` or `-Og`.

[2017-02-06 17:15] lrineau commented on #1844
I am not completely sure but the error might be about the destruction of those constant numbers:
[code]
in `<CGAL/CORE/extLong.h>`. I do not see where their destruction are protected.

[2017-02-06 17:16] lrineau commented on #1844
... `extLong` is a POD. It cannot be the culprit.

[2017-02-06 17:25] lrineau commented on #1844
Actually the backtrace shows that the segfault is triggered by `__call_tls_dtors`, so it must be something about the destruction of TLS objects.

For information, that platform uses G++ 6.3.1, and has C++14 enabled by default. That means that the C++11 TLS is used.

The platform Fedora-Release is the exact same platform, but in 64 bits, and it does not fail.

[2017-02-07 09:52] cjamin commented on #1878
In dD, `Regular_triangulation` inherits from `Triangulation<Regular_triangulation_traits_adapter<Traits>, ...>`. This adapter adapts some functors so that they drop the weight when appropriate. I guess it's about the same as what you call `Weighted_point_mapper_3`.

The whole thing is a bit tricky and I don't remember the details. Please have a look at the code and come back to me if you have ques

[2017-02-07 11:00] lrineau commented on #1844
I have reduced the file `CORE_BigInt.cpp` to:
[code]
and it still fails with `-m32 -O3` (but without `-DCGAL_HEADER_ONLY`).

With a break on the glibc function `__cxa_thread_atexit_impl`, I found out that the order of TLS thread-local constructions is:
[code]
and I am pretty sure the bug is in this order of constructions.

[2017-02-07 11:06] lrineau commented on #1844
The commit 6c7774048521d2779d1657871f476624a46d220b has changed the behavior only when C++11 is not used. It might be the problem.

[2017-02-07 11:07] lrineau commented on #1844
My guess is that even on 64 bits we have an issue, but by "chance" the segfault did not occur. I will have to check using the AddressSanitizer on Linux 64 bits.

[2017-02-07 13:14] lrineau commented on #1844
Indeed, commit 6c7774048521d2779d1657871f476624a46d220b from #1744 was incomplete. I have a fix...

[2017-02-08 11:15] maxGimeno commented on #1329
I edited the [demo-subdirectory](https://github.com/CGAL/cgal/wiki/Directory-Structure-for-Packages#demo-subdirectory) to specify the difference between 3D packages and 2D packages.

[2017-02-08 11:36] maxGimeno commented on #889
@afabri can you elaborate ?

[2017-02-08 11:56] afabri commented on #889
I don't remember and when I look at the header file I don't see anything particular. So let me close the issue.

[2017-02-08 11:57] afabri opened #1889 "Polyhedron demo: Reloading a point set"
When reloading a point set the point size should not be reset.

[2017-02-08 12:09] sloriot commented on #889
I guess it has to do Edge_index`, `Face_index`, and `Halfedge_index` that have specific documention+code. However, the code is not used. I guess we simply need to say that it's a model of Index and that it is convertible to `size_type`. The same kind of thing is probably done in BGL as Laurent pointed out originally.

[2017-02-08 16:23] lrineau commented on #1886
Should I do it myself?

Eric, Michael, you are listed as the maintainers of the Ak_d package.

[2017-02-08 16:28] lrineau commented on #1886
Michael Kerber is the initial author of that file, and Eric is listed as the responsible CGAL editor for him.

Cc also @akobel, who said he is still in the subject of the Ak_d package and things about `<CGAL/Algebraic_kernel_d/Curve_analysis_2.h>`.

[2017-02-09 09:53] MaelRL opened #1892 "Remnants of SVN in headers & documentation"
The [File header documentation](http://doc.cgal.org/latest/Manual/devman_code_format.html#secfile_header) and some headers (e.g. [this one](https://github.com/CGAL/cgal/blob/master/AABB_tree/include/CGAL/internal/AABB_tree/Primitive_helper.h)) still mention SVN.

Is there any reason not to clean it? Should it be updated to do the same with Git or just completely removed?

[2017-02-09 09:55] sloriot commented on #1892
I would vote for removing them

[2017-02-09 16:19] lrineau commented on #1317
Follow-up: it will be [proposed as a GSoC subject in 2017][1]. Let's hope CGAL will be accepted as a GSoC organization this year.

[1]: https://cgal.geometryfactory.com/CGAL/Members/wiki/GSoC_2017/GSOC17_draft_Project#Mesh_Smoothing_and_Shape_Smoothing

[2017-02-09 16:26] lrineau opened #1895 "Protection of CPU rounding mode in Interval_nt"
In Epick, `Filtered_predicate` is used a lot for the filtering of predicates. At each call to `operator()`, the CPU rounding mode is modified, and the restored.

I wonder why we have never tried to set the rounding mode at a higher level. Let's say for example we call the constructor `Delaunay_triangulation_3()` with a huge range of millions of points. Why should we keep changing the rounding mode

[2017-02-09 16:57] lrineau commented on #1738
Fixed in the mesh_3_plugin, by #1845.

[2017-02-10 02:21] mglisse commented on #1895
I would expect that static filters want round-to-nearest (the constants would be worse with other roundings) while Interval_nt_advanced wants round-upward, so we need to switch between the two. When we expect to call static filters all the time (your Delaunay example), it makes sense to stick to round-to-nearest and only temporarily switch to round-upward in the few cases where the static filter f

[2017-02-10 11:52] janetournois opened #1897 "Polyhedron demo - `off_plugin` crashes on some input"
## Issue Details

For some input `off` files, the `off_plugin` crashes. I attach one example. It may be that the data inside is corrupted, but the demo should not crash. It should for example send an error pop-up message.

## Environment

* Operating system : Windows, 64 bits
* Compiler: msvc 2016
* Release
* CGAL version: `master`
[x29_plane.zip](https://github.com/CGAL/cgal/files/766560/x29_plan

[2017-02-10 12:44] sloriot commented on #1897
Same on my linux. I bet this comes from the triangulation of non-triangular faces.

[2017-02-10 13:25] sloriot commented on #1897
Seems that at least one face is degenerated:
[code]

[2017-02-10 13:26] sloriot commented on #1897
First face is :
[code]

[2017-02-10 14:02] sloriot commented on #1897
This [commit](https://github.com/sloriot/cgal/commit/f013db43ab17a767d12f1101ffb1d20f0f9e31ad) is a possible fix for the issue.
Drawbacks:
- This slow down the reading since we check for duplicated vertex indices
- I guess `read_OFF` should read the OFF no matter what. The handling of degenerate faces (filtering) should be done in the soup item itself, with probably a warning.

What do you think?

[2017-02-10 14:08] janetournois commented on #1897
I think the degenerate face should be part of the polygon soup, and not discarded. We could then have algorithms to detect them/remove them/fix the polygon soup.

[2017-02-10 14:18] lrineau commented on #1897
@sloriot, https://github.com/CGAL/cgal/issues/1897#issuecomment-278948659:

[c]: https://github.com/sloriot/cgal/commit/f013db43ab17a767d12f1101ffb1d20f0f9e31ad

I agree read_OFF should just read the OFF, and then let the code using the polygon soup do the verification/processing.

[2017-02-10 14:20] lrineau commented on #1846
1. Is this issue still valid?
2. If it is, what is expected from Maxime?

[2017-02-10 14:29] lrineau opened #1900 "Test demos in Travis"
- [ ] First: test all demos, but Polyhedron demo, each one in a dedicated job.
- [ ] Then try to add the Polyhedron demo, in a dedicated job. Travis will probably manage to build it in 50 minutes.

[2017-02-10 14:47] lrineau commented on #1895
Actually our static filters to not assume any specific rounding mode. In the computation of error bounds, there is an extra `ulp()` to take care of that, if I remember well.

Knowing that, we might want to stick to round-upward as soon as we enter a costly CGAL function.

[2017-02-11 08:22] mglisse commented on #1895
Ah, the `double u = ulp(b) / 2;` in Static_filter_error.h seemed to indicate a round-to-nearest error, but I didn't try to understand the code, and not all static predicates were created using that file.

[2017-02-13 10:16] #17 closed

[2017-02-13 10:50] janetournois commented on #908
@palliez up :)

[2017-02-13 10:58] janetournois commented on #1200
Since PR #1893, the more recent version is in `CGAL/Mesh_3/experimental`

[2017-02-13 10:58] janetournois commented on #1199
Since PR #1893, the more recent version is in `CGAL/Mesh_3/experimental`

[2017-02-13 11:05] janetournois commented on #1326
@cjamin has this been fixed since you posted the issue?

[2017-02-13 11:10] janetournois commented on #1329
@sloriot what is the next task for that issue?

[2017-02-13 11:19] janetournois commented on #1770
@maxGimeno can you please add the genus to the polyhedral surfaces statistics?

@palliez can you please be more specific about "stats per face"?

[2017-02-13 12:09] janetournois commented on #1658
Can we find a conclusion on that issue?
My vote also goes to the `IS_AVAILABLE` suffix, even if some other macros should be renamed for the sake of uniformity in the future

[2017-02-13 12:39] sloriot commented on #1329
I don't know,

[2017-02-13 13:36] MoniqueTeillaud commented on #1329
IMHO, the update makes the page better than it was, but the new page is still not crystal clear.
This is what readers see, in order:

1- Section https://github.com/CGAL/cgal/wiki/Directory-Structure-for-Packages#directory-structure says:
" The directory structure of a package named Package **should** be as follows:
... +--- demo/<demodir>/ ..."

2- Then https://github.com/CGAL/cgal/wiki/Directory-

[2017-02-13 13:40] MoniqueTeillaud opened #1903 "missing links in wiki"
https://github.com/CGAL/cgal/wiki/Examples-and-Demo-Programs

"See Sections sec:examples_subdirectory 4.3 and sec:demo_subdirectory 4.4"

I guess that there should be hyperlinks to the corresponding sections.

[2017-02-13 14:04] maxGimeno commented on #1329
I moved the new phrase :
[demo-subdirectory](https://github.com/CGAL/cgal/wiki/Directory-Structure-for-Packages#demo-subdirectory)

[2017-02-13 14:38] lrineau commented on #1157
I am working on something really close, today. I will contribute the feature back to CGAL.

[2017-02-13 16:15] MoniqueTeillaud commented on #1329
The section Directory structure
https://github.com/CGAL/cgal/wiki/Directory-Structure-for-Packages#directory-structure
should be fixed.

Note: I don't receive notifications any more, though I am subscribed to this issue. I onlt came here by chance. Is it because it was "closed"?
In any case, it should be re-opened.

[2017-02-13 16:27] lrineau commented on #1329
Let's reopen the issue, and close it only once everybody is happy with the wording.

[2017-02-13 22:19] mglisse commented on #1895
The documentation for the filtered predicate generator also says

[2017-02-14 08:47] maxGimeno commented on #1329
I added a (Only for 3D Packages) on the demo line in the structure. (see [directory-structure](https://github.com/CGAL/cgal/wiki/Directory-Structure-for-Packages#directory-structure)).

[2017-02-14 09:26] lrineau commented on #1895
I cannot comment on FPG, because I can no longer find its code. Can you point me to a branch or tarball of it?

About the static filters in CGAL, they all have a magic constant, that is a bound on the error if all the arguments of the predicates were 1±ε (where the ε is the `ulp(1)/2`). The computation of that bound is done once, using `Static_filter_error.h` and that class uses `FPU_get_and_set_c

[2017-02-14 09:43] mglisse commented on #1895
inria/Filtered_predicate_generator-svn-experimental

[2017-02-14 09:52] mglisse commented on #1895
The rounding mode used to generate the predicates is not related to the runtime rounding mode of the predicate. We use upward rounding when generating the predicate because we want an upper bound both on the magnitude of numbers and on the error. For an addition, if x1 and x2 are wrong by e1 and e2, x=x1+x2 (before rounding) can already be wrong by e1+e2. Now comes the rounding, which for round-to

[2017-02-14 13:24] cjamin commented on #1326
No, I don't think so.

[2017-02-14 13:26] janetournois commented on #1326
ok!

[2017-02-14 13:29] cjamin commented on #1658
As said above, the proposal is in [this small feature](https://cgal.geometryfactory.com/CGAL/Members/wiki/Features/Small_Features/Patch_to_concurrency_in_CGAL), which is waiting for pre-approval by an editor I guess.

[2017-02-14 14:14] janetournois commented on #1658
ping @sloriot @afabri

[2017-02-15 08:22] MoniqueTeillaud commented on #1329
Now the danger is that people developing 2d simply ignore demos, if they are "only for 3d packages"...

I would prefer to remove this note in the list of subdirectories. Instead, add a few words in the paragraph that introduces demo/ :

-> for instance
"demo/ contains the demo programs for the package. Contrary to example programs, demo programs are not expected to be usable on all platforms. Demo

[2017-02-15 10:14] maxGimeno commented on #1329
[done](https://github.com/CGAL/cgal/wiki/Directory-Structure-for-Packages#directory-structure)

[2017-02-15 10:49] MoniqueTeillaud commented on #1329
I'd say it is ok now. Thanks.

[2017-02-15 10:50] #1329 closed

[2017-02-15 16:46] afabri commented on #1738
Here are the screenshots for the fixed version
![capturea](https://cloud.githubusercontent.com/assets/3263539/22984679/7428e6f4-f3a6-11e6-99aa-aefa91c9bd08.PNG)

and the zoom. It was this short edge that triggered the small protecting spheres.

![captureb](https://cloud.githubusercontent.com/assets/3263539/22984745/a717c9c2-f3a6-11e6-921f-e27caf882ff2.PNG)

[2017-02-16 13:18] imiordanov opened #1908 "Broken link in references"
## Issue Details

The link for reference [4] in the Bibliographic References for the Number Types seems to be broken.
Verify here: http://doc.cgal.org/latest/Number_types/citelist.html

The correct link should be this one: http://www.algorithmic-solutions.info/leda_manual/manual.html

## Environment

Documentation

[2017-02-20 08:40] sloriot opened #1912 "Free functions and functors in the Kernel."
It would be nice that we go over all of kernel function objects and add one free function overload for each kernel function object. Also, systematically having a _see also_ link to the free function in the Concept documentation would be great to have.
If we do that we should probably also update the developer manual to mention that a free function overload should be systematically available.

@lri

[2017-02-20 08:53] MaelRL commented on #1878
For tracking: Andreas is working to remove the implicit conversions, in [this branch](https://github.com/afabri/cgal/commits/Kernel_Weighted_point_without_conversion-GF).

[2017-02-20 11:24] lrineau commented on #1912
I agree. Do we have a way to test that more or less automatically?

[2017-02-20 11:42] #1851 closed

[2017-02-20 11:42] #1844 closed

[2017-02-20 11:42] #1889 closed

[2017-02-20 11:43] #1897 closed

[2017-02-20 11:43] #1326 closed

[2017-02-20 12:32] lrineau opened #1913 "shortest_paths_OpenMesh.cpp: Compilation errors with recent Fedora releases and with Intel Compiler"
[code]
https://cgal.geometryfactory.com/CGAL/testsuite/results-4.10-Ic-130.shtml#Surface_mesh_shortest_path_Examples

[2017-02-20 13:13] efifogel commented on #1912
All these free functions should accept a kernel as an optional parameter.
More precisely, have an overload that accepts a kernel.
This is important in case the kernel has state data.
In the "2D Arrangement" package for example, there are traits that maintain
state.
So if do something automatic, we may do this as well.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (___

[2017-02-20 14:04] #1913 closed

[2017-02-20 15:10] sloriot opened #1915 "Core is too verbose"
There are some `std::cerr` in Core and also the file `Core_Diagnotics` that is created on the disk when an error occurs. I think they should be protected by the macro `CORE_TRACE`. Do you agree?
While at it, shall we rename the debug macro `CORE_TRACE` to `CGAL_CORE_TRACE`?

[2017-02-20 15:42] lrineau commented on #1915
My opinion is: yes to both questions.

[2017-02-21 13:36] sloriot opened #1918 "Better handling of the initialization of index map"
When using polyhedron with ids, the default index property map do not have their ids initialized. This is an issue in algorithms than rely on it being initialized.

Recently, in `copy_face_graph()` I've introduced a mechanism that always initialize the id map (if writable) which is a bad thing if the user does not expect the ids of its const polyhedron to be modified.

We need to find a workaround

[2017-02-21 14:11] sloriot commented on #1629
Indeed in `box_self_intersection_d()`, if a range of non pointer is passed, the box are copied and if the policy is `ADDRESS` then identical boxes cannot be filtered out (neither can identical pairs). One simple fix in the case `ADDRESS` policy is used is to internally use the address of the boxes. This implies also having a transform iterator to get a range of pointers.

[2017-02-21 14:12] sloriot commented on #1629
Alternatively, we could also simply have a static assertion to avoid this scenario.

[2017-02-21 14:58] MaelRL commented on #1918
For tracking: the same mechanism is also used in the implementation of the DooSabin subdivision method (`subdivision_hosts_impl_3.h`).

[2017-02-21 16:46] lrineau opened #1924 "Warning in the Polyhedron demo on Windows"
- [x] The first one is only in 32  bits: https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.10-Ic-133/Polyhedron_Demo/TestReport_afabri_x64_Cygwin-Windows8_MSVC2013-Release-32bits.gz and that is probably a known one (@sgiraudot?)

- [x] The other one is new, and was hidden by red cells because of the timeout:
[code]
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.10-Ic-133/Polyhedron_De

[2017-02-22 10:20] lrineau opened #1925 "Mesh_3: create a piecewise-manifold criteria, for polyhedral complexes"
Even if the 2D surface of the mesh domain is not manifold, it is usually piecewise-manifold, being non-manifold only at the 1D curve segments of the domain. There could be a special piecewise-manifold criterion, that ensures that the only non-manifold edges of the c3t3 should be edges corresponding to the 1D curve segments of the domain.

Cc: @janetournois

[2017-02-22 16:30] sloriot opened #1926 "Segfault when trying to save a bbox"
In the polyhedron demo, when I click on _Save as_ after selecting an edit bbox created from a polyhedron I got a segfault.

[2017-02-23 10:22] lrineau opened #1927 "MeshEdgeCriteria_3 is wrong"
http://doc.cgal.org/4.9/Mesh_3/classMeshEdgeCriteria__3.html

That documentation is wrong: the `operator()` is actually never used by Mesh_3, and it is not implemented in the "model" [`Mesh_edge_criteria_3`][*].

  [*]: http://doc.cgal.org/4.9/Mesh_3/classCGAL_1_1Mesh__edge__criteria__3.html

[2017-02-23 17:13] sloriot opened #1928 "Selection of duplicated points is broken"
In the polyhedron demo, the selection of duplicated points (using the context menu of the item) seems broken.

With the current [point set](https://gist.github.com/sloriot/652c2d951362de36f6ecd9a0bb0bcd3d), not all the 32 duplicated points are selected.

[2017-02-23 17:40] lrineau commented on #414
@sloriot said this bug is now fixed since #1923.

[2017-02-23 17:40] #414 closed

[2017-02-27 07:44] sgiraudot commented on #1924
For the first one, we indeed saw it already (maybe not in here).

There is a problem in the counting iterator where the difference type is not correct. But anyway we change it, we get a warning (sometimes a different if I remember correctly). This is one of those warnings on which we spent quite a long time and couldn't find a solution except disable it…

I did not look at the code for the second

[2017-02-27 10:38] lrineau opened #1931 "Polyhedron demo: port plugins to use Surface_mesh"
We would like to port plugin of the "polyhedron demo" to use the BGL API and the `Surface_mesh` class instead of `Polyhedron_3`.

The rational (taken from #1932):

- [x] AABB_tree (#1953)
- [ ] Convex_decomposition
- [ ] Convex_hull
- [x] IO
- [ ] Mesh_2
- [ ] Mesh_3
- [x] Operations_on_polyhedra (#1941)
- [ ] PCA
- [ ] PMP
- [ ] Point_set
- [ ] Subdivision_methods
- [ ] Surface_mesh
- [ ] Surface

[2017-02-27 10:39] maxGimeno opened #1932 "Polyhedron_demo: Use Scene_surface_mesh_item instead of Scene_polyhedron_item"
## Issue Details

We should use the Scene_surface_mesh_item where it is possible, as it is more efficient in terms of memory consumption. We should integrate the plugins by package, to dispatch tests and to avoid a too important difference with the current master branch.

Packages:

- [x] AABB_tree
- [x] Convex_decomposition
- [x] Convex_hull
- [x] IO
- [x] Mesh_2
- [ ] Mesh_3
- [x] Operations_on_

[2017-02-27 11:02] lrineau commented on #1924
So the "fix" for the first warning is a few lines of `#pragma`, to deactivte the warning?

[2017-02-27 11:28] janetournois commented on #1918
Note also for PMP : in `CGAL/Polygon_mesh_processing/border.h`, a warning message is displayed via `std::cerr` when a face index map is provided but the indices of the two first faces of the face range are the same wrt this property map.
It is not very satisfactory either.
If a better workaround is found, it should be used there too.

[2017-02-27 15:53] maxGimeno commented on #1846
@afabri @sgiraudot ping

[2017-02-27 16:03] maxGimeno commented on #1926
Should I wright an IO plugin for the edit_box_item or simply fix the segfault ?

[2017-02-27 20:53] palliez commented on #1770
Stats on faces (when pure triangle):
- about area: min, max, median, mean
- about shape: min altitude, aspect ratio (min, max, mean), where aspect ratio is longest edge divided by smallest altitude

[2017-02-28 13:12] lcj0117 opened #1938 "CGAL sample failed on Mac while I run it well on Windows"
_Please use the following template to help us solving your issue._

## Issue Details
Here is the run time error, I try to run the sample 'skeletonization'(the example extracts a medially centered skeleton from a given mesh) under Xcode on my Mac, but it always give the error, I can not solve this, also I run it well on my Windows.
"
CGAL error: precondition violation!
Expression : rows > 0
File

[2017-03-01 07:51] #1938 closed

[2017-03-01 07:58] afabri commented on #1938
@lcj0117 Was there a real problem? If yes, then it might be interesting for others how you solved it.

[2017-03-01 08:39] sloriot commented on #1912
maybe we can use `interface_macros.h` but I'm a bit pessimistic since free functions overload can be for 2D and 3D points for example.

[2017-03-01 08:39] sloriot commented on #1912
@efifogel I think this is a good idea if it is possible.

[2017-03-01 08:45] sloriot commented on #1926
Up to you. No crash is a minimum. Being able to save it as an OFF is a plus.

[2017-03-01 08:55] maxGimeno commented on #1926
Actually you can convert it in a polyhedron which can be saved in an OFF. If I wright an IO plugin it will be a specific type to save an edit box, not a regular OFF.

[2017-03-01 09:44] #1900 closed

[2017-03-01 13:32] lrineau opened #1942 "Upgrade the CMakeLists for CGAL_ipelets/C++11, with recent CMake compile features"
In `demo/CGAL_ipelets/CMakeLists.txt`, there is that sort of code:
[code]

In `master` (CGAL>=4.10), it can be replaced by prettier and more efficient CMake code, now that we require CMake>=3.1. Something similar to `demo/Polyhedron/CMakeLists.txt`:
[code]

[2017-03-01 17:55] lrineau opened #1944 "Mesh_3: bug in perturber"
*While debugging something else, a ctest run showed strange failures in another test...*

In `master` (currently 2249dfde063b2d359a93f4e46c9e5ca06789c5f3), if I add the following patch:
[code]

then the test `test/Mesh_3/test_mesh_implicit_domains.cpp` fails. That shows that, for some reason, there are `NaN` numbers computed in the `get_least_square_surface_plane` function. I found out that there

[2017-03-02 08:51] lrineau commented on #1944
Update: the failing test file is `test_mesh_implicit_domains.cpp`.

[2017-03-02 10:02] janetournois commented on #1944
I cannot reproduce the bug, even though I disabled the time limits on `perturb_mesh_3` and `exude_mesh_3`...

[2017-03-02 13:20] gnzlbg opened #1945 "Documentation of `side_of_triangle_mesh` (Polygon Mesh Processing)"
I am trying to find out if `side_of_triangle_mesh` returns correct results when the casted ray intersects a triangle (or multiple of them) along a line segment and/or exactly on a point in the triangle edges or a triangle vertex.

The documentation is a bit un clear. Maybe it would be possible to clarify if it can handle these cases, and also which algorithm it uses (e.g. cite the paper).

The doc

[2017-03-02 13:37] sloriot commented on #1945
Degenerate cases should be handled correctly. It is not specified in particular for this class because it is the case everywhere in the library. The algorithm use a classical method that compute the number of intersected triangles by a ray emanating from the query point. I'm not sure there exists a publication. Maybe it is cited in Dave Eberly's book. The queries are speed up using an AABB-tree.

[2017-03-02 13:43] gnzlbg commented on #1945
Yes, i was just wondering what does it do when the ray intersects a vertex, that is shared by multiple triangles (e.g. it should be counted only once), or an edge (should be counted only once as well), or when the ray lies exactly on the triangle plane, in which case whether the intersection should be counted or not depends on the vertices of the adjacent triangles (or triangles even farther away)

[2017-03-02 13:53] sloriot commented on #1945
The triangle-ray intersection predicate detects when the ray shoots an edge, a vertex, or the interior of a triangle. In case the intersection is not in the interior of the triangle, another random ray is taken. In practice, it was faster than having a map to eliminate other incident faces incident to the simplex shot.

[2017-03-02 13:59] gnzlbg commented on #1945
Ah I see! Is the direction of the ray truly random? Or are the other "Cartesian" directions attempted first? Like typically one shoots the ray in the direction of the side that's closer to the point in the AABB of the root of the AABB tree. I've seen solutions that then proceed to shoot rays in the other Cartesian directions, but is also trivial to construct cases in which for a given point these

[2017-03-02 14:09] sloriot commented on #1945
The first ray is along one axis, the direction depends on the position in the bbox. In case of failure, we decided it was not worth doing it for the other directions. For the random directions, a point is taken uniformly on the sphere so in practice you will always find a good candidate.
The predicates are robust if you use a kernel with exact predicates.

[2017-03-02 14:11] gnzlbg commented on #1945
Nice, this matched my expectations.

Do you mean something like having a bounding sphere of the AABB tree, and picking a random point on its surface, and then casting a ray to that?

[2017-03-02 14:15] sloriot commented on #1945
well, we only need a random direction, so we pick a point on the unit sphere and then the ray if origin -> this point, translated at the query point.

[2017-03-02 14:24] gnzlbg commented on #1945
Thanks a lot, this clarifies all my questions!

[2017-03-02 15:29] lrineau commented on #1886
I reported that issue three weeks ago! @efifogel, @mhsaar, @akobel, @ericberberich, could you both comment? Who is responsible for that code in CGAL?

[2017-03-02 16:09] sgiraudot commented on #1846
This issue is still valid. I think what is left to do is making a good `FindLASLIB.cmake` file, but most importantly we need to decide how we handle LASlib (this will be discussed at the developer meeting).

I don't think Maxime has anything to do right now.

[2017-03-02 16:19] lrineau commented on #1924
The second type of warnings are fixed but not the first one.
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.10-Ic-142/Polyhedron_Demo/TestReport_afabri_x64_Cygwin-Windows8_MSVC2013-Release-32bits.gz

[2017-03-02 17:41] gnzlbg commented on #1945
It would still be great if a summary of @sloriot answers could be added to the docs of `side_of_triangle_mesh` :) Thanks a lot for answering my questions!

[2017-03-03 08:59] lrineau commented on #1924
... As Jane pointed out (in a private communication), the first warning seems fixed too.

[2017-03-03 08:59] #1924 closed

[2017-03-05 03:07] emazin opened #1949 "Surface_mesh: bug in is_border(Vertex_index)"
## Issue Details

There's an obvious bug in line 2183 of cgal/Surface_mesh/include/CGAL/Surface_mesh/Surface_mesh.h (line 1717 on master),
        **return (!(is_valid(h) && is_border(h)));**

Negation here breaks the logic, and the use of is_valid() is inconsistent with the rest of the function.

## Source Code
 bool is_border(Vertex_index v, bool check_all_incident_halfedges = true) const
    {

[2017-03-06 11:31] afabri commented on #1928
@sgiraudot  can you fix that please.

[2017-03-06 13:01] afabri commented on #1931
In order to minimize the effort not all plugins are needed to work on Polyhedron and Surface_mesh. For example I would exclude the shortest path plugin. In order to demo it, it is enough to convert from a Surface_mesh toa Polyhedron.

Also the plugins with a lot of interaction should just be ported, as it seems a rather big effort to make them work on both at the same time.

[2017-03-06 15:45] maxGimeno commented on #1931
Edit :
- [x] AABB_tree
-[ ] Convex_decomposition
-[ ] Convex_hull
-[x] IO
-[ ] Mesh_2
-[ ] Mesh_3
-[x] Operations_on_polyhedra
-[ ] PCA
-[ ] PMP
-[ ] Point_set
-[ ] Subdivision_methods
-[ ] Surface_mesh
-[ ] Surface_mesh_deformation

[2017-03-07 06:32] ericberberich commented on #1886
remove or replace with something? isn't there a catch that prevents a full crash if such an error is thrown?

[2017-03-07 10:42] chgans opened #1955 "Arr_trapezoid_ric_point_location crashes on edge removal"
## Issue Details

Arr_trapezoid_ric_point_location crashes when removing an half-edge that is connected to other half-edges.

## Source Code

[code]

[code]
## Environment

* Operating system (Windows/Mac/Linux, 32/64 bits): Linux KUbuntu 16.10, 64 bits
* Compiler: pool/main/g/gcc-defaults/gcc_6.1.1-1ubuntu2_amd64.deb
* Release or debug mode: Debug mode
* Specific flags used (if any): None
* CGAL

[2017-03-07 11:03] lrineau commented on #1886
@ericberberich
Short answer: no, those `throw(something)` specifications are completely useless, for C++11 or later and even for C++98/03. The best solution is just to remove them. That would be different is that was `throw()`.

The longer answer now...

[Dynamic exception specifications][1] (`throw(`*something*`)`) have been replaced in C++11 by [the `noexcept` specifier][2]. The `throw(...)` spe

[2017-03-07 11:12] chgans opened #1956 "Arrangement_2: Non-symetrical observer notification of insert/remove edge"
## Issue Details

As initially reported on the [cgal-discuss mailing list](https://sympa.inria.fr/sympa/arc/cgal-discuss/2017-03/msg00004.html). The notification order when calling the free-function insert/remove edge is not symetrical:

### When inserting a (isolated) segment:
- Before create vertex
- After create vertex
- Before create vertex
- After create vertex
- Before create Edge
- After cr

[2017-03-07 11:22] sloriot commented on #1956
IMO, this is correct. If  a vertex is removed  then it's already too late to notify that an incident edge is being removed. The _before remove edge_ should be the first one, then comes the notification for its vertices.

[2017-03-07 11:48] chgans commented on #1956
Absolutely agree, the problem is not who of the vertex/edge come first, the problem is that the before/after are inter-leaved.
You *should* get:
-  Before remove edge <===========
- After remove edge <===========
- Before remove vertex
- After remove vertex
- Before remove vertex
- After remove vertex

Instead you *do* get:
- Before remove edge  <============
- Before remove vertex
- After remove

[2017-03-07 14:10] lrineau commented on #1908
Thanks for reporting. The issue is now fixed in our `master` branch (see the PR #1910).

[2017-03-07 14:10] #1908 closed

[2017-03-07 14:42] lrineau commented on #1945
I think @gnzlbg is right. Adding those precisions to the CGAL documentation would be an improvement. Let's reopen the bug.

[2017-03-07 15:11] lrineau opened #1957 "Polyhedron Demo: Memory leak in the off_plugin or Scene_polyhedron_item"
## Issue Details

There seems to be an important memory leak in the Polyhedron Demo, while loading/erasing polyhedron items.

That should be fixed as soon as possible.

## Source Code

The following command line loads a Qt Script that loads/erases an OFF file 500 times. The memory usage of the application increases, even if the items are destroyed, up to 7.0GB on my machine.

[code]

I have chosen

[2017-03-08 07:22] VincentRouvreau opened #1958 "Incorrect CGAL_VERSION when HEADER_ONLY is set to ON"
## Issue Details

I compile CGAL in the nominal way in a folder /home/workspace/CGAL-4.9 (cmake . && make)
I compile CGAL with HEADER_ONLY set to ON in a folder /home/workspace/CGAL-4.9_HO (cmake  -DCGAL_HEADER_ONLY=ON . && make)
An external CMake is importing CGAL. When cmake it :
[code]

[code]

## Source Code

An external almost empty CMakeLists.txt :
[code]

## Environment

* Operating system

[2017-03-08 10:00] maxGimeno commented on #1957
I don't think there is a leak.

The problem comes from deleteLater(). While the script is running, the items are loaded and Scene::erase() calls item->deleteLater, which stacks the call to delete, but does not perform it.

When the script is finished, Qt destacks all the deleteLater()  calls and destroys the 500 items. But the memory has been stacked, and I think the memory you think has leaked is

[2017-03-08 15:59] efifogel commented on #1955
Apparently, the assertion statement that causes the violation should simply
be removed (and a couple of redundant statement that precede the assertion).
Anyhow, the attached patch fixes it.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On 7 March 2017 at 12:42, Christian Gagneraud <notifications@github.co

[2017-03-08 20:53] chgans commented on #1955
Hi Efi,

Thanks for looking at this. I couldn't find your patch anywhere, does it simply remove the assert? I would be interested to see it in case you have removed more assert/warning.

Here is another similar, valid and simple case:
This will trigger a warning with a reference to bug reporting, I don't known if it's harmless or not.

[code]
Which gives:
[code]

[2017-03-09 07:25] efifogel commented on #1955
Hi Christian,

1. The patch is simple: just remove the lines below near 1542.

-  if (he->source() == v)
-    he = he->twin();
-  CGAL_assertion(he == first);

Naturally, we'll fix it in our sources.

2. The new test case reveals another problem. (Or, at least it seems so.)
I would appreciate it if you submit a new issue.

Thanks,
Efi

   ____  _        ____             _
  /_____/_) o    /_______

[2017-03-09 15:15] maxGimeno commented on #1958
I wonder if the problem is in the external CMake. In the CGALConfig.cmake generated in header only, the values are right (4.9.1000)

[2017-03-09 15:30] sloriot commented on #1958
What version of cmake are you using?

[2017-03-09 15:36] maxGimeno commented on #1958
Strange, when I try it I get

like it should.
Can you check

and tell us if the values are OK in there ?

[2017-03-09 15:52] VincentRouvreau commented on #1958
Thank you for the reactivity.
My CMake is 3.2.2.
You can close the issue, I feel bad...
I indicate a wrong CGAL version repository, and find_package found the default CGAL installed through apt-get...
It was CGAL-4.9-HO and not CGAL-4.9_HO

[code]

Sorry for the noise, and thank you again.

Vincent.

[2017-03-09 16:01] #1958 closed

[2017-03-09 18:06] lrineau commented on #1770
I reopen the issue, because the genus is not computed.

[2017-03-10 11:27] sloriot opened #1963 "Improve loading of polylines"
Right now it is painful to open a polyline file containing many polylines. For example opening 100000 segments takes ages. Also the std::cerr for each polyline should be removed.

We should have a look at what is going on. @maxGimeno, could you have a look?

[2017-03-10 13:29] maxGimeno commented on #1963
I guess most of the time is taken by the cerr... I'll check deeper when I remove it.

[2017-03-10 13:32] sloriot commented on #1963
It's not the case, I've already done that locally.

[2017-03-10 13:59] maxGimeno commented on #1963
Ach, it's a shame.

[2017-03-11 02:11] chgans opened #1967 "Arr_trapezoid_ric_point_location: Strange warning when adding/removing edges"
## Issue Details

When a ```Arr_trapezoid_ric_point_location``` is attached to an ```Arrangement_2```, after an isolated inner CCB is added to the arrangement, and then the edges are removed one by one, the locator will raise a strange warning, although nothing wrong was done on the arrangement.

## Source Code

[code]
Which gives:
[code]

## Environment

KUbuntu 16.10, with distro provided CGAL-4

[2017-03-11 02:12] chgans commented on #1955
Thanks Efi, I've created a separate issue: #1967

[2017-03-13 07:44] uranix opened #1968 "CMake scripts: CGAL_DONT_OVERRIDE_CMAKE_FLAGS is not honored in CGAL_SetupFlags.cmake"
When using the following code
[code]
in my project's CMakeLists.txt the CMAKE_CXX_FLAGS are still populated with CGAL default flags.
Looking through the code of [CGAL_SetupFlags.cmake](https://github.com/CGAL/cgal/blob/9a6a1bcc9ba7adcc50202dedd6fe7a7a33da36e4/Installation/cmake/modules/CGAL_SetupFlags.cmake#L38-L49) it seems that flags are added unconditionally.

Here's a minimal example of CMakeL

[2017-03-14 15:30] #1955 closed

[2017-03-14 15:31] sloriot commented on #1955
Fixed by #1962

[2017-03-16 14:55] sloriot opened #1974 "Selecting faces when Polyhedron has degenerate faces"
If a polyhedron has some degenerate faces, the selection of non-degenerate faces (picking and selection item) will fail as the AABB-tree will fail on those faces. A simple solution is to filter out those faces while constructing the tree.

[2017-03-16 17:57] sloriot opened #1977 "Display error of faces with more than one CCB in Nef polyhedron"
The way the triangulation of Nef facets is done is not generic enough to handle when there are more than one Connected Component of the Boundary (CCB).
If you do `pav-cube` you'll get this:
![screenshot from 2017-03-16 18-52-28](https://cloud.githubusercontent.com/assets/1224632/24011058/ee536e4c-0a79-11e7-929e-4ccf4dd05581.png)
instead of a minecraft donut.

Data is [here](https://gist.github.com

[2017-03-17 08:12] MoniqueTeillaud opened #1978 "random_points_in_sphere_3"
See http://doc.cgal.org/latest/Generator/classCGAL_1_1Random__points__in__sphere__3.html
"The class Random_points_in_sphere_3 is an input iterator creating points uniformly distributed in an open sphere."

This does not make any sense...

In an ideal word, the class should be named Random_points_in_ball_3. To avoid complications I propose to leave the name as is, and to only modify the explanation

[2017-03-17 08:17] afabri commented on #1978
grep is your friend

[2017-03-20 03:06] CloudComputer opened #1979 "Assertion fail on polyhedron_3_to_nef_3"
## Issue Details

When trying to construct Nef_Polyhedron from Polyhedron I get the assertion fail.
`CGAL_assertion(pe_prev->is_border() ||
                     !internal::Plane_constructor<Plane>::get_plane(pe_prev->facet(),pe_prev->facet()->plane()).is_degenerate());`

![error](https://cloud.githubusercontent.com/assets/14849839/24087675/0fc0e7d6-0d5d-11e7-8e16-1c07568e598b.png)

I have insured

[2017-03-20 09:39] maxGimeno commented on #1968
The variable CGAL_DONT_OVERRIDE_CMAKE_FLAGS is set to FALSE by default using the `option` cmake function. That means that you can set it to true through the cmake command like this:
cmake -DCGAL_DONT_OVERRIDE_CMAKE_FLAGS=true your_path
or, if you need to use `set` in your CMakeLists.txt, it means you want to override the option, which means you need to use :
set(CGAL_DONT_OVERRIDE_CMAKE_FLAGS TRUE

[2017-03-20 09:41] uranix commented on #1968
My fault, thank you!

[2017-03-20 09:41] #1968 closed

[2017-03-20 12:57] lvc opened #1980 "API/ABI changes review for CGAL"
The review of API/ABI changes for CGAL since 4.6.1 version: https://abi-laboratory.pro/tracker/timeline/cgal/

The report is updated regularly. Hope it will be helpful for users and maintainers of the library.

Created with the help of open-source abi-tracker tool: https://github.com/lvc/abi-tracker

Thank you.

![cgal-1](https://cloud.githubusercontent.com/assets/1517837/24100451/c1142bb2-0d8d-11

[2017-03-22 16:40] flm8620 opened #1987 "Inconsistency in doc for TriangulationDSFaceBase_2 Concept"
In the doc of [TriangulationDSVertexBase_2 Concept](http://doc.cgal.org/latest/TDS_2/classTriangulationDSVertexBase__2.html), It says

While for [TriangulationDSFaceBase_2 Concept](http://doc.cgal.org/latest/TDS_2/classTriangulationDSFaceBase__2.html), there is no such line indicating refinement relationships

Is this a negligence or it's intended?

[2017-03-23 10:58] mama10 opened #1988 "Windows: Creation of dev/null file"
## Issue Details

On Windows:
If "dev" folder is present, a "dev/null" file is created.
In CGAL/Tools/Log.h null_ stream opens null device file "/dev/null" which is only correct on Unix.

## Environment

* Operating system: Windows 8.1
* CGAL version: 4.9

[2017-03-23 11:10] lrineau commented on #1988
@CGAL/developers: The bug is from KDS, in `Kinetic_data_structures/include/CGAL/Tools/Log.h`. In my opinion, the  `std::ofstream` `null_`should stay closed. [One can write to an unopen `ofstream`.](http://stackoverflow.com/questions/28499630/is-it-allowed-to-write-to-a-ofstream-when-it-is-not-opened-in-c)

[2017-03-24 08:38] afabri commented on #1979
The data set has 77 degenerate faces.

[2017-03-24 10:08] #1987 closed

[2017-03-24 13:02] lrineau commented on #1987
Thanks. I will be fixed in CGAL-4.10.

[2017-03-24 20:33] #1979 closed

[2017-03-27 07:50] sloriot commented on #1979
You can try using the function `OFF_to_nef_3` available in  `include/CGAL/OFF_to_nef_3.h`.

[2017-03-27 08:20] CloudComputer commented on #1979
In fact, I do not need Nef_Polyhedron. I just want to do Boolean operations by the data set. Maybe due to the presence of degenerate faces, it will still lead to assertion fail. Should I learn ways of  removing degenerate faces without changing its shape?
Does anyone have some good ideas?

[2017-03-28 07:46] sgiraudot opened #1995 "Doc bugs with Doxygen 1.8.13"
## Issue Details

Using the Doxygen version https://github.com/CGAL/doxygen/tree/release_1_8_13_patched, I have two graphical bugs in the doc:
* The footer is hiding the bottom of the page (on most pages, you can't read the last sentence)
* On a reference manual, when you click on a class on the left menu, the right page is displayed, but the menu is buggy: it is not the element that you clicked o

[2017-03-29 09:50] #1963 closed

[2017-03-29 10:03] lrineau commented on #1967
Efi, can you please comment on the issue report? Is that warning intended? What is the appropriate action?

[2017-03-29 10:40] lrineau opened #1996 "Document that CGAL-4.10 requires CMake>=3.1"
In `master`, our `Installation/changes.html` "documents" that the minimal required version of CMake is 3.1. But we forgot to write that new requirement in `INSTALL.md` and in the installation manual.

[2017-03-29 10:41] efifogel commented on #1967
We are looking into it.
Sorry for not responding.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On 29 March 2017 at 13:03, Laurent Rineau <notifications@github.com> wrote:

[2017-03-29 14:46] lrineau opened #1999 "Use of git-merge, update the github wiki"
This issue was very briefly discussed at the CGAL Developers Meeting at Sophia, 2017. We decided that @sloriot should handle it.

## Issue Details

The [Guidelines] in the wiki recommend to use git-merge, while Laurent thinks it is a bad idea (because it generates spurious commits in branches). Discuss a better procedure and update the github wiki.

[Guidelines]: https://github.com/CGAL/cgal/wiki/

[2017-03-29 14:49] lrineau opened #2000 "Notifications for modifications to the Github wiki"
Listed as an undone task at https://cgal.geometryfactory.com/CGAL/Members/wiki/Meetings/Zurich16

## Issue Details

The wiki was made public.

Problem: now anybody can edit the wiki, and the admins don't even get a notification!

Edit: @SaillantNicolas See the recent comment at https://github.com/CGAL/cgal/issues/2000#issuecomment-1386710064.

[2017-03-29 15:01] lrineau opened #2001 "CGAL web site too slow from USA or Australia?"
Discussed at https://cgal.geometryfactory.com/CGAL/Members/wiki/Meetings/Sophia17

## Issue Details

Users are complaining that the website and the doc are "so slow as to be unusable" from USA and New Zealand. "Seems like the server drops connections."

https://doc.cgal.org and https://www.cgal.org are hosted on a Pro2014 mutualized hosting, at OVH. For 1€/month, we could buy the CDN option, to ha

[2017-03-29 15:07] maxGimeno commented on #1903
I added the [missing linkslink](https://github.com/CGAL/cgal/wiki/Examples-and-Demo-Programs#introduction)

[2017-03-29 15:08] lrineau opened #2002 "Optimization of the kd-tree in small dimensions (3<d<=20)"
https://cgal.geometryfactory.com/CGAL/Members/wiki/Meetings/Sophia17

Compare the efficiency of CGAL kd-tree with Flan and Nanoflan...

@cjamin @afabri

[2017-03-29 15:15] lrineau commented on #1903
I have verified that the links are added.

[2017-03-29 15:15] #1903 closed

[2017-03-29 15:27] afabri commented on #2001
Note that I asked on the cgal-discuss mailing list, and nobody replied. Not even @gdamiand

[2017-03-29 15:27] lrineau commented on #1996
Cc @sloriot @cjamin

[2017-03-29 15:33] gdamiand commented on #2001
The problem seems solved now (I also observed the problem last week).

[2017-03-29 16:46] maxGimeno opened #2004 "Polyhedron_demo : Update and fix the doc"
## Issue Details

The doc for the Three package is wrong at several levels. It needs to be partially re-written.

[2017-03-30 14:56] #1978 closed

[2017-03-30 16:27] #1949 closed

[2017-03-30 16:28] lrineau commented on #1949
Thanks for the report. It is now fixed in our `master` branch.

[2017-03-31 10:46] janetournois opened #2007 "Polyhedron demo : convert `Surface_mesh_item` to `Polyhedron_item` and vice versa"
## Issue Details

Because some packages are not available yet with the BGL API, and the `CGAL::copy_face_graph` function is available, it would be nice to have a conversion tool between `Surface_mesh_item` and `Polyhedron_item` in the demo.

## Source Code

todo : Add a conversion tool to both items

[2017-03-31 10:56] janetournois opened #2008 "Polyhedron demo : add `Load as...`"
## Issue Details
When we open a file (e.g. a `mesh.cgal`), choose a plugin to open it (e.g. `C3t3_io_plugin`), and click "Always open with...", it is never possible to make another decision while keeping the demo open.

Let's say I want to open a `.off` file as a `Surface_mesh`, and later another as a `Point_set`. They will all be opened as `Surface_mesh`, and then I need to use the conversion too

[2017-03-31 10:56] afabri commented on #2007
If you look at the list of finalized plugins we got pretty close, so I would not spend time on that now.

[2017-03-31 11:01] lrineau commented on #2007
We are talking about something that can be implemented in 30 minutes, and could be useful right now.

[2017-03-31 12:09] janetournois commented on #2007
it would also be useful to test if plugins work the same with both data structures

[2017-03-31 12:40] afabri commented on #2001
@gdamiand  wrote: The problem seems solved now (I also observed the problem last week).

[2017-03-31 15:46] lrineau commented on #2008
If could be implemented within the file dialog of the usual "Load" action, with a special `nameFilters` where all pair (extension, loader) would appear as an entry, and if the user selects a precise filter entry, then its loader would be choosen.

[2017-03-31 16:47] lrineau opened #2009 "Document the Mesh_3 manifold criterion"
After the merge of #1876, the next step is to document the feature.

[2017-04-02 02:01] chgans opened #2010 "Linear kernel documentation vs Minkowski sum code"
## Issue Details

1.
In it's section "Extensive Example", the Linear Kernel documentation claims that one doesn't need a custom point with a CGAL::Origin ctor, this is not true, at least when using minkowski sum as `Point_2  Minkowski_sum_by_reduced_convolution_2::get_point(...)` calls directly `Point_2(Origin)`

Which means that when using minkowski, you cannot use your custom Point class without

[2017-04-02 17:20] lemonnguyen opened #2011 "Fix a grammar error in readme.md"
"The compilation and installation of CGAL from a sources tarball is described in the CGAL installation"
is => are

[2017-04-03 10:48] maxGimeno commented on #2008
Wouldn't it be easier to add an option in the Preferences dialog that resets the default loaders ?

[2017-04-03 14:25] maxGimeno commented on #1770
Sorry I had the branch in local, I guess I wanted to wait for the integration of the first part and then I forgot.

[2017-04-04 08:04] chgans opened #2021 "[RFC] GraphicsView: general polygon to QPainterPath converter"
## Proposal

I was poking around with `General_polygon_set_2` and `Arr_circle_segment_traits_2`, and I wanted to display such polygons in a `QGraphicsView`. So i wrote a function that convert such polygons to `QPainterPath`. This way the polygons can easily be inserted into a `QGraphicsScene` using `QGraphicsPathItem`. This has been tested with extensive input data sets.

This function could be ad

[2017-04-04 19:23] flm8620 opened #2024 "Store userdata in edges in Triangulation"
## Problem
I want to store userdata in edges. But [CGAL::TriangulationDataStructure_2 Concept](http://doc.cgal.org/latest/TDS_2/classTriangulationDataStructure__2.html) only has a implicit representations for edge, which is attached to a face.

So I can create my face class and plug it into `CGAL::TriangulationDataStructure_2`. But then I found this function:
[TriangulationDataStructure_2::insert_

[2017-04-05 14:23] lrineau opened #2026 "Clang warnings -Winconsistent-missing-override in the Polyhedron Demo"
## Issue Details

Since the PR #1972, there are warnings in the testsuite in the clang columns. Since clang 3.5, `-Wall` implies the warning flag [`-Winconsistent-missing-override`][1].

  [1]: https://clang.llvm.org/docs/DiagnosticsReference.html#winconsistent-missing-override

See for example the warnings in https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.10-Ic-171/Installation/TestReport

[2017-04-05 15:02] #1876 closed

[2017-04-05 15:02] #1928 closed

[2017-04-05 15:02] #1957 closed

[2017-04-05 15:19] lrineau commented on #1967
Is there any change you come up with a fix in the following week? This issue is the last one that is blocking CGAL-4.9.1.

[2017-04-05 15:20] lrineau commented on #1996
Fixed by #2013.

[2017-04-05 15:20] #1996 closed

[2017-04-05 16:07] lrineau opened #2027 "In `master`, `check_headers` no longer compile"
In the `master` branch (targetting CGAL-4.10-beta1), configure CGAL with:
[code]

Then `make check_headers` does not compile. That means that some headers do not include the headers they actually require.

[2017-04-05 20:28] efifogel commented on #1967
It's unlikely to be addressed in the next 2 weeks; hopefully during the
week after.
I think it's not a 4.9.1 show blocker.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On 5 April 2017 at 18:19, Laurent Rineau <notifications@github.com> wrote:

[2017-04-06 13:06] chgans commented on #2021
Hi,

I have updated the code of `construct_path`, there was a subtle bug. The clockwise boolean had to be based on the supporting circle orientation, not the polygon orientation! Man, it took me a while to find that one!
Unfortunately, the demo code was not complicated enough to show the bug.
See picture below for a real use-case in which there are now zero anomaly (as far as i can tell).
This is

[2017-04-06 13:20] lrineau commented on #1967
Thanks Efi for your answer. I reassign this issue to CGAL-4.10.

[2017-04-06 13:50] maxGimeno opened #2031 "Feature request : Enhance Polyhedron_demo"
## Issue Details

During last CGAL Developers Meeting (March 17), a list of ideas for enhancements have been created. They should be implemented.
## Source Code
See [the minutes](https://cgal.geometryfactory.com/CGAL/Members/wiki/Meetings/Sophia17/Minutes#WG_Polyhedron_demo_enhancements).

[2017-04-06 14:13] untereiner opened #2032 "Archlinux FindCGAL.cmake problem"
## Issue Details

Problem on Archlinux with CMake and FindCGAL.cmake (the one provided by cgal).
The output of CMake:
``
  include could not find load file:
    /usr/lib/CGAL/lib64/CGAL/UseCGAL.cmake
``

## Source Code

I think the problem is in CGALConfig.cmake file.
On archlinux the directory lib64 is at the same level than lib and lib32.
The variable CGAL_CONFIG_DIR is "/usr/lib/CGAL"
The repla

[2017-04-06 15:05] lrineau commented on #2031
This issue should be split several issues, that could be solved with different pull-requests.

[2017-04-06 16:18] lrineau commented on #2024
I agree with the reporter. For the face that is recycled, we should call the destructor `~Face()`, and then a placement new to call the default constructor again. And do the same consistently in Triangulation_2 and Triangulation_3. That consistent behavior would have saved a lot of trouble in the Mesh_2 and Mesh_3 package.

[2017-04-07 08:49] maxGimeno opened #2033 "Polyhedron_demo : Fix Isotropic_remeshing_plugin"
## Issue Details

There is a bug in the isotropic remeshing plugin with protected edges that are too long.
@janetournois  Can you please give me precisions about what is wrong and how to reproduce ?

[2017-04-07 08:52] maxGimeno opened #2034 "Polyhedron_demo: make the demo easier to use"
## Issue Details

We could make the demo easier to take in hand by doing the following :
- Add tooltips and help pages to document the keybindings and how to use a complicated plugin
- Add shortcut sequences for each action : ctrl+first letter of the submenu, ctrl+shortcut letter.
- Add a research for actions in Operations
- Add a submenu for recent operations and a shortcut like F1 for opening an

[2017-04-07 08:55] maxGimeno opened #2035 "Polyhedron_demo : enhancements for some plugins"
## Issue Details
We should
- [x] test if the polyhedron is manifold during the selection-edition
- [x] add a widget specifying the current mode (selection, edition, ...)
- [ ] the constraint deformation plane should be filled and not transparent (edit_polyhedron_plugin)
- [x] Make the statistics exportable

[2017-04-07 08:57] maxGimeno opened #2036 "Polyhedron_demo : basic volumes generator"
## Issue Details
Feature request :
Add a cube/cylinder/sphere/tetrahedron generator and then be able to transform the results to adapt the size, orientation and position (using the affine_transformation_plugin).

[2017-04-07 08:59] maxGimeno opened #2037 "Polyhedron_demo: enhance color management, and camera actions"
## Issue Details

- [x] When loading multiple files, assigning a different color to each generated item (or/and add an option, when several items are selected, "Assign a different color to each item", or something like that), would greatly clarify a scene that has many items and save us the time to do it manually.

- [x] Add an option to put the camera orthogonal to the selected face or point sele

[2017-04-07 09:02] maxGimeno opened #2038 "Polyhedron_demo: Unify the 3D demos"
## Issue Details
Integrate all the 3D demos in the polyhedron_demo
Integration of T3 and P3T3 demos might pose a  problem with the "animation" mode.

[2017-04-07 09:08] maxGimeno opened #2039 "Polyhedron_demo : Make several views"
## Issue Details
Add an option to have several viewers on the same scene.

[2017-04-07 09:11] maxGimeno opened #2040 "Polyhedron_demo: Make the demo configurable at build time"
## Issue Details
Find a way to chose which plugins should be compiled and added at the build time to make portable versions of the demo.

[2017-04-07 09:12] maxGimeno opened #2041 "Polyhedron_demo"
## Issue Details
We should make youtube videos to demonstrate the features of the demo, like video tutos.

[2017-04-07 10:15] #1988 closed

[2017-04-07 10:15] #1915 closed

[2017-04-07 10:15] #2026 closed

[2017-04-07 12:14] lrineau commented on #1988
Thanks @mama10. The bug will be fixed in CGAL-4.10.

[2017-04-08 10:49] yangbo opened #2042 "cuda"
_Please use the following template to help us solving your issue._

## Issue Details

_Describe your issue. Please be specific (compilation error, runtime error, unexpected behavior, wrong results, etc.)._

## Source Code

_If your issue arises by using CGAL in your own source code, please provide a minimalist example that we can compile easily to reproduce the bug. If your issue arises from using

[2017-04-08 10:50] #2042 closed

[2017-04-09 10:11] afabri opened #2043 "Polygon Mesh Processing: Add an example for isotropic_remeshing"
where we use a property map.

See  [cgal-discuss] How to constrain edge in refine function in Polygon Mesh Processing Package

[2017-04-10 08:38] lrineau commented on #950
Let's close it now, and reopen another issue for the remaining color problem.

[2017-04-10 08:38] #950 closed

[2017-04-10 08:53] lrineau commented on #2038
Remaining 3D demos in CGAL:
- AABB Tree,
- Alpha_shapes_3
- Circular_kernel_3
- Linear_cell_complex
- Periodic_3_triangulation_3
- **Polyhedron**
- Surface_mesher
- Triangulation_3

[2017-04-10 09:29] maxGimeno opened #2045 "Upgrade the Mediawiki version run at cgal.geometryfactory.com"
## Issue Details
The support for the current version of our wiki will soon be dropped and we should upgrade.

[2017-04-10 15:09] lrineau commented on #2045
* The version 1.23 TLS will be discontinued at the end of the month (see https://www.mediawiki.org/wiki/Version_lifecycle).
* Maxime has already started to work on a 1.27 Docker image, at https://github.com/maxGimeno/wikimedia-docker

[2017-04-10 15:58] lrineau opened #2047 "Bug in PMP::compute_vertex_normal()"
## Issue Details

There is a bug in [`PMP::compute_vertex_normal()`][doc]

  [doc]: http://doc.cgal.org/latest/Polygon_mesh_processing/group__PMP__normal__grp.html#ga240ed0a1f5efbea472f998fada07e112

For a vertex of a surface mesh, it computes the normalized normals of all incident faces, and compute the unweighted mean of those normalized normals. ... That is wrong!

Steps to easily see the bug:

[2017-04-10 16:01] lrineau commented on #2047
And by the way, the name of that function should be `construct_vertex_normal()`, to comply with our naming convention!

[2017-04-10 16:15] lrineau opened #2048 "Bug in CGAL::PMP::is_outward_oriented()"
## Issue Details

The is a bug in [`PMP::is_outward_oriented()`][doc]. It was [reported by a user on the `CGAL-discuss` mailing list][mail].

  [doc]: http://doc.cgal.org/latest/Polygon_mesh_processing/group__PMP__orientation__grp.html#gad71360b56f0d5340bf3006febd49286c`
  [mail]: https://sympa.inria.fr/sympa/arc/cgal-discuss/2017-04/msg00017.html

# The Problem

The current code is computing the

[2017-04-10 16:41] lrineau opened #2049 "TBB warning about a bad hash function"
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.10-Ic-174/Mesh_3/TestReport_jtournois_x64_Cygwin-Windows10_MSVC2015-Debug-64bits.gz

[2017-04-10 16:51] lrineau commented on #2011
Fixed by #2012.

[2017-04-10 16:51] #2011 closed

[2017-04-11 11:00] lrineau commented on #2032
Could it be the same issue as issue #1632, fixed by the pull-request #1637?

[2017-04-11 15:07] david-zwicker opened #2050 "Better examples of `CGAL::extract_mean_curvature_flow_skeleton` to explicit the requirement for pure-triangle meshes"
I run into a segmentation fault when trying to extract the skeleton of some geometries. I generally deal with more complicated cases, but here is a simple example, where the algorithm fails:
[boxcubecc3.off.zip](https://github.com/CGAL/cgal/files/913622/boxcubecc3.off.zip)

## Issue Details

I ran the program given below and receive the following result from `gdb` on my Linux system:

## Source Co

[2017-04-12 08:25] untereiner commented on #2032
It seems to be the same yes.
Sorry, I didn't look into closed issues.
Hope the milestone 4.9.1 will be published in the near future.

[2017-04-12 08:35] lrineau commented on #2032
Closed: duplicate of #1632, fixed by #1637.

[2017-04-12 08:35] #2032 closed

[2017-04-12 09:36] sloriot commented on #2050
The input must be triangle mesh. Try calling [`CGAL::Polygon_mesh_processing::triangulate_faces()`](http://doc.cgal.org/latest/Polygon_mesh_processing/group__PMP__meshing__grp.html#gacaaff4d520500c530d9c3d5ebe2a0760) first.

[2017-04-12 09:51] sloriot commented on #2024
A solution to your problem would be to identify an edge as a sorted pair of vertex handles. Then you can use a hash map or a map to access to the edge.

[2017-04-12 13:52] sloriot commented on #2048
I think you don't need `Kernel::Compare_slope_3`, simply `Kernel::Compare_z_3` with the adjacent vertices.

[2017-04-12 14:47] sloriot commented on #2048
I might be missing something but in the case of a cube I does not seem to be working.

[2017-04-12 14:59] lrineau commented on #2048
You are right: I mixed up minimal and maximal. I have updated the text at https://github.com/CGAL/cgal/issues/2048#issue-220695956.

[2017-04-12 15:04] lrineau commented on #2048
In the following case, if you just compare the z coordinates, you choose the wrong edge.

![case](https://cloud.githubusercontent.com/assets/5746675/24964573/eff1840e-1fa1-11e7-8610-7328388fc690.png)

[2017-04-12 16:03] sloriot commented on #2048
I think your proposal is correct.

[2017-04-13 06:31] MoniqueTeillaud commented on #2024
Just a historical comment about one of the questions
1. Why the design of insert_in_face is like this ? Why not just destroy the old face and create three new one ?
At the beginning I guess that the goal was to be more efficient: instead of calling 1 destructor and 3 constructors, in this way only 2 constructors are called. If I remember correctly, at that early time there was no possibility offer

[2017-04-13 06:48] MoniqueTeillaud opened #2051 "BGL documentation: missing models + wrong link"
CGAL version: 4.9.1

1- In concept FaceListGraph (and related concepts in the hierarchy)
the only 2 models listed are CGAL::Polyhedron_3 and CGAL::Surface_mesh
see for instance http://doc.cgal.org/latest/BGL/classFaceListGraph.html

Sébastien explained to me that boost::graph_traits< CGAL::Triangulation_2<GT, TDS> > is also a model, see http://doc.cgal.org/latest/BGL/group__PkgBGLTraits.html#BGLT2

[2017-04-13 08:33] MaelRL commented on #2051
2- There is a graph_traits file for the TDS2 ([here](https://github.com/CGAL/cgal/blob/master/Triangulation_2/include/CGAL/boost/graph/graph_traits_Triangulation_data_structure_2.h)). No idea what is its status or why it is not documented.

3- The whole page was a mess; it's fixed in the parameterization branch, see [here](https://cgal.geometryfactory.com/~mrouxell/Parameterization_doc/BGL/group__

[2017-04-13 09:02] flm8620 commented on #2024
I found a better way to implement a real Edge object.
I use shared_ptr in Face to point to Edge. Edge will be automatically created, destroyed and shared properly.
See my github [CGAL_edge](https://github.com/flm8620/CGAL_edge) If you are interested.

Besides, I think I might know the reason for this design. CGAL use `CGAL::Compact_Container` to hold objects like faces, vertices. This container us

[2017-04-13 14:03] david-zwicker commented on #2050
Thank you for the explanation. I agree that this is not a bug and also already documented in the respective sections. However, I suggest to add an explicit check to the examples in the documentation of the Triangulated Surface Mesh Skeletonization package. Adding the following code right after loading the mesh would help novice CGAL users like me:

[code]

[2017-04-13 14:35] lrineau commented on #2050
Thanks @david-zwicker. You are right about the need for better examples. Would you mind create a pull-request?

[2017-04-13 14:42] david-zwicker commented on #2050
@lrineau I'm afraid I don't know how to create pull-request. Is there a documentation for this somewhere?

[2017-04-13 17:00] afabri commented on #2050
We should do that systematically for all examples where this is requiredOn Apr 13, 2017 4:42 PM, David Zwicker <notifications@github.com> wrote:@lrineau I'm afraid I don't know how to create pull-request. Is there a documentation for this somewhere?

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-04-14 13:10] maxGimeno opened #2055 "Polyhedron_demo: Use a recent opengl context when possible"
## Issue Details
It should be possible to implement a recent OpenGL context and check if it is valid. If not, keep the 2.1, but in the case it is possible, it would allow us to use geometry shaders and many features that would be really appreciated.
This would permit to fix the polyhedron_item's flat mode with draw one side problem, and make it easier to make decent transparency in the future.

[2017-04-14 13:35] lrineau commented on #2055
In my opinion we should try to set the OpenGL surface format to "4.3 compatibility profile", the created format still has a compatibility profile, and fallback to 2.0 in case it does not.
[code]

About 4.3 versus 4.5: there is nothing in [OpenGL version 4.4 and 4.5][history] that we may expect to use. Even the Compute Shader was already in 4.3 (2012), and 4.3 is old enough that we can expect all r

[2017-04-14 13:53] janetournois commented on #2048
I am starting to work on it

[2017-04-14 14:09] maxGimeno commented on #2055
You meant 2.1, that's what we currently have.

[2017-04-18 08:17] #2027 closed

[2017-04-19 12:35] lecopivo opened #2063 "Flipped segment with data does not contain original data"
Problem
---

I use segments with data, in particular `CGAL::Arr_curve_data_traits_2<Segment_traits_2, int>::Curve_2`,the data is integer in this case. The problem is that if I call `flip()` function on a segment then the resulting segment does not have the data of the original segment.

Code
-------

Example code reproducing this behavior:
[code]

###  Output
[code]
### Expected output
[code]

Add

[2017-04-19 13:11] sgiraudot commented on #1995
I just noticed another bug: the table of content (the floating menu on the right) is not generated anymore on the pages accessible from the front page (Getting Started, Tutorials, etc.). The bug only affects these pages, not the user manual pages.

[2017-04-19 14:24] janetournois commented on #2047
The blog @lrineau mentions above gives quite a few solutions that should be considered to make a decision.
Computing the normal at vertex `v` amounts to computing a weighted sum of normals `n_i` to the facets `f_i` that are incident to `v` in the mesh.

The question we have to answer is : which weight do we choose?
1. until now, the weight is `1`
2. in [1], the weight is the angle of `f_i` at `v`.

[2017-04-19 16:13] efifogel commented on #2063
The member function c.flip() is not required by the concepts
Traits_2::Curve_2 or Traits_2::X_monotone_curve_2. However,
Construct_opposite_2 is required by the traits concept and it does not
assign the data of the input x-monotone curve to the newly constructed one
either, and I think it should.

First, the code would look like:

typedef Traits_2::Curve_2	Curve_2;
Curve_2 fc = traits.construct_op

[2017-04-20 09:54] Ethiy opened #2066 "Centroid : seg. fault while debugging"
## Issue Details

This is a runtime error. On Release mode nothing happens, but once on a debug mode, I get a segmentation fault in my code when calling  `CGAL::centroid()`. I am using the Epeck kernel and the corruption can be traced back to a `CGAL::Lazy` method.

## Source Code

[code]

When debugging using QtCreator, the bug traces back to the last line of this private method defined in `Lazy.

[2017-04-20 10:10] lrineau commented on #2066
Could you please post a minimal but complete example? Have a look at https://stackoverflow.com/help/mcve

My 2-cents guess would be that you are using that code in a multi-threaded context, where several threads share objects from the Epeck kernel. That kernel is not thread-safe for that usage.

[2017-04-20 10:45] MaelRL opened #2067 "Degenerate versions of the `Power_side_of_oriented_power_sphere/circle` predicates"
The predicates `Power_side_of_oriented_power_sphere_3` and `Power_side_of_oriented_power_circle_2` were recently moved to the kernel (see this [small feature](https://cgal.geometryfactory.com/CGAL/Members/wiki/Features/Small_Features/Weighted_point_3) / [PR](https://github.com/CGAL/cgal/pull/585)).

Their basic versions (4 `Weighted_point_3` + a query `Weighted_point_3` for 3D, 3 `Weighted_point_2

[2017-04-20 11:14] MoniqueTeillaud commented on #2067
Thank you for the summary.

Precisions:
* option 1 is fine as a temporary solution. However it is not clean, as regular triangulations become dependent on undocumented code.
* for option 3, the predicate would have to return a result that is not only consistent with istself, but also with CoplanarOrientation_3. Reading the manual would become a nightmare.

A GSoC for option 4 is an interesting ide

[2017-04-20 11:16] MaelRL commented on #2067
The GSoC part was a joke : >

[2017-04-20 11:17] MoniqueTeillaud commented on #2067
well, worth thinking

[2017-04-20 12:31] Ethiy commented on #2066
I misspoke earlier when describing the environement, It was CGAL-4.7-4 not 4.9. I tried to reproduce the bug without success for now. I think it will take me more time to reproduce this bug.
P.S: I tried to launch apply the `CGAL::centroid` function in a separate thread without success.

[2017-04-20 12:32] #2066 closed

[2017-04-20 12:33] lrineau commented on #2066
Thanks for your answer. I have closed the issue. Reopen it if you manage to reproduce the bug.

[2017-04-21 08:12] sgiraudot opened #2069 "Covariance matrix assembly in CGAL is very unefficient"
## Issue Details

I just noticed that applying `CGAL::linear_least_squares_fitting_3` to a big set of triangles was suspiciously long. Using _Valgrind_, I saw that most of the time was spent on `new` and `delete` operators. It seems that the internal code to assemble the covariance matrix uses `CGAL::Linear_algebraCd` were all matrices are dynamically allocated (and as one matrix is computed per t

[2017-04-21 08:48] lrineau commented on #2069
`Linear_algebraCd` is used mainly in the old kernel `Carterian_d` (and relatives), in Jet_fitting, and PCA:
[code]

[2017-04-21 15:13] afabri commented on #2069
I would switch to Eigen even if it creates a dependency, but @palliez should make the final decision

[2017-04-22 13:43] Ethiy commented on #2066
I traced back the error in my program. In the example, I stated before, `facet_a` is a `Polygon_with_holes`. At a certain point, I get an empty `facet_a` for some reason that eluded me until now. And that is why I get a seg.fault.
The point I am trying to make here is:
 * why does the `centroid` function do not raise an `std:: invalid_argument` exception when getting `Handle`s to nothing,
 * and,

[2017-04-23 10:17] Ethiy opened #2073 "Centroid : segfault in debug mode, followup."
_This issue is a followup to an issue that raised this bug. The ealier issue #2066 was closed by @lrineau waiting for a minimal example. So I am opening a new Issue since I cannot reopen the last one._

## Issue Details

In my code, I am looping over a lot of Polygons. For some reason that I did not discover until now, I got an empty polygon and when I ask for the centroid of the first three verti

[2017-04-23 16:18] OlegJakushkin commented on #1133
It is still an open issue for OpenMesh users (e.g.  http://stackoverflow.com/questions/43557498/how-to-turn-a-surface-mesh-into-a-polyhedron/43571060#43571060) Is there a quick workaround?

[2017-04-24 07:12] sloriot commented on #1133
If you add the missing include directive `#include <CGAL/boost/graph/graph_traits_PolyMesh_ArrayKernelT.h>` it should work

[2017-04-25 13:07] maxGimeno opened #2076 "Polyhedron_demo: bugs in deformation"
## Issue Details

I found two bugs in deformation :
- ~~Deform a mesh, then clear rois, and deform again. The first transformation is lost.~~
- Deform a mesh with a rotation, create a new group and deform it. The last rotation is applied a second time to the first group.

[2017-04-25 13:25] sloriot commented on #2076
The first point is not a bug, it's a feature. Use update geometry to avoid loosing it.

[2017-04-25 13:27] sloriot commented on #2076
The idea is that the energy is minimized onto input coordinates rather than on those of an iteratively deformed model.

[2017-04-26 13:56] maxGimeno commented on #2038
Priority:
-[x] Alpha_shape_3
-[ ] AABB_Tree : cf andreas and jane
-[ ] Surface_mesher cf laurent : VTK's marching cube ?

[2017-04-26 14:33] afabri opened #2080 "Polyhedron demo segfault"
## Issue Details

Load an off file
Add a selection item
Reload the off file   (I wanted to reload after having selected/isotropic remeshed)

seg fault.

@maxGimeno I guess you must first remove or clear the selection item.

[2017-04-26 14:57] maxGimeno commented on #2080
Actually you don't need a selection, if you call reload_item on a polyhedron_item you get a segfault anyways. I'll fix this.

[2017-04-27 12:16] afabri commented on #2001
@lrineau you can close this issue.

[2017-04-27 12:17] afabri commented on #1892
@lrineau any opinion on this?

[2017-04-27 12:45] #2001 closed

[2017-04-27 13:02] lrineau commented on #1892
It seems that most of the existing headers (2852 out of 3032) have `$URL$` and `$Id$`.

I would not recommend that we forcefully remove those SVN keywords from all headers.

I propose a choice, for a discussion:
- The first possibility is to deprecate the use of those headers: remove their mention from the documentation.
- The second possibility is to restore a usage of those keywords: for example

[2017-04-27 13:06] afabri commented on #1892
In order to get what from the second possibility?

[2017-04-27 13:10] lrineau commented on #1892
For example, the file `CGAL-x.y/include/CGAL/Has_timestamp.h` of the tarball would mention in `$Id: $` its full path in the Git layout: `STL_Extension/include/CGAL/Has_timestamp.h`, as well as the "Date" and the hash of the last commit that modified it. Maybe the `$URL: $` could point to the file in the Github website, so that the use can access the history, or other contextual information given b

[2017-04-27 13:56] sloriot commented on #2073
I have added a precondition in #2083. We can't do anything about `centroid()` to check that points provided are valid.

[2017-04-27 14:27] sloriot opened #2084 "Using Side_of_triangle_mesh in Mesh_3"
Mesh_3 `Polyhedral_mesh_domain_3` should be using `Side_of_triangle_mesh` as an implementation detail.  `TriangleAccessor_3` concept should also be replaced by `FaceListGraph`.
If we want to avoid a dependency between packages, we could leave `Polyhedral_mesh_domain_3` as his, (deprecated it?) and introduced a new class working on models of `FaceListGraph`. This new class can be put in PMP.

[2017-04-27 14:47] Ethiy commented on #2073
Thanks for your response.

[2017-04-27 14:47] #2073 closed

[2017-04-28 12:28] Firoon opened #2087 "Segment_Delaunay_graph_2::insert runtime error"
## Issue Details

CGAL ERROR: assertion violation!
Expr: is_valid()
File: d:\cgal-4.9.1_x86\x86\include\cgal\segment_delaunay_graph_2\segment_delaunay_graph_2_impl.h
Line: 699

at i == 5 in [this small example](https://pastebin.com/mhm6SEwd)

## Environment

* Operating system (Windows/Mac/Linux, 32/64 bits): Win 10, x64
* Compiler: VC++ 12.0, x86
* Release or debug mode: debug and release
* Speci

[2017-04-28 12:36] MaelRL opened #2088 "Lazy kernel and reference-returning kernel functions"
Despite `Construct_point_3` providing `const Point_3& operator()(const Weighted_point_3& wp)` (which just returns `wp.point()`), code like:
[code]
cannot be used because the Lazy kernel will returns a temporary when `cp` is called, which then goes out of scope and `compare_xyz_3_object()` is called on garbage.

Obviously, writing `bind<const Point_3>` and taking a copy is enough, but it's a useles

[2017-04-28 14:59] sloriot commented on #2088
When calling `cp` you create a new node in the DAG so it is not a reference to the point of the weighted point (which does not exists since it's also a node in the DAG). You should use `result_of` to get the correct return type.

[2017-04-28 14:59] #2088 closed

[2017-05-01 20:11] mglisse opened #2092 "Use std::isfinite in CGAL::is_finite"
CGAL::is_finite(double) is implemented "manually" in double.h. C++11 has std::isfinite, and at least with gcc on x86_64 that generates better code (essentially abs(x)<inf instead of 3 comparisons).

This duplicates code in CORE/Filter.h to define CGAL_CORE_finite.

Compiler support: visual studio 2013 and later should have `std::isfinite`, as well as any C++11 compiler. For anything older, either

[2017-05-02 11:06] afabri commented on #2087
The documentation of  [`CGAL::Segment_Delaunay_graph_traits_2`](http://doc.cgal.org/latest/Segment_Delaunay_graph_2/classCGAL_1_1Segment__Delaunay__graph__traits__2.html) says that the number type must support exact arithmetic operations.  As this is not the case for  `CGAL::Exact_predicates_inexact_constructions_kernel` you must use  [`CGAL::Segment_Delaunay_graph_filtered_traits_2`](http://doc.c

[2017-05-02 14:47] jjforsythe opened #2094 "Polyhedron Incremental Builder bug"
## Issue Details

The first step of the function test_facet_indices()  checks an array of vertex indices for equal values. It does not currently compare all pairs of values (specifically against the last index in the array). This leads to test_facet_indices() returning true for invalid faces.

Also, the function test_facet_indices() is does not appear in the reference: http://doc.cgal.org/latest/P

[2017-05-03 08:31] sgiraudot opened #2095 "Bug in doc in blocks with only template functions"
## Issue Details

I noticed a strange bug in the CGAL documentation: most blocks of function headers are justified (the background takes all the width of the page) but some are just aligned to the left (the background stops after the text). For example, [see in Surface Mesh](http://doc.cgal.org/latest/Surface_mesh/classCGAL_1_1Surface__mesh.html), the bug happens for the section _Related Functions

[2017-05-03 17:47] Firoon commented on #2087
Many thanks for your help, it's worked

[2017-05-03 17:47] #2087 closed

[2017-05-04 06:02] afabri commented on #1246
In order to address the second issue, I've moved the tables with the API on a [single page](https://cgal.geometryfactory.com/CGAL/Manual_doxygen_test/CGAL-4.11-Ic-6/output/BGL/group__PkgBGLConcepts.html) and documented the API on each concept page (for example [`FaceGraph`](https://cgal.geometryfactory.com/CGAL/Manual_doxygen_test/CGAL-4.11-Ic-6/output/BGL/classFaceGraph.html)) with doxygen.
)

[2017-05-09 10:46] janetournois commented on #1738
In the scenario when `edge_size` and `facet_size` are consistent but not small, and `facet_distance` is chosen to be small, the features protection does not result in a nice result : edges along the input feature are too large compared to what the `facet_distance` criterion prescribes.
See an example on this snapshot
![bad_protection](https://cloud.githubusercontent.com/assets/11311305/25847164/3b

[2017-05-09 15:26] sloriot commented on #2095
I tried with our patched version of 1.8.13 and the same issue is there too.

[2017-05-10 10:54] sloriot commented on #2055
This issue is very critical to me. Not being able to see face orientation is a real issue for me.

[2017-05-10 11:56] sloriot commented on #2094
The function is not documented on purpose. If you look at the implementation of `test_facet()` you will see that it is calling `test_facet_indices()` after having put the first id at the end of the sequence.

[2017-05-10 11:56] #2094 closed

[2017-05-10 11:58] lrineau commented on #2055
If that is so critical, then the old code should be re-used when the two-side mode is disabled. Anyway, that should be discussed in a dedicated issue, and not in this one.

[2017-05-10 11:59] sloriot opened #2103 "Add a "draw two side" option in the context menu of Polyhedron item"
When ticked, it will fill the vector of normals and use the same shader as for polygon soups. When unticked, the vector of normals is cleared. Special care need to be taken when multicolors are ON.

[2017-05-10 11:59] sloriot commented on #2055
See #2103

[2017-05-10 12:02] lrineau commented on #2103
This should be discussed. I do not see why the polyhedron item should have a per-item "two-side" option where there is already a global option "Draw two sides" in the View menu of the application.

[2017-05-10 12:08] sloriot commented on #2103
Fine, this option should be used then.

[2017-05-10 12:08] sloriot commented on #2103
Which means that right now this is buggy.

[2017-05-10 12:11] lrineau commented on #2103
I agree. The "Draw two sides" mode is buggy with the polyhedron item in flat mode (or flat+edges). Actually, it is buggy when the option "Draw two sides" is unchecked. The current implementation compute the facets normals in the fragment shader, and there is no way to compute an oriented normal in the fragment shader.

[2017-05-10 12:12] lrineau commented on #2103
This should be fixed ASAP in the 4.10 branch, independently from the possible speed optimization that could be implemented using #2055.

[2017-05-10 12:13] #1881 closed

[2017-05-11 07:51] afabri opened #2107 "Document the possible Function types in isosurface example"
## Issue Details

Alec Jacobson posted [CGAL function pointer callback in isosurface example](http://www.alecjacobson.com/weblog/?p=4034)  so we (@janetournois) might take that up and improve CGAL.

**Edit**: Note that that discussion started as the issue #2753. --Laurent Rineau, 2018/02/14

[2017-05-11 09:22] lrineau commented on #2107
Alec Jacobson had to understand how to use `std::bind`. `std::function` is a solution. Usage of `auto` and `decltype` could have been another one. If there anything to change in CGAL, that would only be the documentation. The classes are already templated by the callable type (via the parameter `Function`):
  - [`CGAL::Implicit_surface_3<Traits, Function>`](http://doc.cgal.org/4.10/Surface_mesher/

[2017-05-11 13:29] lrineau opened #2110 "Warnings in Point_set_shape_detection_3"
The column "Debian-Testing" of recent testsuite show two warnings in point set shape detection and related line:
[code]
https://cgal.geometryfactory.com/CGAL/testsuite/results-4.11-Ic-12.shtml#Point_set_3_Examples

I saw the warnings in CGAL-4.11-Ic-12, but I think the bugs are in `master`.

If you see that the bug in in `releases/CGAL-4.10-branch` too, please create the PR on top of it.

[2017-05-11 13:30] lrineau commented on #2110
I confirm for 4.10-beta:
https://cgal.geometryfactory.com/CGAL/testsuite/results-4.10-I-192.shtml#Point_set_3_Examples

[2017-05-11 13:53] lrineau opened #2111 "Warning in Optimal_transport_reconstruction_2"
Recent version of the testsuite show a warning in Optimal_transport_reconstruction_2 with the Debian-Testing platform:
[code]
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.10-I-192/Optimal_transportation_reconstruction_2/TestReport_lrineau_Debian-Testing.gz

The issue is in CGAL-4.10-beta.

[2017-05-11 13:57] lrineau opened #2112 "Warning in CMap with recent versions of our Debian_Testing test platform"
[code]
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.10-I-192/Combinatorial_map/TestReport_lrineau_Debian-Testing.gz

[2017-05-11 14:05] #889 closed

[2017-05-11 14:15] gdamiand commented on #2112
Should be solved by the PR #2113

[2017-05-11 14:18] afabri commented on #2111
In case there was no need for this line, the function `copy_neighbors()` also needs no `vmap`.

[2017-05-11 15:06] #2008 closed

[2017-05-11 15:07] #2033 closed

[2017-05-11 15:08] #2007 closed

[2017-05-11 15:09] #1625 closed

[2017-05-11 15:09] #1798 closed

[2017-05-11 15:17] lrineau commented on #2080
Fixed by #2082.

[2017-05-11 15:17] #2080 closed

[2017-05-11 15:23] lrineau commented on #2007
Fixed in `master` (for 4.11).

[2017-05-11 16:03] janetournois commented on #1738
Close to a small angle, triangles can become very small, even on surface patches that do not take part to the small angle. We should try to think of an answer to improve that.
![small_angle_with_balls](https://cloud.githubusercontent.com/assets/11311305/25959525/220cbf6a-3674-11e7-9421-3caf24e893d3.png)

[2017-05-12 08:23] afabri commented on #2111
@sgiraudot can you have a look please.

[2017-05-12 09:20] r03ert0 opened #2116 "mesh_a_3d_gray_image.cpp does not compile - CGAL 4.9.1 (homebrew) - Mac OSX 10.12.4"
## Issue Details

I can't compile the example `mesh_a_3d_gray_image.cpp`. I am using CGAL 4.9.1 (installed with homebrew), on a Mac with OSX 10.12.4.

I copied into an empty directory the example from http://doc.cgal.org/latest/Surface_mesher/Surface_mesher_2mesh_a_3d_gray_image_8cpp-example.html

Next I used
[code]

This is the error log:
[code]
## Environment

* Operating system (Windows/Mac/Lin

[2017-05-12 09:24] afabri commented on #2116
Get inspired by examples/Mesh_3/CMakeLists.txt

For example you need `find_package(CGAL COMPONENTS ImageIO)`

[2017-05-12 09:56] r03ert0 commented on #2116
Thank you!
I had to install the version of cgal with Qt.
First I unistalled my current version `brew uninstall --force cgal`,
Next, `brew install cgal --with-imaging`,
Then `cgal_create_cmake_script` to get a `CMakeList.txt` file,
I added `find_package(CGAL COMPONENTS ImageIO)` as you suggested,
And finally `cmake .`, `make`, and everything works.

[2017-05-12 14:35] ochilan opened #2118 "Shape_detection_3: Crash due to empty point indices in is_same"
## Issue Details

When detecting primitives in slightly more complex point clouds (in my case interiors of buildings with some tens or hundred thousand points) the RANSAC primitive detection sometimes crashes in the `is_same` function of `Shape_base`. The problem appears to be that `m_indices` is empty in some cases. Indeed, the size of `m_indices` of the other objects are being checked for their

[2017-05-12 14:41] ochilan opened #2119 "Shape_detection_3: Seemingly arbitrary stop criterion might abort too early"
## Issue Details

In the `detect` function of `Efficient_RANSAC`, there is a forced exit criterion:
[code]
Is there a specific reason for this choice? Running the algorithm on more complex point clouds sometimes seems to overlook quite a lot of primitives that are otherwise detected when increasing this value. Should it be chosen proportionally to the total number of points or something the like?

[2017-05-16 11:53] sgiraudot commented on #2118
This issue was already reported (https://github.com/CGAL/cgal/issues/1818) and was fixed in 4.10: https://github.com/CGAL/cgal/pull/1819

[2017-05-16 11:57] #2118 closed

[2017-05-16 11:58] sgiraudot commented on #2119
A CGAL developer is currently doing a code review for the `Efficient_RANSAC` class as we noticed that it sometimes did not give satisfying result. Thank you for pointing this issue, this could be one of the reasons of these unsatisfying results.

I'll update this issue when the code review is done.

[2017-05-16 13:21] MaelRL opened #2123 "Future tasks of the surface mesh parameterization package"
Below are a few tasks that didn't make the cut in [this small feature](https://cgal.geometryfactory.com/CGAL/Members/wiki/Features/Parametrization_FaceGraph) but are nevertheless interesting to consider in the future for the package.

- For discrete conformal and mean value parameterizers, it would be nice to reimplement the function `compute_w_ij()` using the function `weights()` from the `2D Gen

[2017-05-16 14:04] #1980 closed

[2017-05-16 14:05] lrineau commented on #1980
Thanks for the information. That is nice to see.

I close the bug because I do not see what we should change.

Anyway, the future of CGAL will be header-only pretty soon.

[2017-05-17 11:42] lrineau commented on #2048
Fixed by #2057 in `CGAL-4.10-branch` and `master`.

[2017-05-17 11:42] #2048 closed

[2017-05-17 14:10] maxGimeno opened #2124 "Robustify Surface_mesh_deformation"
## Issue Details

When used on a graph with degenerated faces, the Surface_mesh_deformation generates points with NaN values, which will obviously cause problems, for instance in the normal calculation of the facets of the deformation graph.

It seems the problem occurs in the linear solver.

It would be great if we could find a workaround to avoid those NaN values.
## Source Code
I used the defor

[2017-05-18 09:06] sloriot opened #2125 "Improve orient_polygon_soup"
I hit an infinite loop in `orient_polygon_soup` because a polygon was containing two identical consecutive vertices. I have a fix for that case in a [branch](https://github.com/sloriot/cgal/tree/PMP-orient_polygon_soup_remove_degenerate_edges).

The question I have is what should we do in case a vertex is more than once in a polygon but not consecutive. I think we can split the polygon in two at t

[2017-05-18 09:22] afabri commented on #2125
If the function does repair something it should be another function.

[2017-05-19 07:49] janetournois commented on #2125
I agree that it should be in another function. Maybe something like `fix_degeneracies()`. It would include
- fixing polygons with 2 identical and consecutive vertices by merging them
- fixing polygons with 2 identical and not consecutive vertices, by splitting the polygon into two polygons
- what else?

[2017-05-19 08:36] #1770 closed

[2017-05-19 08:36] #1886 closed

[2017-05-19 08:36] #2037 closed

[2017-05-19 08:36] #2050 closed

[2017-05-19 08:36] #2112 closed

[2017-05-19 08:36] #1977 closed

[2017-05-19 08:48] lrineau commented on #1945
Fixed by #2085.

[2017-05-19 08:48] #1945 closed

[2017-05-19 08:50] lrineau commented on #2110
Fixed by #2114.

[2017-05-19 08:50] #2110 closed

[2017-05-19 08:51] lrineau commented on #2103
Fixed by #2104.

[2017-05-19 08:51] #2103 closed

[2017-05-19 08:52] lrineau commented on #2049
Fixed by @afabri in #2115.

[2017-05-19 08:52] #2049 closed

[2017-05-19 08:53] lrineau commented on #2111
Fixed by @sgiraudot in #2117.

[2017-05-19 08:53] #2111 closed

[2017-05-19 09:04] lrineau commented on #1886
Fixed by @afabri in #2016.

[2017-05-19 09:05] lrineau commented on #1770
The computation of the genus is now implemented, by @maxGimeno in #2019. This issue is now fully completed, and closed.

[2017-05-19 09:06] lrineau commented on #2037
Fixed in `master` (for 4.11) by #2062.

[2017-05-19 09:07] lrineau commented on #2050
This issue has been fixed by @janetournois (from GeometryFactory) in the PR #2060. I will be in CGAL-4.11-beta1, planned for mid-summer 2017.

[2017-05-19 09:09] lrineau commented on #2073
The PR #2083, that adds the precondition, has been merged in `master`. It will be in CGAL-4.11-beta1, planned for mid-summer 2017.

[2017-05-19 09:14] lrineau commented on #2069
Fixed by #2074.

[2017-05-19 09:14] #2069 closed

[2017-05-19 09:17] lrineau commented on #2051
What is the current status of this issue?

The PR #2077 has been merged in `master`, and the PR #2086 also modifies something related (to fix the issue #1246). Will that improve the situation sufficiently to close this issue?

[2017-05-19 09:20] lrineau commented on #2010
Efi, Andreas, would you mind having a look at this bug report? It was created by a CGAL user a few weeks ago.

[2017-05-19 09:20] MaelRL commented on #2051
The parameterization branch (https://github.com/CGAL/cgal/pull/1917) is also necessary for the third point.

[2017-05-19 09:21] lrineau commented on #1956
@sloriot: Do you agree with @chgans in https://github.com/CGAL/cgal/issues/1956#issuecomment-284700090?

[2017-05-19 09:22] lrineau commented on #1967
4.10 is about to be released. I have to reassign this issue to 4.11.
Note that the issue was reported mid-March.

[2017-05-19 09:24] lrineau commented on #1944
I reassign this issue to 4.11.

Once we have time, we should try and dig further in the code of the perturber, to find out why NaNs occur the computation.

[2017-05-19 09:25] lrineau commented on #1927
We should have a new look at this issue, once the generic implementation (for polygonal or nurbs curves) is ready. I reassign the issue to 4.11.

[2017-05-19 11:45] efifogel commented on #1967
Yes, I'll make sure to fix it this time.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On 19 May 2017 at 12:22, Laurent Rineau <notifications@github.com> wrote:

[2017-05-19 11:47] efifogel commented on #1956
He is correct, and it should be fixed.
I'll make sure it's done for 4.11

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On 19 May 2017 at 12:21, Laurent Rineau <notifications@github.com> wrote:

[2017-05-19 12:22] danston opened #2128 "Polyhedron demo visualisation bug on Mac OS"
## Issue Details

[data.zip](https://github.com/CGAL/cgal/files/1014167/data.zip)

When running the CGAL Polyhedron demo on my Mac OS, I have some visualisation issues. I attach three test point clouds (a torus, a cylinder, and a shuttle) and a set of screenshots. With the torus, the point visualisation mode does not work, I do not see any points (screen 1). The same for points+normals mode, I see

[2017-05-19 12:32] sloriot commented on #1956
Actually, the pb I think is in the insertion of a segment, "Before create Edge" should be the first one.

[2017-05-19 13:08] sloriot commented on #805
In `tangential_relaxation()`, there is a loop on all vertices that should be only on the vertices in the input face range.

[2017-05-20 08:05] efifogel commented on #1956
When you insert a curve, and the vertices of the endpoints do not exist,
you can do one of two:
1. Insert the curve using the insert(arr, curve) free function, or
2 create the vertices first (as isolated vertices) and then insert the
curve using the member function arr.insert_at_vertices(curve).
The notification in both cases should be identical; thus, the order in the
remove should be fixed.

We

[2017-05-20 14:14] DeifLou opened #2130 "Error building CGAL with too long source path"
## Issue Details

When building CGAL after configuring and generating with:
- Source Path = D:\projects\src\libs\cgal\cgal-releases-CGAL-4.9.1
- Build Path = D:\projects\build\libs\cgal\cgal-releases-CGAL-4.9.1

the building process tries to run a command too long (due in part to the source path length) for the windows command prompt, aborting with an error that says: "The command line is too long

[2017-05-21 13:41] mglisse commented on #2130
You don't mention which command is failing. In particular, it seems important to know if the command was put together "manually" by some cgal script, or if cmake is responsible for it. What version of cmake and what cmake generator are you using? Recent versions of cmake supposedly already work around this issue.

[2017-05-21 14:21] DeifLou commented on #2130
I'm using CMake version 3.8.1 and MinGW Makefiles as a generator.
This is the step that make the error happen, the number of characters in that command is around 10000, and it seems the limit is 8191:
[code]
and then:
[code]
("La línea de comandos es demasiado larga" means "The command line is too long")

[2017-05-21 15:23] sanpra1989 opened #2131 "Segment trees with intervals of size 0"
## Issue Details
I am using a multidimensional segment tree (`Segment_tree_d`), with 11 dimensions. My objective is to find overlapping intervals, given a query interval (`window_query`).  I am able to do that, except when intervals are of size 0. I am showing minimal example, with a 3-dimensional tree, that produces the same issues. Is this a fundamental limitation? Is there a configuration optio

[2017-05-22 07:16] sloriot commented on #2131
Extracted from [here](http://doc.cgal.org/latest/SearchStructures/index.html#Chapter_dD_Range_and_Segment_Trees):

*A one-dimensional segment tree is a binary search tree as well, but with one-dimensional interval data as input data. One-dimensional interval data is a pair (i.e., 2-tuple) (a,b), where a and b are one-dimensional point data of the same type and a< b. The pair (a,b) represents a hal

[2017-05-22 07:16] #2131 closed

[2017-05-22 09:37] lrineau commented on #805
I flag this issue with the milestone `4.10.1`. Jane, once you start working on the issue, make sure your working branch is based on `releases/CGAL-4.10-branch`.

[2017-05-22 09:49] sloriot commented on #805
It's clearly not for the upcoming release. I changed the milestone.

[2017-05-22 09:58] MaelRL opened #2134 "Mesh_3 requires more than RegularTriangulationTraits_3 provides"
In the documentation, `Mesh_3` [requires](http://doc.cgal.org/latest/Mesh_3/classCGAL_1_1Mesh__triangulation__3.html) a traits class that is a model of `RegularTriangulationTraits_3`. `RegularTriangulationTraits_3` will include `TriangulationTraits_3` (and soon `SpatialSortingTraits_3` as it should), but still uses quite a few additional functors, like `compute_approximate_dihedral_angle_3_object`

[2017-05-22 10:06] lrineau commented on #805
I have reverted your change: 4.10.1 is the right milestone. It is not for 4.10, but in should be in the 4.10-branch

[2017-05-22 13:05] efifogel commented on #2010
There are two parts
1. Minkowski_sum_by_reduced_convolution_2::get_point(...)
2. MyConstruct_coord_iterator

1. In the code of the get_point() member function we have:

... Point_2(ORIGIN) ...

I don't understand the problem.
I guess that using a custom point, also implies that ORIGIN must be
defined. Is this a problem?
Perhaps it only should be documented.

2. I think that we should add the missi

[2017-05-22 13:16] chgans commented on #2010
Hi,

Sorry i'm not actively using cgal anymore for now.

AFAIR, the point of this ticket was simply that you cannot use the "Extensive Example" code with the Minkowski code.

I wouldn't have open this ticket if one of the following were true:
- The documentation didn't say  "You dont need a CGAL::Origin ctor"
- Minkowski didn't use "Point_2(Origin)"

Chris

[2017-05-22 16:28] efifogel commented on #2010
Don't get me wrong. I'm sure there is a problem, and we thank you for
reporting it.
I hope you get to actively use CGAL soon again...

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On 22 May 2017 at 16:16, Christian Gagneraud <notifications@github.com>
wrote:

[2017-05-23 09:06] lrineau opened #2135 "Windows, FPU.h: replace `_control_fp` by intrisics"
In CGAL.4.10, in <CGAL/FPU.h>,  the macros `CGAL_IA_SETFPCW` and `CGAL_IA_GETFPCW` are implemented using `_controlfp_s`, instead of using macros from `<xmmintrin.h>`.

If the platform is Windows x64, with `_M_X64` defined, [only the SSE2 FPU is used][*], and we can probably define `CGAL_SAFE_SSE2` and use the macros from `<xmmintrin.h>`.

  [*]: https://msdn.microsoft.com/en-us/library/e9b52ceh.as

[2017-05-23 09:40] mglisse commented on #2135
Uh, strange, I specifically remembered that VS used a mix of x87/sse for floating point in all modes. Apparently I was wrong...
I doubt that using intrinsics will win much compared to _controlfp. On the other hand, this should mean that we can remove `|| defined _M_X64` in the definition of CGAL_FPU_HAS_EXCESS_PRECISION, I don't remember if that matters on windows.

[2017-05-23 11:33] mglisse commented on #2135
After reading FPU.h, I don't expect any performance gain from this. Still, you are welcome to remove `|| defined _M_X64` before the definition of CGAL_FPU_HAS_EXCESS_PRECISION and add it before CGAL_SAFE_SSE2 instead. I cannot test windows myself.
The thing that could help is changing the definition of CGAL_IA_FORCE_TO_DOUBLE (see `#elif 1`), but that requires using the fenv pragma, and I believe

[2017-05-24 09:51] lrineau commented on #2135
Actually on Windows, `_controlfp_s` is a black-box function, that seems costly, and that the compiler probably cannot inline. Unfortunately, I do not know if and where we can find it source code. That is why my hope is that the implementation from `<xmmintrin.h>` would be cheaper to use.

[2017-05-24 14:51] maxGimeno commented on #2128
What do you call "the latest release version of the CGAL public-dev" ?

[2017-05-24 15:06] danston commented on #2128
Sorry, maybe I was not clear enough. I meant that I cloned the cgal-public-dev from github, checked out the master branch, and then built the release version of the demo from Polyhedron/demo/Polyhedron. Is it more clear or your question is related to something else? Thanks.

[2017-05-24 15:08] lrineau commented on #2128
There is no `master` branch in the repository `cgal-public-dev`! :-\

In that directory, please type:

    git log -n1

and give us the result. That way we will know the exact version of the code you have compiled.

[2017-05-24 17:58] danston commented on #2128
commit 46cffc0dd70ce91b7a5b3494593353cfa3356c6d (HEAD -> master, cgal/master)
Merge: c754fc70d2 cbd73f4274
Author: Laurent Rineau <laurent.rineau@cgal.org>
Date:   Tue May 9 12:19:29 2017 +0200

    Merge pull request #2064 from MaelRL/Kernel-Fix_coplanar_orientation_doc-GF

    Improve documentation of concept CoplanarOrientation_3

    (Via a merge of 'cgal/releases/CGAL-4.10-branch')

[2017-05-24 18:04] danston commented on #2128
Sorry for the late answer. This is what I get. I compiled everything as in the tutorial here: [https://github.com/CGAL/cgal/wiki/Information-for-New-Developers](https://github.com/CGAL/cgal/wiki/Information-for-New-Developers) and then here: [https://github.com/CGAL/cgal/wiki/Branch-Build](https://github.com/CGAL/cgal/wiki/Branch-Build)

[2017-05-25 23:43] chgans commented on #2010
No problem! ;)

[2017-05-26 02:36] JloveU opened #2140 "Is there a "concept" about computing "integral" of a "Polynomial"?"
## Issue Details

I 'm going to use Polynomial in CGAL.
And I need functions of "integral" and "differential".
I have foundthat for "differential" as "PolynomialTraits_d::Differentiate Concept Reference" at [CGAL 4.9.1 - Polynomial: PolynomialTraits_d::Differentiate Concept Reference](http://doc.cgal.org/latest/Polynomial/classPolynomialTraits__d_1_1Differentiate.html).
But I have not found that f

[2017-05-29 08:45] lrineau opened #2141 "Runtime error of BGL/test/BGL/test_helpers with the test platform IntelCompiler-17-with-assertions"
In all recent testsuite results, the BGL line has a red `n` at the column `IntelCompiler-17-with-assertions`.

The problem seems to be with `test_helpers`:
[code]
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.11-Ic-25/BGL/TestReport_lrineau_x86-64_Linux-Fedora_IntelCompiler-17-with-assertions.gz

[2017-05-29 09:22] #1246 closed

[2017-05-29 13:17] lrineau commented on #2128
Alright. Now I understand.You did not have just a checkout of cgal-dev, but the refined setup we use, with multiple remote repositories.

[2017-05-29 13:21] danston commented on #2128
Ok, this is what I should have written. Next time I will be more precise :)

[2017-05-30 13:03] MaelRL opened #2142 "Mesh_3 criteria: Euclidean distance or power distance?"
This issue is about the choice of distance in the `facet` and `cell` criteria and specifically in the various `do_is_bad()` functions in `mesh_standard_facet_criteria` and `mesh_standard_cell_criteria`.

The choice of the distance used to evaluate the different criteria is not consistent. Consider the following examples:
- `Cell_radius_edge_criterion`: the circumradius is evaluated with `compute_s

[2017-05-30 14:50] janetournois commented on #2142
It seems to me that you are right when you say

So, the `Cell_radius_edge_criterion` and ` Variable_curvature_size_criterion` are correct, imho.

About `Cell_variable_size_criterion` and `Variable_size_criterion`, it is more tricky...

As a general way of mind, I would say that the power distances do not have any "intuitive" meaning for the user, so they should not be used as a criterion. But we h

[2017-05-31 06:51] MaelRL commented on #2142
Most points being weightless, this would not change anything for most of the elements. Near features, some criteria are already disabled / not honored. Additionally, optimization furthermore produces elements that do not all meet the criteria.

Thus, if (some) criteria are anyway somewhat ignored near the features, using the power distance might not be that damaging and might even produce better r

[2017-05-31 09:55] MaelRL opened #2144 "Mesh_cell_base_3 is not a model of MeshCellBase_3"
`Mesh_cell_base_3` requires `invalidate_circumcenter()` but does not implement it, hoping that the regular cell base will implement it. However, the documentation says that the regular cell base should simply be a model of `RegularTriangulationCellBase_3`, which does not require `invalidate_circumcenter()` either.

Additionally, the regular cell base `Cb` of `Mesh_cell_base_3` defaults to `Regular

[2017-05-31 10:34] lrineau commented on #2144
Just for Mesh_3, the concept `RegularTriangulationCellBaseWithWeightedCircumcenter_3` is sufficient. I vote for it.

Cc @janetournois @cjamin

[2017-05-31 11:05] cjamin commented on #2144
I agree.

[2017-06-01 07:38] janetournois commented on #2144
me too

[2017-06-01 07:45] janetournois commented on #2142
I agree.

absolutely!

[2017-06-01 08:12] MaelRL commented on #2144
Since `invalidate_circumcenter` is moved to this new concept, should it also be renamed `invalidate_weighted_circumcenter` on the way, since `RegularTriangulationCellBase_3` requests `weighted_circumcenter` and not `circumcenter` ?

[2017-06-01 08:14] lrineau commented on #2144
I would even rename it to `invalidate_weighted_circumcenter_cache()`.

[2017-06-01 08:55] lrineau commented on #1925
Each 1D-curve of the domain could have a property that qualifies the topology of surfaces incident to the curve. For a polyhedral complex, for each edge of the curve, we can compute the number of incident facets of the polyhedra, and store the max of that number on the whole curve.

Note that it can be different from the number of incident patches, because a T-junction, for example, can be between

[2017-06-01 12:06] MaelRL commented on #2144
Making the changes in the implicit conversion removal branch for convenience (https://github.com/CGAL/cgal/pull/2102), since it changes a lot of vertex/cell concepts.

[2017-06-01 12:43] lrineau opened #2149 "3D demo: change the display of balls in Scene_c3t3_item"
*That is a request from @clebreto (from Inria).*

Currently the display of "spheres" in a c3t3 item is rather naive: they are all displayed in the same color.

I think the color of spheres should depend on the `in_dimension()` of their vertex.

- dimension 0: that is a protecting ball on a "corner"
- dimension 1: that is a protecting ball on a curve,
- any other dimension (dimension 2 or 3): that

[2017-06-01 12:47] lrineau commented on #1119
@maxGimeno Could you verify if that issue is still a valid issue?

[2017-06-01 12:49] lrineau commented on #1157
Will be address by @afabri in #2143...

[2017-06-01 12:51] lrineau commented on #2084
I agree with @sloriot. I wonder if that would conflict with the work done in #1983, that makes Mesh_3 compatible with `CGAL::Surface_mesh`. Cc @afabri

[2017-06-01 13:49] maxGimeno commented on #1119
It seems so.

[2017-06-01 15:04] maxGimeno commented on #1931
travis failed

[2017-06-01 15:14] ujjwalrathod007 opened #2150 "Cgal and CMAKE"
_Please use the following template to help us solving your issue._

## Issue Details

_Describe your issue. Please be specific (compilation error, runtime error, unexpected behavior, wrong results, etc.)._
I have the problem of CMAKE and CGAL. The error is it cannot find the CMakeList.txt. the exct error is as following,
CMake Error: The source directory "C:/CGAL-4.10-doc_html.tar" does not appear

[2017-06-01 15:44] lrineau commented on #2150
1. A `.tar` should be uncompressed before you can use its content.
2. Anyway, the tarball that contains the sources of CGAL is `CGAL-4.10.tar.gz`, and not `CGAL-4.10-doc_html.tar.gz`.
3. On Windows you should use the Windows installer: [`CGAL-4.10-Setup.exe`][l].

  [l]: https://github.com/CGAL/cgal/releases/download/releases%2FCGAL-4.10/CGAL-4.10-Setup.exe

[2017-06-01 15:44] #2150 closed

[2017-06-02 09:55] lrineau commented on #923
Related to the PR #1115: "Mesh_3: connected components for 3D images", that adds the feature as an example (plus an undocumented header).

[2017-06-02 13:44] afabri commented on #921
LR: a recent code for a customer, seems adapted to the initialization of multiple small connected components.

[2017-06-02 13:49] afabri commented on #922
LR:
Example of API:
[code]
that does:
[code]

[2017-06-08 12:31] janetournois opened #2162 "Polyhedron demo : add a default file name for "Save as...""
## Issue Details

When "Save as..." is called in the demo, it would be nice that the file name is automatically filled with the item's name, as a default.
It would avoid typing a file name that is most-probably the same as the item's name (save time and avoid typos!)

[2017-06-08 12:32] sgiraudot opened #2163 "Polyhedron demo: Analyse distance between point set and mesh"
_(This is a feature request, not urgent.)_

## Issue Details

It would be nice to have the following feature on the demo:
1. Select a point set item and a mesh item
2. Compute the distance from each point to the mesh
3. Output the statistics (min distance, first decile, median, last decile, max)
4. With a ramp, color each point from the closest to the farthest from the surface (to easily identify

[2017-06-08 15:17] lrineau commented on #1944
Cc @cjamin

[2017-06-08 15:22] lrineau commented on #1944
Actually... I can see the bug even without TBB and the `Parallel_tag`:
[code]
The assertion about coordinates being invalid (`NaN`s) is triggered before the parallel mode is tested.

[2017-06-08 17:46] fcacciola commented on #42
(sorry but since the issue was first closed I didn't noticed there was an additional question until now)

You are indeed correct and the computations use a sqrt(), so effectively, you need CGAL::Exact_predicates_exact_constructions_kernel_with_sqrt

What the current code does is use an extended precision SQRT approximation from the CORE package, if that is used by CGAL,  regardless of the type of

[2017-06-09 10:56] afabri opened #2165 "Polyhedron demo: Feature request for displaying indices"
## Issue Details

* Additionally to "I", this should be switchable in the popup window when I right-click an item
* It could be configurable to see vertex/edge/face indices
* It would be cool, if I could enter a vertex id, and then the camera zooms to this vertex.

[2017-06-09 14:54] afabri opened #2169 "Polyhedron Demo: Add "Save As" for Surface_mesh_item"

[2017-06-09 14:55] afabri opened #2170 "Polyhedron Demo: bug in Convert to Polyhedron"
## Issue Details

@maxGimeno Load 2 Surface_mesh. Convert the first to a Polyhedron is ok. Convert the second segfaults.

[2017-06-12 07:22] sloriot commented on #2140
I don't think so.

[2017-06-12 07:22] #2140 closed

[2017-06-13 07:58] lrineau opened #2171 "Arrangement: the new test test_sgm fails a lot"
The PR #2061 introduced a new test `Arrangement_on_surface_2/test/Arrangement_on_surface_2/test_sgm.cpp`. Its compilation fails with older gcc versions:

[code]

https://cgal.geometryfactory.com/CGAL/testsuite/results-4.11-I-32.shtml#Arrangement_on_surface_2

(Well, more generally, the Arr_2 test results are even worst than KDS...)

[2017-06-13 08:41] #1801 closed

[2017-06-13 08:41] #1790 closed

[2017-06-13 15:33] efifogel commented on #2171
The problems lies in the call to CGAL::convex_hull:

Point_3 points[] = {
    Point_3(1.0, 0.0, 0.0),
    Point_3(0.0, 1.0, 0.0),
    Point_3(0.0, 0.0, 1.0),
    Point_3(0.0, 0.0, 0.0)
  };
Gm_polyhedron P1;
CGAL::convex_hull_3(points, &points[4], P1);

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On 13 J

[2017-06-13 17:19] efifogel commented on #2171
Anyway, I've replaced the calls to convex_hull() with make_tetrahedron().
Hopefully, this will make this test compile on those platforms, but the
real problem is convex_hull()...
I've committed and pushed to mine.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On 13 June 2017 at 18:32, Efi Fogel <efifogel@

[2017-06-13 17:43] afabri commented on #2171
I will look into this tomorrow.

[2017-06-13 20:01] elfprince13 commented on #1352
Here is the problem region:
[code]

Is it safe to assume that anything which should be linked has already been added to `${CGAL_LIBRARIES}` and `${CGAL_3RD_PARTY_LIBRARIES}` and that the `_DIR` variables are essentially extraneous? If so, I am considering a modification that would simply allow a configuration variable to be set to skip the `link_directories` and `link_libraries` commands, so end-u

[2017-06-15 08:11] #1974 closed

[2017-06-15 08:45] sloriot opened #2177 "Selecting degenerate faces and edges"
In the demo, it would be nice to be able so select degenerate faces or degenerate edges (I mean in a selection item so that we can manipulate them).

[2017-06-15 08:46] afabri commented on #2177
+1

[2017-06-15 08:46] maxGimeno commented on #2170
I cannot reproduce.

[2017-06-15 09:08] lrineau commented on #1944
@janetournois in the previous message you can see the seed:

But it seems the issue is barely dependent on the seed, on my Linux machine. My last run was using the seed:

and it failed the same way.

[2017-06-15 09:26] lrineau commented on #1944
After the patch lrineau/cgal@4ddd3f6, I can no longer reproduce the bug without the compiler optimizers.

Actually, before that patch, I do not know if the optimizers were required.

[2017-06-15 09:46] janetournois commented on #1944
that at least explains why it not reproducible on msvc...

[2017-06-15 12:16] archenroot opened #2179 "loading initial cache file /tmp/portage/media-gfx/cloudcompare-9999/work/cloudcompare-9999_build/gentoo_common_config.cmake cmake policies active: CMP0043 cmake policies active: CMP0043 CMake Error at CC/CGALSupport.cmake:33 (message): Could not find CGAL Call Stack (most recent call first): CC/CMakeLists.txt:16 (include)"
## Issue Details
While configuration phase via CMake I face following error:
[code]

[2017-06-15 12:31] lrineau commented on #2179
The file `CGALSupport.cmake` does not belong to CGAL (it is part of CloudCompare). You should have reported that bug to CloudCompare.

Anyway, you should have CGAL installed on the machine, set the CMake variable `CGAL_DIR` to the directory that contains the generated file `CGALConfig.cmake`, and then relaunch the configuration step.

[2017-06-15 12:31] #2179 closed

[2017-06-15 13:25] archenroot commented on #2179
@lrineau sorry, mistake...

[2017-06-15 14:06] lrineau commented on #2179
No problem. We are glad to see that you are using CGAL, one way or another, and we hope that it will give you good results.

[2017-06-15 15:12] lrineau commented on #2170
I do not expect any answer from Andreas. I close the bug. We'll see if somebody wants to reopen it.

[2017-06-15 15:12] #2170 closed

[2017-06-15 15:13] lrineau commented on #2177
Maxime, you moved the issue in the tab "Under review/testing" of your project!

[2017-06-15 15:36] archenroot commented on #2179
Yes, it will! :-)

2017-06-15 16:06 GMT+02:00 Laurent Rineau <notifications@github.com>:

[2017-06-16 06:17] joaoantoniocardoso opened #2182 "to_double was not declared in this scope: Triangulation_2.h"
## Issue Details

Hi, I was trying to compile [openFOAM 4.x](https://github.com/OpenFOAM/OpenFOAM-4.x) as described by [their guide](https://openfoam.org/download/source/compiling-openfoam/), using the given parallel parameter _-j_ but get an error about _to_double_ in _Triangulation_2.h_, from _cgal_:

`/usr/include/CGAL/Triangulation_2.h:3012:30: error: ‘to_double’ was not declared in this scope

[2017-06-16 09:22] lrineau commented on #2128
Fixed by #2147.

[2017-06-16 09:22] #2128 closed

[2017-06-16 10:08] #2149 closed

[2017-06-16 10:08] #2162 closed

[2017-06-16 10:12] lrineau commented on #1157
@afabri: I do not think that the PR #2143 solves this issue, because the PR does not modify the demo.

[2017-06-16 10:13] lrineau commented on #2004
I reopen this issue, because the review is not done.

[2017-06-16 12:36] MaelRL commented on #2000
This stackoverflow [question](https://stackoverflow.com/questions/8407917/how-can-you-track-or-be-notified-of-changes-to-github-wikis) offers some possible directions.

[2017-06-16 12:55] mglisse commented on #2171
The test also assumes that `Epeck::FT` is `Lazy_exact_nt<Gmpq>` in the last few lines. `3*sw!=1` should work in more cases.

[2017-06-16 14:06] lrineau commented on #2182
Thanks for the report.

Could you try to patch `/usr/include/CGAL/Triangulation_2.h` temporarily, and add a
[code]
somewhere in the list of included headers?

Well, I am not sure it will fix the issue, because the compiler error indicates that the *argument-dependent lookup* (ADL) is used. Maybe replace `to_double` by `CGAL::to_double`, to avoid the ADL.

[2017-06-16 15:26] mglisse opened #2187 "Qualify CGAL::sign"
In most places in CGAL, we call `CGAL::sign` or the equivalent `CGAL_NTS sign`, which works fine. However, a few places, in particular Polygon_mesh_processing/internal/Side_of_triangle_mesh/Ray_3_Triangle_3_traversal_traits.h:182, internal/corefinement/predicates.h, Nef_S2/Sphere_circle.h, call it with just `sign`. This causes ambiguity for external number types that already have a sign function d

[2017-06-16 17:46] joaoantoniocardoso commented on #2182
@lrineau including `CGAL/double.h` and changind `to_double` to `CGAL::to_double` solved it. Thanks!

[2017-06-16 17:46] #2182 closed

[2017-06-17 05:35] sloriot commented on #2187
Should be fixed by #2188.
Side question: do you see any reason to keep `CGAL_NTS`?

[2017-06-17 06:29] mglisse commented on #2187
Thanks.

I don't have an opinion about that.

[2017-06-18 19:55] efifogel commented on #2171
Thanks.
I've fixed this as well.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On 16 June 2017 at 15:55, Marc Glisse <notifications@github.com> wrote:

[2017-06-18 19:55] efifogel commented on #2171
I've pushed it all to mine.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On 18 June 2017 at 22:55, Efi Fogel <efifogel@gmail.com> wrote:

[2017-06-18 22:28] pivosak opened #2189 "fill_hole preconditions on Halfedge_handle"
Hi, I'm new to C++, so I  hope I'm not just confused, but I can't get **fill_hole** function get to work.
https://github.com/CGAL/cgal/blob/master/HalfedgeDS/include/CGAL/HalfedgeDS_decorator.h
[code]

## Source Code

**I compiled following script...**
[code]
**... and it returns:**
[code]

And that's wierd. Function wants halfedge_handle but after that halfedge_handle  violates its precondition..

[2017-06-18 22:44] #2189 closed

[2017-06-19 13:58] lrineau commented on #2171
Efi, I can see [what you have pushed][*]. Do you plan to create a pull-request based on that branch you pushed?

  [*]: https://github.com/CGAL/cgal/compare/master...efifogel:Sgm-bug_fix-efif?expand=1

[2017-06-19 19:25] efifogel commented on #2171
Just did.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On 19 June 2017 at 16:58, Laurent Rineau <notifications@github.com> wrote:

[2017-06-20 06:37] afabri opened #2192 "Surface_mesh_simplification: simplification leading to self intersections."
## Issue Details

The placement classes of the package may lead to self intersections.
![sms-selfintersection](https://user-images.githubusercontent.com/3263539/27319787-7248988a-5593-11e7-90f2-99e238bdb9ab.png)

## Source Code

The polyhedron demo produced the above.

[2017-06-20 15:22] janetournois commented on #1157
I'm working on it

[2017-06-21 08:06] sgiraudot opened #2195 "Misleading warning message in Surface_mesh"
## Issue Details

Using the `operator>>()` with Surface_mesh, the user can run into the following message:

[code]

But if we look at the code, here is what happens:

[code]
It seems to me this message is very misleading:
* From what I understand, this is much closer to an _Error_ than to a _Warning_
* The program does not "_load a Soup of polygons instead_" as suggested, it actually does nothing

[2017-06-21 12:22] sgiraudot opened #2196 "IO for Polygon Soups"
## Issue Details

I'm opening this issue just to start a discussion on the input/output functions for polygons soups, especially:
- the current OFF reader
- a PLY reader to develop

So far, we already have a function that can interpret OFF input as a polygon soup, namely `read_OFF()`. But this function is in the `Polyhedron_IO` package (although it never actually refers to a Polyhedron), and it is

[2017-06-21 12:44] #1352 closed

[2017-06-21 14:14] MaelRL opened #2197 "SparseLinearAlgebraTraits_d concepts and models"
According to the matrix concept ([doc](http://doc.cgal.org/latest/Solver_interface/classSparseLinearAlgebraTraits__d_1_1Matrix.html)), a function `get_coef(i,j)` should be offered by models.

The models `CGAL::Eigen_sparse_matrix<T>` and the symmetrical version do not offer this function. Why was `get_coef()` not added to those classes / Should `get_coef()` be removed from the concept ?

[2017-06-21 16:53] gdamiand commented on #2196
1. I agree that this function could be move into Polygon Mesh Processing and documented.

2. I also agree that the name read_OFF is not correct (moreover it seems in conflict with the small feature add generic read and write functions). Why not define a unique function read_model_as_polygon_soup that analyse the header of the file ? (and you can do the same for read_model_as_points)

[2017-06-22 07:18] sloriot commented on #2197
IMO, it is an heritage from Taucs and since it was not used by any algorithm in CGAL it simply did not get ported to the Eigen model.

[2017-06-22 07:20] sloriot commented on #2197
I checked back to CGAL 3.9 and it was not used there (Eigen models was introduced in 4.0).

[2017-06-22 08:23] janetournois commented on #2195
The message could at least be "Error: ... . Try to load a soup..."

[2017-06-22 13:25] janetournois opened #2199 "BGL : vertices(Graph_with_descriptor_with_graph) is not a CGAL::Range"
## Issue Details

The result type of `vertices(Graph_with_descriptor_with_graph)` does not implement the concept [CGAL::Range](http://doc.cgal.org/latest/Circulator/classRange.html)

For example, applying `begin()`, `end()`, or `empty()` to it does not compile.

## Source Code

see for example the commit 0c0177e4324c51cd4bdc8305600b7955f055b71a
The function `empty()` does not compile because `begi

[2017-06-22 14:06] #1802 closed

[2017-06-22 14:08] sloriot commented on #2199
The same holds for edges, faces, ...

[2017-06-22 14:26] sloriot commented on #2199
Fixed by #1861

[2017-06-22 14:26] #2199 closed

[2017-06-22 15:34] janetournois commented on #2084
I'm working on it

[2017-06-23 10:02] MaelRL opened #2205 "Visual improvements when testing"
This issue is about improvement ideas to the way one can test code.

- When test branch packages with `create_cgal_test_with_cmake`, the compilation output is dumped in the console, which is mostly unreadable and difficult to search for warnings. I guess one could dump the output into a file and search the file, but maybe the "successful" / "error" message on the left of the program in `error.txt`

[2017-06-23 14:23] #1931 closed

[2017-06-23 15:37] lrineau commented on #2182
This bug will be addressed by the pull-request #2198.

[2017-06-25 19:50] mglisse opened #2206 "weighted_circumcenter_translateC2<RT>"
https://github.com/CGAL/cgal/blob/master/Cartesian_kernel/include/CGAL/constructions/kernel_ftC2.h#L458

there is a call `weighted_circumcenter_translateC2(qx-px, qy-py, dqw,rx-px, ry-py,drw,x, y);`. For number types using expression templates, we need to specify the template parameter with `weighted_circumcenter_translateC2<RT>(qx-px, qy-py, qw-pw, rx-px, ry-py, rw-pw, x, y);`

Is there any platf

[2017-06-26 07:20] maxGimeno commented on #1931
It shouldn't be closed yet, there is a lot of other PR waiting and some not done yet about this.

[2017-06-26 10:12] lrineau commented on #1931
The closing of this bug is automatic, for each PR that contains the text "fix #1931" in its description. Something I reopened this issue myself, but they are too many. Now I will let you deal with this issue, reopen it and update as any times as needed.

[2017-06-26 10:13] lrineau commented on #1931
Actually, this issue should be replaced by one of yours, like #1932.

[2017-06-27 05:16] MoniqueTeillaud opened #2211 "installation manual should be updated: explain the Github download page"
Hi

The directory structure when downloading CGAL 4.10 has changed, is not any more what is written there: http://doc.cgal.org/latest/Manual/installation.html#title6

Monique

[2017-06-27 16:55] lrineau commented on #2211
Can you tell what is wrong in that section? As far as I can see the layout is still that one.

[2017-06-28 01:01] MoniqueTeillaud commented on #2211
ok, now I understand: you don't get the same layout when you download
CGAL-4.10.zip or Source code (zip) on https://github.com/CGAL/cgal/releases
though both are of course giving source code.
I had not noticed that before (and I don't guess the rationale at first sight...)

Then maybe I should rename my issue to something like: _explain what "Source code" is on the github release page_ .

[2017-06-28 07:59] #2171 closed

[2017-06-28 12:02] maxGimeno opened #2215 "Polyhedron_demo: The selection item is broken"
## Issue Details
The Edition mode kills the widget.

[2017-06-28 12:44] sloriot opened #2217 "Add make_face_selection_removal_manifold in BGL"
In the following code, I've written a function `make_face_selection_removal_manifold()` that increases  a selection of faces so that the removal will not make the triangle mesh non-manifold.
I think it is of general interest and should end up in the helpers of the BGL package. Making it working for PolygonMesh is trivial if needed.

[code]

[2017-06-28 12:47] sloriot commented on #2217
Note that the selection plugin could be updated to include this functionality too.

[2017-06-29 15:05] unclejimbo opened #2221 "Point_set_3 remove(const Index&) error"
## Issue Details

Using the `remove(const Index&)` method in Point_set_3 package generate the following error:

## Source Code

[code]

## Environment

* Operating system (Windows/Mac/Linux, 32/64 bits): Win10 x64
* Compiler: vs2017
* Release or debug mode: debug & release
* Specific flags used (if any):
* CGAL version: 4.10
* Boost version: 1.64
* Other libraries versions if used (Eigen, TBB, etc