[2018-01-03 10:57] lrineau opened #2706 "Upgrade to recent Doxygen version"
Now Google will [favor web page using a responsive design][1]. https://doc.cgal.org/ will be impacted, because with the version of Doxygen we use, 1.8.4, the CSS uses hardcoded values. Recent versions of Doxygen 1.8.12 or later, if I remember well, have a new CSS that is more compliant with responsible design.

  [1]: https://ez.no/Blog/Responsive-Design-and-its-Impact-on-SEO

@sloriot, do we have

[2018-01-04 14:31] #2513 closed

[2018-01-04 14:34] #2529 closed

[2018-01-04 16:25] lrineau opened #2708 "Non-wanted commits of master in releases/CGAL-4.11-branch"
The PR #2478 was incorrectly merged into `releases/CGAL-4.11-branch`, with the commit 46cc91e787b2b6bb34115522cf896a27f85966a0, pulling into `releases/CGAL-4.11-branch` a part of the history of `master`.

1. The commit 46cc91e787b2b6bb34115522cf896a27f85966a0 must be reverted in `releases/CGAL-4.11-branch`, carefully because its revert has conflicts.
2. The sole commit 6ce7afb6e08e790e700aa4fbcf8c

[2018-01-04 16:56] lrineau commented on #2708
I think the PR #2590 will also have to be rebased/reapplied onto releases/CGAL-4.11-branch. @sgiraudot, let's discuss that tomorrow.

[2018-01-04 23:12] xor256 opened #2710 "Polygon_with_holes_2 P how add outer but not in initialize"
I have
Polygon_2 P;
Polygon_with_holes_2 Q;

how add on Q a holes Q
I need P outer and Q holes

a) Q.add outer points
b) Q.add_holes(P)

How deleting outer and how deleting all points from outer and holes

[2018-01-05 07:55] efifogel commented on #2710
It seems that the General_polygon_with_holes_2 template is missing
functions to add and remove the outer boundary.
Briefly looking at it, I think these functions can and should be added.
Until we do it, you have 2 options:
1. Construct a new polygon with holes when you need to add or remove the
outer boundary.
2. Introduce a new template that has these missing functions and refer to
this new templ

[2018-01-05 09:07] xor256 commented on #2710
 
 
W dniu 2018-01-05 08:55:45 użytkownik Efi Fogel <notifications@github.com> napisał:
It seems that the General_polygon_with_holes_2 template is missing
functions to add and remove the outer boundary.
Briefly looking at it, I think these functions can and should be added.
Until we do it, you have 2 options:
1. Construct a new polygon with holes when you need to add or remove the
outer boundary.

[2018-01-08 09:24] maxGimeno opened #2715 "Continuous integration for Windows"
We should try AppVeyor as a replacement for travis for Windows continuous integration.

[2018-01-08 09:37] MaelRL commented on #2672
All SMP-related warnings on Windows seem to be gone from the Polyhedron demo.

[2018-01-08 09:37] MaelRL commented on #2569
No.

[2018-01-08 13:08] afabri opened #2717 "Barycentric Coordinates: Cleanup required"
## Issue Details

In the file [`Generalized_barycentric_coordinates_2.h`](https://github.com/CGAL/cgal/blob/master/Barycentric_coordinates_2/include/CGAL/Barycentric_coordinates_2/Generalized_barycentric_coordinates_2.h#L330), a Boolean is set to `true`, followed by an assertion,  an `if` statement that never fails and returns, followed by unreachable code.

@danston had you plans to replace `= tr

[2018-01-08 13:55] danston commented on #2717
Hello Andreas. Actually, I think about some cleanup, but I need to find time for that. I proposed the barycentric coordinates project for Google Summer of Code. If a student decides to work on it, we will do it together. Otherwise, I will take some days later on and clean my code up wherever it is necessary.

[2018-01-08 15:32] lrineau opened #2719 "test/Classification: a CMake bug when C++11 is not available but TBB is"
In `master`, when C++11 cannot be used but TBB is available, there is a CMake error in `test/Classification/`:
https://cgal.geometryfactory.com/CGAL/testsuite/results-4.12-I-135.shtml#Classification

[2018-01-09 09:37] sgiraudot commented on #2719
Should be fixed by https://github.com/CGAL/cgal/pull/2690/commits/1caff91adef4fd43e09b519a3929f527cfa46759.

[2018-01-09 09:54] sloriot commented on #2534
I'm closing this issue and replace it with [this page](https://cgal.geometryfactory.com/CGAL/Members/wiki/Staging_Area/Mesh_Repair).

[2018-01-09 09:54] #2534 closed

[2018-01-10 14:19] lrineau opened #2725 "Test and adapt to Boost 1.66 on Windows (auto-linking)"
Boost 1.66 has been published a week before Chrismas, and we have not yet tried it on Windows (we have a test on Linux, with the ArchLinux distro, but it is fully yellow because the CMake support of Boost 1.66 is incomplete).

Boost 1.66 has modified its naming scheme for libraries, in the 'versioned' variant, that is used on Windows. That probably means that our support for auto-linking will fail

[2018-01-10 16:33] #2704 closed

[2018-01-10 16:34] #2702 closed

[2018-01-11 07:46] jasjuang opened #2726 "Can we get a minor release?"
## Issue Details

There was an issue with the latest release (https://github.com/Microsoft/vcpkg/issues/2471) that causes `set_target_properties` to be missing from `CGALExports.cmake` after installation. After some testing I realized it is actually fixed in recent commits. Could we get a minor release with the latest master that contains the fix?

[2018-01-11 09:46] seb-tourneux opened #2727 "Corefine adjacency output is random"
## Issue Details

For two consecutive executions of corefine functions, I get different adjacency output.
Some vertices index are swapped or permuted.

## Environment

* Operating system : Linux, Debian 8
* Compiler: clang
* CGAL version: 4.11

[2018-01-11 09:58] lrineau commented on #2726
The PR you are talking about is #2700. I was about a bug introduced in CGAL `master` branch after the release CGAL-4.11, and thus it did not impact any released version (such as CGAL-4.10.1 or CGAL-4.11). The patch will be released in CGAL-4.12-beta1 (planned in a month), and then CGAL-4.12 (planned in two months). Until then, it will be only in the un-released `master` branch, and that is appropr

[2018-01-11 10:14] #2726 closed

[2018-01-11 14:34] efifogel opened #2729 "The manual of the dD Spatial Searching is self-conflicting"
## Issue Details

In the user manual (1.2 Range Searching) it says, and I quote:

However, the reference of the Fuzzy_sphere says, and I quote:

So which one is correct?
I assume that the latter is the correct one. However, if this is the case, the former should be rephrased.

[2018-01-11 14:40] afabri commented on #2725
I confirm that cmake declares an error during configuration. The workaround is to specify the required libraries by hand, as the libraries now also encode the architecture.
Remains the question if CGAL should follow this new naming scheme.

[2018-01-11 14:54] MaelRL commented on #2729
I don't see the conflict, the first paragraph doesn't say that points on the sphere will always (or never) be reported when the fuzziness is zero.

Related to https://github.com/CGAL/cgal/pull/1808.

[2018-01-11 15:06] efifogel commented on #2729
I believe it does. Read it again carefully. Notice the phrase "not in the
closure of the outer"...
It says that if you set eps to zero you get all points the distance of
which is less then r and no point the distance of which is equal to or
greater then r.
Typically, we use the term "exact" to indicate the opposite of limited
precision, but here, in the last sentence, it is used to indicate the
op

[2018-01-11 15:14] lrineau opened #2730 "Check of package dependencies"
1. Modify the `check_headers` feature of our CMake scripts:
    1. Doxygen is now required, and the list of documented headers is
    computed at each run.
    1. Replace `ack` by `awk` in the script
    `Scripts/developer_scripts/generate_list_of_documented_headers`, and
    replace that script by a logic directly in CMake (fill a CMake list
    instead), using [`execute_process`]
    1. make `CG

[2018-01-11 15:40] MaelRL commented on #2729
d(c, x) < r - epsilon ==> always reported

d(c, x) > r + epsilon ==> never reported

Going to zero, this gives conditions on d(c,x) < r and d(c,x) > r. Nothing for d(c,x)=r.

"Exact" just means that there is no fuzziness parameter, but it is still "might or might not be" for the border of the inner and outer spheres (which are actually the same in the case of epsilon = 0).

[2018-01-11 16:10] jasjuang commented on #2726
This problem is different from #2700. With the latest release the entire block of `set_target_properties` is missing in `CGALExports.cmake` after installation. Right before the merge of #2700 `set_target_properties` is already there in `CGALExports.cmake`, it's just that the entry of `INTERFACE_INCLUDE_DIRECTORIES` is wrong hence #2700 corrects it.

Therefore the conclusion is somewhere before the

[2018-01-11 16:37] lrineau opened #2731 "Install OpenMesh in Travis"
@maxGimeno  Please install OpenMesh in Travis. Do it in a dedicated pull-request, because it might break something: the `CHECK` line will probably no longer pass until we fix the issue.

[2018-01-11 17:00] sloriot commented on #2727
What do you call an "adjacency output"?

[2018-01-11 17:33] seb-tourneux commented on #2727
Basically vertices order change

[2018-01-11 17:40] efifogel commented on #2729
No, notice the word "closure"; it has a very specific meaning in geometry
and topology.
The phrase "points that are not in the closure of the outer approximation
are never reported." implies that d(c, x) *>=* r + epsilon ==> never
reported.

BW, are you absolutely certain that the code implements "d(c, x) > r +
epsilon ==> never reported" (and not the '>=' option)?

   ____  _        ____

[2018-01-12 09:17] MaelRL commented on #2729
I'm not following: although what the inner and outer approximations are not really defined, we are in a nice metric space so the closure is going to be the closed ball whether we are considering the open ball or something else as approximation. Then, not in the closed ball <=> the distance to `c` is _strictly_ greater than `r + epsilon`.

I must be missing something in  the above, then.

I guess e

[2018-01-12 14:50] hugoledoux opened #2733 "bug with Plane_3.to_2d()?"
## Issue Details

I first define 5 points in 3D (forming an horizontal plane), then fit a plane through them with the least-square function, and then project each of the original points to the plane with the function Plane_3.to_2d(). The projection returns wrong values, such as:
[code]

Maybe because the coefficients of the plane are not exactly 0, but -4.3906e-26 for instance?

If I translate the

[2018-01-13 14:21] joachim-reichel opened #2734 "Meaning/usability of CGAL_CXX_FLAGS_INIT"
Original bug report: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=886670

When CGAL is installed on a Debian system from .deb packages, CGAL_CXX_FLAGS_INIT in CGALConfig.cmake is set to "-g -O2 -fdebug-prefix-map=/build/cgal-d6DBFP/cgal-4.11=. -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -frounding-math".

These flags seem to be the CXXFLAGS that w

[2018-01-13 21:15] efifogel commented on #2729
On 12 January 2018 at 11:17, Mael Rouxel-Labbé <notifications@github.com>
wrote:

I don't blame you; it's written in a confusing (or misleading) way.

Right.

I wrote a small program and made few experiments. I never got points the
distance of which is exactly (r + epsilon) reported.
Of course, this is not a proof that they are indeed never reported, but I
would guess that it is easier to implemen

[2018-01-14 20:26] mglisse commented on #2734
I think Laurent's message in December: "Heads up!: Important changes in the CMake scripts of CGAL" says this is fixed in master, but you may want to check.

[2018-01-15 09:57] sloriot commented on #2727
Try setting the seed of the default random generator by calling for example before doing the operation. `CGAL::get_default_random()=CGAL::Random(0);`.

[2018-01-15 10:06] sloriot commented on #1847
@lrineau we can close the issue as it was implemented a while ago, right?

[2018-01-15 10:08] lrineau commented on #1847
Yes, sure. Thanks for pointing that out.

[2018-01-15 10:08] #1847 closed

[2018-01-15 10:22] lrineau commented on #2734
That is right. I have started to modernize our CMake scripts, to slowly converge to a regular usage of CMake, instead of our hacks and tweaks that dated from the time of CMake-2.4.

That patch is only in `master`, and that means CGAL-4.12. I am reluctant to backport a rework of our CMake scripts to a release branch like `releases/CGAL-4.11-branch`, because that would mean a lot of work and manual

[2018-01-15 10:22] #2734 closed

[2018-01-15 10:32] sloriot commented on #2393
This is probably useless as `copy_face_graph()` does not clear the target mesh.

[2018-01-15 10:32] #2393 closed

[2018-01-15 10:44] MaelRL commented on #2729
It makes more sense with the `contains()` function too.

It'd be nice to clarify the definitions of the the inner and outer approximations as open sets, but it's not true for the fuzzy box, which IIRC has 3 sides open and 3 that are closed.  Maybe those details should be taken to the warnings in the reference manual. For the user manual, how would you clarify the `closure of the outer approximatio

[2018-01-15 10:44] sloriot commented on #2430
@kkatrio When you have time, it would be nice if you can handle this issue.

[2018-01-15 12:24] kkatrio commented on #2430
ok, will do.

[2018-01-15 21:20] joachim-reichel commented on #2734
Ok, good to know that is fixed in 4.12. Until then, one can hardcode -frounding-math as workaround.

[2018-01-16 07:36] sgiraudot opened #2740 "Travis fails way too often on `apt-get`"
## Issue Details

As we have lots of lines in our Travis testsuite, the probability that at least one fails at `apt-get` is quite high (I have no memory of a recent pull request where I did not have to restart it by hand at least 3 or 4 times). It's quite annoying as the PR appears red and we have to check by hand every red cross to see if it does correspond to an `apt-get` failure.

Would it be p

[2018-01-16 14:01] letarg0 opened #2744 "Simplify Polygon_2 (too many points)"
I add two Polygon_2 each together (union)

[code]
output:**(0 0) (1 0) (2 0) (2 1) (1 1) (0 1)**

How I can simplify output list of points? I get too many points. I have to get only rectangle (4 points). (0,0) (2,0) (2,1) (0,1)....Is any function to simplify polygon?

[2018-01-16 14:17] sloriot commented on #2744
I would extract the points of the polygon into a container (like `std::vector`) and remove a point from the container if that point is [`collinear()`](https://doc.cgal.org/latest/Kernel_23/group__collinear__grp.html) with the point before and after it in the container (considering the container as a cycle). Then recreate a polygon from the remaining points.

[2018-01-16 14:17] #2744 closed

[2018-01-16 14:46] letarg0 commented on #2744
@sloriot Can You show me a code? I'm beginer

[2018-01-17 09:52] #2703 closed

[2018-01-17 10:36] MaelRL commented on #2390
I feel like the cut plane's `Show Tetrahedra` should be enabled by default when generating a 3D mesh.

[2018-01-17 10:42] MaelRL commented on #2390
Also, as bug: you can't save a c3t3 item if `Show  Tetrahedra` is enabled, you've got to deselect it first.

[2018-01-18 04:40] dingyuannjnu opened #2749 "Microsoft C++ exception: CGAL::Assertion_exception at memory location 0x0026DA6C."
_Please use the following template to help us solving your issue._

## Issue Details

_Describe your issue. Please be specific (compilation error, runtime error, unexpected behavior, wrong results, etc.)._

## Source Code

_If your issue arises by using CGAL in your own source code, please provide a minimalist example that we can compile easily to reproduce the bug. If your issue arises from using

[2018-01-18 07:10] sloriot commented on #2749
Please provide more details about the issue otherwise we cannot help.

[2018-01-18 07:59] sloriot opened #2750 "Check why icons color are missing"
Compare [that page](https://doc.cgal.org/latest/Algebraic_foundations/annotated.html) to [that page](https://cgal.geometryfactory.com/CGAL/Manual_doxygen_test/CGAL-4.12-Ic-151/master/Algebraic_foundations/annotated.html). Post processing should be replacing the small icons but it seems it is no longer the case for recent version of doxygen.

[2018-01-18 09:15] afabri commented on #2123
The example `orbifold.cpp`  uses two functions from `CGAL::internal::` that should be documented.

[2018-01-18 09:27] lrineau opened #2751 "The testsuite of Generalized_map does not like Linux 32 bits"
https://cgal.geometryfactory.com/CGAL/testsuite/results-4.12-Ic-151.shtml#Generalized_map

[2018-01-18 16:44] sloriot opened #2752 "Why is CT_2 so verbose"
In the code of `Constrained_triangulation_2` we have the following:

[code]

in the body of the insert function. I don't see why we have this on.
I'm in a setting where I'm not supposed to have a lot of intersection of constraints so I'd like to stick to my CDT type and not move to CDT+

Do you agree that we should remove it?

[2018-01-18 17:36] lrineau commented on #2752
I understand why we want to educate our users to use better implementation. But could it be implemented by a compilation-time warning, instead of that run-time message?

[2018-01-18 20:14] sloriot commented on #2752
OK for a warning, maybe with a macro to disable it (like there use to be in Eigen to say that a package was experimental).

[2018-01-19 01:57] alecjacobson opened #2753 "Use Lambda with"
Is it possible to pass a lambda to `Implicit_mesh_domain_3` ?

Something like this:

[code]

Currently I get a type error:

[code]

[2018-01-19 09:37] lrineau commented on #2753
Yes, that is possible. The problem is to use the right type for the type `Function`. In your example, that is:
[code]
that is: a function with one parameter of type `const Point&` and `FT` as return type.

But your functor is a lambda expression. Even if its signature seems to be the right one, its type is not identical to `Function`. See [that StackOverlow question, and answers](https://stackover

[2018-01-19 09:37] #2753 closed

[2018-01-19 09:44] lrineau opened #2754 "CGAL testsuite is broken with Qt 5.10"
In the latest test results, all the platforms using Qt 5.10 (currently ArchLinux and Fedora-rawhide) have compilation errors with all demos:
https://cgal.geometryfactory.com/CGAL/testsuite/results-4.12-Ic-152.shtml#AABB_tree_Demo

Maxime, can you try to find out why, and then hopefully find a solution?

[2018-01-19 13:28] maxGimeno commented on #2754
Apparently, Qt5.10 is not able to generate mocs  on the testsuite machines, but it works perfectly on mine. Maybe it's the packaged version that is bugged.

[2018-01-19 14:30] lrineau commented on #2733
Fixed by #2735. Will be in CGAL-4.11.1, and CGAL-4.12.

[2018-01-19 14:30] #2733 closed

[2018-01-19 15:59] lrineau commented on #2224
This issue has not been updated since last summer.

@ericberberich @efifogel?

[2018-01-19 16:00] lrineau commented on #2725
The "solution" is to wait for CMake 3.11. The fix was merged last week in CMake: https://gitlab.kitware.com/cmake/cmake/merge_requests/1625.

[2018-01-19 16:01] #2725 closed

[2018-01-22 09:06] #2708 closed

[2018-01-22 09:06] lrineau commented on #2708
Fixed by #2709.

[2018-01-22 10:04] sloriot commented on #1666
Note that a nice first test would be to have cmake support in CGAL that when using ctest we get the percentage locally.

[2018-01-22 10:07] sloriot commented on #1666
Maybe having the percentage per package would be nice but it would still require the whole run of the tests since some parts of the code is not tested by the package tests.

[2018-01-22 14:27] lrineau commented on #1666
Note that getting coverage for templates can only be an approximation: usual tools cannot detect that a class/function template was not tested with a type for which the behavior of the code is radically different from usual cases.

[2018-01-22 15:07] MaelRL commented on #2390
Bug: refreshing a point set resets the point size.

[2018-01-22 15:08] MaelRL commented on #2390
@maxGimeno Feel free to edit and strike items in this issue directly.

[2018-01-22 15:10] maxGimeno commented on #2390
@MaelRL I'm pretty sure only you can do that. I'd rather keep my PR updated :)

[2018-01-22 16:20] sloriot commented on #2633
Doxygen now recommands https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/
Shall I update our file to that one?

[2018-01-22 19:09] lrineau commented on #2633
I agree. I imagine that it is also valid for older versions of Doxygen?

What should we do for our old documentation, for previous CGAL version, that is already online?

[2018-01-23 13:11] lrineau opened #2761 "All our Windows test platforms should have /INCREMENTAL:NO /DEBUG:NONE in linker flags"
https://cgal.geometryfactory.com/CGAL/testsuite/results-4.12-I-141.shtml

In the linker flags of Windows platforms, you can see that the linker flags are really different from a Windows platform to another.

So save disk space and CPU time, the flags `/INCREMENTAL:NO /DEBUG:NONE` should be in all Windows platforms.

[2018-01-23 19:57] sloriot commented on #2633
It is valid for any version.
For the old doc, only 4.11 is relying on cdn.mathjax.org (previous releases are OK). I guess there is a bug in the doc creation script.

[2018-01-23 20:00] sloriot commented on #2633
`Scripts/developer_scripts/run_doxygen_testsuite` has been updated and
`-DCGAL_DOC_MATHJAX_LOCATION:STRING=../../MathJax \` was removed by @maxGimeno.
@maxGimeno is there any reason?

[2018-01-23 20:15] maxGimeno commented on #2633
Probably a mistake

[2018-01-23 20:18] sloriot commented on #2633
OK I pushed a fix also in #2763

[2018-01-23 20:19] sloriot commented on #2633
The release of 4.11.1 will fix the pb so we should be good for old versions.

[2018-01-24 08:44] maxGimeno commented on #2761
Should I add them to the linker flags of the Debug and ReleaseWithDebugInfo too ?

[2018-01-24 09:20] lrineau commented on #2761
You can add those flags to the general linker flags, independent from the build config:
  - `CMAKE_EXE_LINKER_FLAGS`,
  - `CMAKE_MODULE_LINKER_FLAGS`,
  - `CMAKE_SHARED_LINKER_FLAGS`, and
  - `CMAKE_STATIC_LINKER_FLAGS`.

[2018-01-24 09:46] afabri opened #2764 "Algebraic_kernel_d/Shear_controller calls `srand()`"
## Issue Details

CGAL code should not seed a global random number generation function as it is done [here](https://github.com/CGAL/cgal/blob/master/Algebraic_kernel_d/include/CGAL/Algebraic_kernel_d/Shear_controller.h#L62)

This should probably use `CGAL::Random` instead.

@ericberberich can you by any chance comment on  this?

[2018-01-24 11:00] maxGimeno commented on #2655
note to myself : use cexecute_process to call a script in a CMakeLists.txt

[2018-01-25 08:39] RizzerOnGitHub opened #2766 "no access available to stored_polyhedra in Polyhedral_mesh_domain_with_features_3.h"
Polyhedral meshes in Mesh_3/include/CGAL/Polyhedral_mesh_domain_with_features_3.h are created  using a Polyhedron object which is assigned to the private variable stored_polyhedra.

There does not seem to be an accessor function available which returns the value of stored_polyhedra.

The mesh's Polyhedron is used, for instance, by the FEniCS project in the mshr tool (a tool enabling manipulation o

[2018-01-26 10:04] sgiraudot opened #2768 "Polyhedron demo: clipping box surprising behaviors"
## Issue Details

I'm using the Clipping Box plugin with a point set.

1) To move the clipping box faces/edges/etc., there is no modifier key. It could be nice that it only moved when holding `shift` for example (holding `ctrl` makes it turn around, which is good). I don't know if it is a wanted behavior or not, but that is kind of related to the next point.

2) I move the clipping box around, cli

[2018-01-26 13:57] maxGimeno commented on #2768
1. It is a wanted feature, that was asked when I developped it.
2. It is fixed in the branch fixing all the "minor" features required by @MaelRL : #2759
3. This is worrying, I remember removing the clipping in the destructor of the item. I'll check and fix it in the branch of #2759

[2018-01-26 15:16] lrineau opened #2769 "Add text of licenses to the zip file of precompiled DLLs of demo"
Maxime, when you prepare the zip file of all DLLs that are dependencies of our CGAL demos, you forgot to include the text of licenses of the libraries we use. For those under LGPL/GPL, that is mandatory, as far as I know.

The file is the one at https://github.com/CGAL/cgal-web/blob/6048f3b5ae2f41e79537786921ffb8a45cbe4020/demo/4.11/CGAL-demoDLLs.zip

It has a `licenses/` subdir, that I have copy-

[2018-01-28 15:41] kkatrio commented on #2430
When trying to fill a hole which is created by at least one null edge, then I get either "Returning no output. No possible triangulation is found!" or "Returning no output. Filling hole with extra triangles is not successful!", depending on if I tried with DT or not. Should I try something in particular to reproduce the issue?

[2018-01-29 08:15] sloriot commented on #2430
Did you try with a hole made only of 3 vertices?

[2018-01-29 09:56] lrineau opened #2770 "Polyhedron demo, 32 bits, in the CGAL-4.11.1 branch: a compilation error"
There is a strange compilation error in last testsuite of the release branch `releases/CGAL-4.11-branch`. It is strange because it only occurs on one platform, whereas the compilation error speak about missing class members.

[code]
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.11.1-I-110/Polyhedron_Demo/TestReport_afabri_x64_Cygwin-Windows8_MSVC2013-Debug-32bits.gz

[2018-01-29 09:58] lrineau opened #2771 "Platform MSVC2013-Debug-32bits completely broken"
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.12-Ic-159/Installation/TestReport_afabri_x64_Cygwin-Windows8_MSVC2013-Debug-32bits.gz

There is an issue with Boost atomic:
[code]

That is a warning, but obviously, that leads to a linker error later.

[2018-01-29 10:55] sgiraudot commented on #2770
If I remember correctly, these class methods are inside `#ifdef` conditions with some CPP11 features, so there must be an inconsistency between cmake detected features and Boost flags. I can check that later on.

[2018-01-29 10:59] afabri commented on #2771
@maxGimeno  : My guess is that the atomic lib is just missing as before what Laurent cited you can see:

//Boost atomic library (debug)
Boost_ATOMIC_LIBRARY_DEBUG:FILEPATH=Boost_ATOMIC_LIBRARY_DEBUG-NOTFOUND

//Boost atomic library (release)
Boost_ATOMIC_LIBRARY_RELEASE:FILEPATH=Boost_ATOMIC_LIBRARY_RELEASE-NOTFOUND

//Boost chrono library (debug)
Boost_CHRONO_LIBRARY_DEBUG:FILEPATH=C:/3rdPartyLib

[2018-01-29 11:22] maxGimeno commented on #2771
Thank you, I switched to boost_1_57 as you are right, boost atomic is
missing from the local boost 1_55

2018-01-29 12:00 GMT+01:00 Andreas Fabri <notifications@github.com>:

[2018-01-29 12:39] maxGimeno commented on #2771
It is already done, he's ok with it because 1.55 is already tested by other
platforms.

2018-01-29 12:44 GMT+01:00 Andreas Fabri <notifications@github.com>:

[2018-01-30 12:14] lrineau commented on #2633
Fixed by #2763.

[2018-01-30 12:14] #2633 closed

[2018-01-30 16:27] sloriot commented on #2689
@maxGimeno haven't you fixed that issue?

[2018-01-31 08:24] maxGimeno commented on #2689
Yes, see #2773 and #2693

[2018-01-31 09:10] lrineau commented on #2689
My fault. I opened two very similar issues:
  - issue https://github.com/CGAL/cgal/issues/2692
  - this one https://github.com/CGAL/cgal/issues/2689

[2018-01-31 14:48] MaelRL commented on #2623
- The `General` classification of `Alpha_Shape_2` is currently bugged: no vertex can ever be classified as `Exterior`. `Alpha_shape_2` classification should be mirrored with `Alpha_shape_3` to use `Is_Gabriel()` functions from 2D triangulations.

[2018-01-31 17:31] #2689 closed

[2018-01-31 17:31] lrineau commented on #2751
Fixed by #2756.

[2018-01-31 17:31] #2751 closed

[2018-01-31 17:32] lrineau commented on #2751
Tested in [CGAL-4.12-Ic-162][*], then merged in `master`.

  [*]: https://cgal.geometryfactory.com/CGAL/testsuite/results-4.12-Ic-162.shtml

[2018-01-31 19:38] jasjuang opened #2775 "Compilation flag "frounding-math" incorrectly propagated to CUDA NVCC compiler"
## Environment

* Operating system: Ubuntu 16.04
* Compiler: GCC 5.4
* CGAL version: Latest
* Boost version: 1.58

## Issue Details

For some weird reason the compilation flag `frounding-math` is propagated by CGAL to my CUDA application, and because the NVCC compiler cannot recognize it, it causes a compilation error.

## Source Code

CMakeLists.txt
[code]

main.cu
[code]

After the usual `mkdir

[2018-02-01 11:50] afabri commented on #391
What about `Iso_cuboid_3, Iso_cuboid_3`?

[2018-02-01 12:57] lrineau commented on #391
I would want consistency, `Do_intersect_3` should have the overloads with (`Bbox_3, *something*).

[2018-02-01 15:32] sgiraudot opened #2778 "Polyhedron demo: Edges to Facet Selection Bug When Boundary Edge"
## Issue Details

In the demo, open a polyhedron with boundaries, select a boundary edge and do _Convert Edge Selection to Facet Selection_, the demo crashed (most probably, the boundaries are not handled).

[2018-02-01 16:28] lrineau opened #2780 "P2T2: New test error in the testsuite"
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.12-Ic-163/Periodic_2_triangulation_2_Examples/TestReport_gimeno_CentOS6.gz

[code]

The release that was tested was composed from `integration`, but there no PR touching to any 2D package.

[2018-02-01 17:11] lrineau commented on #2775
The installation of CGAL in `/usr/lib/x86_64-linux-gnu/` was not compiled by the CUDA compiler. It is not compatible with it.

When you say:

please be more precise. Let us know how you have installed CGAL on that machine.

You can try the header-only mode of latest Git version of CGAL in the `master` branch (that will be published as CGAL-4.12): for `CGAL_DIR`, use the path to the root of the Git

[2018-02-01 17:21] lrineau commented on #2780
Also in 4.12-I-154 (`master`), on Windows:
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.12-I-154/Periodic_2_triangulation_2_Examples/TestReport_afabri_x64_Cygwin-Windows8_MSVC2012-Release-64bits.gz
[code]

[2018-02-01 17:24] lrineau commented on #2780
I grepped in test results of `master` during the release cycles of 4.11 and 4.12, and it was first seen in https://cgal.geometryfactory.com/CGAL/testsuite/results-4.12-I-60.shtml#Periodic_2_triangulation_2

[2018-02-01 17:28] lrineau commented on #2780
Might be related to PR #2369 merged a few days before CGAL-4.12-I-60.

[2018-02-01 17:31] lrineau commented on #2780
PR #2369 was already in [CGAL-4.12-Ic-30](https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.12-Ic-30/Periodic_2_triangulation_2_Examples/TestReport_lrineau_CentOS7-ICC-2016.gz), that shows the same error.

[2018-02-01 18:39] jasjuang commented on #2775
@lrineau I wasn't asking CGAL to support CUDA. I was simply asking CGAL to not break when my project contains CUDA code and it also has to be linked to CGAL, and it should be able to not break it. I have no problems linking to OpenCV and PCL since they don't propagate flags that is intended for GCC to NVCC. The problem is CGAL does it and I am unable to track down how that happens. I am also only

[2018-02-01 18:52] afabri commented on #2780
Seeding the random number generator with the value of the testsuite, I can reproduce the error on Windows.  It happens in level 1 of the triangulation hierarchy. I stored the points in level 1, and inserting them (or even a subset of them)  into a periodic triangulation without hierarchy has the same error. I have put the condensed program [here](https://gist.github.com/afabri/8f85d4648043578298ee

[2018-02-01 20:52] MaelRL commented on #2780
It crashes with that input since the dawn of time so it's not #2369.

[2018-02-02 06:41] JamesYangLim opened #2781 "CGAL error: assertion violation!"
## Issue Details

Expression : normalized(cet->circle()) == normalized(ce->circle().opposite())
File       : C:\dev\CGAL-4.11\include\CGAL/Nef_3/SNC_external_structure.h
Line       : 704
Explanation:
Refer to the bug-reporting instructions at http://www.cgal.org/bug_report.html
unknown file: error: C++ exception with description "CGAL ERROR: assertion violation!
Expr: normalized(cet->circle()) ==

[2018-02-02 08:01] sloriot commented on #2775
The flag propagation has been fixed at least a month ago by @lrineau. What is the HEAD of the CGAL your using?

[2018-02-02 08:09] sloriot commented on #2781
Your planes do not define a cube, the normal of n1 or n2 must be reversed.

[2018-02-02 08:33] sloriot commented on #2781
But you're right that there shouldn't be an assertion. I'll investigate when I find time.

[2018-02-02 08:46] etrinh opened #2783 "CGAL Crash due to Mingw thread_local bug"
Following case #991

A bug in mingw  creates some crash in threaded environment:
https://sourceforge.net/p/mingw-w64/bugs/527/
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=83562

thread_local with C++ objects should be avoided with Mingw

[2018-02-02 08:49] lrineau commented on #2775
`-frounding-math` is added to the flags anyway, if the GCC compiler is detected.

[2018-02-02 09:08] lrineau commented on #2775
@jasjuang, in https://github.com/CGAL/cgal/issues/2775#issuecomment-362361184 said:

Good. I had not understood that. Thanks for the explanation. I should have known, because you probably cannot develop a full project using only the CUDA compiler, but you need a regular compiler targeting your CPU as well.

Indeed, the current version of CGAL you are using (note that you have not yet told us which

[2018-02-02 09:09] lrineau commented on #2775
We can continue the discussion here, but I close the issue, that is already fixed in the development branch targeting CGAL-4.12-beta1.

[2018-02-02 09:10] lrineau commented on #2775
For the records, was fixed by #1436.

[2018-02-02 09:39] lrineau commented on #2783
That is a complicated matter, because we cannot know which version of Mingw will fix the issue.

And that seems rather complicated to understand which variant of mingw is impacted. It seems to be the combination of `std::thread` from `libstdc++` with the win32 thread model. Is that right?

[2018-02-02 09:56] MaelRL commented on #2780
The problem is that P2T2 wrongly assumes that the longest edge length can only decrease with the insertion of a point and is missing the `update_cover_during_insertion()` management system that is in P3T3 to deal with this case. Three solutions:

- A brute force fix, simply add use `find_too_long_edges()` and switch the cover if needed in the `insert()`. Fixes the issue.
- Add the cover management

[2018-02-02 09:56] maxGimeno commented on #2750
They dropped the <img> tags to use a <span class> instead.

[2018-02-02 09:56] JamesYangLim commented on #2781
Thank you very much!

On Fri, Feb 2, 2018 at 4:33 PM, Sebastien Loriot <notifications@github.com>
wrote:

[2018-02-02 10:12] lrineau commented on #2750
Make it work with both the old and newer version of Doxygen. As that is just "search a pattern and replace it", you can keep the current search-and-replace, and add another one with the new pattern.

[2018-02-02 10:17] lrineau commented on #2780
I am not the one taking decisions, but I agree with you with the second option, because that seems the one improving the long-term maintainability of P2T2.

[2018-02-02 11:30] maxGimeno commented on #2750
That does not deal with the fact that only classes are still present in the html code.

[2018-02-02 14:29] afabri commented on #391
The functions `intersection(Iso_cuboid_3,Plane_3)`,   `intersection(Iso_cuboid_3,Triangle_3)`, `intersection(Iso_rectangle_2,Triangle_2)` have too complicated results.

[2018-02-02 14:51] lrineau opened #2787 "Optimal_transportation_reconstruction_2: runtime error of `test_vertex_edge` on Linux 32 bits"
## Issue Details

https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.12-I-102/Optimal_transportation_reconstruction_2/TestReport_lrineau_Fedora-32-Release.gz
[code]

I grepped in the test results for 4.10*, 4.11, and 4.12*, and it seems it
has been recently introduced in 4.10.2 and 4.11.1 as well:
[code]

[2018-02-02 14:52] lrineau commented on #2787
Probably a bug-fix PR introduced the issues in 4.10.2.

[2018-02-02 14:55] lrineau commented on #2787
Or maybe the bug popped up in all branches at the same time after an update of our testsuite platform Fedora-32.

[2018-02-02 15:13] lrineau commented on #391
https://github.com/CGAL/cgal/issues/391#issuecomment-362601084:

Well, not that complicated. That is similar to `Intersect_3(Triangle_3, Triangle_3)`: the result can be a convex polygon (then the result type is a `std::vector<Point_3>`).

I agree that might complicated, but if there is a need, that could be implemented anyway. I wonder if that might help @janetournois in her clipping a 3D triangul

[2018-02-02 15:14] sgiraudot opened #2788 "BGL: expand_face_selection_for_removal crashed with built-in Surface_mesh property"
## Issue Details

The method [CGAL::expand_face_selection_for_removal()](https://doc.cgal.org/latest/BGL/group__PkgBGLSelectionFct.html#ga569fe26f889e5e4eed27746ac921651b) requires a `is_selected` property map that associates a face descriptor to a boolean. If I'm not mistaken, a built-in `Surface_mesh` property map (`Surface_mesh::Property_map<Surface_mesh::Face_index,bool>`) should do the job, b

[2018-02-02 15:15] #2390 closed

[2018-02-02 15:15] #2768 closed

[2018-02-02 15:18] lrineau commented on #2390
@MaelRL, have a look at #2759. Maybe there are remaining items that are not implemented. You should create a new issues to discuss them with @maxGimeno.

[2018-02-02 17:16] jasjuang commented on #2775
@lrineau @sloriot As you can see from my previous comment, I did not switch branches during my cgal installation, therefore by default it is from the latest master, `git log --oneline` shows

[code]

I am assuming master contains all the latest fix including #1436. I also don't see any development branch available that I can check out called CGAL-4.12-beta1, and yes, as mentioned in my very first

[2018-02-02 17:29] lrineau commented on #2775
Sorry. That is right that you gave us how you installed CGAL in https://github.com/CGAL/cgal/issues/2775#issuecomment-362361184:
[code]

Then maybe you have two versions of CGAL installed on your system:
- one with `CGALConfig.cmake` at  `/usr/lib/x86_64-linux-gnu/CGAL/CGALConfig.cmake`, installed by the Ubuntu package manager (CGAL version 4.7),
- and another one you installed from Git, at `/usr/

[2018-02-02 17:55] jasjuang commented on #2775
@lrineau I installed the latest CGAL on my private ppa so in my local machine I can simply so `sudo apt install cgal` to install it. I am not using the one from Ubuntu package manager. If I were using it `CGAL::CGAL` would've failed. I didn't bring this up initially because I don't want to complicate things. `CGAL_DIR` is showing `/usr/lib/x86_64-linux-gnu/CGAL ` as expected. I can reproduce the s

[2018-02-02 18:19] MoniqueTeillaud commented on #2780
As said in email, I would rather favor option 3. It is easier to do.

It is clean and does not compromise long term maintenance. The code will look simpler than when adding the cover management system like in 3d, so it is even potentially easier to maintain.

Symmetry with P3T3 does not look so important to me. T2 is also not aligned with T3...

[2018-02-04 17:10] kkatrio opened #2790 "mpfr 4.0.0: deprecated functions"
## Issue Details

There are warnings while compiling cgal when using latest mpfr version 4.0.0 regarding function `mpfr_root`. In their latest changes (http://www.mpfr.org/mpfr-current/#changes) they report that

[code]

## Environment

Non-rolling distros still have version 3.1.4-1 in their repositories.

[2018-02-04 17:42] mglisse opened #2791 "FPU: Support platforms without round-towards-infinity"
The platform I have in mind is WebAssembly, which does not support non-default rounding modes. This platform may still be worth targeting, for small examples or demos where performance is not that important (or for applications where static filters are sufficient).

* First idea would be a software emulation of round-towards-infinity, or more roughly replace a +up b with nextafter(a +near b, +infi

[2018-02-05 09:04] afabri commented on #391
Note that there are also few functions for sphere and tetrahedron.

[2018-02-05 09:15] MaelRL commented on #2740
Still seems to fail at least once per build, e.g. the last build of master : https://travis-ci.org/CGAL/cgal/builds/336596369.

[2018-02-05 11:31] seb-tourneux commented on #2727
Setting the seed did not work

[2018-02-05 11:58] sloriot commented on #2727
are you using `Polyhedron_3` or `Surface_mesh` as mesh data structure? The only thing that I can imagine could make it non deterministic are the sorting of descriptors which should be deterministic for `Surface_mesh` as based on indices while for `Polyhedron_3` they are based on memory addresses.

[2018-02-05 16:48] afabri commented on #1590
We should look at the demos and add IO in the [Well known text](https://en.wikipedia.org/wiki/Well-known_text) format wherever that makes sense, instead of our own format.

[2018-02-05 17:55] lrineau commented on #2770
@sgiraudot, did you have a look?

[2018-02-05 17:58] #2771 closed

[2018-02-06 07:55] maxGimeno commented on #2771
I had not seen a single run of this platform since my change. I think it always timeout.

[2018-02-06 09:20] sloriot opened #2793 "Add a developper mode for cmake configuration in non-header only"
Symptoms: with gcc CGAL headers path are included with `-isystem` which implies that no warning happening in CGAL headers is triggered.

One solution is to set `NO_SYSTEM_FROM_IMPORTED` TO `True` while configuring a cmake project.

I propose that we add a new CGAL cmake flag `CGAL_DEV_MODE` that will set that option to `True` and will also copy the configuration flags used to build the CGAL librar

[2018-02-06 09:24] sgiraudot commented on #2770
Not yet, I'll have a look today.

[2018-02-06 09:25] lrineau commented on #2793
The CMake variable to set is [`CMAKE_NO_SYSTEM_FROM_IMPORTED`]. The name `NO_SYSTEM_FROM_IMPORTED` refers to a CMake *property*.

[`CMAKE_NO_SYSTEM_FROM_IMPORTED`]: https://cmake.org/cmake/help/v3.10/variable/CMAKE_NO_SYSTEM_FROM_IMPORTED.html

[2018-02-06 09:50] lrineau commented on #2771
I'll reopen this issue if the platform shows up with bad results.

[2018-02-06 10:22] lrineau commented on #2791
@mglisse, @horasio Will you be at next developers meeting? That could be an opportunity to start and work on that topic.

[2018-02-06 10:28] lrineau commented on #2790
Only `mpfr_root` seems to be used in CGAL:
https://github.com/CGAL/cgal/blob/2e7c3ee5b8c8bd2b91539636d52607abc6c607f4/Number_types/include/CGAL/GMP/Gmpfr_type.h#L886-L901

It should be replaced by [`mpfr_rootn_ui`], according the [the changelog]:

  [the changelog]: http://www.mpfr.org/mpfr-current/#changes
  [`mpfr_rootn_ui`]: http://www.mpfr.org/mpfr-current/mpfr.html#index-mpfr_005frootn_005fui

[2018-02-06 10:28] lrineau commented on #2790
Konstantinos @kkatrio, could you propose a pull-request to fix that issue?

[2018-02-06 10:31] lrineau commented on #1590
You can easily add output function that write valid WKT files, but it seems rather complicated to write a valid parser for WKT files. Do we really want to write our own I/O functions?

[2018-02-06 10:40] sloriot commented on #1590
I guess there should be even support in SFCGAL. @mhugo, @mborne, and @vmora: could you tell us how is the reading of WTK handled in SFCGAL?

[2018-02-06 10:47] JamesYangLim commented on #2781
@sloriot Hi Sebastien, I had a look again with all the planes, I am pretty sure they are correct to form a cube. I have tested them out. Would you like to have a look again for me please ?

[2018-02-06 10:48] lrineau commented on #2775
Thanks @jasjuang for those explanations.

So indeed you are probably using a very recent version of the `master` branch of CGAL.

If you have a look at the file `CGALExports.cmake` that is generated by CMake in the binary directory, you can see:
[code]
So that compilation option `-frounding-math` will be added to all compilation of sources used to generated any target linked with `CGAL::CGAL`. If

[2018-02-06 11:08] jjpepper opened #2795 "convert_to_polyhedron() on NefPolyhedron producing Polyhedron_3 with only vertices and no facets"
## Issue Details

Hi there, I'm getting some unexpected behaviour with the program below.  I'm trying to produce a closed polyhedron with 5 faces of a cuboid as boundaries, and a non-closed surface mesh (terrain) on the top.  I have confirmed that visualising my terrain and the box together shows the proper intersection (see attached image).  The resulting closedNefPolyhedron has 159 vertices and

[2018-02-06 11:37] lrineau opened #2796 "Strange error on gauguin: Permission denied"
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.12-Ic-167/Circular_kernel_3/TestReport_afabri_x64_Cygwin-Windows10_MSVC2013-Debug-64bits.gz

[code]

"Permission denied"?! Maybe the exception rules for Windows Defender are not correctly setup on gauguin.

[2018-02-06 11:45] janetournois commented on #2796
I think they are... but we should check what's happening anyway
Sometimes "permission denied" happens on my machine when the compiler tries to delete a `.pdb` file. It happens occasionally with no explanation...

[2018-02-06 11:46] lrineau opened #2797 "Static assertion with RS3 and MPFR version 4.0"
## Issue Details

It seems RS3 is only supposed to work with MPFR version 3.x.y. The Linux distribution ArchLinux has upgraded MPFR to [MPFR 4.0], published 25 December 2017.

  [MPFR 4.0]: http://www.mpfr.org/mpfr-current/

There [are static assertions triggered](https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.12-Ic-167/Algebraic_kernel_d/TestReport_lrineau_ArchLinux.gz):
[code]

Note also

[2018-02-06 13:00] lrineau commented on #2793
Should `CGAL_DEV_MODE` be added as an option (visible in the cache GUI, and checkable), or just as a variable that developers would add if they want?

[2018-02-06 13:13] sloriot commented on #2793
If possible an option is better (if we forget the name of the variable at least we can set it in the cache).

[2018-02-06 13:19] sgiraudot commented on #2719
Fixed by https://github.com/CGAL/cgal/pull/2690.

[2018-02-06 13:19] #2719 closed

[2018-02-06 13:33] mhugo commented on #1590
@sloriot There is a simple WKT writer here https://github.com/Oslandia/SFCGAL/blob/master/src/detail/io/WktWriter.cpp and a reader here https://github.com/Oslandia/SFCGAL/blob/master/src/detail/io/WktReader.cpp

[2018-02-06 13:55] mglisse commented on #2791
I am unlikely to be at the next meeting.

[2018-02-06 17:21] jasjuang commented on #2775
@lrineau You are right, it is the problem of `target_compile_options`. Adding the generator expression actually solves it for me. I will submit a PR in a little bit.

[2018-02-07 07:43] sgiraudot commented on #653
Fixed by https://github.com/CGAL/cgal/pull/2694.

[2018-02-07 07:43] #653 closed

[2018-02-07 07:46] sgiraudot commented on #905
I don't know if that should close the issue, but a first callback mechanism following the recommendations of the wiki page was introduced in _Shape Detection_ by https://github.com/CGAL/cgal/pull/2695.

[2018-02-07 10:10] lrineau commented on #905
Maybe at next meeting I should do a short presentation of the mechanism that was chosen, with one or two concrete examples of usage.

[2018-02-07 13:57] sgiraudot commented on #2787
(I don't know why this popped up just recently, but the origins of the bug are probably here since the package exists, see my PR.)

[2018-02-07 16:02] afabri commented on #1590
@mhugo   Thank you for the links. Was it considered an option to use the WKT IO from boost?  With relatively little effort (see [here](https://gist.github.com/maxGimeno/e9c824a598113babd1fb92e08dbd3ceb)) were able to use that for CGAL.

[2018-02-07 18:03] kkatrio commented on #2790
I have applied the fix locally: No warnings with the new function when using mpfr4. I would propose the PR, however, the new function does not exist in mpfr's version 3! What the hell.

[2018-02-08 05:36] sloriot commented on #2790
There should be a macro to check which version of mpfr is used. You can do the replacement conditionally then.
According to the [documentation](http://www.mpfr.org/mpfr-current/mpfr.html#MPFR-Interface) the macros are:
[code]

[2018-02-08 08:14] afabri opened #2806 "std::uncaught_exception is deprecated"
## Issue Details

The [testsuite](https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.12-Ic-168/Property_map/TestReport_lrineau_Ubuntu-latest-GCC6-CXX1z.gz)  says that

    (CGAL::possibly(EX)||std::uncaught_exception()?(static_cast<void>(0)): ::CGAL::assertion_fail( # EX , __FILE__, __LINE__))

[2018-02-08 09:24] janetournois commented on #2796
The test went just fine last night, see :
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.12-Ic-169/Circular_kernel_3/TestReport_afabri_x64_Cygwin-Windows10_MSVC2013-Debug-64bits.gz

[2018-02-08 11:04] maxGimeno commented on #2796
Windows's mysterious ways...

[2018-02-08 11:13] sgiraudot commented on #2749
This issue does not provide any detail, there's no way we can help, I'm closing it.

[2018-02-08 11:13] #2749 closed

[2018-02-08 11:21] afabri opened #2809 "warning: this statement may fall through [-Wimplicit-fallthrough=]"
## Issue Details

This [testsuite](https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.12-Ic-168/AABB_tree/TestReport_lrineau_Ubuntu-latest-GCC6-Release.gz) warns about _fall throughs_ that cannot happen:  It is a `switch` statement where the developer knows that the cases are exhaustive and each case has a `return`statement.

Shall we nevertheless add it (At the risk that another compiler comp

[2018-02-08 12:45] mglisse commented on #2809
I don't know if there is a macro to make it portable, but with gcc, "default: __builtin_unreachable();" looks good to me (bonus: -fsanitize=unreachable (part of undefined) checks it at runtime). I doubt another compiler would complain about unreachable code, an enum is not restricted to the values it lists, and this is a template.

[2018-02-08 13:22] sloriot commented on #2809
`CGAL_FALLTHROUGH;`

Used for example in `Triangulation/include/CGAL/Regular_triangulation.h`

[2018-02-08 15:05] mglisse commented on #2809
You shouldn't use CGAL_FALLTHROUGH in cases that cannot fall through, that's way too misleading.

[2018-02-08 15:08] afabri commented on #2809
@mglisse Didn't you just explain that enums are not restricted to the values. So maybe we should use `default:` instread of the third and last `case:` ?

[2018-02-08 15:16] mglisse commented on #2809
Maybe I should have written "should not" instead of "cannot"? C++ doesn't restrict enum Sign to {-1,0,+1}, but our documentation does.

You could, that's the simplest, most minimal way to quiet the warning. I tend to prefer adding `default: CGAL_ASSUME(false);` because it is more symmetric, has better checking, and potentially generates slightly better code. But it doesn't seem that important here

[2018-02-09 07:05] sloriot opened #2814 "Default property maps for named parameters"
Now that we have dynamic property maps, I wonder whether we should use them for functions that require properties.
If we take the example of `copy_face_graph()` or `connected_components()`, they require some index property maps. Everything goes well if the graph type has internal maps but this will lead to a compilation issue with `Polyhedron_3` if no named parameter is passed.

What we could do i

[2018-02-09 07:13] sloriot commented on #1918
One solution is to document a function signature to be called and say in the documentation of this function can be called by ADL. I guess this could be a concept like `InitializableIndexMap`.

Function signature could be something like.
`size_type initialize_index_map(size_type, imap, descriptor_range, pm)`

@CGAL/geometryfactory  what do you think?

[2018-02-09 09:25] sloriot opened #2815 "Merge `graph_traits` classes for all triangulation classes"
In order to avoid duplicated code, all the `graph_traits` classes should be replaced by an implementation file (like what I did for OpenMesh).

I don't think there is any difference between all the implementation. @afabri  do you agree?

[2018-02-09 09:49] lrineau commented on #2814
I like the idea. The implementation might be tricky, though.

[2018-02-09 09:50] lrineau commented on #1918
How would you make the ADL-call compile when the function does not exist?

[2018-02-09 10:05] sloriot commented on #1918
The function relying on it will document that the pmap must be a model of the concept which means that the function must exist.

[2018-02-09 10:05] #2796 closed

[2018-02-09 10:09] lrineau commented on #2806
http://en.cppreference.com/w/cpp/error/uncaught_exception

With C++17, we should use `std::uncaught_exceptions()` instead.

[2018-02-09 10:22] kkatrio opened #2816 "Use apt instead of apt-get"
## Issue Details

To avoid **apt-get**'s occasional failure to install packages during travis testing, maybe we can use **apt**, which is newer and probably does not suffer form same connectivity issues. This way we could avoid running apt-get in loop until it works.

thoughts? @maxGimeno  @lrineau

[2018-02-09 10:44] lrineau commented on #2816
Actually, [`apt` was only added in Ubuntu 16.04][*], so we probably cannot use it in Travis, that is rather conservative in its Ubuntu versions.

  [*]: https://itsfoss.com/apt-vs-apt-get-difference/

To be checked...

[2018-02-09 10:46] lrineau commented on #2816
See also https://askubuntu.com/a/446484/297468 for a quite summary of differences between `apt` and the former tools.

[2018-02-09 11:02] maxGimeno commented on #2816
They are only in Trusty (14.04).

[2018-02-09 11:17] #2816 closed

[2018-02-09 13:10] afabri commented on #2815
If it works it is a good idea. I am probably to blame for the copies.

[2018-02-09 14:01] afabri opened #2818 "sscanf_s() instead of sscanf()"
## Issue Details

We use ` sscanf()`  in [` CGAL/IO/io.h`](https://github.com/CGAL/cgal/blob/master/Stream_support/include/CGAL/IO/io.h#L180) which triggers a warning for VC++ unless you  ` #define`   `_CRT_SECURE_NO_DEPRECATE`  and ` _CRT_SECURE_NO_WARNINGS`, which we do  in [CGAL_SetupCGALDependencies.cmake](https://github.com/CGAL/cgal/blob/master/Installation/cmake/modules/CGAL_SetupCGALDepend

[2018-02-09 15:12] afabri commented on #2611
@gdamiand Did you make a PR for the pre-approved small feature?

[2018-02-09 15:20] gdamiand commented on #2611
Not yet; There is one technical point concerning CMake and qglviewer and I am waiting @lrineau feedback. Maybe we will discuss this with Laurent at the next dev meeting ?

[2018-02-09 15:24] afabri commented on #2611
so we can change the milestone to 4.13

[2018-02-09 15:42] afabri commented on #2769
Where is the file that is supposed to contain the license information, so that I can check it.

[2018-02-09 15:43] afabri commented on #2699
@lrineau Can't you delegate this?

[2018-02-09 15:59] maxGimeno commented on #2769
https://github.com/CGAL/cgal-web/blob/6048f3b5ae2f41e79537786921ffb8a45cbe4020/demo/4.11/CGAL-demoDLLs.zip in the "license" dir.

[2018-02-09 16:18] lrineau commented on #2699
Too complicated, where the task is really simple.

In the `.htaccess` file, I already have:
[code]

@sloriot, is that sufficient to add the following line?
[code]

What should we do to test that the redirection is the right one?

[2018-02-09 16:29] sloriot commented on #2699
Yes. After the release it should redirect that [url](https://doc.cgal.org/latest/Sweep_line_2/).

[2018-02-09 16:34] lrineau commented on #2699
Done.

For the current version 4.11, I have used a symbolic link, so that both names point to the same resources.

[2018-02-09 16:34] #2699 closed

[2018-02-09 17:09] MaelRL commented on #2815
There are some issues to fix along the way with the property maps (I didn't do in #2813 for time reasons). The `graph_has_property` are missing everywhere and the `get()` for property map is broken for some tags (for example the `vertex_point_t` with RT2).

[2018-02-09 17:45] #2750 closed

[2018-02-10 21:23] efifogel commented on #2818
Why not use c++ std::istringstream ? Is it slower?

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On 9 February 2018 at 16:01, Andreas Fabri <notifications@github.com> wrote:

[2018-02-11 09:29] afabri commented on #2818
It is in the function replacing operator>>(istream&,double&) for performance problems in some VC++ versionsOn Feb 10, 2018 10:23 PM, Efi Fogel <notifications@github.com> wrote:Why not use c++ std::istringstream ? Is it slower?

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On 9 February 2018 at 16:01, Andr

[2018-02-12 09:53] afabri commented on #2769
As @lrineau  pointed   out, in the zip file I also see dlls for las,  opencv, tbbruntime, vtk, zlib.
@maxGimeno Did you check if we need license files for them as well?

[2018-02-12 09:55] afabri commented on #2766
@lrineau:  Is that trivial to add and do you agree to it (you marked if for 4.12)?  Let me know if you want me to add  it.

[2018-02-12 09:58] afabri commented on #2754
@lrineau Do you confirm that this is critical and must be adressed?

[2018-02-12 09:59] afabri commented on #2706
@sloriot  ping.

[2018-02-12 10:02] afabri commented on #2582
@maxGimeno What has to be reviewed/tested by whom? Which of the checkboxes above can be marked? Is there a PR?

[2018-02-12 10:06] afabri commented on #2316
@kynan Hi Florian,  did you find any time to look into this, or did you give up and use something else than CGAL?

[2018-02-12 10:08] lrineau opened #2820 "CMake: CGAL_VERSION (and other variable) is not set by the new header-only mode"
_Please use the following template to help us solving your issue._

## Issue Details

If I use CGAL in pure header-only mode (with `/home/lrineau/Git/cgal` as `CGAL_DIR`), then the CGAL version variables are not set by the file `CGALConfig.cmake`.

If I use `CGAL_DIR=/home/lrineau/Git/cgal/build`, then the file `CGALConfig.cmake` contains:
[code]

I am not completely sure all those variables are u

[2018-02-12 10:24] lrineau commented on #2582
As far as I know, our Shinken service does not work.

But that is not a blocker for any release: just a tool that would avoid wasting our time, once it works.

[2018-02-12 10:28] lrineau commented on #2706
@CGAL/geometryfactory: I have created a new label, named `release blocker`, that should be assign to issues/PR that cannot be delayed to a later release.

[2018-02-12 10:30] sloriot commented on #2706
I guess we don't.

[2018-02-12 10:31] afabri commented on #2706
You guess we don't **what**?   Block the release or remaining issues?

[2018-02-12 10:32] lrineau commented on #2754
Unfortunately, that is a real issue for our testsuite process: we can no longer test our demos on recents Linux versions. But, as far as Fedora is concerned, that is because of a new security policy, that is not yet well tuned.

I have filled a bug, two weeks ago:
https://bugzilla.redhat.com/show_bug.cgi?id=1540634
One of the answer from a Redhat Security Engineer was:|

We cannot do anything but

[2018-02-12 10:35] sloriot commented on #2706
I don't think they are remaining issues. There used to be an issue tracking pbs by @sgiraudot but IIRC @lrineau addressed all of them.

[2018-02-12 10:37] lrineau commented on #2706
OK, so for CGAL-4.12, the plan will be that the official Doxygen document is the one compiled with our fork of Doxygen 1.8.13. @sloriot, do you agree?

That would mean a minor patch to `Maintenance/public_release/scripts/prepare_release`, probably only at line 38:
https://github.com/CGAL/cgal/blob/b5dd4568fd09703fa980265a65b943b72430a96d/Maintenance/public_release/scripts/prepare_release#L31-L42
a

[2018-02-12 10:38] lrineau commented on #2766
If we agree to the API, that is a trivial addition: just an accessor.

[2018-02-12 10:39] sloriot commented on #2706
OK.

[2018-02-12 10:41] lrineau commented on #2766
That patch however rely a lot on the internals of the implementation, and I cannot ensure that the implementation will not change in a way that no longer permit that API:
https://bitbucket.org/fenics-project/mshr/src/4eb031eb52c0b98261cdb9f5d9a3d02f2cd05907/3rdparty/cgal.patch?at=master

[2018-02-12 10:43] lrineau commented on #2706
@maxGimeno, could you modify those two scripts? It is probably sufficient to move from `output/` (or `output1/`) to `output2/`.

[2018-02-12 10:59] jjpepper commented on #2795
Hey @sloriot, I have been trying to narrow this down to a simpler example, see the following code:
## Code
[code]

## Output
The resulting output is:
[code]
## Important Notes
* When `CONVERT_OUTPUT_TO_POLYHEDRON_3` is defined, CGAL_precondition(is_simple()) in `convert_to_polyhedron()` fails.  Hence the reason for trying to decompose into convex parts.
* If `terrainPolyhedron` is made to be a clo

[2018-02-12 11:07] maxGimeno commented on #2769
Sorry I gave you the wrong link. It was https://github.com/maxGimeno/cgal-web/blob/ebc2a0864c66a1e6844afc94c0696f1674a4c1c7/demo/4.11/CGAL-demoDLLs.zip.
Yes I checked for every dll if we need the license.

[2018-02-12 11:12] afabri commented on #2769
It is complete now, so we can merge.

[2018-02-12 11:16] maxGimeno commented on #2582
It does not work ? What is missing ? What more should I do ? If you don't tell me what you need I can't fix it.

[2018-02-12 11:36] afabri commented on #1967
@efifogel any news on this one?

[2018-02-12 11:46] afabri commented on #1395
Looking at the code of the [`Histogram_counter`](https://github.com/CGAL/cgal/blob/master/Profiling_tools/include/CGAL/Profile_counter.h#L126)  it seems that what you suggest is already implemented.
@sloriot and @lrineau :  Do I miss something?

[2018-02-12 12:12] RizzerOnGitHub commented on #2766
Thanks @afabri and @lrineau .  My thinking is that mshr can be updated if the particulars of the Polyhedron change (can use CGAL_VERSION to allow for API variations if necessary).  The important thing for mshr is that it has access to the Polyhedron.

It gets used in get_disconnected_components( ), l.117 in Polyhedron_utils.h,
https://bitbucket.org/fenics-project/mshr/src/4eb031eb52c0b98261cdb9f5d

[2018-02-12 13:22] lrineau commented on #2769
https://github.com/CGAL/cgal-web/pull/72 is merged, now.

[2018-02-12 13:22] #2769 closed

[2018-02-12 13:23] lrineau commented on #2582
Last times I rebooted the machine, or stop a monitored service, we did not received any email.

[2018-02-12 14:06] maxGimeno commented on #2582
Oh. I'll need to check some things then.

[2018-02-12 14:11] lrineau commented on #2002
Unfortunately, the PR #2548 is currently blocked for legal issues. I have change the milestone to CGAL-4.13-beta.

[2018-02-12 14:19] #2706 closed

[2018-02-12 14:23] lrineau commented on #2706
Now that the PR #2821 wrote by Maxime is merged, the [documentation of`master`][d] is now updated, and the release preparation script has been fixed to.

  [d]: https://cgal.geometryfactory.com/CGAL/doc/master/Manual/index.html

[2018-02-12 20:00] afabri commented on #2790
@lrineau this is a low hanging fruit

[2018-02-12 20:21] kkatrio commented on #2790
@afabri What does _a low hanging fruit_ mean?

[2018-02-13 11:54] afabri commented on #280
@lrineau   https://www.youtube.com/watch?v=Gs069dndIYk

[2018-02-13 11:58] afabri commented on #1622
@lrineau Is that still needed? Why should  it be done? Is it trivial? Can you delegate it?

[2018-02-13 12:33] lrineau commented on #2458
Done. See https://github.com/CGAL/cgal-web/pull/72

[2018-02-13 12:33] #2458 closed

[2018-02-13 12:34] lrineau commented on #2770
Simon, is there a PR for this issue? Can you write the number?

[2018-02-13 12:39] #280 closed

[2018-02-13 12:39] lrineau commented on #16
Fix yesterday.

[2018-02-13 12:39] #16 closed

[2018-02-13 12:41] lrineau commented on #404
@sloriot Could you have a look at this issue and decide if we close it or plan to do something.

[2018-02-13 12:45] lrineau commented on #2095
@sloriot What can we do? Is that still the case with 1.8.14 ?

[2018-02-13 12:47] lrineau commented on #2141
We no longer support Intel Compiler...

[2018-02-13 12:47] #2141 closed

[2018-02-13 12:47] lrineau commented on #2196
Is that solved?

[2018-02-13 12:50] lrineau commented on #2420
Fixed by #1436.

[2018-02-13 12:50] #2420 closed

[2018-02-13 13:19] lrineau commented on #1622
@maxGimeno, now that you know pretty well the code of "check_headers", can you add the flag `-DCGAL_PROFILE`? I have no idea why I though it was important. Probably that addition will trigger new compilation errors.

[2018-02-13 14:03] lrineau opened #2826 "Support CGAL_NORETURN on MSVC"
## Issue Details

Followup to https://github.com/CGAL/cgal/pull/2712#pullrequestreview-96144636:

The proper patch would be to qualify `CGAL::assertion_fail` as [`__declspec(noreturn)`][doc]. All versions of MSVC support that attribute. The macro `CGAL_NORETURN` defined here:
https://github.com/CGAL/cgal/blob/a7a4966de82c48df461ed556e27582f527d7b7e2/Installation/include/CGAL/config.h#L527-L532
sho

[2018-02-13 14:10] lrineau commented on #861
Our CGAL version of `write_data()`/`read_data()` are `operator<<` and `operator>>` for `Vertex` and `Cell`.

The issue pointed out here is that if you want to be able to deal with data that are pointers to other `Vertex` or `Cell`, then the I/O functions (should they be called `write_data` or `operator<<`), need to have access to the map `v` that maps handles to indices.

[2018-02-13 14:16] sloriot commented on #2196
There should be a proper IO package where all those IO functions should be documented. This is not done yet (if I'm not mistaken all the functions are in `Polyhedron_IO` without documentation).

[2018-02-13 14:18] sgiraudot commented on #2196
As far as i know, yes, the functions are in `Polyhedron_IO` and not documented, this won't be fixed in 4.12.

[2018-02-13 14:29] lrineau commented on #1395
The code of `Histogram_counter` is only thread-safe when `CGAL_LINKED_WITH_TBB` is defined. Without TBB, we still use a normal `std::map`, not protected by any mutex/lock.

[2018-02-13 14:35] afabri commented on #1395
The `Histogram_profiler` is not documented, and the fact that it only works across several threads when TBB is available that seems good enough for the moment. Do you agree @sloriot  ?

[2018-02-13 14:42] sloriot commented on #2095
The issue is still here in the latest version. I guess this is something that should be reported to doxygen since we are not doing anything special with related functions AFAIK.

[2018-02-13 14:50] afabri commented on #2095
Can somenbody who already reported bugs to doxygen (@sloriot ??)  create a minimal example and report.

[2018-02-13 14:59] lrineau opened #2827 "remaining bug in release creation cmake script"
Followup to https://github.com/CGAL/cgal/pull/2707#issuecomment-365240916.

With `TESTSUITE=ON`, the produced internal release is incorrect. The `cgal_test_with_cmake` that is copied in all `test/*/` sub-directory is not right, and triggers a fork bomb (by calling itself recursively), if called.

I have created two internal releases: one with the old script, and one with the new CMake scripts. I h

[2018-02-13 14:59] efifogel commented on #1967
No. I'm trying to get help from someone who is familiar with the
trapezoidal code.
I'll try again this week...

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On 12 February 2018 at 13:36, Andreas Fabri <notifications@github.com>
wrote:

[2018-02-13 15:38] lrineau commented on #2107
In Mesh_3, [`CGAL::Implicit_mesh_domain_3<Function, BGT>`](http://doc.cgal.org/4.10/Mesh_3/classCGAL_1_1Implicit__mesh__domain__3.html) is dealt with in PR #2739, commit https://github.com/CGAL/cgal/pull/2739/commits/81e1d318dd48c1ffee5ca4e06fe1955fe655bd53 and later ones.

In Surface_mesher... I will try to adopt the same ideas...

[2018-02-13 15:50] afabri commented on #2815
@sloriot Why is the `#undef` in  the file graph_traits_OpenMesh.h  and not where the `#define` is?

[2018-02-13 16:50] sloriot commented on #2815
similar to `interface_macro.h`, the macro is defined by the includer.

[2018-02-14 07:23] sloriot commented on #861
Note what I was trying to say is that you need new functions that would take care only of writing/reading extra data and those functions could be given the index maps needed.
As I said the idea is to keep the beginning of the file unchanged and have extra data at the end of the file (so that they can be easily ignored).

[2018-02-14 07:28] sloriot commented on #404
I have to do it at some point but I won't have time for the next release.

[2018-02-14 08:03] sgiraudot commented on #2770
The decision we took was to not fix this bug and to remove Qt5 from this platform to avoid testing the demo. I don't know how that works (or if there is a PR for this, I can't find). Maybe @maxGimeno knows?

[2018-02-14 08:03] afabri commented on #2826
But don't we then still have a difference in Debug and Release compilations?  With `-DNDEBUG`  our assertions are void so the code coming aftetr the assertion IS reachable, otherwise it isn't and the compiler will issue a non-reachable warning.

[2018-02-14 08:37] afabri commented on #2781
In fact it is enough to take `n1 * n2 * n3`  and  it also happens just with `CGAL::Gmpq`.

[2018-02-14 08:54] afabri commented on #2761
@maxGimeno What has to be reviewed/tested by whom?

[2018-02-14 09:01] afabri commented on #2431
@sloriot can you assign this to someone, and if it is you?  This seems to be serious.

[2018-02-14 09:02] afabri commented on #2356
@lrineau Can you delegate that to @maxGimeno ??

[2018-02-14 09:03] maxGimeno commented on #2770
2013 Debug 32-bits is never in the testsuite, so I don't know if my removal of Qt5 worked or not. There were no PR, that is for sure.

[2018-02-14 09:04] maxGimeno commented on #2761
I don't know, if the testsuite says the flags are where they should be then it's ok. If they are not there then it is not ok.

[2018-02-14 09:06] maxGimeno commented on #2356
I don't have the rights to install nor upgrade anything on the server, so I don't think he can.

[2018-02-14 09:07] lrineau commented on #2356
Anyway, you will do tests locally one your machine, and then let me know which files must be copied on the doc.cgal.org server.

[2018-02-14 09:07] afabri commented on #2334
@sgiraudot do you know where in the code this happens, or do we have to ask @maxGimeno ?

[2018-02-14 09:13] sgiraudot commented on #2334
I don't know.

[2018-02-14 09:15] maxGimeno commented on #2761
From what I see in [the testsuite](https://cgal.geometryfactory.com/CGAL/testsuite/results-4.12-Ic-173.shtml)
the flags are here. I close the issue.

[2018-02-14 09:17] lrineau commented on #2761
Please refresh the copies of config files in `Maintenance/infrastructure/` (as a PR).. Add `fix #2761` in the commit message or in the PR message, so that this issue is then closed automatically.

[2018-02-14 09:20] lrineau commented on #2334
We should add @sloriot in the discussion, because he is the author of the "loaders". Maybe he remembers where that logic can be tweaked in the code.

[2018-02-14 09:24] sgiraudot commented on #2334
Just a thought on what could be nice (from a plugin dev's point of view): when creating an IO plugin, there could be an attribute/method `priority()` that the user would fill and that the loader would use to sort the plugins. Then, we could just set a priority accordingly to the other existing IO plugins when creating a new one. For example, if I'm making a new IO plugin that's super cool and that

[2018-02-14 09:30] lrineau commented on #2781
I have edited the first message of this PR to write down the new minimal reproduciable example. See https://github.com/CGAL/cgal/issues/2781#issue-293788454.

[2018-02-14 09:43] lrineau commented on #2826
For the macros `CGAL_assertion` and `CGAL_assertion_msg` you are right. However the macros `CGAL_error` and `CGAL_error_msg`, that do not check any error condition, have the same effect in Debug and Release: they just call `assertion_fail`.
https://github.com/CGAL/cgal/blob/a7a4966de82c48df461ed556e27582f527d7b7e2/STL_Extension/include/CGAL/assertions.h#L346-L348

As for `CGAL_assertion` being a n

[2018-02-14 10:00] lrineau commented on #2770
@maxGimeno There should be a PR that syncs the files in `Maintenance/infrastructure/` with the real file. That PR would be a kind of proof that the `setup` files or CMake caches have been modified.

[2018-02-14 10:03] lrineau commented on #861
You are right. We could use both `operator<<`/`>>` and new member functions `write_data(v)`/`read_data(v)` where the later would have access to the mapping.

A `Cell` requiring the extra data could have empty/trivial `operator<<`/`>>` member functions, and do all the work in `write_data(v)`/`read_data(v)`.

Good idea. Thanks.

[2018-02-14 10:56] maxGimeno commented on #2356
I don't know what I am supposed to test and as it seems the only thing to do is fetch and checkout form doc.cgal.org/Mathjax I don't know what you want me to do.

[2018-02-14 11:14] MaelRL opened #2832 "std::iterator depreciation (c++17)"
## Issue Details

`std::iterator<> ` is deprecated with C++17 with no replacement (replacement is "write the typedefs in the class") and is used in a few packages, mainly in `CGAL/iterator.h`.

`CGAL::unary_function` was introduced, so should `CGAL::iterator` be introduced too ?

[2018-02-14 11:25] afabri commented on #2826
For VC++ the declspec goes before the function as documented [here](https://msdn.microsoft.com/en-us/library/k6ktzx3s.aspx)

[2018-02-14 12:10] sloriot commented on #2431
What can we do? if you check the box to ask for the filling of the hole to not intersect the mesh, then it will not be selected. I don't see what else we could do (except if you are concerned only with the case of 3 vertices already connected and but the one of k coplanar vertices).

[2018-02-14 13:43] lrineau commented on #2826
The real documentation of where should be the `__declspec` is here:
https://docs.microsoft.com/en-us/cpp/cpp/declspec

But anyway you are right: it is before. As I said in a private discussion, the attributes (both those of gcc/clang, or the C++11 attributes), can be placed either before or directly after the name they qualify.
- [the documentation of C++ attributes](http://en.cppreference.com/w/c

[2018-02-14 14:23] gdamiand commented on #2611
The pr is done: cf [PR2835](https://github.com/CGAL/cgal/pull/2835)

[2018-02-14 14:30] lrineau opened #2836 "random testsuite error in Rectangular_p_center_2_Examples"
While searching the test results of [CGAL-4.12-Ic-173][1], I found out a new error I did not know about:
[code]
See [the log](https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.12-Ic-173/Rectangular_p_center_2_Examples/TestReport_afabri_x64_Cygwin-Windows10_MSVC2017-Debug-64bits.gz).

[1]: https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.12-Ic-173/

I grepped the text of the assertion me

[2018-02-14 14:37] #2730 closed

[2018-02-14 14:37] #2740 closed

[2018-02-14 14:37] #2775 closed

[2018-02-14 14:37] #2809 closed

[2018-02-14 14:37] #2788 closed

[2018-02-14 14:37] #2806 closed

[2018-02-14 14:44] lrineau commented on #2787
PR #2803 has just been merged in `master`... but this issue was filled against CGAL-4.11. Do we want to backport the fix of the PR to the release branch?

[2018-02-14 14:49] sgiraudot commented on #2787
If you think this is worth it but for the record, there was no bug in the `include` part, that was just a badly done `test` file (so there's nothing wrong from a user's point of view).

[2018-02-14 14:56] afabri commented on #2787
It is not worth it.

[2018-02-14 15:01] lrineau commented on #2787
I agree. No need to backport.

[2018-02-14 15:01] #2787 closed

[2018-02-14 15:03] #2761 closed

[2018-02-14 15:03] #2770 closed

[2018-02-14 16:16] lrineau commented on #2832
Yes, that would be the minimal/lazy solution.

In libstdc++, the definition of `std::iterator` is the straight-forward implementation of the [norm]:
[code]
[norm]: http://en.cppreference.com/w/cpp/iterator/iterator

[2018-02-14 16:49] afabri commented on #2832
@lrineau you can assign it to me.

[2018-02-14 17:47] afabri commented on #2832
Do you agree that we don't document `CGAL::iterator` ?

[2018-02-14 20:08] lrineau commented on #2832
Even if we put it in the `CGAL` namespace for convenience, `CGAL::iterator` is an implementation details we use. No need to document it, in my opinion.

[2018-02-14 20:11] sloriot commented on #2832
I think I agree with Andreas, I don't see why we would need to document it as it is an implementation detail that will not appear in the doc (as an implementation detail).

[2018-02-15 07:37] afabri opened #2840 "Polyhedron_demo: Selection tool (feature request)"
## Issue Details

@maxGimeno The list of operations should be shortened to what is applibable with the current selection type.

[2018-02-15 11:40] afabri commented on #2555
@lrineau @janetournois   Where does the problem show up?

[2018-02-15 11:44] afabri commented on #2764
This is adresses by PR #2712

[2018-02-15 11:45] janetournois commented on #2555
It should show up if you use (with boost 1.59 at least)
[code]

[2018-02-15 11:51] lrineau commented on #2764
I have added "Fix #2764." to the description of #2712, so that Github can automatically close this issue once #2712 is merged.

[2018-02-15 12:18] lrineau commented on #2656
@afabri I would need help, about MSVC 2017, Release, with `CGAL_HEADER_ONLY=ON`. There are runtime issue such as [that one]:
[code]
[that one]: https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.12-I-166/Cone_spanners_2/TestReport_afabri_x64_Cygwin-Windows10_MSVC2017-Release-64bits.gz

Several packages show the same issue. I have chosen `Cone_spanners_2` on purpose:
  - its test results [are f

[2018-02-15 13:13] #2827 closed

[2018-02-15 13:19] afabri commented on #2555
What puzzles me is that in [test_Random.cpp](https://github.com/CGAL/cgal/blob/master/Random_numbers/test/Random_numbers/test_Random.cpp#L60) we test it with `std::ptrdiff_t` and we don't get a warning.  I  thought maybe it is related to the fact that `std::size_t` is unsigned, but when I try it with `unsigned int` there is also no warning.

[2018-02-15 13:22] janetournois commented on #2555
boost hard codes `boost::uint32_t`. Maybe it is compatible with `unsigned int`?

[2018-02-15 13:27] afabri commented on #2555
Where??

[2018-02-15 13:29] janetournois commented on #2555
in `boost/random/linear_congruential.hpp`

[2018-02-15 13:54] lrineau commented on #2555
https://github.com/CGAL/cgal/issues/2555#issuecomment-365925561:

On Windows and Linux 64 bits `int` is a 32 bits type. See https://en.wikipedia.org/wiki/64-bit_computing#64-bit_data_models

[2018-02-15 16:09] sloriot opened #2848 "Compilation error when calling intersection with 3 planes with msvc"
The following code does not compile with MSVC:
[code]

while the following compiles:
[code]

[2018-02-15 16:12] lrineau commented on #2848
Do you have more information, like the compilation error message?
In particular, in the following lines:
[code]
which one does not compile?

[2018-02-15 16:30] sloriot commented on #2848
that's `intersection(p1, p2, p3);` that does not compile. I don't have the whole message only this:

[code]

[2018-02-15 16:48] lrineau commented on #2848
Without the full error message that is difficult to guess... But my crystal ball tells me it might be a lookup error, when one of the overloads of `CGAL::internal::intersection(..)` is incorrectly found and tried by the compiler. Then the compiler substitutes `K::Plane_3` for the `K` template parameter, and obviously the instantiation attempt cannot go on.

Please let them try with the explicit qu

[2018-02-15 16:50] sloriot commented on #2848
Ah make senses! @afabri could you confirm that?

[2018-02-15 16:53] lrineau commented on #2848
Philipp Moeller already pointed out that our `CGAL::internal` namespace is a mess, and we should introduce specific namespaces barriers for the internal functions of the kernel.

I think the issue is that `CGAL::Epick` derives from `CGAL::internal::Static_filters`. That means that `CGAL::internal` is always in the set of namespaces to look for, for any ADL call involving any object of `CGAL::Epick

[2018-02-15 16:54] sloriot commented on #2848
Which also explains why it does compile with Simple_cartesian.

[2018-02-15 16:56] lrineau commented on #2848
@mglisse @bo0ts
Could you confirm that I am not completely wrong with my rant in https://github.com/CGAL/cgal/issues/2848#issuecomment-365990421?

[2018-02-15 18:11] nschloe opened #2849 "CMake include messes with compiler options"
Here's a bug in CGAL's cmake system that took hours to pin down, but hopefully the following MWE will make things clear and help with a fix:
[code]
When configuring with `CXX=g++`, this correctly gives
[code]
However, when configuring with `CXX=clang++`, it _incorrectly_ gives
[code]
When putting the compiler flag check _before_  `include(${CGAL_USE_FILE})`, it also works fine. This has be suspect

[2018-02-15 18:20] nschloe opened #2850 "CMake does not respect command-line settings"
When building CMake projects, the line
[code]
always sets the build type to `Debug`. With CGAL, however, the line
[code]
will always override it with `Release`. The same goes for many other settings, I suspect. `CXXFLAGS` is another I could identify; no matter what I do, CGAL will always set
[code]
This makes it impossible to build certain programs on our test environment as `-g` simply eats up to

[2018-02-15 18:51] sloriot commented on #2850
This was fixed by #1436 and will be part of CGAL 4.12

[2018-02-15 18:51] #2850 closed

[2018-02-15 18:55] sloriot commented on #2849
I can reproduce the issue with the 4.11 release but not with master. I believe this is also fixed by #1436

[2018-02-15 18:55] #2849 closed

[2018-02-15 18:58] nschloe commented on #2850
Great, thank you!

[2018-02-15 18:58] sloriot commented on #2850
Thanks for taking time to report :)

[2018-02-15 18:59] nschloe commented on #2849
Yes, this PR looks quite massive. I'll keep my eyes open for 4.12 then. Thanks again!

[2018-02-15 19:16] mglisse commented on #2848
Note that the testcase also fails to compile for me with g++ on linux...

[2018-02-15 20:50] lrineau commented on #2850
As Sébastien (@sloriot) pointed out, both this bug and #2849 are probably fixed since #1436 is merged into `master`. (I have not yet verified.)

The old CMake code still present in CGAL-4.11 was dated from the CGAL-3.4 in 2008-2009, when CMake has been first used in CGAL. At that time, the recent CMake versions were CMake 2.4/2.6, and the CMake API was very different and a lot less powerful than i

[2018-02-16 08:04] sloriot commented on #2848
I changed the milestone of this issue to 4.13-beta because the fix will be spread in a lot of files and it might produces conflicts with #2792. Once this PR is merged we will rename the internal namespace for the implementation of intersection functions and at the same time will remove the old macro CGAL_INTERSECTION_VERSION.

[2018-02-16 09:16] lrineau commented on #2848
#2792 is not planned for 4.12 anyway.

[2018-02-16 09:58] afabri commented on #2848
I guess we expect users to call `CGAL::intersection(p1,p2,p3)`  (which compiles),  so although I strongly support a cleanup, this is not a serious bug.

[2018-02-17 23:17] mglisse commented on #2092
Good enough for me, at least we should get good code from sensible compilers this way.

[2018-02-18 22:09] ornamentist opened #2854 "Missing equality test for Arr_circle_segment_traits_2<Kernel>::Curve_2?"
## Issue Details

I may be missing something but can't see an equality test for instances of the Curve_2 class in Arr_circle_segment_traits_2<Kernel>::Curve_2.

If it is missing could this become a feature request please?

## Environment

* Operating system (Windows/Mac/Linux, 32/64 bits): all
* Compiler: all
* Release or debug mode: N/A
* Specific flags used (if any): N/A
* CGAL version: 4.11
* B

[2018-02-18 22:12] ornamentist opened #2855 "Missing bounding box for Arr_circle_segment_traits_2<Kernel>::Curve_2?"
## Issue Details

I may be missing something but can't see a 2D bounding box function for instances of the Curve_2 class in Arr_circle_segment_traits_2::Curve_2.

If it is missing could this become a feature request please?

## Environment

* Operating system (Windows/Mac/Linux, 32/64 bits): all
* Compiler: all
* Release or debug mode: N/A
* Specific flags used (if any): N/A
* CGAL version: 4.11
*

[2018-02-19 10:54] lrineau commented on #2656
@afabri @janetournois About what I wrote in the previous message (https://github.com/CGAL/cgal/issues/2656#issuecomment-365910614), I think that is not specific to MSVC 2017. That test column is the only one that tests `CGAL_HEADER_ONLY=TRUE` on Windows. The problem is probably related to C++11 + `CGAL_HEADER_ONLY`, and should be reproducible with MSVC 2015 as well, as soon as CGAL assertions are

[2018-02-19 11:46] lrineau commented on #2848
I agree. That is particularly not a serious bug because there is that easy workaround: call with the `CGAL::` qualification.

[2018-02-19 12:50] janetournois commented on #2656
I can reproduce exactly the same assertion violation with MSVC 2015, Debug mode

[2018-02-19 12:51] janetournois commented on #2656
And I confirm the 2 first bugs I had mentioned on Dec. 14 are fixed.

[2018-02-19 13:31] #2764 closed

[2018-02-19 13:31] #1837 closed

[2018-02-19 13:31] #2778 closed

[2018-02-19 13:31] #2793 closed

[2018-02-19 13:31] #2766 closed

[2018-02-19 13:31] #2818 closed

[2018-02-19 13:58] lrineau commented on #2656
I re-open this issue, because #2846 does not fix all items of the issue.

[2018-02-19 14:00] lrineau commented on #2092
Fixed by #2833.

[2018-02-19 14:00] #2092 closed

[2018-02-19 14:01] lrineau commented on #2107
#2829 is a fix for Surface_mesher.

[2018-02-19 14:04] lrineau commented on #2587
Thanks @bobergj for the bug report. The fix has been merged in our development branch (`master`). See PR #2825.

That fix will be published in CGAL versions 4.12-beta1, and 4.12, coming soon. Do you need us to backport the fix (it is trivial) to the branch for CGAL-4.11.1?

[2018-02-19 14:06] lrineau commented on #2766
@RizzerOnGitHub The PR #2823 has been merged in CGAL `master` branch. That fix will be in CGAL-4.12-beta1, coming soon.

[2018-02-19 14:09] lrineau commented on #2818
The PR #2819 is now merged in `master`, for CGAL-4.12-beta1. I let you write to the user who requested the change. I do not manage to find out in which email it was.

[2018-02-19 14:11] lrineau commented on #2790
Fixed by #2808 in both `master` and `releases/CGAL-4.11-branch`.

[2018-02-19 14:11] #2790 closed

[2018-02-19 14:19] lrineau commented on #2123
PR #2772 has been merged, but its description says it is only a *partial* fix for this issue #2123.

[2018-02-19 14:46] bobergj commented on #2587
No, thank you, personally I don't need it. In my case it didn't result in any unexpected behaviour, it is just something I happened to spot as the undefined behaviour sanitizer logged it.

[2018-02-19 14:48] lrineau commented on #2587
Thanks. So I mark this issue has fixed in CGAL-4.12-beta1.

[2018-02-19 14:48] #2587 closed

[2018-02-19 15:28] lrineau commented on #2752
Sébastien, you assigned the milestone 4.12 for this issue but, as the fix (#2785) involves a change in the documented API, I do not think we want that patch added between 4.12-beta1 and 4.12. Either we delay to 4.13-beta1, or we find an agreement quickly before 4.12-beta1.

[2018-02-19 15:30] lrineau commented on #2781
This PR is assigned to the milestone 4.12-beta1, but I do not see any PR, and nobody seems to be working on it. @afabri, @sloriot, unless you come up with a fix really soon, I will delay it to later 4.12.

[2018-02-19 15:57] janetournois opened #2858 "c3t3_io_plugin crash while trying to read c3t3_io-hetero.binary.cgal"
## Issue Details

I tried to load the files `Mesh_3/test/Mesh_3/data/c3t3_io-hetero.binary.cgal` and `Mesh_3/test/Mesh_3/data/c3t3_io-hetero.cgal` in the demo, and both fail with the following pop-up : "Unhandled exception : vector too long"

@maxGimeno can you please have a look?

## Environment

* Operating system (Windows/Mac/Linux, 32/64 bits): Windows
* Compiler: msvc2013
* Release or debug m

[2018-02-19 17:45] RizzerOnGitHub commented on #2766
Thank you!

[2018-02-19 20:48] efifogel commented on #2855
1. In general, there is no point enhancing the traits with operations
applied to Traits::Curve_2, but it does make sense to add operations that
apply to Traits::X_monotone_curve_2.
2. The traits is a model of certain concepts, and so nothing is missing
with respect to these concepts (to the best of my knowledge).
The concepts are designed to enable specific operations on arrangements.
Additional o

[2018-02-19 20:51] efifogel commented on #2854
This operation can be implemented based on the existing operations.
It should be implement in a generic was so that it can be exploited by all
traits.
I'll add it to the wish list.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_(/
                         _/

On 19 February 2018 at 00:09, Stuart Hungerford <notifications@github.com>
wrot

[2018-02-20 08:59] lrineau commented on #2706
@sloriot, @maxGimeno:
There is a problem.
https://cgal.geometryfactory.com/CGAL/Manual_doxygen_test/CGAL-4.12-Ic-179/index.html
![screenshot_20180220_095736](https://user-images.githubusercontent.com/5746675/36414973-1c6dfea6-161c-11e8-89c7-706cfd328797.png)

You can see that Doxygen 1.8.4 has detected an issue (a warning), but not the other versions. Where the warning seems relevant.

[2018-02-20 08:59] lrineau commented on #2706
The logs says:

[2018-02-21 03:31] JamesYangLim opened #2861 "CGAL Nef_polyhedron_3 Union issue"
## Issue Details

Hi, I am trying to union 53 blocks from OFF files. However, the result is not closed and seems incorrect. Has anyone seen this kind of behaviour from Nef_polyhedron_3 union? Is this a bug?

These blocks are just random generated.

## Data Files
[Zip containing the cube OFF input files and OFF output file, 14kB](https://drive.google.com/open?id=131SJXrdFGwu7XC2SAY1oAzrp7JD5tf28)

[2018-02-21 07:41] sloriot commented on #2861
The operation with Nef is not an issue, the error you have comes from the conversion from Nef to a polygon mesh. In your output you have some non-manifold edges (edges incident to more that 2 faces) and this kind of data is not representable with a polygon mesh.

[2018-02-21 07:41] #2861 closed

[2018-02-21 08:33] maxGimeno commented on #2858
Mesh_3/test/Mesh_3/data/c3t3_io-hetero.cgal has been generated with a triangulation which IO_signature is not known by the demo :
it has "Triangulation_3(Weighted_point<Point_3>,Vb(Tvb_3+i+boost::variant<enum,std::pair<i,i>,i,d>),Cb(enum+RTcb_3+(std::pair<i,i>)[4]))"
but the "Fake_c3t3" expects "Triangulation_3(Weighted_point<Point_3>,Vb(Tvb_3+i+i),Cb(i+RTcb_3+(i)[4]))". So the load() function goe

[2018-02-21 09:38] lrineau commented on #1580
@afabri: This issue is the one that hit you today.

[2018-02-21 17:52] lrineau opened #2865 "CTest should not use the SetupFixture when the CMake binary dir is in source"
With @afabri setup, the build directory is, for example, `examples/Mesh_3/VC12/`. The `SetupFixture` step of CTest does not work. Anyway I think that we should run tests in-sources, if the build directory is in-sources.

TODO for next meeting.

[2018-02-21 17:54] lrineau opened #2866 "CTest: check again, and fix, the support of cross-compilation plus CTest running on Android"

[2018-02-21 23:50] ornamentist opened #2867 "Missing equality test for CGAL::Arr_conic_traits_2<RatKernel, AlgKernel, NtTraits >::Curve_2?"
## Issue Details

I may be missing something but I can't see an equality test for instances of the Curve_2 class in CGAL::Arr_conic_traits_2<RatKernel, AlgKernel, NtTraits>?

If it is missing could this become a feature request please?

## Environment

* Operating system (Windows/Mac/Linux, 32/64 bits): all
* Compiler: all
* Release or debug mode: N/A
* Specific flags used (if any): N/A
* CGAL ver

[2018-02-22 05:23] JamesYangLim commented on #2861
@sloriot  Thanks Sebastian, this is very helpful. May I suggest that it throws an exception just like Polyhedron_3 says that the surface is not simple.

[2018-02-22 07:45] sloriot commented on #2861
You can use the function [`is_simple()`](https://doc.cgal.org/latest/Nef_3/classCGAL_1_1Nef__polyhedron__3.html#a77bac0d5c8715c1257f628ac34b65f61) for that purpose.

[2018-02-23 09:22] lrineau opened #2870 "Mesh_3: Crash (probably random)"
## Issue Details

I detected a new crash, here:
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.12-Ic-182/Mesh_3/TestReport_lrineau_Fedora-Release.gz
[code]

That is probably random. I will try to reproduce it: our `Fedora` column is very similar to my desktop machine.

[2018-02-23 16:41] #1622 closed

[2018-02-23 16:41] #2826 closed

[2018-02-23 16:41] #2832 closed

[2018-02-23 16:58] lrineau commented on #2656
Now only the documentation part is still TO-DO. I postpone to 4.12. For 4.12-beta1, the explanation will be in the announcement mail only.

[2018-02-27 09:59] rikba opened #2875 "corefinement_mesh_union crashes with custom meshes."
## Issue Details

In our project we use [corefinement_mesh_union](https://github.com/CGAL/cgal/blob/master/Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/corefinement.h#L824) to merge single polyhedron frustum meshes, e.g.,
![single_frustum](https://user-images.githubusercontent.com/11293852/36720876-8a590054-1ba9-11e8-8195-2609bb45e8cf.png)

in an iterative fashion to create a combi

[2018-02-27 10:42] sloriot commented on #2875
`frustra_7.off` contains some self-intersections (probably produced when dumping the model to a file with default precision (try `output << std::setprecision(17)` before the dump).
After fixing the self-intersections, I could do the operation.

[2018-02-27 11:44] rikba commented on #2875
Thanks for the hint. I will have a look at why our code produces self-intersecting meshes.

[2018-02-27 11:44] #2875 closed

[2018-02-27 12:53] rikba commented on #2875
Indeed, switching from `Exact_predicates_inexact_constructions_kernel` to `Exact_predicates_exact_constructions_kernel` solved the self-intersection-issue and the meshes were successfully merged iteratively.

Thanks again.

![frusta](https://user-images.githubusercontent.com/11293852/36729757-84634dfa-1bc5-11e8-97a2-5a3772e0c2bb.png)

[2018-02-27 17:26] lrineau opened #2879 "CGAL-4.12-beta1 does not build on Fedora armv7hl"
The [build task for armv7hl](https://koji.fedoraproject.org/koji/taskinfo?taskID=25348734) failed with this log:

https://kojipkgs.fedoraproject.org//work/tasks/8734/25348734/build.log

[code]

Is there anything in CGAL that still need `<CGAL/gl.h>`?!

[2018-02-27 17:28] lrineau commented on #2879
A grep finds those files:
[code]

[2018-02-27 17:54] lrineau opened #2880 "ABI change between CGAL-4.11 and CGAL-4.11.1!"
Bug detected by the Fedora build system:
https://taskotron.fedoraproject.org/artifacts/all/952c9a54-1be5-11e8-9d96-525400fc9f92/task_output/CGAL-4.11.1-1.fc27.log
[code]

[2018-02-27 18:09] lrineau commented on #2880
The two functions `CORE::BigRat CORE::operator/(const CORE::BigRat&, const CORE::BigRat&)` and `CORE::BigRat CORE::div_exact(const CORE::BigRat&, const CORE::BigRat&)` are inline, so the ABI change cannot have an effect.

[2018-02-27 18:09] #2880 closed

[2018-02-27 18:13] lrineau commented on #2879
In case we cannot fix the package, CGAL-4.12-beta1 will have to depend on `mesa-libGLES-devel`, in Fedora.

[2018-02-27 18:32] lrineau opened #2881 "CGAL_VERSION and CGAL_VERSION_NR are wrong in beta releases"
## Issue Details

In `CGAL-4.12-beta1/include/CGAL/version.h`, we can read:
[code]

I think:
-  `CGAL_VERSION` should be the real name `CGAL-4.12-beta1`, and
- `CGAL_VERSION_NR` should be something like `1041200910` to state that it is not an internal release, but it is not yet a gold release either.

We need to fix `create_new_release` around here:
https://github.com/CGAL/cgal/blob/4f95e55427249e

[2018-02-28 07:49] maxGimeno commented on #2879
Most of this is not used and can be removed without a problem, except I cannot test the benchmark of Mesh_3 as CMake won't configure, and I don't know what to do about the Surface_mesher archive, in which native gl calls remain, but I don't think the functions are used. What is the purpose of a directory "archive" ?

[2018-02-28 08:05] maxGimeno commented on #2879
Also, in Installation there are files (CGAL/Installation/cmake/modules/config/support/print_OPENGL_version.cpp and
CGAL/Installation/cmake/modules/config/support/test_OPENGL.cpp) that test the OpenGL and glu version and test they link correctly.
 I think they can be removed,at least the test_OPENGL.cpp, for which I see no use at all.
 at list t

[2018-02-28 08:22] maxGimeno commented on #2881
I suggest we add an argument like --beta int to decide if it is a beta release and which one it is. I guess the NR would reflect this beta release number like 0910 for beta1, 0920 for beta2, etc.

[2018-02-28 08:22] cjamin commented on #2879
You can remove the line in `Mesh_3/benchmark/Mesh_3/StdAfx.h`, it's only used for precompiled headers.

[2018-02-28 08:23] maxGimeno commented on #2879
Ok, thank you !

[2018-02-28 08:31] sloriot commented on #2879
`archive` was created as a transition state before removal so that it is not forgotten and see if maintainers will port the deprecated/experimental code.

[2018-02-28 08:37] lrineau commented on #2881
I agree with both `--beta` and the numbering scheme.

[2018-02-28 08:38] lrineau commented on #2879
@maxGimeno That means that you can ignore any code in the `archives/` directories. The code is not maintained/tested anyway.

[2018-02-28 08:49] maxGimeno commented on #2879
Ok, so I just #if 0 the whole native GL code.

[2018-02-28 08:51] lrineau commented on #2879
No, remove it.

[2018-02-28 08:58] sgiraudot opened #2882 "Polyhedron Demo: Bugs with Polyline after Displaying Corners"
## Issue Details

When I have a polyline item, if I hit _Display corners with radius..._, then:
- operations on polylines are no longer available on the menu
- there does not seem to be a way to remove the corner spheres from the scene

## Environment

* Operating system (Windows/Mac/Linux, 32/64 bits): GNU/Linux
* CGAL version: master

[2018-02-28 09:01] lrineau commented on #2879
There will a second beta, CGAL-4.12-beta2, to fix that issue. Let's try to publish it in about 10 days.

[2018-02-28 09:16] jjpepper commented on #2414
`Nef_polyhedron_3` can't be #included with this flag on.  Simply create an empty visual studio 2017 project with the conformance mode (`/permissive-`) turned on (can be found in the C++/Language project setting), simple compile a single translation unit with `#include <CGAL/Nef_polyhedron_3.h>` and it fails.

Link for information about the flag is [here](https://docs.microsoft.com/en-us/cpp/build/

[2018-02-28 09:25] jjpepper commented on #2414
Those errors above are produced with `/permissive-` but without `/std:c++latest` (just the C++14 default).  This actually wasted me half a day as I didn't realise one of my libraries was set to /permissive- and one not.  :-(

[2018-02-28 09:28] jjpepper commented on #2414
And it happens with the boost and cgal coming directly from vcpkg.  BTW there also seems to be an issue with the cgal vcpkg dependencies (it doesn't declare dependencies on all the boost things it needs).

[2018-02-28 09:30] lrineau commented on #2414
Which CGAL version have you tested? I think some of the compilation errors you reported might already be fixed in CGAL-4.12-beta1 (published yesterday).

[2018-02-28 09:31] lrineau commented on #2414
(As for the cgal vcpkg dependencies, report the issue to the vcpkg maintainers.)

[2018-02-28 09:33] lrineau commented on #2414
@jasjuang seems to be the CGAL vcpkg maintainer. He is the author of https://github.com/Microsoft/vcpkg/pull/2894, submitted yesterday.

[2018-02-28 10:08] jjpepper commented on #2414
Thanks.  @jasjuang, I submitted just submitted a cgal issue today: https://github.com/Microsoft/vcpkg/issues/2902

[2018-02-28 10:49] maxGimeno commented on #2882
Just set their radius to 0 to remove them.

[2018-02-28 11:04] jjpepper commented on #2414
Sorry, I missed the question about the version. Just using 4.11.  We're
using vcpkg so updating to 4.12b is a little bit of a pain, and we have a
simple short term fix (don't use the switch).  It'd be good to know if it's
getting fixed soon as our code is going to be ported to Linux soon.

On Wed, 28 Feb 2018 at 5:30 pm, Laurent Rineau <notifications@github.com>
wrote:

[2018-02-28 18:39] ras0219-msft commented on #2414
@lrineau For future use, you can point users to `vcpkg install cgal --head` to tell us to grab the "tip of trunk" for situations like this where you've fixed a bug on master but we haven't updated to your latest release yet :)

[2018-03-01 00:55] jjpepper commented on #2414
Thanks Robert. Very handy to know.

On 1 March 2018 at 02:39, Robert Schumacher <notifications@github.com>
wrote:

[2018-03-01 08:43] maxGimeno commented on #946
Appart from renaming Update_vertex and Update_cell, I don't see what is to be done. The two functions are not that similar, one is an IO free function that works with an inputstream, the other is a member function that works with a CDT. How is it possible to unify them ?

[2018-03-01 10:25] lrineau commented on #946
Both functions convert one triangulation type to another:
- [`TDS::copy_tds`] copies from a triangulation in memory to another triangulation in memory
- [`file_input` from `demo/Polyhedron/include/CGAL/Triangulation_file_input.h`][2] takes the triangulation stored in a file, and copies (or loads) to a triangulation in memory.
In both cases, there are conversion functors that are invoked, to conver

[2018-03-01 10:26] lrineau commented on #946
But before you start, I suggest we wait for approval/comments from @sloriot, @janetournois, and @afabri.

[2018-03-01 10:36] sloriot commented on #946
What is ` file_input()` supposed to be compared to `operator>>()`?

[2018-03-01 10:46] lrineau commented on #946
The same difference as between `TDS::copy_tds()` and and the copy constructor `TDS(const TDS& TDS)`:
- the signature of `operator>>` is constrained by the C++ norm: `istream& operator>>(istream&, TDS&)` (
- `file_input` is a function template (or a function template member), and can have more parameters: in particular it has two optional functors that convert the `Vertex` and `Cell` types, so that

[2018-03-01 10:49] lrineau commented on #946
As for the use cases, in `Polyhedron_demo_c3t3_binary_io_plugin::try_load_other_binary_format`:
https://github.com/CGAL/cgal/blob/27859944b4d96797030fc018892d5123b7cba0b2/Polyhedron/demo/Polyhedron/Plugins/Mesh_3/C3t3_io_plugin.cpp#L478-L482

[2018-03-01 10:50] lrineau commented on #946
`file_input` could be implemented by a normal load of a TDS/Triangulation_3, and then `copy_tds` to convert the types, but that would mean having two copies of the TDS in memory, whereas `file_input` does the conversion on the fly, when vertices and cells are loaded.

[2018-03-01 11:00] janetournois commented on #946
I would have only one question/suggestion/request...

As you know, @MaelRL and I have been working on a function that reads a triangulation from a `.mesh` file, whether or not the triangulation covers the convex hull of the set of points.
Could it be (I don't know how yet) unified with that new function?

[2018-03-02 15:24] lrineau commented on #2414
@jjpepper There is an ongoing work to support `/permissive-`. We might be able to support it fully in CGAL-4.12-beta2, coming in about a week.

[2018-03-02 15:36] #2334 closed

[2018-03-02 15:36] #2555 closed

[2018-03-02 15:36] #2840 closed

[2018-03-02 16:06] lrineau commented on #2414
@as0219-msft https://github.com/CGAL/cgal/issues/2414#issuecomment-369338967:

Is that tested somewhere?

[2018-03-02 16:40] ras0219-msft commented on #2414
Our current CI only tests the latest stables.

Are you concerned about the vcpkg build invocation breaking (for example, our patches / cmake call) or your code breaking w.r.t. dependency versions inside vcpkg?

[2018-03-02 16:48] lrineau commented on #2414
Yes, as the release manager of CGAL, my motto is "if it is not tested, it can be assumed broken". So, I would not recommend to our users something that is not tested: it could be broken for each change of the internals of CMake scripts in CGAL.

Maybe our future appveyor script should test `vcpkg install --head`.

[2018-03-05 09:47] lrineau opened #2893 "Install SuiteSparse on test platforms"
## Issue Details

SuiteSparse is not installed on any of our test platform, and the code of `orbifold.cpp` is not tested anywhere. See for example:
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.12-Ic-188/Surface_mesh_parameterization_Examples/TestReport_lrineau_Debian-Testing.gz
[code]

Cc: @MaelRL @afabri

## Environment

* Operating system (Windows/Mac/Linux, 32/64 bits): all
* CGAL ver

[2018-03-05 09:48] lrineau commented on #2893
Well, `orbifold.cpp` *is* tested, but without `SuiteSparse`.

[2018-03-05 21:10] ornamentist opened #2898 "Add ellipse type to 2D linear geometry kernel to generalize 2D circle type"
## Issue Details

Could we have an ellipse type added to the 2D linear geometry kernel to generalize the CGAL::<{kernelname}>::Circle_2 class already there?  I realize there's conic traits for 2D ellipses and circles in the arrangements packages, but this would support uses cases where the arrangements packages are only being imported for their ellipse functions.

Hopefully this would also allow a

[2018-03-05 23:19] JoergOstertag opened #2899 "Error while using openscad"
WHile using OpenScad  in commandline Mode I got the following:

CGAL error: assertion violation!
Expression : e_below != SHalfedge_handle()
File       : /Users/kintel/code/OpenSCAD/openscad/../libraries/install/include/CGAL/Nef_3/SNC_FM_decorator.h
Line       : 426
Explanation:
Refer to the bug-reporting instructions at http://www.cgal.org/bug_report.html
ERROR: CGAL error in CGAL_Nef_polyhedron3(

[2018-03-06 11:11] maxGimeno commented on #2893
fixed by[#84](https://github.com/CGAL/cgal-testsuite-dockerfiles/pull/84)

[2018-03-06 13:56] lrineau commented on #2858
I have modified the title of the issue: the problem is not that the demo cannot open the file, but that it crashes while trying, instead of displaying an error message.

[2018-03-06 14:12] #2893 closed

[2018-03-06 15:25] #2879 closed

[2018-03-06 15:25] #2881 closed

[2018-03-06 15:25] #2882 closed

[2018-03-06 15:32] lrineau commented on #2414
Fixed by #2886.

[2018-03-06 15:33] lrineau commented on #2414
@jjpepper: This bug is now fixed in CGAL `master`, and the fix will soon be published in the release CGAL-4.12-beta2.

[2018-03-06 20:59] sloriot opened #2902 "Issue when opening a mesh when cut segments are displayed"
Open a mesh (polyhedron item), show cut segments with the aabb-tree, and try opening another mesh. Everything will disappear from the OpenGL windows.

[2018-03-07 11:16] lrineau commented on #2893
Now we have CMake warnings:
https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.12-Ic-192/Surface_mesh_parameterization_Examples/TestReport_lrineau_Ubuntu-Latest-CXX11.gz

[2018-03-07 12:35] maxGimeno commented on #2893
see #2907.

[2018-03-08 14:25] lrineau opened #2913 "Add -Wno-expansion-to-defined to the platform Ubuntu-latest-GCC6-CXX1z"
Warning, CGAL CMake scripts add -Wall *after*.

[2018-03-08 14:47] afabri commented on #2913
If possible only for demos?

[2018-03-08 14:53] lrineau commented on #2913
See explanations here about the warning, here: https://bugs.webkit.org/show_bug.cgi?id=167643

[2018-03-09 09:37] sloriot opened #2915 "Document Triangulation_2_projection_traits_3"
The traits is now around for a while and is very useful. It should be documented.
Also an example in the Triangulation_2 package would be nice to have.

@lrineau as the author of the file I assigned you to issue (but @maxGimeno might want to do it).

[2018-03-09 09:53] sloriot opened #2916 "Document PMP functions related to corefinement."
- [x] `boolean_operations()` called by all functions doing Boolean operations using corefinement and that allow to compute several operations at the same time.
- [x] `clip()` use to clip a triangle mesh by a half-space or a mesh (one remaining issue is the handling of connected components with open clippers and consistency when a plane is given as clipper, because the plane is discretized into a p

[2018-03-09 10:00] lrineau commented on #2915
First we should decide:
- if a geom traits object is supposed to be lightweight, and passed by copy or by reference,
- if a geom traits is supposed to be used as a const object or not.

Those two aspects are not documented, in our concepts, but it is very important for the use of a geom traits with data.

[2018-03-09 15:35] lrineau commented on #2601
Is that still an actual bug?

[2018-03-09 15:39] maxGimeno commented on #2601
Nope, i forgot to mention it in #2607, but I am pretty sure i fixed the problem in there.

[2018-03-09 15:48] lrineau commented on #2601
Let's wait for #2904 and then @sloriot will try again.

[2018-03-09 17:43] #2601 closed

[2018-03-09 17:43] #2858 closed

[2018-03-09 17:43] #2902 closed

[2018-03-12 15:20] MaelRL commented on #2000
Small (accidental?) foreign incursion: https://github.com/CGAL/cgal/wiki/_Footer/_history

[2018-03-12 15:37] lrineau commented on #2000
@MaelRL How have you found out out the modification? Did you get a notification?

[2018-03-12 15:40] lrineau commented on #2797
Fixed by #2910.

[2018-03-12 15:41] #2797 closed

[2018-03-12 15:44] MaelRL commented on #2000
Accidentally caught it in https://github.com/orgs/CGAL/dashboard, where wiki modifications show up.

[2018-03-12 16:58] lrineau opened #2921 "RFE: Add a macro CGAL_UNREACHABLE in <CGAL/config.h>"
## Issue Details

(See the context at https://github.com/CGAL/cgal/pull/2912#issuecomment-371805213 and later.)

Add a macro `CGAL_UNREACHABLE` that could be used for example as:
[code]
See also the C++ proposal [PR0627](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2017/p0627r1.pdf).

## Source Code

Not tested.
[code]

[2018-03-12 17:11] lrineau commented on #2921
Actually, we also need a macro named, for example `CGAL_DEFAULT_CASE_IS_UNREACHABLE`, because otherwise the code
[code]
is not optimal when the compiler does not have `__builtin_unreachable`/`__assume`. With those compilers, it is best not having a `default` case at all (so `CGAL_DEFAULT_CASE_IS_UNREACHABLE` would be empty, in that case).

[2018-03-13 09:15] bchretien opened #2922 "Coplanar point insertion for parallel Delaunay triangulation crashes with CGAL 4.11.1"
## Issue Details

While adding points for the parallel resolution of a 3D triangulation, I found a bug in `Delaunay_triangulation_3.h`. Investigating the backtrace led me to [this line](https://github.com/CGAL/cgal/blob/releases/CGAL-4.11.1/Triangulation_3/include/CGAL/Delaunay_triangulation_3.h#L386). The problem is that the condition of the `while` loop does not protect us from reading outside o

[2018-03-13 09:28] sloriot commented on #1666
@MaelRL mentioned https://github.com/marketplace/coveralls as an alternative service.

[2018-03-13 09:28] sloriot commented on #1666
@maxGimeno it would be nice if you update the issue to explain why codecov can not be used in our setting.

[2018-03-13 09:30] lrineau commented on #2922
I confirm the segfault and the analysis, on my machine. Linux Fedora 27 64 bits, with g++ 7.2.0, and CGAL `master`.

[2018-03-13 09:33] bchretien commented on #2922
@lrineau thanks for the quick feedback!

[2018-03-13 09:34] lrineau commented on #2922
@MaelRL Could you have a look and try to reproduce, and eventually fix?

[2018-03-13 09:35] MaelRL commented on #2922
Sure.

[2018-03-13 10:26] MaelRL commented on #2922
See #2923

[2018-03-13 12:03] arnsong opened #2924 "Degenerate faces in CDT mesh after refinement"
I'm getting unexpected behavior when using the Delaunay mesher with a Constrained Delaunay Triangulation.  To try and debug the code, I have been running single refinement steps with the mesher.  During the refinement step, the mesher will generate a degenerate face whose vertices lie along a constraint edge.  This face isn't caught by a subsequent routine, or at least not one that I am seeing. Th

[2018-03-13 16:40] arnsong commented on #2924
When the `Refine_edges` mesh level generates a `star_hole` it "squashes" one of the faces, but does not remove this face from the triangulation.  I have attached a sketch of what I observe to be the output of the `star_hole` function in `Refine_edges.h`.
[Face squashing.pdf](https://github.com/CGAL/cgal/files/1807830/Face.squashing.pdf)

[2018-03-14 09:28] MaelRL commented on #2924
Hello,

This is not what happens:
- The first refinement step does not add that `(0,0)` point, you can see in the log it says:
[code]
This means that the refinement point is not inserted because we must first refine an edge to preserve some properties. After this step, there are still 4 points and 2 faces.
- On the second step of the refinement, this edge is refined by inserting its mid point, but

[2018-03-14 10:59] lrineau commented on #2924
That is not a bug. The almost degenerate face is still a valid face of the triangulation, and it is outside of the meshing domain. That is completely normal and expected as soon as you use inexact construction. And that should not be an issue, because that face is outside of the domain. Just filter out the faces that are outside.

[2018-03-14 10:59] #2924 closed

[2018-03-14 12:31] skanti opened #2925 "AABB tree: add move semantic (Why is copying in AABB_tree made private?)"
https://github.com/CGAL/cgal/blob/72a6f22a382b4662196b6e495805ac5631aadf73/AABB_tree/include/CGAL/AABB_tree.h#L682

The copy constructor in `AABB_tree` is not public. It seems like making `std::vector<AABB_tree>` is not possible without some kind of hack. Any reason why it's there and should not be made `public`?

[2018-03-14 13:05] lrineau commented on #2925
How would you implement the copy constructor of a tree? A deep copy? We do not really want that a *deep copy* can be made implicit. What we could do is add a *move* constructor to AABB tree, so that `std::vector<AABB_tree>` can be used from C++11.

[2018-03-14 14:07] skanti commented on #2925
Yes please, do that. Otherwise solutions are hacks like this:

[code]

[2018-03-14 14:14] lrineau commented on #2925
I have modified the title of the issue accordingly.

[2018-03-14 14:17] lrineau commented on #2925
This issue is now registered as a "feature request". You should know that the CGAL project is rather slow at dealing with feature request. However, if you submit a pull-request, then there is a good chance it would be integrated quickly.

[2018-03-14 15:07] sloriot commented on #2925
@lrineau should have pointed out that the handling of non-trivial pull requests from outside contributors to an existing package is only possible if there is something similar to a copyright assignement/transfert in place. So before coding anything consequent that is meant to be integrated into CGAL, get in touch with the maintainer of the package.

[2018-03-14 15:23] lrineau commented on #2925
Adding the move semantic to AABB_tree should hopefully be a non-significant contribution.

[2018-03-14 15:25] arnsong commented on #2924
Ah... makes sense.  Thank you for taking a look at this.

However, the near degenerate faces with the inexact constructions still are problematic for the Voronoi diagram generated from Constrained_Delaunay_Triangulation.  Even though the faces are valid in the triangulation, when we we try to construct an edge from the triangle circumcenters, `Constrained_voronoi_diagram_2` fails because it can't

[2018-03-15 08:12] maxGimeno commented on #1666
I added an option to our cmake that allows processing the coverage. I added tests (via cmake add_test for ctest) that depend on the classic tests and call gcov to produce a txt coverage report, and a test by package that use a python script to parse thoses reports and write the total coverage of the package in package_info. This seems to work well. Now, I'd like to do the same thing for the whole

[2018-03-15 09:37] xor256 opened #2928 "How count distance between 2 Polygon_2D"
I have 2 Polygon_2 shapes:
![bitmap](https://user-images.githubusercontent.com/17579697/37455132-aeea5392-283c-11e8-9e68-687290fd8ae4.png)
How count distance betweem B shape and
[code]

[2018-03-15 10:00] maxGimeno commented on #2582
It was a mistake at launchtime, my docker command had wrong arguments.

[2018-03-15 10:05] maxGimeno commented on #2655
is it fixed by #2784, which automates the creation of the list and checks it in travis ?

[2018-03-15 10:27] lrineau commented on #2655
Yes, that is fixed by #2784.

[2018-03-15 10:27] #2655 closed

[2018-03-15 12:45] lrineau commented on #1666
I do not really understand the issue. I think you can add the `add_test` in `Installation/CMakeLists.txt`, and that test would only be usable from the root of the binary dir.

[2018-03-15 12:52] maxGimeno commented on #1666
That is what i tried, but I cannot access the test from the CreateSingleSourceCGALProgram.cmake to set its dependencies.

[2018-03-15 12:54] lrineau commented on #1666
No, you have to set the dependencies manually:
[code]

[2018-03-15 12:59] maxGimeno commented on #1666
I have been using set_tests_properties(${test_name} PROPERTY DEPENDS deps) and all I got was an error saying NAME could not be found.

[2018-03-15 13:09] MaelRL commented on #1629
The first report is somewhat wrong on a couple of points :
- the default policy of a simple box is not the address, but the explicit so it's fine.
- `box_self_intersection_d` not working with address-based IDs is documented, although it is not the most visible thing.

There are two possibilities:
- make it a bit clearer in the documentation
- make the code work with address-based IDs. The latter c

[2018-03-15 15:19] lrineau commented on #905
Well... I did not. Is there a documentation page that is representative of the mechanism you choose? We could sent it by mail to cgal-develop, with explanations.

[2018-03-15 15:20] lrineau commented on #1432
Do we still need/want that feature?

[2018-03-15 15:26] sgiraudot commented on #905
* You can see the reference of `detect()` in [Region Growing](https://cgal.geometryfactory.com/CGAL/doc/master/Point_set_shape_detection_3/classCGAL_1_1Shape__detection__3_1_1Region__growing.html#a7e3f1333727cefc32243a48d9cfdefc5)
* The [example](https://cgal.geometryfactory.com/CGAL/doc/master/Point_set_shape_detection_3/Point_set_shape_detection_3_2shape_detection_with_callback_8cpp-example.html

[2018-03-15 15:27] lrineau commented on #888
@afabri, in https://github.com/CGAL/cgal/issues/888#issuecomment-316703329:

Our dependency to Boost is the issue. Remember that long ago the Windows installer was also able to download all dependencies of CGAL, but after a few years for Boost we gave up. And for GMP, we are really bad, because we still ship with an ancient version of GMP, on Windows. We should probably evaluate MPIR as a replacem

[2018-03-15 15:32] lrineau commented on #257
As we saw recently with a lookup bug in intersection functions, that topic is still an important one. We should do it.

[2018-03-15 15:41] lrineau commented on #34
The very recent issue #2925 asks for move-semantic in `AABB_tree`. C++11 more that 10 years old now (even before 2011 it was available under the name C++0x), and CGAL should do something!

[2018-03-15 15:43] lrineau commented on #2031
Maxime, I suggest you have a look at the minutes, to see the feature requests that were listed, during the meeting. Maybe that list should be transformed into a real list under Github, with checkboxes. Probably you have already implemented some of them.

[2018-03-15 15:45] lrineau commented on #1912
I suggest we close this issue, because:
- I personally doubt it is useful,
- that would require even more tests,
- and anyway we do not know how to implement that.

[2018-03-15 16:24] sloriot commented on #1912
From a user point of view, like @MoniqueTeillaud would say, it's a mess. What's the logic for having or not having a free function?

[2018-03-15 17:47] lrineau commented on #905
Once the submission is reviewed, I think we should post a message on CGAL-develop explaining the recommendations.

[2018-03-15 17:53] lrineau commented on #1912
I do not know. I do not really care either, because I try not to use the free functions.

Maybe with bit of a clang tooling we can add all the missing functions. And as for testing them... no idea.

[2018-03-15 18:04] lrineau commented on #1666
I do not really understand why `CGAL_CreateSingleSourceCGALProgram.cmake` is used in `Installation/CMakelists.txt`. I'll see with you at the office on Monday.

[2018-03-15 18:55] HoffmannMichael commented on #1432
In think so, or has anything else evolved that could be used in that place?

On 15 Mar 2018, at 11:20, Laurent Rineau <notifications@github.com<mailto:notifications@github.com>> wrote:

Do we still need/want that feature?

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/CGAL/cgal/issues/1432#issuecomment-373413874>, or mute the

[2018-03-16 07:04] sgiraudot commented on #888
I made some trials at the time, and my main concern was that I could not reduce the size of the VBox image to less than 3.5GB, which seemed like an overkill… I don't really know what to do.

The best solution would probably be to create a lightweight installation image (not an image of the installed and set-up system that takes several GB) derived from an existing GNU/Linux ISO + a script that wou

[2018-03-16 07:29] cjamin commented on #888
What about Docker?

[2018-03-16 08:27] maxGimeno commented on #2031
done

[2018-03-16 09:25] lrineau commented on #888
Docker (or OCI containers) do not have the same scope of use.

1. Docker/OCI is Linux-centric. I know Windows and MacOS can run Docker either in a virtual machine or an emulation layer but that might complicate things.

2. That is really hard to use Docker and run a *graphical* application. Even on a Linux machine, that is tricky, not robust, and unsafe. And on a Windows machine... I think it migh

[2018-03-16 09:31] lrineau commented on #904
@sgiraudot I do not understand your choice of labels. That issue was a topic discussed at the dev meeting, and there is not ongoing discussion.

[2018-03-16 09:35] lrineau commented on #888
If I remember well, @efifogel @HoffmannMichael and @palliez were the developers interested by the topic. Are you still interested? Do you use VirtualBox in your teaching?

Because maintaining those images twice a year when the CGAL versions are published can be a difficult matter. And we will not support that effort is the need is low or uncertain.

[2018-03-16 09:43] lrineau commented on #2031
Great list. Thanks!

[2018-03-16 11:42] MaelRL commented on #1629
Although creating two vectors of pointers is indeed cheaper in time and memory, the box_intersection_d algorithms run a lot more slowly (something like 3x) on pointer ranges rather than value ranges. The fact that it is much slower on pointer range is not created by the wrappers around the traits and callback mechanisms, you get the same ratio if you just run any example once with values, once wit

[2018-03-16 11:42] #1629 closed

[2018-03-16 11:44] MaelRL commented on #1629
For the record, one needs some callback wrapper too, something like
[code]

[2018-03-16 11:51] HoffmannMichael commented on #888
We provide a virtualbox image with CGAL and boost preinstalled for students, see the link on

https://www.cadmo.ethz.ch/education/lectures/HS17/algolab/index.html

On 16 Mar 2018, at 05:35, Laurent Rineau <notifications@github.com<mailto:notifications@github.com>> wrote:

If I remember well, @efifogel<https://github.com/efifogel> @HoffmannMichael<https://github.com/hoffmannmichael> and @palliez<ht

[2018-03-16 12:26] lrineau commented on #888
@palliez You asked for idea in teaching, at the developers meeting. You can have a look at what does Michael, in the link https://www.cadmo.ethz.ch/education/lectures/HS17/algolab/index.html

@HoffmannMichael Thanks for sharing that link. How did you build that image. Do you know command line tools that could help administrating those images (upgrading CGAL...)?

[2018-03-16 12:52] sgiraudot commented on #904
I must admit I don't understand it either here…

[2018-03-16 13:02] lrineau commented on #888
This could help maintaining an updated image automatically: https://askubuntu.com/a/490423/297468

[2018-03-16 14:06] HoffmannMichael commented on #888
Attached are the instruction notes by the guy who did it.

On 16 Mar 2018, at 08:26, Laurent Rineau <notifications@github.com<mailto:notifications@github.com>> wrote:

@palliez<https://github.com/palliez> You asked for idea in teaching, at the developers meeting. You can have a look at what does Michael, in the link https://www.cadmo.ethz.ch/education/lectures/HS17/algolab/index.html

@HoffmannMic

[2018-03-16 14:41] MaelRL commented on #257
Was it agreed that `CGAL > Pkg > internal` is to be used everywhere? And are there entities that should be left in `CGAL::internal`?

[2018-03-16 21:16] afabri opened #2934 "Dependency of package BGL on Polygon_mesh_processing"
## Issue Details

In `BGL/include/CGAL/boost/graph/METIS/partition_graph.h` we have:

`#include <CGAL/Polygon_mesh_processing/internal/named_function_params.h>`

In
`BGL/include/CGAL/boost/graph/convert_nef_polyhedron_to_polygon_mesh.h` we have:

`#include <CGAL/Polygon_mesh_processing/polygon_soup_to_polygon_mesh.h>`

@sloriot: Wouldn't it make sense to move the file `convert_Nef..` to the packag

[2018-03-16 22:43] afabri opened #2936 "Dependency of Polygon_mesh_processing on Mesh_3"
## Issue Details

In `Polygon_mesh_processing/include/CGAL/Polygon_mesh_processing/detect_features.h`
we include files  `Mesh_3/include/CGAL/Mesh_3/properties*.h`

I am not sure where to move that.

## Environment

* CGAL version: master

[2018-03-17 13:47] lrineau commented on #257
I agree with the proposal
[code]
instead of the current guidelines
[code]

But I wonder what was the rational of the current guidelines. Does anybody remember?

[2018-03-17 21:18] lrineau commented on #2356
I no longer see the warning in Chrome console. But anyway the changes from MathJax 2.1 to 2.7 are pretty long, and there are performance and usability improvements. I think we choose upgrade, after checking that there is no regression.

[2018-03-18 07:46] efifogel commented on #257
First, I agree with CGAL::Pkg::internal.
Secondly, I can only guess the origin of CGAL::internal::Pkg.
I think we first had only CGAL::internal, for types and functions that we
didn't want to expose.
Then, instead of reverting everything (as we propose to do now), people
started to add Pkg.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (____ (   (    (    (_/ (_/-(-'_

[2018-03-19 09:24] JamesYangLim opened #2939 "Corefinement Intersection Error"
## Issue Details

Hi all,

I was trying to do an intersection boolean operation with corefinement between a big box and a small box as shown below in the image. However the function throws an assertion violation inside intersection_of_coplanar_triangles_3.h.

The source code below is a very simple repeatable error.  Does anyone know why this assertion happens, yet for other small boxes sharing the

[2018-03-19 09:36] sloriot commented on #2936
My feeling is that these files should be included from Mesh_3 directly (before including `detect_features.h` in Mesh_3).

[2018-03-19 10:43] lrineau commented on #2142
Mael, this bug has been submitted almost one year ago. Since then, you worked on Periodic Mesh_3. So probably you have already chosen, and experimented. What were the conclusions?

[2018-03-19 10:51] MaelRL commented on #2142
I did not want to attack this problem with P3M3 because it would make it harder to see which changes in Mesh_3 are caused by changes necessary for P3M3. Thus, the only change that P3M3 brings to the Mesh_3 criteria is the transformation from `v->point()` to `tr.point(v)`.

I can also look into it, but it's probably not the most urgent task.

[2018-03-19 11:07] #1580 closed

[2018-03-19 16:49] lrineau commented on #2936
I agree with @sloriot. Anyway, the calling code has to include `<CGAL/Mesh_3/properties_Surface_mesh.h>` or `<CGAL/Mesh_3/properties_Polyhedron.h>`.

[2018-03-20 01:09] jjpepper commented on #2939
I have also seen this same assertion fire many times, but found it difficult to produce a simple case.  This is a very nice concise example.

[2018-03-20 01:13] jjpepper commented on #2414
Thanks very much @lrineau.

[2018-03-20 14:40] afabri commented on #2936
`CGAL::detect_features()` was originally in Mesh_3, before it was moved to PMP. The files `<CGAL/Mesh_3/properties_*.h>` could be moved to the packages Polyhedron and Surface_mesh. That is what we did for the properties needed for BGL algorithms.

[2018-03-20 18:18] sloriot commented on #2936
@afabri  I agree, I did not see that the suffix was Polyhedron and Surface_mesh.

[2018-03-21 15:28] lrineau commented on #1666
@maxGimeno Please write a summary of what was tested, and why that does not work.

[2018-03-21 16:15] sloriot commented on #2939
Thanks for the report, #2944 should fix the issue.

@jjpepper as soon as you have 2 meshes that produce an error (no matter how large they are) you can report that to me (provided you already checked that none is self-intersecting)

[2018-03-23 10:33] lrineau opened #2949 "Dependency of Linear_cell_complex on Polyhedron"
## Issue Details

[code]

That makes Linear_cell_complex (LGPL) depend on the Polyhedron package.

That is something we should solve before CGAL-4.12-beta2.

## Environment

* CGAL version: master 9ebc4c0453509827f2f5e0d32b74e05a5fbb2c0c

[2018-03-23 10:45] gdamiand commented on #2949
The second problem can be solved easily, replacing #include <CGAL/IO/Polyhedron_iostream.h> by #include <CGAL/IO/File_writer_OFF.h>.

For the first one, this is more complicated. But maybe this is not a problem: indeed this does not make Linear_cell_complex (LGPL) depend on the Polyhedron package; but makes BGL LCC depend on BGL Polyhedron; this stay in the BGL package and thus this is correct (?)

[2018-03-23 11:07] lrineau commented on #2949
For the moment, what you call "BGL Polyhedron" is shipped in the Polyhedron package. So, for the moment, LCC cannot be used with the Polyhedron package.

[2018-03-23 12:43] maxGimeno commented on #1666
First, I tested a simple program that includes CGAL/Polyhedron_3.h and only print "Hello World!". Coverage said 100%, but only tested my test.cpp.
Then I added  a Polyhedron_3 and nothing more. Coverage indicated that 100% of the file CGAL/Polyhedron_3.h was covered. I seriously doubt that the default constructor of Polyhedron_3 calls every single line of its header.

To perform that test, I added

[2018-03-23 13:39] gdamiand commented on #2949
Not LCC but only BGL LCC. If I use LCC outside BGL, it does not depend on Polyhedron and thus lgpl licence is fine.

[2018-03-23 14:55] lrineau commented on #2949
That is right.

What we are trying to compute now is a set of package-to-package dependencies. They are encoding in `<package>/package_info/<package>/dependencies`. For example, here is the full list of dependencies for LCC:
https://github.com/CGAL/cgal/blob/9ebc4c0453509827f2f5e0d32b74e05a5fbb2c0c/Linear_cell_complex/package_info/Linear_cell_complex/dependencies#L1-L29

That is true that it is an

[2018-03-23 15:49] gdamiand commented on #2949
The second problem should be solved by https://github.com/CGAL/cgal/pull/2953

I will have a deeper look at the first problem, not sure there is a simple solution.

[2018-03-23 17:40] gdamiand commented on #2949
For the first problem, in properties_Linear_cell_complex_for_combinatorial_map.h I use the two struct internal::Edge_index_accessor and internal::Point_accessor defined in properties_Polyhedron_3.h.

These two struct are small (about 10 lines of code each) thus I can copy/paste their code in properties_Linear_cell_complex_for_combinatorial_map.h (but this is not really pretty).

[2018-03-23 17:55] afabri commented on #2949
You can only copy it if you rename it or put it into a namespace. Let me see, if we can extract it and put it for example into BGL.

[2018-03-23 17:58] afabri commented on #2949
In which example or test is it used??

[2018-03-24 07:44] gdamiand commented on #2949
In some BGL tests, for example
  graph_concept_Linear_cell_complex.cpp
  test_bgl_read_write.cpp
  test_Euler_operations.cpp

[2018-03-24 07:46] jjpepper commented on #2939
Excellent.  Thanks @sloriot, I'll keep that in mind.

[2018-03-24 10:45] afabri commented on #2949
I moved the internal classes, so the dependency is gone.
Concerning the file `properties_Linear_cell_complex_for_combinatorial_map.h `  it should better be included directly by LCC or CC, or do you document this header somewhere so that uses know that they have to include it in order to use a BGL-style algorithm?

[2018-03-26 05:56] afabri commented on #2731
I am not sure if it is relevant for this PR, but it would make sense to tar -x   OpenMesh.tgz with a quiet option as I have to scroll too much for example [here](https://travis-ci.org/CGAL/cgal/jobs/357804482)

[2018-03-26 06:10] gdamiand commented on #2949
Thanks @afabri !

About properties_Linear_cell_complex_for_combinatorial_map.h, it is include in graph_traits_Linear_cell_complex_for_combinatorial_map.h and it is documented that the specialization of BGL for LCC is defined in this file; thus I think it is correct ?

[2018-03-26 07:13] maxGimeno commented on #2731
I'll look into it. In the meantime, you should use the raw log and ctrl+F instead of scrolling for hours in the calssic logs, that are almost always too long to be usable.

[2018-03-26 07:19] JamesYangLim opened #2956 "Corefinement Intersection Error"
Hi @sloriot,

I have tried your fix to the [corefinement intersection issue I recently submitted](https://github.com/CGAL/cgal/issues/2939) however I'm now getting a different assertion in the same file (intersection_of_coplanar_triangles_3.h), while doing a similar intersection calculation, as shown in the diagram below.

[code]

![image](https://user-images.githubusercontent.com/30457655/3789173

[2018-03-26 07:27] maxGimeno commented on #2356
I checked the result of doc_with_postprocessing on Triangulated Surface Mesh Segmentation and saw no regression with MathJax 2.7.2.

[2018-03-26 07:42] lrineau commented on #2731
By the way, let's close this issue, now that we have OpenMesh installed in Travis.

[2018-03-26 07:42] #2731 closed

[2018-03-26 08:38] MaelRL commented on #2928
Hello,

AFAIK, there is no nice 1-line function to compute the distance between two non-convex polygons in CGAL at the moment.

It is however something that would make sense to have so I will re-tag this issue as feature request.

In the meantime, there are some step-by-step solutions using CGAL, for example: https://www.quora.com/How-do-you-compute-the-distance-between-two-non-convex-polygons-in-

[2018-03-26 08:59] lrineau commented on #2922
Fixed by #2923.

[2018-03-26 08:59] #2922 closed

[2018-03-26 09:01] lrineau commented on #2939
Fixed by #2956.

[2018-03-26 09:01] #2939 closed

[2018-03-26 09:03] afabri commented on #2815
Triangulation_hierarchy_2/Triangulation_2/Constrained_triangulation_2 has 1/2/3 template parameters, which makes  it harder to generalize.

[2018-03-26 09:04] #2934 closed

[2018-03-26 10:13] sloriot commented on #2956
Thanks for the report. #2958 should fix the assertion.
Note that by convention, I decided that the intersection polygon will be empty since the volume will be empty.

[2018-03-26 10:17] efifogel commented on #2928
In the meanwhile you can compute the Minkowski sum of the two polygons and
then compute the distance between the origin and the Minkowski sum. (If the
two polygons intersect, the origin is located inside the Minkowski sum.)
You still need to work a bit in order to compute the distance between the
origin and a polygon.

   ____  _        ____             _
  /_____/_) o    /__________  __  //
 (___

[2018-03-26 13:37] sloriot commented on #2715
Shall the issue be closed and appveyor service disconnected from our repo?

[2018-03-26 13:42] maxGimeno commented on #2715
I do think so.

[2018-03-26 13:51] lrineau commented on #2715
I think I have removed the AppVeyor connection, now.

[2018-03-26 13:51] #2715 closed

[2018-03-26 14:11] lrineau commented on #2430
Fixed by #2932.

[2018-03-26 14:11] #2430 closed

[2018-03-27 09:13] #2936 closed

[2018-03-27 09:13] #2949 closed

[2018-03-27 09:19] sloriot opened #2959 "Demo: bbox in info is not updated after deformation of a polyhedron item."

[2018-03-27 16:11] lrineau opened #2962 "AABB_primitive< Id, ObjectPropertyMap, PointPropertyMap>: property maps must be CopyAssignable"
## Issue Details

In [the documentation of `AABB_primitive< Id, ObjectPropertyMap, PointPropertyMap>`][doc-4.12], it is said that the two property maps must be `DefaultConstructible`.

[doc-4.12]: https://doc.cgal.org/4.12/AABB_tree/structCGAL_1_1AABB__primitive.html

`CopyAssignable` and `CopyConstructible` should also be mentioned.

## Environment

* CGAL version: 4.12

[2018-03-27 16:15] lrineau opened #2963 "AABB_primitive< Id, ObjectPropertyMap, PointPropertyMap> should be constructible from an iterator (with value type `Id`)"
## Issue Details

[`AABB_primitive< Id, ObjectPropertyMap, PointPropertyMap>`][doc-4.12]: please add a constructor:
[code]
that constructs with `*it`.

[doc-4.12]: https://doc.cgal.org/4.12/AABB_tree/structCGAL_1_1AABB__primitive.html\

## Environment

* CGAL version: 4.12

[2018-03-27 18:50] sloriot commented on #2962
Only `CopyConstructible` is needed since `CopyAssignable` and `DefaultConstructible` are needed only if the default values are used in the constructor (and the fact that you use it implies that you now they are also model of those 2 concepts.

[2018-03-28 08:52] lrineau commented on #2962
In this constructor:
[code]
the `AABB_traits` object `m_traits` is constructed by default, and thus also the
shared data it contains (with `AABB_primitive`: the pair with the two
property maps). That explains the requirement for `DefaultConstructible` (at least in the case of shared data).

And, in AABB_traits:
[code]
Here the shared data is copy-assigned, and thus the property maps must also be `

[2018-03-28 13:45] sloriot commented on #2962
OK, I've updated the PR

[2018-03-28 16:14] lrineau commented on #2956
Fixed by #2958.

[2018-03-28 16:14] #2956 closed

[2018-03-30 08:48] lrineau opened #2970 "New warnings with clang 6.0"
## Issue Details

This week, on our testsuite platform ArchLinux, the clang compiler has been upgrader from 5.0.1 to [6.0.0].

[6.0.0]: http://releases.llvm.org/6.0.0/tools/clang/docs/ReleaseNotes.html

That created new `-Wunused-variable` warnings:
[code]

## Environment

* Operating system (Windows/Mac/Linux, 32/64 bits): ArchLinux
* Compiler: clang 6.0.0
* Release or debug mode: both
* Specific

[2018-03-30 09:50] #2959 closed

[2018-03-30 09:50] #2962 closed

[2018-03-30 09:50] #2963 closed

[2018-03-30 15:31] #2656 closed

[2018-03-30 19:03] acgetchell opened #2974 "c++17 incompatibility in Triangulation_3.h"
## Issue Details

/usr/local/bin/cmake --build /Users/adam/CDT-plusplus/build --target all -- -j 4
Scanning dependencies of target cdt
Scanning dependencies of target cdt-opt
Scanning dependencies of target cdt-gv
[ 40%] Building CXX object CMakeFiles/cdt-opt.dir/src/date/src/tz.cpp.o
[ 40%] Building CXX object CMakeFiles/cdt.dir/src/cdt.cpp.o
[ 40%] Building CXX object CMakeFiles/cdt-gv.dir/src/c

[2018-03-30 19:08] acgetchell commented on #2974
This error goes away if I set to C++14 using target_compile_features(cdt PRIVATE cxx_std_14)

[2018-03-30 19:11] acgetchell commented on #2974
Looks like this can be fixed by swapping std::random_shuffle with std::shuffle, e.g. clang-tidy modernize-replace-random-shuffle

[2018-03-31 06:38] lrineau commented on #2974
I think that is something that has been done for CGAL 4.12. You should try with CGAL-4.12-beta1.

[2018-04-02 14:49] acgetchell commented on #2974
Tried CGAL-4.12-beta1, still same issues.

[2018-04-03 04:19] unclejimbo opened #2975 "Vertex ordering in function make_icosahedron() is wrong"
## Issue Details

The vertex ordering is cw instead of ccw such that all face normals are inverted, see picture below:
![](http://7xllm5.com1.z0.glb.clouddn.com/icosahedron.png)
I inverted the ordering of one face and its normal is correct.

## Source Code

I output the mesh into an off file as follows

[code]

## Environment

* Operating system (Windows/Mac/Linux, 32/64 bits):
* Compiler:
* Relea

[2018-04-03 07:57] lrineau commented on #2975
@maxGimeno I think you are the author. Could you try to reproduce (or not), and eventually fix. The bug is against CGAL-4.11.1. Please work the `releases/CGAL-4.11-branch`.

[2018-04-03 07:59] lrineau commented on #2974
Indeed. I had the sensation of déjà-vu, but I cannot find anything. Maybe I was aware of the deprecation, but forgot to fill the issue and the PR.

[2018-04-03 08:13] afabri commented on #2975
It is not an error, as it is not specified, but  I agree that all the funcions that generate a mesh should have the same orientation, and that must be documented.

[2018-04-03 09:13] lrineau opened #2977 "CGAL-4.12-beta1 (and beta2) do not handle WITH_GMPXX"
## Issue Details

The CMake variable `WITH_GMPXX` is ignored.

## Source Code

I have a work in progress:
[code]

## Environment

* Operating system (Windows/Mac/Linux, 32/64 bits): all
* Compiler: all
* Release or debug mode: all
* Specific flags used (if any): CMake variable `WITH_GMPXX=ON`
* CGAL version: CGAL-4.12-beta1

[2018-04-03 09:52] mikolaj24 commented on #2928
@efifogel can You put any source of code?

[2018-04-03 10:19] efifogel commented on #2928
#include <CGAL/Exact_predicates_exact_constructions_kernel.h>
#include <CGAL/minkowski_sum_2.h>

typedef CGAL::Exact_predicates_exact_constructions_kernel Kernel;
typedef CGAL::Polygon_2<Kernel>                    Polygon_2;
typedef CGAL::Polygon_with_holes_2<Kernel>         Polygon_with_holes_2;

Polygon_2 P, Q;
// Populate P & Q
Polygon_with_holes_2 sum = CGAL::minkowski_sum_2(P, Q);
auto d = fi

[2018-04-03 14:09] lrineau commented on #2970
The warnings were fixed in [CGAL-4.12_ic-213][*].

[*]: https://cgal.geometryfactory.com/CGAL/testsuite/results-4.12-Ic-213.shtml

[2018-04-03 15:01] CathDoiron opened #2981 "Floating point overflow when loading CGAL-vc140-mt-gd-4.10.1.dll"
## Issue Details

There is a floating point overflow when I load CGAL-vc140-mt-gd-4.10.1.dll.

This is in the file include\CGAL\FPU.h, at line 128:
const double infinity = HUGE_VAL;

This line is exactly the same with CGAL 4.11.1, so I believe the same issue occurs with the latest CGAL version.

It only happens with Visual Studio 2015. It looks like the definition of HUGE_VAL changed in math.h bet

[2018-04-03 15:21] lrineau commented on #2981
With CGAL, if you set the exception mask of the FPU like you did, with `_EM_UNDERFLOW | _EM_INEXACT`, you will get a lot of exceptions. What did you expect?

[2018-04-03 15:44] CathDoiron commented on #2981
No I used CGAL with Visual Studio 2010 and 2013 before, and I didn't get any floating point exceptions (_EM_INVALID, _EM_ZERODIVIDE or _EM_OVERFLOW). Now with Visual Studio 2015, the library won't even load because of this _EM_OVERFLOW.

I know I will have _EM_INEXACT exceptions, this is why I disable them.

[2018-04-03 15:45] #2970 closed

[2018-04-03 16:07] lrineau commented on #2981
That code dates from a long time ago: https://github.com/CGAL/cgal/commit/66e685efae6edc405175aeb0568f82e8701e64d6

Maybe it's time to use `std::numeric_limits<double>::infinity()` on all platforms.

Would it solve your issue?

[2018-04-03 17:51] CathDoiron commented on #2981
You can check `std::numeric_limits<double>::has_infinity` if you still support old compilers.

I will modify the code, recompile CGAL, and test again to see if I still have an overflow.

[2018-04-03 20:39] CathDoiron commented on #2981
Yes issue is fixed when I use `std::numeric_limits<double>::has_infinity` instead of `HUGE_VAL`.

[2018-04-04 08:58] lrineau commented on #2981
`std::numeric_limits<double>::has_infinity` must be `true` on all the platforms CGAL support (implementing IEEE 754).

The problem, long ago, was about compilers with incomplete or buggy support of the header `<limits>`. But all the platforms CGAL support now have a correct `<limits>` header, as far as I know. We can certainly drop the use of `HUGE_VAL`, and use `std::numeric_limits<double>::infin

[2018-04-04 09:16] lrineau commented on #2974
@afabri I think the moment when we saw that error with `random_shuffle` being removed from C++17 was when we tried MSVC 2017 with C++17 (compilation flag `/std:c++latest`).

It seems Boost 1.67 beta [is supposed to support it Apple Clang 9.00 with C++17][*] so that means that they have removed their internal uses of functions removed from C++17.

  [*]: https://www.boost.org/users/history/version_

[2018-04-04 12:13] mglisse commented on #2981
AFAICS internal::infinity is used in a single place in Interval_nt.h, we might as well remove the variable infinity and use numeric_limits directly in Interval_nt.h. We already use numeric_limits in several other files.

[2018-04-04 12:31] lrineau commented on #2981
@mglisse You are right. That would be the more readable.

[2018-04-05 08:33] lrineau opened #2989 "CGAL Testsuite: Keep our Visual Studio 2017 update to date"
@CGAL/geometryfactory

On our Windows testsuite machine named `gauguin,` Visual Studio 2017 is version 15.5.

However, as of today (2018/04/05), the [last released version] is 15.6.5, and there is even a [preview] for 15.7.

[last released version]: https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes
[preview]: https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs201

[2018-04-05 08:34] lrineau commented on #2989
The Boost version on that machine should also be the last one: 1.67-beta.

[2018-04-05 15:14] MaelRL opened #2993 "STL_extension: regroup and populate CGAL/Functional.h"
## Issue Details

The CGAL boost/std picking shenanigans for `<functional>` (e.g. `function`) as well as forked deprecated std tools (e.g. `unary_function`) are split between multiple files in the package `STL_extension`. They should be merged and other useful tools such as `ref` should also be added.

Edit: note https://github.com/CGAL/cgal/pull/2985#issuecomment-381060798

[2018-04-05 15:15] hrdkjain opened #2994 "Order of vertices changes after surface mesh parametrization"
## Issue Details
In _square_border_parameterizer example_ of Triangulated Surface Mesh Parameterization, after parametrisation completes and the resultant UV Map is saved as off file in
https://github.com/CGAL/cgal/blob/5c9285f84fac459714a799f6b42d76b03c68318a/Surface_mesh_parameterization/examples/Surface_mesh_parameterization/square_border_parameterizer.cpp#L139
the resultant off file has vertic

[2018-04-06 09:09] MaelRL commented on #2994
The ordering is intentionally discarded because in the case of a mesh with multiple components, only the connected component that you specify via the border halfedge `bhd` is parameterized. You will then not have a nice 1-to-1 correspondence with your input anyway.

I imagine that it would be possible to always have vertices in the output in the same order as the input, even if you only parameteri

[2018-04-06 12:41] MaelRL opened #2996 "The CGAL 3D demo doesn't compile without Eigen"
## Issue Details

See title. For example:

[code]

## Environment

* CGAL version: master

[2018-04-06 15:17] lrineau opened #2998 "Mesh_3: (rare) assertion error in `test_meshing_implicit_function` (`volume >= volume_min' failed.)"
## Issue Details

https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.12-Ic-218/Mesh_3/TestReport_lrineau_ArchLinux-CXX14.gz
[code]

[2018-04-06 15:33] yobeonline opened #2999 "[Crash] Constrained 2D Delaunay triangulation: assertion violation!"
## Issue Details

A crash occurs when inserting a set of constraints that touch each-other (no "full" intersection nor common point)
![config](https://user-images.githubusercontent.com/6747553/38429915-1dbf7592-39c0-11e8-8255-5e8abd7d4d09.png)

On a debug executable, the following message is displayed:

The defect is very sensitive to there being three constraints, and the order in which the point

[2018-04-06 15:34] yobeonline commented on #2999
So close to #3000…

[2018-04-06 15:37] #2981 closed

[2018-04-06 15:46] lrineau commented on #2999
p1, p2, and p3 are not collinear.

[code]

Anyway, I can reproduce the bug with `master`.

[2018-04-06 15:52] lrineau commented on #2999
I assign the bug to Andreas Fabri, author of `Triangulation_2/include/CGAL/Polyline_constraint_hierarchy_2.h`, where the assertion is triggered.

It seems `]p3, p4]` and `]p3, p5]` do intersect `[p1, p2]`, but the intersection is tiny. Maybe the bug is because of that.

If we remove `CGAL::Constrained_triangulation_plus_2` from the equation, the crash disappear (but probably the produced triangula

[2018-04-06 15:57] lrineau commented on #2975
Fixed by #2976.

[2018-04-06 15:57] #2975 closed

[2018-04-07 10:29] hrdkjain commented on #2994
Thanks for the quick response, your suggestion seems to work as I wanted.

I had to add further lines to your code to make it a function for writing off files. And yes this assumes a single connected component.

[code]

[2018-04-07 10:29] #2994 closed

[2018-04-09 07:03] DamonsJ opened #3000 "Bad results after MST normal orientation and Poisson reconstruction"
[Keypoints.txt](https://github.com/CGAL/cgal/files/1888743/Keypoints.txt)

_Please use the following template to help us solving your issue._

## Issue Details

I want to estimate normals of point cloud using pca_estimate_normals, but i found it generates very bad result compare with pcl using same parameters(k neighbor )

test file is attached in the attachment:please change the file extension to

[2018-04-09 07:32] sgiraudot commented on #3000
- Are the normals in your point set the result of the PCL algorithm?
- What is the value of `nb_neighbors_pca_normals`?
- Can you also share the source code of the PCL version so we can compare?

[2018-04-09 07:42] DamonsJ commented on #3000
1. the normals in my point set is not the result of pcl or cgal,it is the origin.
2. nb_neighbors_pca_normals is 18or 6or 10 ,every parameter generates bad result.
    when i say bad result you need to perform mst_orient_normals function after pca_estimate_normals
3.  i can not find the source code of pcl currently,but you can try the open source softe named
    CloudCompare :http://www.cloudcompa

[2018-04-09 08:08] #2996 closed

[2018-04-09 09:49] lrineau commented on #2356
I have updated to MathJax 2.7.4, at https://doc.cgal.org/MathJax/. All seems well.

[2018-04-09 09:53] #2356 closed

[2018-04-09 10:02] lrineau commented on #2977
Fixed by #2982.

[2018-04-09 10:02] #2977 closed

[2018-04-09 11:01] sgiraudot commented on #3000
[**@DamonsJ**](https://github.com/DamonsJ) commented on [9 avr. 2018 à 09:42 UTC+2](https://github.com/CGAL/cgal/issues/3000#issuecomment-379663390 "2018-04-09T07:42:19Z - Replied by Github Reply Comments"):

Could you also share the parameters for these functions? I can't get a good reconstruction using these steps on CloudCompare, but I believe this is strongly dependent on the parameters…

I'm

[2018-04-10 08:10] MaelRL commented on #2639
I was looking into fixing #1261 on all triangulations, and I ran into this issue since two weighted points are currently equal regardless of their weight.

The current weighted point comparison operators are (ab)used in quite a few places, for example in the triangulation packages for the location and move functions.

In my opinion, this should all be cleaned to use proper bare points when needed

[2018-04-10 12:59] lrineau opened #3005 "Mesh_criteria_3: lambda-expressions should be MeshDomainField_3"
## Issue Details

In `CGAL::Mesh_criteria_3`, lambda expressions with the right signature (`FT(Point_3, int, Index)`) should be considered as vaild `MeshDomainField_3`.

## Environment

* CGAL version: CGAL-4.12

[2018-04-10 13:27] CathDoiron commented on #2981
Awesome. Thank you gentlemen.

[2018-04-11 02:48] DamonsJ commented on #3000
sorry for replying late.
here is all the step i used in cloudcompare and the result shown in the attchment.
all the code i used also attached in the attachment .
please read readme.txt first.
very thanks for checking this problem.

![step1](https://user-images.githubusercontent.com/28893028/38593799-c2ceacca-3d75-11e8-986b-22e8b91485c3.png)
![step2](https://user-images.githubusercontent.com/288930

[2018-04-11 08:11] lrineau commented on #2667
@sloriot Should it be reported upstream?

[2018-04-11 11:05] sloriot commented on #2667
is 1.8.13 the compiled shipped by doxygen or one that you compiled yourself?

[2018-04-11 12:04] lrineau commented on #2667
You mean "shipped by cygwin"?

@janetournois, which doxygen did you use?

[2018-04-11 16:37] lrineau opened #3011 "Mesh_domain_with_features_3: add `add_corner()` and `add_corner_with_context()`"
## Issue Details

Feature request: in the class template `CGAL::Mesh_domain_with_features_3`, you may need to add isolated vertices as corners, in the mesh (like the tip of a 3D cone), or register that a corner is incident to specific surfaces (imagine the intersection of a 1D polylines, like a well, with a surface).

(Cc @SLopezBRGM)

[2018-04-11 19:48] MaelRL commented on #3011
`add_corner()` is already being added as part of P3M3 (https://github.com/CGAL/cgal/pull/2658/commits/d6f0061181e1e3a35e1c0e0345b6c2082fbb5849).

It can be cherry-picked or I can look into the context version, as you prefer.

[2018-04-11 20:46] ahmadhasan2k8 opened #3012 "PLY reading problem"
## Issue Details

_When I read PLY files the points are wrong if the file has extra properties such as view_px, focal, viewpoert etc._

## Source Code

[code]
CMakeLists.txt
[code]
cldRGB0.ply
[code]
cldRGB.ply
[code]
*Current Output:
[code]
*Expected Output:
[code]
## Environment

* Operating system (Windows/Mac/Linux, 32/64 bits): Ubuntu 16.04
* Compiler: gcc 5.4
* Release or debug mode: Release

[2018-04-12 00:46] tomkulaga commented on #2414
I've found some issues compiling with /permissive-
`` c:\dev\cgal-4.11\include\cgal\sweep_line_2\arr_overlay_traits_2.h(410): error C2760: syntax error: unexpected token 'identifier', expected ';' ``
``c:\dev\cgal-4.11\include\cgal\aabb_traits.h(290): error C3861: 'longest_axis': identifier not found``

Those are the start.

Tested with CGAL 4.11 and 4.12beta1/2  and boost 1.65_1 and 1.67_beta All

[2018-04-12 08:02] lrineau commented on #3011
I knew we had already talked about that! I searched in the PR and issues, but did not found the discussion. I had forgot that it was in the P3M3 branch.

Well, ... anyway that new feature will only be in CGAL-4.13, so why not through your branch?

The point about `add_corner_with_context()` is how can we declare that a corner is incident to a given surface patch. With `add_corner()`, that corner m

[2018-04-12 09:38] sgiraudot commented on #3012
Thank you very much for this very complete bug report!

I found the source of the bug, I'm going to submit a pull request.

[2018-04-12 09:57] sgiraudot commented on #3012
The bug is fixed in this branch: https://github.com/CGAL/cgal/pull/3013

(If you want to integrate it, it's only two added lines.)

[2018-04-12 10:04] ahmadhasan2k8 commented on #3012
You are welcome. Thanks for figuring it out.

[2018-04-12 14:31] lrineau opened #3016 "In-source `cmake -DCGAL_HEADER_ONLY=ON .` modifies the sources"
## Issue Details

Take a Git checkout of `cgal/master`.

At the root:
[code]

then after that there is a diff:
[code]

## Environment

* CGAL version: CGAL-4.12-beta2

cc @maxGimeno

[2018-04-12 14:51] MaelRL opened #3017 "Reload with empty file makes the 3D demo segfault"
Load a polylines.txt file with e.g. `2 0 0 0 0 0 1`, clear it, reload the item --> the demo segfaults.

[2018-04-12 14:57] lrineau commented on #3011
You are right: that could be added to 4.12 as non-documented functions. That would be useful.

[2018-04-12 15:31] lrineau opened #3018 "doc.cgal.org: add Javascript code to allow changing the version of CGAL"
## Issue Details

In all CMake documentation pages, like [this one](https://cmake.org/cmake/help/latest/command/string.html), there is a small menu that allows to change the version of CMake:

![screenshot_20180412_172555](https://user-images.githubusercontent.com/5746675/38687260-cc5fc486-3e65-11e8-9b36-a36077b7f097.png)

![screenshot_20180412_172627](https://user-images.githubusercontent.com/574

[2018-04-12 18:37] ahmadhasan2k8 commented on #3012
So, I tried the solution and it works. Thanks.

[2018-04-13 09:08] lrineau commented on #2415
See also [the documentation of the `/std` option](https://docs.microsoft.com/en-us/cpp/build/reference/std-specify-language-standard-version).

`/std:c++latest` now enables some C++20 features implemented in MSVC 2017. There is `/std:c++17` to enable only C++17.

I think some of our users will like to use `/std:c++latest`. We should support it, if Boost supports it as well.

[2018-04-13 13:55] sloriot opened #3022 "Add a plugin using Metis partitionning"
Using the two functions introduced in BGL [[1](https://cgal.geometryfactory.com/CGAL/doc/master/BGL/group__PkgBGLPartition.html#gae7e37b6101e63f4c5959f1ae6c6fe7d2)][[2](https://cgal.geometryfactory.com/CGAL/doc/master/BGL/group__PkgBGLPartition.html#ga145334c09252126cfc87c6000263eb1d)], it would be nice to have a plugin that can apply the partition to a mesh. Then maybe either something in the con

[2018-04-13 14:37] riaqn opened #3024 "General kernel support in Mesh_skeletonization"
## Issue Details

Currently there are some uses of double in the code of Mesh_skeletonization, making it impossible to use kernel other than inexact ones.

## Environment

* Operating system (Windows/Mac/Linux, 32/64 bits): Linux 64bit
* Compiler: gcc 7.3.1
* Release or debug mode: release
* Specific flags used (if any):
* CGAL version: 4.11
* Boost version:1.66.0
* Other libraries versions if use

[2018-04-13 15:10] sloriot commented on #3024
Are you simply reporting a documentation error or are you really interested by having the code working on points from an exact construction kernel? In the latter case, what do you expect to get compared to using floating point?

[2018-04-13 15:15] riaqn commented on #3024
Hi @sloriot  thanks for the reply.

I don't know - I was using it to contract a mesh(for only once) and while the source mesh is free of self-intersection, the meso_skeleton() is not. So I assume it might have to do with the exact-ness.

[2018-04-13 15:25] sloriot commented on #3024
The meso-skeleton is by construction not guaranteed to no self-intersect. The only guarantee you have is that it has the same topology as the input mesh.

[2018-04-13 15:30] riaqn commented on #3024
Hmm, do you know if there is anything I can do to achieve the same goal?

[2018-04-13 16:37] lrineau commented on #2999
Ping @afabri. That seems a real bug of the CDT_2 with hierarchy.

[2018-04-13 18:10] jasjuang opened #3025 "Question on the effect of CMAKE_BUILD_TYPE for downstream project"
## Issue Details

With the latest CGAL, when I build it without specifying `CMAKE_BUILD_TYPE`, I will get the below warning when configuring CMake,

[code]

after specifying `CMAKE_BUILD_TYPE` to Release and build it, while I am using CGAL with my downstream with

[code]

I get the same warning if I didn't set `CMAKE_BUILD_TYPE` to Release for my downstream project. Which is a bit confusing to me

[2018-04-15 11:15] afabri commented on #2993
We also have a file `STL_extension/include/CGAL/function.h`

[2018-04-15 17:36] afabri commented on #2415
`OpenMesh` is not yet `/std:c++latest`-ready.

[2018-04-15 22:07] tomkulaga commented on #2414
Hi, Sorry, here are some more detials

[code]
here is the error:

Compile Command used by MSVC:
`D:\Program Files (x86)\Microsoft Visual Studio\Preview\Community\VC\Tools\MSVC\14.14.26329\bin\HostX86\x64\CL.exe /c /IC:\dev\QtPCB_msvc\Sandbox /IC:\dev\QtPCB\build\CMake\Sandbox /IC:\dev\QtPCB_msvc\Sandbox\Sandbox_autogen\include_Debug /IC:\dev\QtPCB\build\CMake\Sandbox\..\..\..\include /IC:\local\bo

[2018-04-16 07:12] janetournois commented on #2415
just note that on Friday I added `/std:c++latest` to our MSVC2017-Debug testsuite (on Gauguin).
So it has been tested since [-4.12-Ic-225](https://cgal.geometryfactory.com/CGAL/testsuite/results-4.12-Ic-225.shtml)

[2018-04-16 07:58] lrineau commented on #2999
@afabri

The submitted code also works well with CGAL-4.5.1, just before the new `Triangulation_2/include/CGAL/Polyline_constraint_hierarchy_2.h` was introduced.

[2018-04-16 08:03] maxGimeno commented on #2415
I downloaded the currently latest stable released of eigen, the 3.3.4, on gauguin, and updated the setup_common accordingly.

[2018-04-16 09:31] lrineau commented on #2414
Thanks @tomkulaga. So you use `/std:c++14` in addition to `/permissive-`. And Boost 1.67beta1. That probably explains the difference with our test platform.

Anyway, for CGAL-4.12, we plan to support `/std:c++latest` in addition to `/permissive-` (with Boost-1.67beta1 as well). Probably before the end of the week we will have the fix.

[2018-04-16 09:47] sloriot commented on #3025
Are you using CGAL in header only, without initial configuration of the library?

[2018-04-16 09:54] lrineau commented on #3025
@jasjuang Actually CGAL is a library of templates, and as such almost all of its code is compiled only during the compilation of the downstream project, when CGAL templates are used (instantiated). That is why that is important, for a project using CGAL, to use the compiler optimizations.

[2018-04-16 10:33] sgiraudot commented on #3000
I'm sorry but I can't seem to reproduce your results with CloudCompare. Using normal estimation + normal orientation, both with 18 neighbors using exactly the algorithms you use in your screenshots, I get quite a bad result with _CloudCompare_, see left image here (the result using the same parameters with PCA + MST in CGAL is given as a comparison on the right):
![normals](https://user-images.git

[2018-04-16 13:01] #3018 closed

[2018-04-16 14:31] jasjuang commented on #3025
@lrineau Thanks a lot for the explanation.

[2018-04-16 14:31] #3025 closed

[2018-04-17 01:42] DamonsJ commented on #3000
thanks  for giving me hint,would please share your code which can generate result on the right?
by the way I used Eigen in CGAL.
Thanks very much

[2018-04-17 07:45] sgiraudot commented on #3000
[**@DamonsJ**](https://github.com/DamonsJ) commented on [17 avr. 2018 à 03:42 UTC+2](https://github.com/CGAL/cgal/issues/3000#issuecomment-381802765 "2018-04-17T01:42:57Z - Replied by Github Reply Comments"):

I'm using the following piece of code:
[code]

I'm using `CGAL::Point_set_3` for convenience, but it shouldn't change anything that you are using pairs of points + vectors.

I compiled using

[2018-04-17 17:56] sloriot opened #3030 "Adding polygon repairing using winding-number"
The [arrangement book](http://acg.cs.tau.ac.il/cgal-arrangement-book) provides details and even an implementation of how to fix self-intersecting polygons. It would be nice to have the code included into CGAL.

Here are some remarks on the current implementation:
- The curves associated to halfedges of the output polygon are in some cases the opposite of what they should be. We can check for examp

[2018-04-19 03:05] ahmadhasan2k8 opened #3031 "mst_orient_normals Memory issue"
## Issue Details

I have a multiple scanned point clouds where I calculate normals using CGAL. I run a Screened Poisson Reconstruction afterwards so I also orient the normals using mst_orient_normals. Now, because the data is scanned, sometimes there are islands of points even after some outlier removal which makes orienting the normals difficult unless I increase the nb_neighbors for mst_orient_n

[2018-04-19 11:52] lrineau commented on #2998
See also at https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.12-Ic-230/Mesh_3/TestReport_lrineau_ArchLinux.gz

[2018-04-20 01:15] DamonsJ commented on #3000
@sgiraudot thanks very much
I have used Eigen in my cgal and I get the same result as yours. Thanks very much!
By the way,I use the point set after normal estimate(right result) to reconstruct surface(using possion surface reconstruct) and can not get a good result, how can I set the parameters to get a good result?
The code I used is in the last attachment.
Thanks
here is what I generate using po

[2018-04-20 02:46] jasjuang opened #3033 "Feature Request: make mst_orient_normals keep the original indices or return information on how the indices are ordered"
## Issue Details

I have a set of colored point cloud and the normals are calculated with pca_estimate_normals or jet_estimate_normals. The problem is the estimated normals might have wrong orientation, so we need to use mst_orient_normals to re-orient it to the right direction, but the problem is the indices are re-organized by mst_orient_normals as shown in line 635 of https://github.com/CGAL/cg

[2018-04-20 05:27] sloriot commented on #3033
I'm pretty sure you can already do that using the point and normal property maps. You only have to provide a different container to be sorted while your points stay where they are. That's what is done basically in the following [example](https://doc.cgal.org/latest/Spatial_sorting/Spatial_sorting_2sp_sort_using_property_map_3_8cpp-example.html).

[2018-04-20 05:28] #3033 closed

[2018-04-20 08:48] #2820 closed

[2018-04-20 08:48] #3016 closed

[2018-04-20 09:17] lrineau opened #3035 "Use (boost|std)::result_of instead of boost::tr1_result_of"
## Issue Details

In CGAL, (current version `master` aka CGAL-4.12-beta2), `CGAL::cpp11::result_of` uses `boost::tr1_result_of`:

https://github.com/CGAL/cgal/blob/66d8d5a8463c5a4481590b4ba89330148324a3d1/STL_Extension/include/CGAL/result_of.h#L41-L51

The conditionals deal with the fact that `boost::result_of` was implementing the TR1 semantic before 1.44, and from 1.44 the TR1 implementation was

[2018-04-20 09:42] MaelRL commented on #3035
Just regarding the `Compute_x_3` part, there is no such thing as `Compute_x_3(Weighted_point_3)`, `Compute_x_3` takes only a `Vector_3` or a `Point_3`.

It simply is bugged in `Weighted_point_3.h`. It should be:
[code]

Maybe it compiles right now because it just grabs the `result_type` typedef and with other version it actually tries to match the signature.

[2018-04-20 11:53] sloriot opened #3037 "Add the possibility to stitch per connected components"
Add in the demo an action to stitch border edges per connected components. I think even the pmp function should be able to do it thanks to an option given as a named parameter.

[2018-04-20 13:09] #3012 closed

[2018-04-20 14:58] jasjuang commented on #3033
@sloriot Thank you so much for the pointer.

[2018-04-22 01:01] HugoDRV opened #3040 "Delaunay_triangulation_2<Gt> does not inherit Triangulation_2<Gt>"
## Issue Details

The default template parameter Tds for Delaunay_triangulation_2<Gt> is different of the default template parameter Tds for Triangulation_2<Gt>. (Specifically, the former does not specify a Triangulation_face_base_2, which then defaults to a version without a Traits class).

This is annoying if I want to build a triangulation that is Delaunay, and then treat it like a non-Delaunay

[2018-04-22 04:30] aya564535699 opened #3041 "How to get the Index of boundary point using Alpha_Shape_2?"
_Please use the following template to help us solving your issue._

## Issue Details

_When I use the Alpha_Shape_2 code in example, i want get the index of boundary point.but i don't search the function though reading the document. Who can help me to get the boundary point index?
Thank you!

## Source Code
[code]
## Environment

* Operating system (Windows/Mac/Linux, 32/64 bits):Windows 10 64 bit

[2018-04-22 08:45] aya564535699 commented on #3041
@Andreas Fabri can you help me for the issue?thank you!

[2018-04-23 01:25] tomkulaga commented on #2414
Just wanted to let you know i repeated my above tests with /std:c++latest and /std:c++17 and I still have issues

[2018-04-23 08:12] lrineau commented on #2414
We had difficulties with the C++17 mode of VC++ deprecating a lot of things we use. Our work is still ongoing, in PR #2985.

[2018-04-23 08:15] lrineau commented on #3041
[**@aya564535699**](https://github.com/aya564535699) commented on [Apr 22, 2018, 10:45 AM GMT+2](https://github.com/CGAL/cgal/issues/3041#issuecomment-383365529 "2018-04-22T08:45:44Z - Replied by Github Reply Comments"):

His Github ID is @afabri.

[2018-04-23 08:26] aya564535699 commented on #3041
@lrineau Thank you!Can you help me?I want to get the index of boundary point using the method of Alpha_shape_2 itself. Because the runtime of My code is to long.i hope get a method is very quick.

[2018-04-23 09:06] MaelRL commented on #3040
There is indeed an issue between what the doc says and what the code does, but the problem is more that `Triangulation_2` shouldn't use `Triangulation_face_base_2`, which is a remnant class that should have been removed and doesn't bring anything anymore.

It will be fixed in the future in another branch that is working on the triangulation packages.

In the meantime, I don't know what exactly you

[2018-04-23 15:54] sloriot commented on #3024
I don't think we have anything like that in CGAL for now.

[2018-04-23 15:54] #3024 closed

[2018-04-24 09:40] sloriot opened #3044 "Add missing operator for Ray_3 in Construct_projected_point_3."
## Issue Details

`Construct_projected_point_3` and concept `ConstructProjectedPoint_3` have operators for a line and a segment but for a ray

## Source Code

A simple implementation is:
[code]
Then it's just a matter of copy-pasting what is done for segment or line.

[2018-04-24 15:42] #2439 closed

[2018-04-24 15:42] #2974 closed

[2018-04-25 10:21] sloriot opened #3047 "PMP::do_intersect not working with custom vpm"
The following program does not compile I think it should:

https://gist.github.com/sloriot/e2cbd672d700708d850e714a6cf363f9

[2018-04-25 10:23] sloriot opened #3048 "Adding a function transform in PMP"
Add a transform function in PMP that is taking a mesh and apply a `CGAL::Aff_transformation_3` on it.

[2018-04-25 10:24] sloriot opened #3049 "read/write_off function should be using named parameters for vpm"
`read_off` and `write_off` should be using named parameters to change the default vertex point map.

[2018-04-25 10:25] sloriot opened #3050 "use named parameters in copy_face_graph"
The function `copy_face_graph` has a strange API and should be using optional named parameters for the 3 output iterator and the two named parameters.

[2018-04-25 10:29] sloriot commented on #3048
It can be used in the demo plugin I guess (that should basically contain all the code).

[2018-04-25 10:31] sloriot opened #3051 "Add a read/write property map than convert point between one Kernel to another"
It should document that `Cartesian_converter` is used internally for the conversion

[2018-04-25 12:04] maxGimeno commented on #3048
The demo does not use an Aff_transformation_3, it uses QMatrix4x4.

[2018-04-25 15:20] lrineau opened #3054 "TODO-list for the release 4.12"
- [x] Email the announcement
- [x] Publish the Windows demos of 4.12
- [x] Update the image of https://upcoming.cgal.org/releases.html
- [x] Compile CGAL-4.12 on my machine
- [x] verify `CGAL_RELEASE_DATE` in `CGAL/version.h`
- [x] RPM packages
- [x] Manage the Github milestones

[2018-04-25 21:19] ornamentist opened #3055 "Add an equality test to Aff_transformation_2 and Aff_transformation_3 classes"
## Issue Details

Could we have an equality test for the affine transform classes Aff_transformation_2 and Aff_transformation_3?  This is very useful (perhaps essential) for writing tests for client code that creates and manipulates affine transforms.

## Environment

* Operating system (Windows/Mac/Linux, 32/64 bits): all
* Compiler: all
* Release or debug mode: all
* Specific flags used (if any)

[2018-04-25 21:29] ornamentist opened #3056 "Add support for reflections, glide reflections to Aff_transformation_2"
## Issue Details

Could we have methods on the Aff_transformation_2 class to create a reflection about a line and a glide reflection about a line?  There is an existing issue for 2D reflections (https://github.com/CGAL/cgal/issues/1216) which seems to be stalled.

I realize a glide reflection is a reflection composed with a translation but the Aff_transformation_2 class could do this more cleanly

[2018-04-26 00:12] tomkulaga commented on #2414
Hi,

Ive tried the latest 4.12 release and I still get the same exact issue. test code as aobve

compile command

`2>    D:\Program Files (x86)\Microsoft Visual Studio\Preview\Community\VC\Tools\MSVC\14.14.26412\bin\HostX86\x64\CL.exe /c /IC:\dev\QtPCB_msvc\Sandbox /IC:\dev\QtPCB\build\CMake\Sandbox /IC:\dev\QtPCB_msvc\Sandbox\Sandbox_autogen\include_Debug /IC:\dev\QtPCB\build\CMake\Sandbox\..\..\

[2018-04-26 07:58] lrineau commented on #2414
@tomkulaga Could you send us that file `C:\dev\QtPCB\source\Sandbox\main.cpp`, so that we can test it locally? (You can upload it on https://gist.github.com/ and copy the link here.)

[2018-04-26 08:26] tomkulaga commented on #2414
@lrineau
The code snippet I pasted above is the entirety of main.cpp.

Sorry should have mentioned that.

Does that snippet compile on your end?

It seems on my end the inclusion of AABB_traits triggers the compile error, in the most simplest of code.

Should I try in header only mode?

[2018-04-26 08:39] lrineau commented on #2414
I created a minimal gist, with the `CMakeLists.txt` and `test-bug.cpp`:
https://gist.github.com/341b7fd0002c988797dbf05d57504e62

On Linux it compiles fine.

@janetournois Could you try with CGAL-4.12 (or master) and `/permissive- /std:c++latest`?

[2018-04-26 10:17] janetournois commented on #2414
I just tested the compilation of this example, with
- Visual 2017, 64 bits
- CGAL-4.12-beta2 (header only)
- boost 1.67 beta1
- `/permissive- /std:c++latest`

and it compiles fine too.

With the same configuration and CGAL-4.12-beta2 not header only, I get warnings in `CGAL/handle_for.h`, but no errors.

[2018-04-26 11:32] tomkulaga commented on #2414
How about dull version?

[2018-04-26 11:32] tomkulaga commented on #2414
Dll sorry

[2018-04-26 11:49] janetournois commented on #2414
dll version of CGAL?

[2018-04-26 11:50] tomkulaga commented on #2414
Yup. The build shared libs cmake flag

[2018-04-26 11:51] lrineau commented on #2414
@tomkulaga

You are actually using a preview version of Visual Studio 2017 version 15.7, where as we tested with Visual Studio 2017 version 15.6. That must be it.

[2018-04-26 11:52] tomkulaga commented on #2414
I'll give 15.6 a try on my end using your first and report back

[2018-04-26 11:53] janetournois commented on #2414
Ok thanks.
"build shared libs" is what I did in the non-header only version.

[2018-04-26 11:54] tomkulaga commented on #2414
Oops overlooked that. Sorry

[2018-04-26 12:02] lrineau commented on #2414
[**@lrineau**](https://github.com/lrineau) commented on [Apr 26, 2018, 1:51 PM GMT+2](https://github.com/CGAL/cgal/issues/2414#issuecomment-384612791 "2018-04-26T11:51:36Z - Replied by Github Reply Comments"):

The question, now, is: is that a *bug* of that preview version of 15.7, that will be fixed, or will it be the behavior of the future official VC++ 2017 version 15.7?

I can see why the code

[2018-04-26 12:52] #2415 closed

[2018-04-26 13:59] lrineau commented on #2414
I can confirm the compilation error with MSVC 2017 15.7 Preview 4.

[2018-04-27 13:36] maxGimeno commented on #3047
It is documented that the two property map types must be the same. It is not the case in your program, so I don't think it is a bug.
We can still change the doc and make it work though.

[2018-04-27 14:29] MaelRL commented on #3011
See a6d8d4a and 6c88391.

[2018-04-27 16:19] #3054 closed

[2018-04-27 17:07] lrineau opened #3063 "Our old autotest_cgal testsuite driver is not compatible with CGAL header-only mode"
## Issue Details

Take the column `x64_Cygwin-Windows10_MSVC2017-Release-64bits` of
https://cgal.geometryfactory.com/CGAL/testsuite/results-4.13-Ic-238.shtml#Installation

Its [Installation line][1] shows the setup of a Release platform:
[code]
but all the [other lines][2]

[1]: https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.13-Ic-238/Installation/TestReport_afabri_x64_Cygwin-Windows10_MSV

[2018-04-29 09:51] sloriot commented on #3047
Right I remember now. Actually, the use case I was trying was to test the intersection of two shapes, one being the transformation of the other using a property map doing the transformation on the fly. If this is not too complicated to have it would be nice. I re-tag it to feature request then.

[2018-04-30 14:04] cjamin opened #3067 "Polyhedron demo: merging two point sets quit the application"
## Issue Details

When running the Polyhedron demo (binaries downloaded from the documentation), trying to merge 2 point sets makes the application vanish (no error message, nothing).

## Environment

* Operating system (Windows/Mac/Linux, 32/64 bits): Windows 10.
* Compiler: N/A (downloaded from CGAL doc).
* CGAL version: 4.12.

[2018-05-02 07:52] sloriot commented on #2066
@riaqn I don't see how this could fail but if you have a NAN coordinate. Could you post the input too?

[2018-05-02 09:36] maxGimeno commented on #3067
I don't know how you even loaded two point sets, when I try it only 3 or 4 plugins load without erros.

[2018-05-02 15:53] riaqn commented on #2066
Here you go:
[part0.off.txt](https://github.com/CGAL/cgal/files/1968003/part0.off.txt)

This is a huge file so I don't know if it will be helpful at all. I guess to minimalize it is necessary to debug.

[2018-05-02 16:04] riaqn commented on #2066
Here you go. This is a huge file.

[human.off.gz](https://github.com/CGAL/cgal/files/1968048/human.off.gz)

[2018-05-03 12:22] sloriot opened #3072 "Install redirect"
The following redirects (not 100% sure of the syntax)
https://gist.github.com/sloriot/0261c0462a396f0db76a297c9d08d1d3

must be installed in the doc due to changes introduced by #2608

[2018-05-03 12:24] sloriot commented on #3072
I found the issue when I looked on google for `Kernel_traits` that gave me this broken link: https://doc.cgal.org/latest/Kernel_23/classCGAL_1_1Kernel__traits.html

[2018-05-07 07:35] cjamin commented on #3067
You mean, we try the binairies from the doc?
On my computer, all plugins are loaded successfully.

[2018-05-07 08:16] maxGimeno commented on #3067
@cjamin Yes, it's what I mean. I downloaded the binaries on our windows 10 x64 machine, and only a few plugins are loaded without error.

[2018-05-07 08:51] DamonsJ opened #3076 "can not compile with #include <CGAL/Polygon_mesh_processing/corefinement.h>"
_Please use the following template to help us solving your issue._

I want to compute the Union of Two Volumes, and I used  examples in
https://doc.cgal.org/latest/Polygon_mesh_processing/index.html
however, I can not pass the compile when I add
 #include <CGAL/Polygon_mesh_processing/corefinement.h>
to my includes, and if I remove this , it passed.

_Describe your issue. Please be specific (compi

[2018-05-07 09:29] #2397 closed

[2018-05-07 09:35] #2752 closed

[2018-05-07 09:47] #3047 closed

[2018-05-07 10:02] #3022 closed

[2018-05-07 10:13] janetournois commented on #3076
Hi @DamonsJ
I am trying to reproduce your issue by compiling the `corefinement_mesh_union.cpp` example but until now I cannot reproduce the compilation error.

In the code you sent, there is a wrong line
[code]
which may cause the compilation error (?)

Can you please send the error message you get?

[2018-05-07 10:25] cjamin commented on #3067
@lrineau Very good question, since I made a mistake in my report: I'm using 4.11.1, not 4.12. I guess I downloaded it just a few days before the release, so I thought it was the last published version when I initiated this bug report.
With version 4.12, the merge operation works fine. And @maxGimeno: the list of loaded plugins does not show up anymore in the console, but it looks like they are suc

[2018-05-07 10:53] maxGimeno commented on #3067
@cjamin It has been moved in the Edit->Preferences menu. Green means everything is fine, red means there are error, and IIRC gray means blcklisted.

[2018-05-07 12:58] afabri opened #3077 "Spatial_searching: kd-tree construction build() fails with many duplicate points."
## Issue Details

Building a kd-tree with a data set that has (sufficiently many) duplicates of input points fails.
[crash23.zip](https://github.com/CGAL/cgal/files/1979882/crash23.zip)

We have to decide if we want to fix this, or to document as precondition that points must be unique.

## Environment

* Compiler: VC++
* CGAL version: master

[2018-05-08 01:05] DamonsJ commented on #3076
here is the error message ,my system is chinese , so I translate it
1.D:\Program Files\CGAL\include\CGAL/Polygon_mesh_processing/internal/Corefinement/Visitor.h(510): Error C7510:: "iterator" type subordinate name must be prefixed with "typename"
2. D:\Program Files\CGAL\include\CGAL/Polygon_mesh_processing/internal/Corefinement/Visitor.h(952):
Error C2760: syntax error: unexpected token "identifi

[2018-05-08 12:49] Simona787 opened #3078 "compilation error with visual studio2010"
_Please use the following template to help us solving your issue._

## Issue Details

 I found that variadic templates  are using in CGAL/include/Propertymap.h, such as template<int N, typename ...T> in the 334th row, but it seems that  vs2010 doesn't support  variadic templates. Becuase here comes something compilation errors when I use some cgal functions in my own project. And for some reason I

[2018-05-08 17:01] afabri commented on #3076
Can you upgrade to 4.12 ? Because there all occurences of `....::iterator` have a `typename`.

[2018-05-09 07:08] mglisse commented on #3077
I am not sure what exact notion of "duplicate" causes the issue, but we have labeled points and rely on the possibility to have several points with the same coordinates but different labels. So a unicity requirement (in the geometric sense) would be an issue.

[2018-05-09 07:30] mglisse commented on #3077
On linux with gcc, this example seems to require about 7M of stack size (default is 8M unless we are using threads). Probably because the tree is completely unbalanced when there are many duplicates. I assume that on windows you can also work around the issue by increasing the stack size?

[2018-05-09 07:50] afabri commented on #3077
I guess we have to look at the splitter. It probably splits N elements in N-1 and 1 which leads to a linear depth in the tree.  This unbalancedness is probably bad for any application.

You are probably right that in general we may have objects in the tree with more information associated than just the coordinates.

The use case where the problem showed up is normal computation. There we look at t

[2018-05-09 08:01] mglisse commented on #3077
The `sliding` parameter of  Point_container::split determines if we split N|0 or N-1|1. Not very balanced in any case, best would be not to split at all when the box is a point, second best is N/2|N/2, third is N-10|10 (10 is bucket_size), fourth is N-1|1, and worst N|0 which would give an infinite recursion.
For normal computation, I guess you would want to filter out duplicates. It could be done

[2018-05-09 14:15] afabri commented on #3078
You need at least VS 2013.   What we write on [Supported Platforms](https://doc.cgal.org/latest/Manual/installation.html#title7) in the manual is outdated.

[2018-05-10 10:47] afabri opened #3083 "std::equal_to<T>::result_type deprecated in C++17"
## Issue Details

See [cppreference ](http://en.cppreference.com/w/cpp/utility/functional/equal_to)

Warning in the [`Kernel_d` testsuite](https://cgal.geometryfactory.com/CGAL/testsuite/CGAL-4.13-Ic-6/Kernel_d/TestReport_afabri_x64_Cygwin-Windows10_MSVC2017-Debug-64bits.gz)

Note that we get the warning also for many other functors of the STL, for example when they are used in `Compose` classes i

[2018-05-11 04:13] xsedla0k opened #3084 "Option to stop QP Solver"
Hi, is there any posibility to stop quadratic (or linear) programming solver, after, for example 200 iterations? I will be gratefull for any answer. :)

[2018-05-11 09:35] afabri commented on #3031
The problem is that  `mst_orient_normals()`  creates a graph where each vertex has an edge to its closest 1000 vertices (that's the Riemannian Graph, the manual mentions).    When you say that you have islands then this means that you need this big number so that the Riemannian graph becomes one connected component.
@palliez are you aware of any newer algorithms for orientinig normals, or variants

[2018-05-11 09:41] afabri commented on #3031
And do you encounter a problem with islands with nParticleShape1.2.xyz.zip  ???  Everything looks good for me.

[2018-05-11 09:50] ahmadhasan2k8 commented on #3031
Not for nParticleShape1.2.xyz. I put this data to show memory usage. I get that forming a reimannnian graph might need more meory usage, I was more like suggesting if it was possible to form the graph iteratively somehow so that the memory usage goes down. The uploaded point cloud Des not have islands. If there are islands increasing number of neighbors create memory issues.

However, I got past t

[2018-05-11 09:52] ahmadhasan2k8 commented on #3031
I could write an example code if needed and give a pull request if you want.

[2018-05-11 10:12] afabri commented on #3031
You still might get islands that are oriented differently from the "continent", that is the points on the continent may show upwards, and the points on the island downwards.  The connectivity is needed for the global propagation.  But maybe we can together come up with something.

[2018-05-11 10:25] ahmadhasan2k8 commented on #3031
I probably can't share the original data but I can try to create a similar type of data which could be problematic. I'll give it a shot over the weekend, should not be too difficult

[2018-05-11 18:27] ahmadhasan2k8 commented on #3031
[CGAL.zip](https://github.com/CGAL/cgal/files/1996424/CGAL.zip)
This could work as an ideal sample data.

[2018-05-11 23:59] ahmadhasan2k8 commented on #3031
How about picking one point from all the islands each and one from the continent to form a graph to span a tree. And then use the continent point as seed for propagation. At this point all the islands will have one point which is globally oriented as the continent. Then, use those points as seed to propagate the orientation in their respective islands. I'm not very sure if this could work but seem

[2018-05-14 09:37] sloriot opened #3088 "4.13 release check list"
- [ ] PR for brew package
- [ ] PR for vcpkg
- [ ] ?

@lrineau You should probably add more things here to help tracking what needs to be done (just a proposal...)

[2018-05-14 09:52] lrineau commented on #3072
Done. Thanks.

[2018-05-14 09:52] #3072 closed

[2018-05-14 15:00] lrineau opened #3089 "Check that one can include all CGAL documented headers in one cpp file"
## Issue Details

See PR #3079, that fixes an issue reported by a user: if one includes both Alpha_shape_2 and _3, then there is a compilation error.

We should check that a .cpp including all documented headers of CGAL does compile. It could be an extra check to our verification "check headers". All documented from the CMake list `list_of_documented_headers` (but those that are excluded/whitelist

[2018-05-15 09:14] lrineau commented on #3078
Actually you need Visual Studio 2012 or later. We dropped the support for Visual Studio 2010 since 4.10, without any announcement. We have been pretty bad at those announcement in the past. We will try to fix that.

[2018-05-15 20:12] #3044 closed

[2018-05-16 09:45] #2414 closed

[2018-05-16 11:16] afabri commented on #3088
-[ ] Update of the Supported platforms.

[2018-05-16 11:58] afabri commented on #3088
Problem with [`std::nullptr`](http://en.cppreference.com/w/cpp/language/nullptr)  in travis.

[2018-05-16 14:42] lrineau commented on #1118
[**@lrineau**](https://github.com/lrineau) commented on [Jul 20, 2017, 12:13 PM GMT+2](https://github.com/CGAL/cgal/issues/1118#issuecomment-316660309 "2017-07-20T10:13:23Z - Replied by Github Reply Comments"):

We should try to find time for this bug in our agenda in 2018.

[2018-05-16 21:32] ahmadhasan2k8 opened #3094 "Core Dumped if running with valgrind in Debug mode only"
_Please use the following template to help us solving your issue._

## Issue Details

Hello, for the following minimum example it Aborts the program with a core dump if I run with valgrind. It only happens in Debug mode. For release it runs fine. The valgrind command:
[code]
command outpput:
[code]
The valgrind log:
[code]

## Source Code
main.cpp
[code]
CMakeLists.txt
[code]
I added the -froundin

[2018-05-17 08:29] Simona787 commented on #3078
thanks

[2018-05-17 08:31] #3078 closed

[2018-05-17 08:31] Simona787 commented on #3078
thanks

[2018-05-18 22:18] mglisse opened #3099 "to_interval(Gmpq) underflow with mpfr-3+"
## Issue Details

`CGAL::to_interval(Gmpq(std::numeric_limits<double>::denorm_min())/2)` returns the interval [denorm_min, denorm_min] instead of [0, denorm_min] with the new variant of the code for mpfr-3+.

A workaround is to call `mpfr_set_emin (-1073);`. While we are at it, we might as well also call `mpfr_set_emax (+1024);` which should make the is_finite test unnecessary. A drawback is that

[2018-05-19 05:07] RizzerOnGitHub opened #3100 "header-only installation fails: "cannot find build/include/CGAL" (re: compiler_config.h)"
There seems to be a change in the header-only configuration which breaks header-only installations of 4.12.  I'm comparing against 4.9.

I'm testing from the CGAL source dir with
`mkdir build; cd build`
`cmake -DCGAL_HEADER_ONLY=ON -DCMAKE_INSTALL_PREFIX:PATH=${PWD}/cgal-installdir ..`
`make install`

With 4.12, this installs header files into build/cgal-installdir/include/CGAL, but then gives an

[2018-05-19 05:19] RizzerOnGitHub commented on #3100
The problem comes from l.893 in CMakeLists.txt,
`install(DIRECTORY ${CMAKE_BINARY_DIR}/include/CGAL     DESTINATION ${CGAL_INSTALL_INC_DIR} PATTERN ".svn" EXCLUDE)`

It looks like you don't want this line for header-only builds.

[2018-05-22 05:38] sunshinemyson opened #3103 "How to link CGAL with Intel MKL 2018"
## Issue Details

I want to link CGAL with intel MKL 2018 to accelerate CGAL math operation performance on my Intel E2699 V4 CPU. But i found that findMKL.cmake not update for MKL 2018, some library already out of date.

## Source Code
env variable setted:
MKL_INC_DIR=/opt/intel/mkl/include
MKL_LIB_DIR=/opt/intel/mkl/lib/intel64
INTEL_RTL_LIB_DIR=/opt/intel/compilers_and_libraries_2018.2.199/linux

[2018-05-22 09:07] lrineau opened #3105 "Document the CGAL CMake API"
## Issue Details

With CGAL 4.12, the CMake API of CGAL has been modernized. In CGAL-4.13 we should now document how to use CGAL with CMake.

*(Actually, I thought there was already an issue entry for that but I cannot find it.)*

Here is a draft: https://github.com/CGAL/cgal/wiki/How-to-use-CGAL-with-CMake-or-your-own-build-system

[2018-05-22 12:33] lrineau commented on #3103
Actually, I do not think CGAL supports MKL any more. In my opinion, the file `Installation/cmake/modules/FindMKL.cmake` should be removed from CGAL. The upstream `FindBLAS` and `FindLAPACK` modules shipped by CMake, seem to support MKL, at least up to its version 10. But MKL 2018 does not seem supported.

Which operation do you expect to accelerate, using it with CGAL? Now in CGAL we use the Eigen

[2018-05-22 12:33] #3103 closed

[2018-05-22 12:42] lrineau commented on #3100
I can confirm the bug. The reason why we did not detect it is that, with the Git layout, a file `include/CGAL/version.h` is created in the build directory.

[2018-05-22 12:48] lrineau commented on #3100
That should be fixed with the PR #3107. I hope to merge that soon in the branch targeting CGAL-4.12.1.

[2018-05-22 16:50] afabri opened #3108 "Inconsistence of read_off(istream, FaceGraph)"
## Issue Details

The overloads of the function `read_off()` do not the same for an OFF file with "0 0 0" for the simplex counters.
For[ `read_off(istream&,Polyhedron&)`](https://doc.cgal.org/latest/Polyhedron/group__PkgPolyhedronIOFunc.html#ga9791a3720c7a3e9e32e43aed28cd9695) the stream is `bad` after reading.  The manual says  "If the stream in does not contain a permissible polyhedral surface t

[2018-05-23 13:00] MaelRL commented on #3094
This was somewhat expected considering the patch is quite old now.

I am not aware of any other easy fix, sorry.

[2018-05-23 22:43] ahmadhasan2k8 commented on #3094
No problem. Thanks

[2018-05-24 08:18] #3094 closed

[2018-05-24 13:55] lrineau opened #3112 "Error of logic in Travis handling of dependencies, before the call to `install.sh`"
## Issue Details

https://github.com/CGAL/cgal/blob/8bdccd60fd62e1e3cdf05ac8c739d0753b05c5f3/.travis/template.txt#L13-L13

That logic is wrong, in `.travis.yml`. See [here for a PR modifying Triangulation_2: Triangulation_3 can be ignored, but the full test of "Triangulation_2 Triangulation_3 Union_find" is ignored!][1]

[1]: https://travis-ci.org/CGAL/cgal/jobs/380773569

The job should be ignore

[2018-05-24 20:16] jadermcs opened #3114 "can't compile, "error: no type named ‘size_type’ in ‘struct CGAL::Default’""
I can't compile this code from [CGAL docs](https://doc.cgal.org/latest/Triangulation_2/Triangulation_2_2constrained_plus_8cpp-example.html#_a3), got the following error:

    $ g++ apply.cpp -lCGAL -I/usr/local/include -o a.out
    In file included from /usr/include/CGAL/Constrained_triangulation_2.h:28:0,
                     from /usr/include/CGAL/Constrained_Delaunay_triangulation_2.h:25,

[2018-05-24 23:47] jadermcs commented on #3114
Thank you, it's a version problem!

[2018-05-24 23:47] #3114 closed

[2018-05-25 08:46] #3100 closed

[2018-05-25 13:04] MaelRL opened #3117 "Polyhedron demo: "set different colors" without any item freezes the demo"
See title.

## Environment

* Release or debug mode: release
* CGAL version: master

[2018-05-25 13:33] MaelRL opened #3119 "STL file input issue"
## Issue Details

Looking at the model database https://ten-thousand-models.appspot.com, most of the models load perfectly, but there are some `.stl` files that can't seem to be loaded in the demo (it just holds forever). For example, [this one](https://ten-thousand-models.appspot.com/detail.html?file_id=36069).

## Environment

* Release or debug mode: release
* CGAL version: master

[2018-05-27 04:13] OldwolfJiang opened #3120 "radius error in Min_circle_2"
i have a problem with CGAL, i want to calculate a minimun circle.
src data are as follows: (count 5)

            pt1 = 1187.5005, 987.1543
            pt2 = 1310.9678, 1099.8071
            pt3 = 1472.0121, 1083.7139
            pt4 = 1490.8005, 954.9678
            pt5 = 1375.3855, 893.277

The result of the calculation is:  1342.12 999.014 24046.9 (x y r)
Obviously,the radius is wrong.
I don't

[2018-05-28 12:04] #2401 closed

[2018-05-28 12:04] #3048 closed

[2018-05-28 12:04] #1967 closed

[2018-05-28 12:30] lrineau commented on #3099
Fixed in `releasses/CGAL-4.12-branch` and `master`, by the merge of PR #3101.

[2018-05-28 12:30] #3099 closed

[2018-05-28 12:33] lrineau commented on #3089
Fixed in both `master` and `releases/CGAL-4.12-branch` by the merged of #3092.

[2018-05-28 12:33] #3089 closed

[2018-05-28 12:34] lrineau commented on #3011
Fixed by the merge of #3073.

[2018-05-28 12:34] #3011 closed

[2018-05-28 12:41] chgans commented on #2021
Are you hiring? Looking for a new job.

[2018-05-28 13:34] sloriot commented on #2021
I have forgotten about this ticket. @apurva786 is currently working on redesigning the demo and might be interested by this proposal. cc @efifogel
@chgans not currently.

[2018-05-28 13:34] lrineau commented on #3048
Fixed in `master` (for CGAL-4.13), by the merge of PR #3052.

[2018-05-28 13:35] lrineau commented on #1967
This issue is fixed in the `master` branch of CGAL (targetting CGAL-4.13), by the merge of the PR #3093.

[2018-05-28 13:40] #3112 closed

[2018-05-28 14:06] sloriot commented on #3088
Update https://www.cgal.org/download/windows.html to mention that starting from 4.13 QGLViewer is no longer needed.

[2018-05-28 16:03] sloriot commented on #2916
Partially fixed by #3111

[2018-05-28 23:46] alecjacobson opened #3125 "Parametric intersection two cubic Bezier curves"
@psarahdactyl and I are a bit lost in the [2D arrangements documentation](https://doc.cgal.org/latest/Arrangement_on_surface_2/index.html). It appears to be _very_ powerful and maybe overkill for what I'd like to.

I have as input two cubic planar Bezier curves represented by quadruplets of 2d points A={a1,a2,a3,a4} and B={b1,b2,b3,b4}. I'd like to find out if they intersect.

If they intersect...

[2018-05-30 08:37] lrineau opened #3134 "MATHJAX_RELPATH is wrong, in Doxygen 1.8.13"
## Issue Details

The commit 5e81643b5369cc4b0c2425ac48d8131dd4d387b5 let MathJax choose the default for the location of MathJax (variable `MATHJAX_RELPATH` in Doxyfile). However, the default of that variable:
  - is `http://cdn.mathjax.org/mathjax/latest` for Doxygen<=1.8.13
  - is `https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/` since DOxygen 1.8.14.

and the old URL `http://cdn.mathjax.o

[2018-05-30 09:05] sloriot commented on #3134
That's pretty strange, I though the default was https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2.
After checking it seems to be the old URL. So a fix similar to 1.8.4 should be sufficent.

[2018-05-30 22:14] psarahdactyl commented on #3125
Okay, thank you. That is what I'm doing as of now.

I was wondering if it's possible to calculate this for _many_ Bezier curves and take advantage of the [compute_subcurves()](https://doc.cgal.org/latest/Surface_sweep_2/group__PkgIntersectionOfCurves2.html#ga057822eb7bc42f6ef55914ba772d9f9c) function, while still maintaining the indices of the original input curves.
Is there a way to keep track of